<section class='billing'>
  {{#if isTrial}}
    {{billing-trial account=account}}
  {{/if}}

  {{#if isManual}}
    {{billing-manual model=model}}
  {{/if}}

  {{#if isManaged}}
    {{billing-subscription model=model account=account config=config}}
  {{/if}}
</section>

{{#if invoices}}
  {{billing-invoices invoices=invoices}}
{{/if}}