<div class="insights-row-item {{if isLoading 'insights-row-item--loading'}}">
  <h3 class="insights-row-item__title">Active Repositories</h3>
  <div class="insights-row-item__stat">
    {{#if isLoading}}
      &nbsp;
    {{else}}
      XXXX
    {{/if}}
  </div>

  {{#if (or isLoading (is-empty filteredData))}}
    <hr class="insights-row-item__chart-placeholder" />
  {{else}}
    {{high-charts content=content chartOptions=options}}
  {{/if}}
</div>