<h3 class="insights-glance__title">Active Repositories</h3>
<div class="insights-glance__stat">
  {{#if activeTotalIsLoading}}
    &nbsp;
  {{else}}
    {{activeTotal}}
  {{/if}}
</div>

{{#if (or isLoading (is-empty aggregateData))}}
  <hr class="insights-glance__chart-placeholder" />
{{else}}
  {{high-charts content=content chartOptions=options}}
{{/if}}