<form action="">
  <div class="form-elem">
    <input type="text" placeholder="Description">
  </div>
  <div class="form-elem">
    <textarea name="" id="" cols="30" rows="10" placeholder="SSH key"></textarea>
  </div>
  <div class="form-elem">
    <input type="submit" class="form-submit" value="Add">
  </div>
</form>
