{{build-messages-list request=@request viewMessage=(action (mut viewingMessage))}}

<div class='raw-configs'>
  {{#accordion-list allowManyActiveItems=true as |accordion|}}
    {{#each @request.uniqRawConfigs as |rawConfig|}}
      {{raw-config accordion=accordion rawConfig=rawConfig build=@request.build slug=@request.repo.slug}}
    {{else}}
      <div class='starred-empty'>
        The .travis.yml file used for this job is not available
      </div>
    {{/each}}
  {{/accordion-list}}
</div>
