{{build-messages-list request=@request viewMessage=(action (mut viewingMessage))}}

<div class='inner-yaml-container'>
  {{#code-block data-test-yaml language='yaml' class='codedisplay'}}{{@request.yaml_config}}{{/code-block}}
</div>

