{{build-messages-list request=@request viewMessage=(action (mut viewingMessage))}}

<div class='raw-configs'>
  {{#each @request.uniqRawConfigs as |rawConfig|}}
    {{raw-config rawConfig=rawConfig}}
  {{/each}}
</div>
