<div id='asktravis-content'/>
<div id="asktravis">
  <button id="asktravis-button" {{action 'toggle'}} class='asktravis-button-inactive'></button>
</div>
<div id="ask-travis-message" class="ask-travis-message">
  <img src="/images/logos/TravisCI-Mascot-1.png" alt="Travis CI mascot" class="asktravis-mascot">
  <span>
    <p>Hey! I'm Travis.</p>
    <p>Your <b>AI Assistant</b></p>
  </span>
  <button id="close-ask-travis" class="close-ask-travis">&times;</button>
</div>

