{{feature-toggle feature=feature}}
<h2 class="feature-name">
  <span>{{name}}</span>
  {{#if feature.feedbackUrl}}
    <small>
      (<a href="{{feature.feedbackUrl}}" title="See the feedback ticket on GitHub">
      We'd love some feedback!</a>)
    </small>
  {{/if}}
</h2>
<p>{{feature.description}}</p>
