<h2>Plan Overview</h2>
<p data-test-education-message class="source plan-status-message">
  This is an educational account and includes a single build plan.<br />
  Need help? <a data-test-trial-link href={{config-get 'urls.gettingStarted'}} class="billing-section-link">Check our getting started guide</a>
</p>
{{new-subscription-button account=account}}
