<p class='plan-overview__name flex flex--v-center' data-test-plan-name>
  {{#if this.subscription.plan }}
    {{concat this.subscription.plan.name ' plan'}}
  {{else}}
    Unknown plan
  {{/if}}
  {{#if this.subscription.isSubscribed}}
    <span class="badge green square" data-test-active-status='true'>
      active
    </span>
  {{else}}
    <span class="badge grey square" data-test-grey-status='true'>
      {{this.subscription.status}}
    </span>
  {{/if}}
</p>
