<li class="branch-row failed">
  <div class="two-line">
    <div class="branch-name"> 
      <h2 class="row-item"><span class="icon-status failed"></span>master</h2>
    </div>
    <div class="branch-builds">
      <div class="row-item"><a href="#"><span class="icon-crane"></span>6 builds</a></div>
    </div>
  </div>
  <div class="two-line">
    <div class="branch-request">
      <div class="row-item"><a href="#"><span class="icon-request push"></span>#2937 failed</a></div>
    </div>
    <div class="branch-calendar">
      <div class="row-item"><a href="#"><span class="icon-calendar"></span>2 days ago</a></div>
    </div>
  </div>
  <div class="two-line">
    <div class="branch-commit">
      <div class="row-item"><a href="#"><span class="icon-request push"></span>1cbc26</a></div>
    </div>
    <div class="branch-commiter">
      <div class="row-item"><img src="//placehold.it/15x15" alt="" class="avatar">Mr. T</div>
    </div>
  </div>
  <div class="one-line">
    <div class="branch-nav dropup-trigger">
      <div class="row-item"><a href="#"><span class="icon-tofu"></span></a></div>
    </div>
    <div class="dropup--blue">
      <ul>
        <li><a href="#"><span class="icon-trigger"></span>Trigger a build</a></li>
        <li><a href="#"><span class="icon-eye"></span>View all builds</a></li>
      </ul>
    </div>
  </div>
  <div class="one-line">
    <ul class="build-tiles">
      <li class="passed">
        <a href="#" class="dropup-trigger">
          <span class="icon-status failed"></span>
          <div class="dropup--status">
            <span class="icon-request push"></span> #23872
          </div>
        </a>
      </li>
      <li class="passed">
        <a href="#" class="dropup-trigger"><span class="icon-status passed"></span></a>
        <div class="dropup--status">
          <span class="icon-request push"></span> #23872
        </div>
      </li>
      <li class="passed">
        <a href="#" class="dropup-trigger"><span class="icon-status canceled"></span></a>
        <div class="dropup dropup--status">
          <span class="icon-request push"></span> #23872
        </div>
      </li>
      <li class="passed">
        <a href="#" class="dropup-trigger"><span class="icon-status errored"></span></a>
        <div class="dropup--status">
          <span class="icon-request push"></span> #23872
        </div>
      </li>
      <li class=""></li>
    </ul>
  </div>
</li>
