{{#if this.build.number}}
  <LinkTo @route="build" @model={{this.build.id}}>
    <StatusIcon @status={{this.build.state}} />
    <span class="build-tile-number">
      #{{this.build.number}}
    </span>
  </LinkTo>
{{/if}}
