{{#if build.number}}
  {{#link-to "build" build.repository.slug build.id class="dropup-trigger"}}
    {{status-icon build=build}}
    <div class="dropup--status">
      {{request-icon build=build}} #{{build.number}}
    </div>
  {{/link-to}}
{{/if}}