<div class="missing-notice">
  <figure class="page-graphic">
    {{svg-jar 'barricade'}}
  </figure>

  <h2 class="page-title">Oops, we couldn't find that build!</h2>
  <p class="page-notice">
    The build may not exist or may belong to another repository.
  </p>
</div>
