{{#if build.number}}
  {{#link-to "build" build.repository build.id class="dropup-trigger"}}
    {{status-icon status=build.state}}

    {{build.last_build.state}}
    <div class="dropup--status">
      {{request-icon build=build}} <span class="label-align">#{{build.number}}</span>
    </div>
  {{/link-to}}
{{/if}}