{{#if request.messagesRequest.messages.length}}
  <div class='yml-messages'>
    {{#each request.messagesRequest.messages as |message|}}
      {{build-message message=message}}
    {{/each}}
  </div>
{{/if}}
