<nav class="travistab-nav--secondary">
  <ul>
    <li>{{link-to (concat 'Build #' build.number) 'build.index' build.repo build data-test-build-matrix-tab title="Look at this build matrix"}}</li>
    <li>
      {{#link-to 'build.config' build.repo build data-test-build-yaml-tab title="Look at this build's config"}}
        View config
      {{/link-to}}
    </li>
  </ul>
</nav>
<div class="travistab-body">

  {{outlet}}

</div>
