<h3 class="insights-odyssey__title">Build Statuses</h3>
<div class="insights-odyssey__chart">
  {{#if isLoading}}
    {{!-- Placeholder? --}}
  {{else if isEmpty}}
    No builds {{currentIntervalLabel}}.
  {{else}}
    {{high-charts content=content chartOptions=options}}
  {{/if}}
</div>