<div class='yml-message' tabindex=0>
  <div class='tooltip-wrapper'>
    {{svg-jar message.level class=iconClass}}
    {{ember-tooltip text=tooltipText}}
  </div>

  <div class='message'>{{readableMessage}}</div>
</div>
