<nav class="travistab-nav--secondary">
  <ul>
    <li>
      <LinkTo
        @route="build.index"
        @models={{array build.repo build}}
        data-test-build-matrix-tab
        @title="Look at this build’s jobs"
      >
        Build jobs
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="build.config"
        @models={{array build.repo build}}
        data-test-build-yaml-tab
        @title="Look at this build's config"
        @disabled={{build.request.noYaml}}
      >
        {{#if build.request.noYaml}}
          <EmberTooltip @text="Try a more recent build to see the config" />
        {{/if}}
        View config
      </LinkTo>
    </li>
  </ul>
</nav>
<div class="travistab-body">
  {{outlet}}
</div>