<nav class="travistab-nav--secondary">
  <ul>
    <li>{{link-to 'Build jobs' 'build.index' build.repo build data-test-build-matrix-tab title="Look at this build matrix"}}</li>
    <li>
      {{#link-to 'build.config' build.repo build data-test-build-yaml-tab title="Look at this build's config" disabled=build.request.noYaml}}
        {{#if build.request.noYaml}}
          {{tooltip-on-element text='No config could be found for this build' isShown=false}}
        {{/if}}
        View config
      {{/link-to}}
    </li>
  </ul>
</nav>
<div class="travistab-body">

  {{outlet}}

</div>
