{{#if request.messagesRequest.messages.length}}
  <div class='yml-messages'>
    {{#each request.messagesRequest.messages as |message|}}
      {{build-message
          message=message
          mouseEnter=(action viewMessage message) mouseLeave=(action viewMessage)
          focusIn=(action viewMessage message) focusOut=(action viewMessage)
      }}
    {{/each}}
  </div>
{{/if}}
