<h3 class="insights-glance__title">Builds</h3>

{{#if (or isLoading (is-empty aggregateData))}}
  <div class="insights-glance__stat">&nbsp;</div>
  <hr class="insights-glance__chart-placeholder" />
{{!-- {{else if aggregateData.last.isErrored}}
<div class="insights-glance__stat">Error</div>
  <hr class="insights-glance__chart-placeholder" /> --}}
{{else}}
  <div class="insights-glance__stat">{{totalBuilds}}</div>
  {{high-charts content=content chartOptions=options}}
{{/if}}