<h3 class="insights-glance__title">Total Build Minutes</h3>
<div class="insights-glance__stat">
  {{#if isLoading}}
    &nbsp;
  {{else}}
    {{totalBuildMins}} mins
  {{/if}}
</div>

{{#if (or isLoading (is-empty filteredData))}}
  <hr class="insights-glance__chart-placeholder" />
{{else}}
  {{high-charts content=content chartOptions=options}}
{{/if}}