<nav class="travistab-nav--secondary">
  <ul>
    <li>{{link-to 'Build jobs' 'build.index' build.repo build data-test-build-matrix-tab title="Look at this build matrix"}}</li>
    {{#unless build.request.noYamlFound}}
      <li>
        {{#link-to 'build.config' build.repo build data-test-build-yaml-tab title="Look at this build's config"}}
          View config
        {{/link-to}}
      </li>
    {{/unless}}
  </ul>
</nav>
<div class="travistab-body">

  {{outlet}}

</div>
