<h3 class="insights-glance__title">Builds</h3>
<div class="insights-glance__stat">{{totalBuildText}}</div>

{{#if (or isLoading (is-empty filteredData))}}
  <hr class="insights-glance__chart-placeholder" />
{{else}}
  {{high-charts content=content chartOptions=options}}
{{/if}}