{{#if build.number}}
  <LinkTo @route="build" @model={{build.id}}>
    <StatusIcon @status={{build.state}} />
    <span class="build-tile-number">
      #
      {{build.number}}
    </span>
  </LinkTo>
{{/if}}