<div class="yml-message" tabindex="0">
  <div class="tooltip-wrapper">
    <SvgImage @name={{this.message.level}} class={{this.iconClass}} />
    <EmberTooltip @text={{this.tooltipText}} />
  </div>
  <div class="message">
    {{this.readableMessage}}
  </div>
</div>
