<div id="code-climate" class="popup">
  <img src="/images/icons/code-climate-logo.svg" id="code-climate-logo"/>
  <a href="#" class="close" {{action "close"}}></a>
  <p>
    <b>Want test coverage for your tests?</b>
  </p>
  <p>
    Integrating <a href="https://codeclimate.com">Code Climate's test coverage</a> reporting with your test
    suite on Travis CI allows to track changes in coverage over time. If you haven't tried it out already, <a
    {{bind-attr href="config.codeClimateUrl"}} target="_blank">sign
    up today</a> to improve your code's quality. New customers get 20% off for the first three months!
  </p>

  <p>
    It only takes a few steps, once you've set up your project:
  </p>

  <ol>
    <li>
      <p>Add the `code-climate-reporter` gem to your Gemfile:</p>

<pre>
gem "codeclimate-test-reporter", group: :test, require: nil
</pre>
    </li>
    <li>
      <p>Load the reporter in your `test_helper` or `spec_helper`, putting it at the very top:</p>

<pre>
require "codeclimate-test-reporter"
CodeClimate::TestReporter.start
</pre>
    </li>
    <li>
      <p>Add the Code Climate token to your .travis.yml:</p>

<pre>
addons:
  code_climate:
    repo_token: adf08323...
</pre>
    </li>
  </ol>
</div>
