<section class='annotation'>{{svg-jar 'information'}}<span>You are missing language configuration. Defaulting to <code>ruby</code>. Please see our <a href='#'>documentation</a> for more info.</span></section>
<section class='annotation'>{{svg-jar 'warning'}}<span>Your <code>matrix.include</code> block had an empty <code>cache</code> section. This was dropped.</span></section>
<section class='annotation'>{{svg-jar 'error'}}<span><code>osx_image</code> (<code>xcode7.3</code>) is not supported on Linux. Please see our <a href='#'>documentation</a> for more info on configuring macOS builds. This is some extra text for the thrill of it!!!! And to see wrapping as Natalia said 🤣</span></section>
