{{#if this.showSeatsBanner}}
  <div class="enterprise-banner enterprise-banner-seats {{this.seatsClass}}">
    <div class="inner">
      {{#if this.exceedingSeats}}
        <p>
          <SvgImage @name="icon-flag" @class="icon" />
          You’ve exceeded the <strong>maximum seats</strong> that your license permits, please contact
          <a href="mailto:enterprise@travis-ci.com">
            enterprise@travis-ci.com
          </a>
          if you need more seats.
        </p>
      {{else if this.almostExceedingSeats}}
        <p>
          <SvgImage @name="icon-flag" @class="icon" />
          You’re approaching the <strong>maximum seats</strong> that your license permits, please contact
          <a href="mailto:enterprise@travis-ci.com">
            enterprise@travis-ci.com
          </a>
          if you need more seats.
          <button class="close-btn" {{action "closeSeatsBanner"}}>
            <SvgImage @name="flash-close" @class="close-icon" />
          </button>
        </p>
      {{/if}}
    </div>
  </div>
{{/if}}
