{{#if showBanner}}
  <div class='enterprise-trial-banner {{if isExpired 'expired'}}'>
    <div class="inner">
    {{#if isTrial}}
      <p>Your trial license <strong>expires {{expirationTimeFromNow}}</strong>.</p>
    {{else}}
      {{#if licenseExpirationIsImminent}}
        <p>Your license <strong>expires {{expirationTimeFromNow}}</strong>, please contact enterprise@travis-ci.com</p>
      {{/if}}

      {{#if exceedingSeats}}
        <p>You’re approaching the <strong>maximum seats</strong> that your license permits, please contact enterprise@travis-ci.com if you need more seats.</p>
      {{/if}}
    {{/if}}

    {{#if isExpired}}
      <p>Your license has <strong>expired</strong>, please contact enterprise@travis-ci.com</p>
    {{/if}}
    </div>
  </div>
{{/if}}
