{{#if isTrial}}
<div class='enterprise-trial-banner {{if isExpired 'expired'}}'>
  {{#if isExpired}}
    Your trial license has expired, please contact enterprise@travis-ci.com
  {{else}}
    Your trial has not expired.
  {{/if}}
</div>
{{/if}}
