  <div class="enterprise-banner-seats {{this.seatsClass}}">
      {{#if this.exceedingSeats}}
      <Notification
        @type='global'
        @severity='error'
      >
          You’ve exceeded the <strong>maximum seats</strong> that your license permits, please contact
          <a href="mailto:enterprise@travis-ci.com">
            enterprise@travis-ci.com
          </a>
          if you need more seats.
      </Notification>
      {{else if this.almostExceedingSeats}}
      <Notification
        @type='global'
        @severity='warning'
      >
          You’re approaching the <strong>maximum seats</strong> that your license permits, please contact
          <a href="mailto:enterprise@travis-ci.com">
            enterprise@travis-ci.com
          </a>
          if you need more seats.

          <button type="button" class="no-button close" {{action "closeSeatsBanner"}}>
            <SvgImage @name="flash-close" @class="icon" />
          </button>
      </Notification>
      {{/if}}
  </div>
