
<div class="env-var-name">{{envVar.name}}</div>
<div class="env-var-value">
  <input type="pw" value="{{value}}" readonly="readonly">
</div>
<div class="env-var-action">
  <div class="tooltip">
    <a href="#" title="">
      <span class="icon-delete"></span>
    </a>
    <div class="tooltip-bubble">Delete</div>
  </div>
</div>
