
<div class="env-var-name">THIS_IS_THE_ENV_NAME</div>
<div class="env-var-value">
  <input type="pw" value="••••••••••••••••" readonly="readonly">
</div>
<div class="env-var-action">
  <a href="#" title="">
    <span class="icon-delete"></span>
    <p class="tooltip">
      <span>Delete</span>
    </p>
  </a>
</div>