<div class="loading-page">
  {{top-bar
    signIn=(route-action 'signIn')
    signOut=(route-action 'signOut')}}

  {{flash-display}}

  <div class="main">
    {{yield}}
  </div>

  {{app-footer}}
</div>
