{{#if toggleFeatureTask.isRunning}}
  {{loading-indicator inline=true}}
{{else}}
<div class="switch-inner">
  <span class="on">
    {{inline-svg 'icon-passed' class="icon"}}
  </span>
  <span class="off">
    {{inline-svg 'icon-failed' class="icon"}}
  </span>
</div>
{{/if}}
