<Notification
  @type='global'
  @severity="{{this.type}}"
>
    {{#if this.flash.preamble}}
      <span data-test-flash-message-preamble class="preamble">
        {{this.flash.preamble}}
      </span>
    {{/if}}
    <span data-test-flash-message-text class="message">
      {{{this.flash.message}}}
    </span>
  {{#if this.flash.closeButton}}
    <button type="button" class="no-button close" onclick={{action "close"}}>
      <SvgImage @name="flash-close" @class="icon" />
    </button>
  {{/if}}
</Notification>
