<li id="ember548" class="{{this.severity}} below-top-bar ember-view" data-test-components-flash-item="true">
  <ul data-test-components-flash-item="true" class="flash ember-view global-notification-container">
    <p class="{{this.getNotificationClass}}" ...attributes>
      {{yield}}
      <button type="button" class="no-button close-banner" onclick={{action "close"}}>
        <SvgImage @name="flash-close" @class="icon-close" />
      </button>
    </p>
  </ul>
</li>