{{#each tabs as |tab|}}
  <li class="insights-tab {{if (eq tab.slug selectedTab) 'active'}}">
    <a data-tab={{tab.slug}} {{action 'setInsightTab' tab.slug}}>
      {{tab.title}}
    </a>
  </li>
{{/each}}