<span>Insights:</span>
{{#if isPrivateViewable}}
  {{#power-select
    options=availableOptions
    selected=currentState
    onchange=(action 'selectInsightScope')
    searchEnabled=false
    as |priv|
  }}
    {{priv}}
  {{/power-select}}
{{else}}
  <span class="insights-privacy-selector__selected">{{currentState}}</span>
{{/if}}