<span>Insights:</span>
{{!-- <span class="insights-privacy-selector__selected">{{currentState}}</span> --}}
{{#if isPrivateViewable}}
  {{!-- <button type="button" class="insights-privacy-selector__button">V</button> --}}

  {{#power-select
    options=availableOptions
    selected=currentState
    onchange=(action 'selectInsightScope')
    searchEnabled=false
    as |priv|
  }}
    {{priv}}
  {{/power-select}}
{{/if}}