{{#each tabs as |tab|}}
  <li class="insights-tab {{if (eq tab.slug selectedTab) 'active'}}">
    {{#link-to (query-params timeInterval=tab.slug) }}
      {{tab.title}}
    {{/link-to}}
  </li>
{{/each}}