<span>Insights:</span>
<span class="insights-privacy-selector__selected">{{currentState}}</span>
{{#if isPrivateInsightsViewable}}
  <button type="button" class="insights-privacy-selector__button">V</button>
{{/if}}