{{#if error}}
  <p class="notice-banner--red">There was an error while trying to fetch the log.</p>
{{else}}
  {{#if log.fetchTask.isRunning}}
    {{loading-indicator}}
  {{else}}
    {{log-content data-test-job-log-content log=log job=job}}
  {{/if}}
{{/if}}
