{{#unless config.enterprise}}
  {{#if auth.signedIn}}
    {{#if isDeprecatedOrRetiredMacImage}}
      {{#notice-banner}}
        {{{deprecatedOrRetiredMacImageMessage}}}
      {{/notice-banner}}
    {{/if}}
    {{#if isPreciseEOL}}
      {{#notice-banner}}
        This job {{conjugatedRun}} on our <b>Precise</b> environment, which is in the process of being decommissioned.  Please read about the rollout of Trusty as default <a href="https://blog.travis-ci.com/2017-07-11-trusty-as-default-linux-is-coming">on the blog</a>, and take note that you can explicitly stay on Precise by specifying <code>dist: precise</code> in your .travis.yml.
      {{/notice-banner}}
    {{/if}}
    {{#if isTrustyStable}}
      {{#notice-banner}}
       This job {{conjugatedRun}} on our <b>Trusty</b> environment, which is gradually becoming our default Linux environment. Read all about this <a href="https://blog.travis-ci.com/2017-07-11-trusty-as-default-linux-is-coming?utm_source=web&utm_medium=banner&&utm_campaign=trusty-default">in our blog: Trusty as a default Linux is coming</a> and take note that you can add <code>dist: precise</code> in your .travis.yml file to continue using Precise.
      {{/notice-banner}}
    {{/if}}
  {{/if}}
{{/unless}}
