{{#if this.error}}
  <p class="notice-banner--red">
    There was an error while trying to fetch the log.
  </p>
{{else if this.log.fetchTask.isRunning}}
  <LoadingIndicator />
{{else}}
  <LogContent
    data-test-job-log-content="true"
    @log={{this.log}}
    @job={{this.job}}
  />
{{/if}}
