{{#if auth.signedIn}}
  {{#if isLegacyInfrastructure}}
    {{#if job.isFinished}}
      {{#notice-banner}}
        This job ran on our legacy infrastructure. Please read <a href="http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade" title="Migrating from legacy">our docs on how to upgrade</a>.
      {{/notice-banner}}
    {{else}}
      {{#notice-banner}}
        This job is running on our legacy infrastructure. Please read <a href="http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade" title="Migrating from legacy">our docs on how to upgrade</a>.
      {{/notice-banner}}
    {{/if}}
  {{/if}}
  {{#if isTrustySudoFalse}}
    {{#notice-banner}}
      This job {{#if job.isFinished}}ran{{else}}is running{{/if}} on our container-based trusty beta.
      Please read <a href="http://blog.travis-ci.com/2016-11-08-trusty-container-public-beta/?utm_source=trusty-container-based-beta-notice&utm_medium=banner&utm_campaign=trusty-container-based-beta" title="Trusty container-based beta">our blog post about the public beta</a>.
    {{/notice-banner}}
  {{/if}}
  {{#if isRetiredMacImageXcode6}}
    {{#notice-banner}}
      This job is using an OS X image that <a href="https://blog.travis-ci.com/2016-11-17-retiring-some-osx-images/">will be retired on Monday, Nov 28th at Noon PST</a>. After that this build will be routed to our <strong><a href="https://docs.travis-ci.com/user/osx-ci-environment/#Xcode-6.4">Xcode 6.4 image</a></strong>.
    {{/notice-banner}}
  {{/if}}
  {{#if isRetiredMacImageXcode7}}
    {{#notice-banner}}
      This job is using an OS X image that <a href="https://blog.travis-ci.com/2016-11-17-retiring-some-osx-images/">will be retired on Monday, Nov 28th at Noon PST</a>. After that this build will be routed to our <strong><a href="https://docs.travis-ci.com/user/osx-ci-environment/#Xcode-7.3.1">Xcode 7.3 image</a></strong>.
    {{/notice-banner}}
  {{/if}}
{{/if}}
