<div class='fonts'>
  <a href='#' onclick="$('#log').attr('class', 'ansi')">Default</a>
  <a href='#' onclick="$('#log').attr('class', 'ansi overpass')">Overpass Mono</a>
  <a href='#' onclick="$('#log').attr('class', 'ansi space')">Space Mono</a>
  <a href='#' onclick="$('#log').attr('class', 'ansi fira')">Fira</a>
  <!-- <a href='#' onclick="$('#log').attr('class', 'ansi cutive')">Cutive</a> -->
  <a href='#' onclick="$('#log').attr('class', 'ansi source-code')">Source Code Pro</a>
  <a href='#' onclick="$('#log').attr('class', 'ansi oxygen')">Oxygen Mono</a>
  <a href='#' onclick="$('#log').attr('class', 'ansi pt')">PT Mono</a>
  <a href='#' onclick="$('#log').attr('class', 'ansi anonymous')">Anonymous Pro</a>
  <a href='#' onclick="$('#log').attr('class', 'ansi cousine')">Cousine</a>
  <a href='#' onclick="$('#log').attr('class', 'ansi inconsolata')">Inconsolata</a>
</div>
<nav class="travistab-nav--secondary">
  <ul>
    <li>{{link-to 'Job log' 'job.index' repo job id="tab_log" title="Look at this job's log"}}</li>
    <li>{{link-to 'View config' 'job.config' repo job id="tab_config" title="Look at this job's config"}}</li>
  </ul>
</nav>
<div class="travistab-body">

  {{outlet}}

</div>
