{{#if jobs.length}}

  {{#if required}}
    <h2 class="section-title">Build Jobs</h2>
  {{else}}
    <h2 class="section-title">Allowed Failures
      <div class="tooltip-jobs">
        <span class="icon-question tooltip-trigger"></span>
        <p class="tooltip-bubble">These are jobs you can allow to fail <br> without failing your entire build</p>
      </div>
    </h2>
  {{/if}}

    <ul class="jobs-list">
    {{#each jobs as |job|}}
      {{jobs-item job=job repo=repo}}
    {{/each}}
    </ul>
{{/if}}
