<div class="landing-pro">
  <div id="top" class="top landing-page">
    <TopBar @landingPage={{true}} />
  </div>
  <FlashDisplay />
  <GlobalNotification @model={{this.model}} />
  <main>
    <section class="landing-hero-section section--grey">
      <div class="landing-hero-container">
        <div class="landing-hero-text">
          <h1>
            The simplest way to test and deploy your projects.
          </h1>
          <p>
            Easily sync your projects with Travis CI and you'll be testing your code in minutes.
          </p>
          <p class="mb-10">
            Start building for free!
          </p>
          <div class="cta-container">

            <LinkTo @route='signup' class='hero-button cta-index-page'>Sign up</LinkTo>

            <p class="mt-10">
              Already have an account? <LinkTo @route='signin' class="signin-link">Sign in</LinkTo>
            </p>
          </div>
        </div>
        <div class="landing-hero-image">
          <img src="../images/pro-landing/hero-header.png" />
        </div>
      </div>
    </section>
    {{#if this.multiVcs.enableBitbucketLogin}}
      <section class="section-bitbucket section--white section--center">
        <div class="inner">
          <h2 class="text-5xl text-grey-800 mb-8">
            Now test your
            <SvgImage @name='bitbucket-full' @width={{220}} />
            projects with Travis CI
          </h2>
          <div class="mb-10">
            <p class="text-lg inline-block max-w-2xl">
              Check out our new feature - now you can sign up to Travis CI using your Bitbucket account
              and connect your repositories!
            </p>
          </div>

          <LinkTo @route='integration.bitbucket' class="hero-button cta-index-page">
            Learn More
          </LinkTo>
        </div>
      </section>
      <div class="spacer"></div>
    {{/if}}
    <section class="section-companies section--white section--center">
      <div class="inner">
        <h3 class="customers-header">
          Travis CI is trusted by great companies
        </h3>
        <ul class="list--customers">
          <li>
            <ExternalLinkTo @href="https://www.zendesk.com/" @title="Zendesk" class="customer">
              <img src="../images/svg/zendesk.svg" class="customer-zendesk" />
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo @href="https://www.engineyard.com/" @title="Engine Yard" class="customer">
              <img src="../images/svg/engineyard.svg" class="customer-engineyard" />
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo @href="http://www.heroku.com/" @title="Heroku" class="customer">
              <img src="../images/svg/customer-logos-heroku.svg" class="customer-heroku" />
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo @href="http://www.bittorrent.com/" @title="BitTorrent" class="customer">
              <img src="../images/svg/customer-logos-bittorrent.svg" class="customer-bittorrent" />
            </ExternalLinkTo>
          </li>
          <li>
            <ExternalLinkTo @href="https://moz.com/" @title="moz" class="customer">
              <img src="../images/svg/moz.svg" class="customer-moz" />
            </ExternalLinkTo>
          </li>
        </ul>
      </div>
    </section>
    <div class="spacer"></div>
    <section class="section--feature section--white">
      <h2 class="h2--green" style="text-align:center">
        Features to help you get the job done
      </h2>
      <div class="section-feature-container">
        <div class="section-list">
          <ul class="list--features">
            <li>
              <div class="feature-image-container pt-6 text-center">
                <SvgImage @name='cloud' @width={{55}} />
              </div>
              <h3 class="h3">
                Get set up in seconds
              </h3>
              <p class="text-small">
                Login with your Cloud Platform, tell Travis CI to test a project, and then push. Could it be any simpler!
              </p>
            </li>
            <li>
              <div class="feature-image-container">
                <img src="../images/landing-page/platform.svg" alt="" />
              </div>
              <h3 class="h3">
                Supports your platform
              </h3>
              <p class="text-small">
                Many databases and services are pre-installed and can be enabled in your build configuration.
              </p>
            </li>
            <li>
              <div class="feature-image-container">
                <img src="../images/landing-page/PR.svg" alt="" />
              </div>
              <h3 class="h3">
                Test your pull requests
              </h3>
              <p class="text-small">
                Make sure every Pull Request to your project is tested before it's merged.
              </p>
            </li>
            <li>
              <div class="feature-image-container">
                <img src="../images/landing-page/heroku.svg" alt="" />
              </div>
              <h3 class="h3">
                Deploy anywhere
              </h3>
              <p class="text-small">
                Updating staging or production as soon as your tests pass has never been easier!
              </p>
            </li>
          </ul>
        </div>
        <div class="list-check-container">
          <ul class="list-check">
            <li>
              <img src="../images/svg/stage-passed.svg" class="checkmark" /> Quick setup
            </li>
            <li>
              <img src="../images/svg/stage-passed.svg" class="checkmark" /> Live build views
            </li>
            <li>
              <img src="../images/svg/stage-passed.svg" class="checkmark" /> Pull request support
            </li>
            <li>
              <img src="../images/svg/stage-passed.svg" class="checkmark" /> Pre-installed database services
            </li>
            <li>
              <img src="../images/svg/stage-passed.svg" class="checkmark" /> Auto deployments on passing builds
            </li>
            <li>
              <img src="../images/svg/stage-passed.svg" class="checkmark" /> Clean VMs for every build
            </li>
            <li>
              <img src="../images/svg/stage-passed.svg" class="checkmark" /> Mac, Linux, and iOS support
            </li>
            <li>
              <SvgImage @name='stage-passed' @class='checkmark' /> Connect with Github, Bitbucket and more
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="spacer"></div>
    <section class="section-opensource section--white section--center">
      <h2>
        Testing your open source<br />
        projects is always 100% free!
      </h2>
      <p>
        <em>Seriously. Always.</em>
        We like to think of it as our way of giving<br />
        back to a community that gives us so much as well.
      </p>
    </section>
    <section class="section-branch-pr section--grey section--center">
      <h2 class="build-flow-header">
        Branch build flow
      </h2>
      <div class="branch-pr-container">
        <div class="build-flow-image"></div>
        <div class="build-steps-container">
          <p class="build-step-1 build-steps">
            Push your code
            to your cloud platform
          </p>
          <p class="build-step-2 build-steps">
            Travis CI is triggered<br />
            to build
          </p>
          <p class="build-step-3 build-steps">
            Hooray!<br />
            Your build passes!
          </p>
          <p class="build-step-4 build-steps">
            Travis CI deploys<br />
            to Heroku
          </p>
          <p class="build-step-5 build-steps">
            Travis CI tells your<br />
            team all is well
          </p>
        </div>
      </div>
      <h2 class="build-flow-header">
        Pull request build flow
      </h2>
      <div class="branch-pr-container">
        <div class="build-pr-image"></div>
        <div class="build-steps-container">
          <p class="build-step-6 build-steps">
            A pull request<br />
            is created
          </p>
          <p class="build-step-7 build-steps">
            Travis CI is notified
            the build is mergeable
          </p>
          <p class="build-step-8 build-steps">
            Hooray!<br />
            Your build passes!
          </p>
          <p class="build-step-9 build-steps">
            Travis CI updates<br />
            the PR that it passed
          </p>
          <p class="build-step-10 build-steps">
            Merge in
            the PR goodness
          </p>
        </div>
      </div>
    </section>
    <section class="section-languages section--white section--center">
      <div class="inner">
        <div class="section-languages-container">
          <ul class="list--languages">
            <li style="padding-bottom: 20px;">
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/clojure/"
                @title="Read about Clojure at Travis CI"
              >
                <img src="../images/landing-page/lang-clojure.svg" alt="clojure logo" class="language" /> Clojure
              </ExternalLinkTo>
            </li>
            <li>
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/javascript-with-nodejs/"
                @title="Read about NodeJS at Travis CI"
              >
                <img src="../images/landing-page/lang-node.svg" alt="node logo" class="lang-node language" /> Node
              </ExternalLinkTo>
            </li>
            <li>
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/php/"
                @title="Read about PHP at Travis CI"
              >
                <img src="../images/landing-page/lang-php.svg" alt="php logo" class="lang-php language" /> PHP
              </ExternalLinkTo>
            </li>
            <li>
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/objective-c/"
                @title="Read about ObjectiveC at Travis CI"
              >
                <img src="../images/landing-page/lang-xcode.svg" alt="xcode logo" class="lang-xcode language" /> Xcode
              </ExternalLinkTo>
            </li>
            <li style="padding-bottom: 20px;">
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/ruby/"
                @title="Read about Ruby at Travis CI"
              >
                <img src="../images/landing-page/lang-ruby.svg" alt="ruby logo" class="lang-ruby language" /> Ruby
              </ExternalLinkTo>
            </li>
            <li>
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/python/"
                @title="Read about Python at Travis CI"
              >
                <img src="../images/landing-page/lang-python.svg" alt="python logo" class="lang-python language" /> Python
              </ExternalLinkTo>
            </li>
            <li style="padding-bottom: 20px;">
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/java/"
                @title="Read about Java at Travis CI"
              >
                <img src="../images/landing-page/lang-java.svg" alt="java logo" class="lang-java language" /> Java
              </ExternalLinkTo>
            </li>
            <li>
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/erlang/"
                @title="Read about Erlang at Travis CI"
              >
                <img src="../images/landing-page/lang-erlang.svg" alt="erlang logo" class="lang-erlang language" /> Erlang
              </ExternalLinkTo>
            </li>
            <li>
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/go/"
                @title="Read about Go at Travis CI"
              >
                <img src="../images/landing-page/lang-go.svg" alt="go logo" class="lang-go language" /> Go
              </ExternalLinkTo>
            </li>
            <li>
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/scala/"
                @title="Read about Scala at Travis CI"
              >
                <img src="../images/landing-page/lang-scala.svg" alt="scala logo" class="lang-scala language" /> Scala
              </ExternalLinkTo>
            </li>
            <li>
              <ExternalLinkTo
                @href="http://docs.travis-ci.com/user/languages/perl/"
                @title="Read about Perl at Travis CI"
              >
                <img src="../images/landing-page/lang-perl.svg" alt="perl logo" class="lang-perl language" /> Perl
              </ExternalLinkTo>
            </li>
          </ul>
        </div>
        <div class="section-languages-text-container">
          <h2>
            We support over<br />
            30 different languages.
          </h2>
          <p>
            These are just a few of our most popular languages,
            <ExternalLinkTo @href="http://docs.travis-ci.com/user/languages/" @title="Supported languages">
              check out the full list in our docs
            </ExternalLinkTo>.
          </p>
        </div>
      </div>
    </section>
    <div class="spacer"></div>
    <section class="section-start-building section--grey section--center">
      <p class="get-started">
        So many great features, so let's get you started.
      </p>
      <p class="run-test">
        Run your tests with Travis CI
      </p>
      <LinkTo @route='signup' class="start-building-button cta-index-page">
        Start building now
      </LinkTo>
    </section>
  </main>
</div>
