<LinkTo
  @route="build"
  @models={{array
    this.repo.provider
    this.repo.owner.login
    this.repo.name
    build.id
  }}
>
  <StatusIcon @status={{this.build.state}} />
  <span class="label-align">
    #{{this.build.number}}
  </span>
</LinkTo>
