{{travis-switch active=enabled description=description action="toggle"}}
<div class="tooltip-settings">
  <a href="http://docs.travis-ci.com/user/customizing-the-build/#Limiting-Concurrent-Builds" title="about the concurrency setting">
    <p class="tooltip-bubble">Read more about<br>concurrent builds</p>
    <span class="icon icon-question"></span>
  </a>
</div>
{{#if enabled}}
  {{input pattern="/^[0-9]+$/" value=value key-up="limitChanged"}}
{{/if}}
{{#if isSaving}}
{{loading-indicator inline=true}}
{{/if}}
