<div>
  {{yield this}}
  <div>
    {{#if this.dynamicQuery.isLoading}}
      <LoadingIndicator />
    {{else if (and this.dynamicQuery.hasNextPage (not loader.isNoneFound))}}
      <ShowMoreButton @click={{action 'showMore'}} />
    {{/if}}
  </div>
</div>