<div class="log-scan-badge inline-block vertical-align">
  <LinkTo @route="scanResults" @model={{this.repo}}>
    <SvgImage @name="icon-log-scan-{{this.repo.currentScan.icon}}" @width="110" @height="20" />
  </LinkTo>
</div>
