{{#if account.hasSubscriptionPermissions}}
  <a href={{this.subscription.billingUrl}} class='button--blue manage-subscription'>
    <SvgImage @name="github" @width="15px" @class="icon github-icon"/> Edit subscription
  </a>
{{else}}
  <div class="button--green manage-subscription disabled">
    Edit subscription
    <EmberTooltip @text="You do not have permission to edit this subscription" />
  </div>
{{/if}}
