<p class="manual-help">
  If you have any questions or would like to update your plan, please
  <ExternalLinkTo @href={{config-get 'urls.resources'}} @title="Travis CI Resources">
    contact our support team.
  </ExternalLinkTo> 
</p>
