<p class='manual-help'>
  If you have any questions or would like to update your plan, please
  <a href='{{ config.urls.support }}' title='Email the Travis support team' {{action 'helpscoutTrigger'}}>contact our support team</a>.
</p>
