<div class="notice-banner--yellow align-center">
    Hi! It seems there are still plenty of builds running. We're pushing back the shutdown date to June 15th. Please consider migrating to <a href="http://www.travis-ci.com">travis-ci.com</a>.
</div>
