<Notification
  @type='global'
  @severity='warning'
  data-test-migration-banner='true'
>
    Since June 15th, 2021, the building on <a href="http://www.travis-ci.org">travis-ci.org</a> is ceased. Please use <a href="http://www.travis-ci.com">travis-ci.com</a> from now on.
</Notification>
