<div class="notice-banner--yellow align-center">
    Please be aware <a href="http://www.travis-ci.org">travis-ci.org</a> will be shutting down by end of May 2021. Please consider migrating to <a href="http://www.travis-ci.com">travis-ci.com</a>.
</div>
