<div class="missing-notice">
  <figure class="page-graphic">
    {{svg-jar 'icon-cones'}}
  </figure>

  {{#if title}}
    <h2 class="page-title">{{title}}</h2>
  {{/if}}

  {{#if hasBlock}}
    {{yield}}
  {{/if}}
</div>
