<div class="missing-notice">
  <figure class="page-graphic">
    <SvgImage @name={{or this.image "icon-cones"}} @class="snapshot-hide" />
  </figure>
  {{#if this.title}}
    <h2 data-test-missing-notice-header class="page-title">
      {{this.title}}
    </h2>
  {{/if}}
  {{#if hasBlock}}
    {{yield}}
  {{/if}}
</div>
