<Notification
  @type='global'
  @severity='warning'
>
    <span data-test-flash-message-text class="message">
      Builds have been temporarily disabled for private repositories due to a negative credit balance.
      Please go to the
      {{#if @isUser}}
        <LinkTo @route="account.billing">Plan page</LinkTo>
      {{else}}
        <LinkTo @route="organization.billing" @model={{@owner}}>Plan page</LinkTo>
      {{/if}}
      to replenish your credit balance.
    </span>
</Notification>
