{{#if this.account.hasSubscriptionPermissions}}
  <a href={{this.account.newSubscriptionUrl}} class="button--green manage-subscription new">
    New subscription
  </a>
{{else}}
  <div class="button--green manage-subscription disabled new">
    New subscription
  </div>
  <EmberTooltip @text="You do not have permission to create a subscription" />
{{/if}}
