{{#if account.hasSubscriptionPermissions}}
  <a href={{account.newSubscriptionUrl}} class='button--green manage-subscription new'>
    New subscription
  </a>
  {{else}}
  <div class='button--green manage-subscription disabled new'>
    New subscription {{tooltip-on-element text='You do not have permission to create a subscription'}}
  </div>
{{/if}}
