{{#if (eq account.type 'user')}}
  <section class='new-free-subscription'>
    {{#notice-banner}}
      Get a free 1-job subscription, no credit card required!
      <button onclick={{action 'createFreeSubscription'}} class='button'>
        Do nothing
      </button>
    {{/notice-banner}}
  </section>
{{/if}}