  <div class="initial-billing-view">
    <div class="flex">
      <div class="get-started">
        <p class="get-started__builds">
          100 free builds to get you started
        </p>
        <p class="get-started__start-trial">
          Start your trial to get 100 free builds and 2 concurrent jobs for both public and private projects.
        </p>
      </div>
      <div class="icon-wrapper flex flex--v-center">
        {{svg-jar "icon-plus" class="icon icon-wrapper__plus"}}
      </div>
      <div class="flex billing-trial-info">
        <div class="billing-trial-info__box">
          <p class="billing-trial-info__box--open-source">We &lt;3 open source.</p>
          <p class="billing-trial-info__box--jobs">
            3 concurrent jobs for your open source projects are always free.
          </p>
        </div>
      </div>
    </div>
    <button class='button--blue activate-button {{if disabled 'disabled'}}'>
      Activate trial
    </button>
    <hr/>
  </div>