<div class="missing-notice">
  <figure class="page-graphic">
    {{svg-jar 'barricade'}}
  </figure>

  <h2 class="page-title">We couldn't find the organization <br><span class="h2--red">{{name}}</span></h2>
  <p class="helptext">The organization may not exist or you may not have access to it.</p>  
</div>
