<div class="missing-notice">

    {{svg-jar 'commandline' class="page-graphic"}}

    <h2 class="h2--grey">
      Trigger a build
    </h2>

    <p data-test-not-active-migrated-subtext class="text-big">
      Push a commit to keep building
    </p>

</div>
