{{#missing-notice title="No builds for this repository"}}
  <p class="page-notice">Want to start testing this project on Travis CI?</p>
  <a href="http://docs.travis-ci.com/user/getting-started/" class="button" title="Travis documentation on getting set up">Read the Docs on Getting Started</a>
{{/missing-notice}}
