<MissingNotice @title={{if this.title this.title 'No builds for this repository'}}>
  <p class="page-notice">
    {{if this.subtitle this.subtitle 'Want to start testing this project on Travis CI?'}}
  </p>
  <ExternalLinkTo
    @href="http://docs.travis-ci.com/user/getting-started/"
    class="button"
    title="Travis documentation on getting set up"
  >
    Read the Docs on Getting Started
  </ExternalLinkTo>
</MissingNotice>
