<div class="missing-notice">
  <figure class="page-graphic">

  </figure>

  <h2 class="page-title">No active repositories could be found</h2>
  <p class="page-notice">Want to start testing your projects on Travis CI?</p>
  <a href="http://docs.travis-ci.com/user/getting-started/" class="button button--green">Read the Docs on Getting Started</a>
</div>
