<div class="missing-notice">
  <figure class="page-graphic">
    <svg version="1.1" id="tractor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 221 161.3" enable-background="new 0 0 221 161.3" xml:space="preserve">
      <g id="Background">
        <path fill="#F1F9FA" d="M201.9,161.3c11.4-16.5,18.1-36.5,18.1-58c0-56.5-45.8-102.2-102.2-102.2S15.5,46.8,15.5,103.3
          c0,21.5,6.7,41.5,18.1,58H201.9z"/>
        <path fill="#DDF1F2" d="M201.9,161.3c11.1-16.1,17.8-35.7,18-56.7H15.5c0.3,21,6.9,40.5,18,56.7H201.9z"/>
      </g>
      <g id="TractorBody">
        <path fill="#59C6CD" d="M172.3,30.5c0-3.1-2.5-5.7-5.7-5.7h-52c-5.7,0-6.4,9.1-6.4,9.1l-4.9,22.6H61.3c-3.1,0-5.7,2.5-5.7,5.7v42.1
          c0,3.1,2.5,5.7,5.7,5.7h105.4c3.1,0,5.7-2.5,5.7-5.7V62.1c0-0.2,0-0.4,0-0.6c0-0.2,0-0.4,0-0.6V30.5z"/>
        <g>
          <path fill="#FFFFFF" d="M144.3,50.3c0,3.3-2.7,6-6,6h-19.6c-3.3,0-5.5-2.7-4.9-5.9l2.3-12.5c0.6-3.2,3.8-5.9,7.1-5.9h15.1
            c3.3,0,6,2.7,6,6V50.3z"/>
        </g>
        <path fill="#FFFFFF" d="M164,52.9c0,1.9-1.5,3.4-3.4,3.4h-6.3c-1.9,0-3.4-1.5-3.4-3.4V35.4c0-1.9,1.5-3.4,3.4-3.4h6.3
          c1.9,0,3.4,1.5,3.4,3.4V52.9z"/>
        <path fill="#EFEFEF" d="M160.6,32h-6.3c-1.9,0-3.4,1.5-3.4,3.4v3.9l13,6.2V35.4C164,33.5,162.5,32,160.6,32z"/>
        <path fill="#EFEFEF" d="M140.9,32h-20.3c-1.9,0-3.7,1.5-4,3.3l-0.6,3.1l28.3,12.7V35.4C144.3,33.5,142.7,32,140.9,32z"/>
        <path fill="#A0DADE" d="M166.7,24.8h-52c-2.1,0-3.5,1.3-4.5,2.8h61.4C170.6,26,168.8,24.8,166.7,24.8z"/>
        <path fill="#A0DADE" d="M103,56.5H61.3c-2.4,0-4.5,1.6-5.3,3.7h47V56.5z"/>
        <path fill="#4AB8BB" d="M61.3,109.8h105.4c2.9,0,5.4-2.3,5.6-5.2H55.6C55.9,107.6,58.3,109.8,61.3,109.8z"/>
      </g>
      <g id="TractorWheels">
        <path fill="#038D8D" d="M154,82.5c14.5,0.2,26.2,12,26.2,26.6c0,14.6-11.9,26.6-26.6,26.6H62.4c-7.9,0-14.4-6.5-14.4-14.4
          c0-5.9,3.5-11.1,8.9-13.3C61.9,106.2,128.8,84.4,154,82.5 M153.7,72.8c-27.2,1.9-100.1,26-100.1,26c-8.9,3.5-15.2,12.2-15.2,22.3
          c0,13.3,10.8,24,24,24h91.3c20,0,36.2-16.2,36.2-36.2S173.7,72.8,153.7,72.8L153.7,72.8z"/>
        <path fill="#3B3633" d="M153.7,92.1c9.3,0,17,7.6,17,17s-7.6,17-17,17s-17-7.6-17-17S144.3,92.1,153.7,92.1 M153.7,72.8
          c-20,0-36.2,16.2-36.2,36.2s16.2,36.2,36.2,36.2s36.2-16.2,36.2-36.2S173.7,72.8,153.7,72.8L153.7,72.8z"/>
        <path fill="#3B3633" d="M62.4,111.3c5.5,0,9.9,4.4,9.9,9.9c0,5.5-4.4,9.9-9.9,9.9c-5.5,0-9.9-4.4-9.9-9.9
          C52.5,115.7,57,111.3,62.4,111.3 M62.4,97.1c-13.3,0-24,10.8-24,24s10.8,24,24,24s24-10.8,24-24S75.7,97.1,62.4,97.1L62.4,97.1z"/>
        <g>
          <path fill="#979B9D" d="M170.6,109c0-9.3-7.6-17-17-17c-5.7,0-10.7,2.8-13.8,7.1c2.8-2,6.1-3.1,9.8-3.1c9.3,0,17,7.6,17,17
            c0,3.7-1.2,7-3.1,9.8C167.8,119.7,170.6,114.7,170.6,109z"/>
          <path fill="#B7B9BA" d="M149.7,96.1c-3.7,0-7,1.2-9.8,3.1c-2,2.8-3.1,6.1-3.1,9.8c0,9.3,7.6,17,17,17c3.7,0,7-1.2,9.8-3.1
            c2-2.8,3.1-6.1,3.1-9.8C166.6,103.7,159,96.1,149.7,96.1z"/>
        </g>
        <g>
          <path fill="#979B9D" d="M72.3,121.2c0-5.5-4.4-9.9-9.9-9.9c-3.6,0-6.7,1.9-8.5,4.8c1.7-1.3,3.8-2.2,6.1-2.2c5.5,0,9.9,4.4,9.9,9.9
            c0,1.9-0.5,3.6-1.4,5.1C70.8,127.1,72.3,124.3,72.3,121.2z"/>
          <path fill="#B5B3B1" d="M60.1,113.9c-2.3,0-4.5,0.8-6.1,2.2c-0.9,1.5-1.4,3.2-1.4,5.1c0,5.5,4.4,9.9,9.9,9.9
            c2.3,0,4.5-0.8,6.1-2.2c0.9-1.5,1.4-3.2,1.4-5.1C70,118.4,65.5,113.9,60.1,113.9z"/>
        </g>
      </g>
      <g id="TractorArm" class="tractor-arm">
        <path fill="#3B3633" d="M76.6,76c-0.4-1.4-1.2-2.5-2.3-3.2l-30.5-18l0,0c0.1-0.2,0.1-0.4,0.2-0.7c0.5-2.1,0.6-3.4,0.6-3.4
          c0.4-3.3,0.2-6.8-0.7-10.2c-2.2-8.2-7.9-14.8-15.8-18.2c-1-0.4-2.3,0-2.8,0.9L21,30.6c-0.3,0.6-0.4,1.3-0.2,1.9
          c0.2,0.6,0.7,1.1,1.4,1.4c4.5,1.6,8,5.3,9.2,9.9c2,7.7-2.6,15.6-10.2,17.6c-4.6,1.2-9.6,0.1-13.2-3.1c-0.5-0.4-1.2-0.6-1.9-0.5
          c-0.7,0.1-1.2,0.5-1.6,1.1l-4.3,7.3c-0.6,1-0.3,2.2,0.6,2.9c6.8,5.2,15.4,6.9,23.6,4.8c3.8-1,7.3-2.8,10.2-5.2
          c1.5-1.2,2.8-2.5,4-3.9L68,82.1c1.3,0.9,3,1.3,4.7,0.8C75.6,82.2,77.4,79.1,76.6,76z"/>
        <path fill="#454240" d="M41.9,45.7c0-8.7-4-16.5-10.1-21.5c-1.2-0.7-2.4-1.3-3.6-1.9c-1-0.4-2.3,0-2.8,0.9L21,30.6
          c-0.3,0.6-0.4,1.3-0.2,1.9c0.2,0.6,0.7,1.1,1.4,1.4c4.5,1.6,8,5.3,9.2,9.9c2,7.7-2.6,15.6-10.2,17.6c-4.6,1.2-9.6,0.1-13.2-3.1
          c-0.5-0.4-1.2-0.6-1.9-0.5c-0.7,0.1-1.2,0.5-1.6,1.1l-4.3,7.3c-0.6,1-0.3,2.2,0.6,2.9c0.9,0.7,1.9,1.3,2.9,1.9
          c3.4,1.5,7.1,2.3,10.9,2.3C29.7,73.4,41.9,61,41.9,45.7z"/>
      </g>
    </svg>
  </figure>

  <h2 class="page-title">No active repositories could be found</h2>
  <p class="page-notice">Want to start testing your projects on Travis CI?</p>
  <a href="http://docs.travis-ci.com/user/getting-started/" class="button button--green">Read the Docs on Getting Started</a>
</div>
