<div class="missing-notice">
  <figure class="page-graphic">
    {{svg-jar 'barricade'}}
  </figure>

  <h2 class="page-title">We couldn't find the repository <br><span class="h2--red">{{slug}}</span></h2>
  {{#if features.proVersion}}
    {{#unless auth.signedIn}}
      <p class="">This repository may not exist or you may need to {{#link-to "auth" class="auth-button--white m-l-s" action="singI"}}Sign in with GitHub{{/link-to}}</p>
    {{/unless}}
  {{/if}}
</div>
