{{#link-to-account routeName routeModel class="org-info"}}
  <span class="account-avatar">
    {{user-avatar account=account url=account.avatarUrl name=name showSubscriptionStatus=true}}
  </span>
  <span class="account-info">
    <h3 class="account-name">{{name}}</h3>
  </span>
{{/link-to-account}}
