{{#animated-if this.visible use=this.transition}}
  <div
    class="overlay-backdrop flex items-center justify-center inset-0 overflow-hidden z-50 {{this.position}}"
    data-test-overlay-backdrop
    ...attributes
  >
    {{~yield~}}
  </div>
{{/animated-if}}
