<AnimatedIf
  @predicate={{this.isVisible}}
  @use={{this.transition}}
  @duration={{300}}
>
  <div
    class="overlay-backdrop flex items-center justify-center inset-0 overflow-hidden z-50 {{this.position}}"
    data-test-overlay-backdrop
    ...attributes
  >
    {{~yield~}}
  </div>
</AnimatedIf>
