{{#if showPagination}}
  <ul role="navigation">
    {{#unless pagination.isFirst}}
      <li>{{#link-to route (query-params page=pagination.prev.num) rel="prev" class="pagination-button" title="Go to previous page"}}prev{{/link-to}}</li>
    {{/unless}}

    {{#each pages as |page|}}
      <li>
        {{#if page.num}}
          {{#link-to route (query-params page=page.num) class="pagination-link" title=(concat "Go to page number " page.num)}}{{page.num}}{{/link-to}}
        {{else}}
          ...
        {{/if}}
      </li>
    {{/each}}

    {{#unless pagination.isLast}}
      <li>{{#link-to route (query-params page=pagination.next.num) rel="next" class="pagination-button" title="Go to next page"}}next{{/link-to}}</li>
    {{/unless}}
  </ul>
{{/if}}
