{{#if showPagination}}
  <ul role="navigation">

    {{#if prevPageNumber}}
      <li>
        {{#link-to route (pagination-query-params queryParam prevPageNumber)
          data-test-prev-pagination-link
          rel="prev"
          class="pagination-button"
          title="Go to previous page"
        }}
          prev
        {{/link-to}}
      </li>
    {{/if}}

    {{#each pages as |page|}}
      <li>
        {{#if page.num}}
          {{#link-to route (pagination-query-params queryParam page.num)
            data-test-page-pagination-link=page.num
            class="pagination-link"
            title=(concat "Go to page number " page.num)
          }}
            {{page.num}}
          {{/link-to}}
        {{else}}
          ...
        {{/if}}
      </li>
    {{/each}}

    {{#if nextPageNumber}}
      <li>
        {{#link-to route (pagination-query-params queryParam nextPageNumber)
          data-test-next-pagination-link
          rel="next"
          class="pagination-button"
          title="Go to next page"
        }}
          next
        {{/link-to}}
      </li>
    {{/if}}

  </ul>
  {{/if}}
