{{#if showPagination}}
  <ul role="navigation">
    {{#if prevPageNumber}}
      <li>{{#link-to route (query-params page=prevPageNumber)
          data-test-prev-pagination-link
          rel="prev"
          class="pagination-button"
          title="Go to previous page"}}prev{{/link-to}}</li>
    {{/if}}

    {{#each pages as |page|}}
      <li>
        {{#if page.num}}
          {{log page.num}}
          {{#link-to route (query-params page=page.num)
            data-test-page-pagination-link=page.num
            class="pagination-link"
            title=(concat "Go to page number " page.num)}}{{page.num}}{{/link-to}}
        {{else}}
          ...
        {{/if}}
      </li>
    {{/each}}

    {{#if nextPageNumber}}
      <li>{{#link-to route (query-params page=nextPageNumber)
            data-test-next-pagination-link rel="next"
            class="pagination-button"
            title="Go to next page"}}next{{/link-to}}</li>
    {{/if}}
  </ul>
{{/if}}
