<h3 class="insights-odyssey__title">Concurrency</h3>
<div class="insights-odyssey__chart">
  {{#if isLoading}}
    {{!-- Placeholder? --}}
  {{else}}
    {{high-charts content=content chartOptions=options}}
  {{/if}}
</div>