<p class='source' data-test-source>{{source}}</p>

{{#if stripe}}
  <p data-test-credit-card>•••• •••• •••• {{subscription.creditCardInfo.lastDigits}}</p>
{{/if}}

{{#unless manual}}
  <p data-test-price>{{price}}</p>
{{/unless}}

{{#if (and stripe monthly)}}
  <span class='notice-banner--yellow' data-test-annual-invitation>
    Save 10% by switching to
    {{#external-link-to href=(concat billingUrl '?switch_annual=true') target='_blank'}}
      annual billing
    {{/external-link-to}}
  </span>
{{/if}}
