<p class='source' data-test-source>{{source}}</p>

{{#if (eq subscription.source 'stripe')}}
  <p data-test-credit-card>•••• •••• •••• {{subscription.creditCardInfo.lastDigits}}</p>
{{/if}}

{{#unless (eq subscription.source 'manual')}}
  <p data-test-price>{{price}}</p>
{{/unless}}

{{#if (and (not subscription.plan.annual) (eq subscription.source 'stripe'))}}
  <span class='notice-banner--yellow' data-test-annual-invitation>
    Save 10% by switching to <a href='javascript:alert("unimplemented")'>annual billing</a>
  </span>
{{/if}}
