<div data-test-plan>
  <div class='name' data-test-name>{{plan.name}}</div>
  <div class='concurrency' data-test-concurrency>{{plan.builds}} concurrent job</div>
  <div class='price' data-test-price>{{price}}</div>
</div>
