<h3 class="insights-glance__title">Average Queue Time</h3>
<div class="insights-glance__stat">{{avgWaitText}}</div>
<div class="insights-glance__chart">
  {{#if (or isLoading (is-empty aggregateData))}}
    <hr class="insights-glance__chart-placeholder" />
  {{else}}
    {{high-charts content=content chartOptions=options}}
  {{/if}}
</div>