<div id="remove-log-popup" class="popup">
  <a href="#" class="close" {{action "close"}}></a>
  <p><strong>This action will remove the log permanently!</strong></p>
  <p>Do you want to continue?</p>
  <p>
    <a class="sync_now button" {{action "removeLog"}}>Yes, please!</a>
    <span class="or">or</span>
    <a href="#" class="cancel" {{action "close"}}>Cancel</a>
  </p>
</div>
