<div id="remove-log-popup" class="popup">
  <a class="close" {{action "close"}} title="close popup">close</a>
  <h3 class="popup-title h2--red">This action will remove the log permanently!</h3>
  <p class="popup-text text-big">Do you want to continue?</p>
  <div class="buttons">
    <a class="button-delete" {{action "removeLog"}}>Yes, remove log</a>
    <a class="button-cancel" {{action "close"}}>Oops, cancel</a>
  </div>
</div>
