<a {{action "menu"}} class="option-display" type="" title="Show more options">
  <span class="label-align">More options</span>
  <span class="option-tofu"></span>
</a>
<ul class="option-dropdown">
  {{#if displaySettingsLink}}
    <li>
      {{#link-to "settings" repo}}Settings{{/link-to}}
    </li>
  {{/if}}
  <li>
    {{#link-to "requests" repo}}Requests{{/link-to}}
  </li>
  {{#if displayCachesLink}}
    <li>
      {{#link-to "caches" repo}}Caches{{/link-to}}
    </li>
  {{/if}}
</ul>
