<a {{action "menu"}} class="settings-button" type="" title="Open settings menu">
  <span class="icon-settings" aria-hidden="true"></span>
  <span class="label-align">Settings</span></a>
<ul class="settings-dropdown">
  {{#if displaySettingsLink}}
    <li>
      {{#link-to "settings" repo}}Settings{{/link-to}}
    </li>
  {{/if}}
  <li>
    {{#link-to "requests" repo}}Requests{{/link-to}}
  </li>
  {{#if displayCachesLink}}
    <li>
      {{#link-to "caches" repo}}Caches{{/link-to}}
    </li>
  {{/if}}
</ul>
