<div id="empty">
  <h2>Welcome to Travis CI!</h2>

  <p>It looks like you're new around here. Let's get you started, shall we?</p>

  <p>You're only two steps away from using Travis:</p>

  <ul>
    <li> Hook up {{#link-to "profile" class="signed-in"}}one or more of your GitHub repositories{{/link-to}} with Travis.</li>
    <li> Push some code!</li>
  </ul>

  <p>
    If you have any questions or issues, hop on our <a href="https://travisci.campfirenow.com/10e50">Campfire support room</a> or
    contact <a href="mailto:support@travis-ci.com">support</a> directly.
  </p>
</div>
