{{#if repos}}
  <ul data-test-sidebar-repositories class="repos-list">
    {{#each repos as |repo|}}
      {{repos-list-item data-test-sidebar-repositor yrepo=repo}}
    {{/each}}
  </ul>
  {{else}}
    <div data-test-no-repositories-message class="loading-container">{{noReposMessage}}</div>
{{/if}}
