<button class="option-display" type="button" title="Show more options">
  <span class="label-align">
    More options
  </span>
  <span class="option-tofu">
    <SvgImage @name="icon-tofuburger" @class="icon-tofu" />
  </span>
</button>
<ul class="option-dropdown">
  {{#if this.displaySettingsLink}}
    <li>
      <LinkTo @route="settings" @model={{this.repo}}>
        Settings
      </LinkTo>
    </li>
  {{/if}}
  <li>
    <LinkTo @route="requests" @model={{this.repo}}>
      Requests
    </LinkTo>
  </li>
  {{#if this.displayCachesLink}}
    <li>
      <LinkTo @route="caches" @model={{this.repo}}>
        Caches
      </LinkTo>
    </li>
  {{/if}}
  {{#if this.displayTriggerBuildLink}}
    <li>
      <!-- TODO activate trigger build if we're on build.config or job.onfig -->
      <LinkTo @route="repo.config" @model={{this.repo}} trigger-build-anchor="true">
        Trigger build
      </LinkTo>
    </li>
  {{/if}}
</ul>
