{{#if this.account.hasSubscriptionPermissions}}
  <a
    href={{this.subscription.billingUrl}}
    class="button--green manage-subscription resubscribe"
  >
    Resubscribe
  </a>
{{else}}
  <div class="button--green manage-subscription disabled resubscribe">
    Resubscribe
    <EmberTooltip @text="You do not have permission to resubscribe" />
  </div>
{{/if}}
