<div class="switch-inner">
  <span class="on">
    <SvgImage @name="icon-passed" @class="icon-on" @alt="on" />
  </span>
  <span class="off">
    <SvgImage @name="icon-failed" @class="icon-off" @alt="off" />
  </span>
</div>
<span class="label">
  {{this.description}}
</span>
