<div class="switch-inner">
  <span class="on">
    {{svg-jar 'icon-passed' class='icon-on' alt='on'}}
  </span>
  <span class="off">
    {{svg-jar 'icon-failed' class='icon-off' alt='off'}}
  </span>
</div>
<span class="label">{{description}}</span>
