{{#if custom}}
  <div class="ssh-key-name">
    <span class="icon-key"></span>
    <span>TRAVIS_PRIVATE_KEY</span>
  </div>
  <div class="ssh-key-value">
    <span class="icon-fingerprint"></span>
    <span>e1:b1:83:06:7e:51:6d:5e:e0:e0:60:96:ca:ac:3d:8a</span>
  </div>
  <div class="ssh-key-action">
    <div class="tooltip">
      <a href="#" title="">
        <span class="icon-delete"></span>
      </a>
      <div class="tooltip-bubble">Delete</div>
    </div>
  </div>
{{else}}
  <div class="ssh-key-name">
    <span class="icon-key"></span>
    <span>no custom key set</span>
  </div>
  <div class="ssh-key-value">
    <span class="icon-fingerprint"></span>
    <span>e1:b1:83:06:7e:51:6d:5e:e0:e0:60:96:ca:ac:3d:8a</span>
  </div>
  <div class="ssh-key-action">
    <div class="tooltip--height">
      <a href="#" title="">
        <span class="icon-delete-disabled"></span>
      </a>
      <div class="tooltip-bubble">Default keys <br>cannot be deleted</div>
    </div>
  </div>
{{/if}}
