<SvgImage @name="icon-alert" @class="icon" />
<span>
  <span data-test-message>
    {{this.message}}
  </span>
  {{#if this.showLink}}
    <a href={{this.billingUrl}} title="Go to Travis CI Billing" class="right">
      {{this.billingLinkText}}
    </a>
  {{/if}}
</span>
