{{#if this.user.isSyncing}}
  <div data-test-is-syncing-button class="button--transparent color-oxide-blue">
    <span class="loading-indicator label-align">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
{{else if this.user.roMode}}
    <button class="button--transparent" disabled="disabled">
      <SvgImage @name="sync-icon" @class="icon--l" />
    </button>
{{else}}
  <button
    data-test-start-sync-button
    class="button--transparent"
    type="button"
    onclick={{action "sync"}}
  >
    <SvgImage @name="sync-icon" @class="icon--sync color-oxide-blue"  />
    <EmberTooltip @text="Last synced {{format-time this.user.syncedAt}}" @side='right'/>
  </button>
  <div class="sync-last-container">
    <span class="sync-last">
    </span>
  </div>
{{/if}}
