<div class="sync-button">
  {{#if user.isSyncing }}
    <button class="button is-syncing">
      <span class="loading-indicator--white"><i></i><i></i><i></i></span>Syncing from GitHub
    </button>
  {{else}}
    <p class="sync-last">last synced {{format-time user.syncedAt}}</p>
    <button {{action 'sync'}} class="button">
      <span class="icon icon-sync"></span>Sync account
    </button>
  {{/if}}
</div>


