{{#if user.isSyncing }}
   <div class="button is-syncing">
    <span class="loading-indicator--white"><i></i><i></i><i></i></span>Syncing from GitHub
  </div>
{{else}}
  <button {{action 'sync'}} class="button" type="button">
    <span class="icon-trigger"></span>Sync account
  </button>
  <p class="sync-last">Last synced {{format-time user.syncedAt}}</p>
{{/if}}
