{{#if user.isSyncing }}
   <div class="button is-syncing">
     <span class="loading-indicator--white label-align"><i></i><i></i><i></i></span>
     <span class="label-align">Syncing from GitHub</span>
  </div>
{{else}}
  <button {{action 'sync'}} class="button" type="button">
    {{inline-svg 'icon-restart' class="icon white"}}<span class="label-align">Sync account</span>
    <span class="label-align">Sync account</span>
  </button>
  <p class="sync-last">Last synced {{format-time user.syncedAt}}</p>
{{/if}}
