{{#if this.enabled}}
  <div class="notice-banner--yellow align-center">
    {{this.message}}
    <p class="flash-message">
      <button type="button" class="no-button close" {{action this.closeBanner}}>
        <SvgImage @name="flash-close" @class="icon" />
      </button>
    </p>
  </div>
{{/if}}