{{#if this.enabled}}
  <div class="notice-banner--yellow align-center">
    {{this.message}}
    <button type="button" class="no-button close-banner" {{action this.closeBanner}}>
      <SvgImage @name="flash-close" @class="icon" />
    </button>
  </div>
{{/if}}