{{#if this.enabled}}
  <Notification
    @type='global'
    @severity='warning'
    data-test-temporary-announcement='true'
  >
    {{this.message}}

    <button type="button" class="no-button close" {{action "closeBanner"}}>
      <SvgImage @name="flash-close" @class="icon" />
    </button>
  </Notification>
{{/if}}