<LoadingOverlay @visible={{this.isLoading}}>
  {{#each this.topicsToShow as |topic|}}
    <li>
      <ExternalLinkTo @href={{topic.url}}>
        {{topic.title}}
      </ExternalLinkTo>
    </li>
  {{/each}}
</LoadingOverlay>
