{{#if statusPageStatusUrl}}
  <h3>Travis CI Status</h3>
  <ul>
    <li><div {{bind-attr class=":status-circle status"}}>Status:</div>
        <a href="http://www.traviscistatus.com/">Travis CI Status</a>
    </li>
  </ul>
{{/if}}
