<div class="status-circle">
  &#9679;
</div>
{{#external-link-to href="http://www.traviscistatus.com/" class="status-link"}}
  Travis CI Status{{#if showDescription}}: {{description}}{{/if}}
{{/external-link-to}}
