<div class="status-circle">
  ●
</div>
<ExternalLinkTo @href="http://www.traviscistatus.com/" class="status-link">
  Travis CI Status
  <span class="status-description {{if this.showDescription 'status-description--visible'}}">:
    {{this.description}}
  </span>
</ExternalLinkTo>
{{#if this.showTooltip}}
  <EmberTooltip @text={{this.description}} @side="left" />
{{/if}}
