<div class="status-circle">
  ●
</div>
<ExternalLinkTo @href="http://www.traviscistatus.com/" class="status-link">
  Travis CI Status
  <span
    class="status-description
      {{if showDescription "status-description--visible"}}"
  >
    :
    {{description}}
  </span>
</ExternalLinkTo>
{{#if showTooltip}}
  <EmberTooltip @text={{description}} @side="left" />
{{/if}}