<div class="status-circle">
  &#9679;
</div>
{{#external-link-to href="http://www.traviscistatus.com/" class="status-link"}}
  Travis CI Status<span class="status-description {{if showDescription 'status-description--visible'}}">:
    {{description}}
  </span>
{{/external-link-to}}
{{#if showTooltip}}
  {{ember-tooltip text=description side='left' }}
{{/if}}
