<div class="status-circle {{appLoading.fetchTravisStatus.last.value}}">
  &#9679;
</div>
{{#external-link-to href="http://www.traviscistatus.com/" class="status-link"}}
  Travis CI Status
{{/external-link-to}}
