<form onsubmit={{action "submit"}} class="travis-form">
  {{yield
    (hash
      validators=this.validators
      hasErrors=this.hasErrors
      isValid=this.isValid
      submit=(action "submit")
      field=(component "forms/form-field" form=this)
    )
  }}
</form>
