<p class="trial-warning">Looks like {{org}}'s trial has expired.</p>
<p class="trial-cta"><a href="{{config.billingEndpoint}}" title="Take a look at our plans" class="button--blue">Sign up for a plan</a> <span>or send us <a href="mailto:{{config.supportEmail}}" title="Send us a mail">some feedback</a></span></p>
