<button
  data-test-trigger-build-submit="true"
  onclick={{this.onclick}}
  type="button"
  class="trigger-build-button-submit button--blue"
  title="Trigger build"
>
  {{#if this.processing}}
    <LoadingIndicator />
  {{else}}
    Trigger build
  {{/if }}
</button>
