<button
  data-test-trigger-build-submit="true"
  onclick={{this.onclick}}
  type="button"
<<<<<<< HEAD
  class="trigger-build-button button--blue"
=======
  class="trigger-build-button-submit button--blue"
>>>>>>> 4ee2263ac67f860217fd0c59d276c13ee8ca83c0
  title="Trigger build"
>
  {{#if this.processing}}
    <LoadingIndicator />
  {{else}}
    Trigger build
  {{/if }}
</button>
