<div class="notice-banner--red align-center">
  Please check your email and confirm your account. If you need to generate a new confirmation email, <LinkTo @route="account.settings">please resend your confirmation email</LinkTo>.
</div>