<div class='yaml-editor'>
  {{#each annotations as |annotation|}}
    <YamlAnnotation @annotation={{annotation}} />
  {{/each}}

  <div class='backdrop'>
    <div class='highlights'>{{@yaml}}</div>
  </div>
  {{textarea value=@yaml rows=30}}
</div>