.repo-config {
  position: relative;
  margin-top: 1em;
}

.request-configs {
  .request-configs-matrix-notice {
    border: 1px solid $dry-cement;
    margin-bottom: 1em;
  }

  .request-configs-heading {
    color: $cement-grey;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
  }

  .request-configs-heading,
  .travis-form .travis-form__field .travis-form__label {
    margin-bottom: 0.75em;
  }

  .icon-help {
    opacity: 0.85;
    border: 0;
    width: 16px;
    height: 16px;
    path {
      stroke: $cement-grey;
      stroke-width: 2;
    }
  }
}

.request-configs-trigger-build-notice {
  margin: 2em 0;
  padding: 1em;
  border: 1px solid $pebble-grey;

  .request-configs-icon {
    position: relative;
    top: 2px;
    height: 13px;
    width: 16px;
    margin-right: 6px;
    opacity: 0.4;
  }
}

.job-config-notice {
  border: 1px solid $dry-cement;
  margin-bottom: 1em;
  padding: 1em;
}
