.repo-config {
  position: relative;
  margin-top: 3em;
}

.request-configs {
  .request-configs-matrix-notice {
    border: 1px solid $dry-cement;
    margin-bottom: 1em;
  }

  h4 {
    color: $cement-grey;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
  }

  h4, label {
    margin-bottom: 0.75em !important;
  }
}

.request-configs-trigger-build-notice {
  padding: 1em;
  border: 1px solid $pebble-grey;

  .request-configs-icon {
    position: relative;
    top: 2px;
    height: 13px;
    width: 16px;
    margin-right: 6px;
    opacity: 0.4;
  }
}

.job-config-notice {
  border: 1px solid $dry-cement;
  box-shadow: 0 !important;
  margin-bottom: 1em;
  padding: 1em;
}
