.inner-config-container {
  position: relative;
  border: 1px solid $pebble-grey;
  margin-bottom: 1.2em;

  button {
    display: none;
    position: absolute;
    right: 1em;
    top: 1em;
    border: 1px solid $pebble-grey;
    border-radius: 2px;
  }

  &:hover button {
    display: block;

    &:hover {
      border-color: $oxide-blue;
      color: $oxide-blue;

      @include colorSVG($oxide-blue);
    }
  }
}

$config-code-font-size: 12px;
pre.codedisplay[class*='language-'] {
  white-space: pre-wrap;
  background-color: white !important;
  font-size: $config-code-font-size;

  code {
    font-family: $font-family-monospace;
    font-size: $config-code-font-size;
    color: $asphalt-grey;
    line-height: 20px;
  }

  .line-numbers-rows {
    margin-top: -1px;
    border-right: 0px;
    color: $dry-cement;
    font-size: $config-code-font-size;
    line-height: 17px;
  }
}

.job-tabs .paper-block {
  padding: 1em;
}

.header {
  padding: 1em;
  cursor: pointer;

  .icon {
    margin-right: 6px;
  }

  .tools {
    position: absolute;
    right: 1em;
    top: 1em;

    .icon-help {
      margin: 0 3px 3px 0;
    }

    .icon-toggle {
      height: 15px;
      width: 15px;
      margin-right: 7px;
      vertical-align: middle;
      transform: scale(0.9, 1.1);

      path {
        stroke: $cement-grey;
        stroke-width: 1;
      }

      &.icon-expanded {
        transform: scaleY(-1);
      }
    }
  }
}
