.request-messages-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 0.25em;
  border-radius: 50%;

  &.badge-alert,
  &.badge-error {
    background-color: $brick-red;
  }
  &.badge-warn {
    background-color: $canary-yellow;
  }
  &.badge-info {
    background-color: $turf-green;
  }
}

.request-messages {
  @include travisBorder;

  margin: 1.2em 0;

  font-size: $font-size-sm;

  .header {
    position: relative;
    padding: 1em;
    cursor: pointer;

    .icon {
      width: 18px;
      height: 18px;
      margin-bottom: 2px;
    }

    .icon-alert path,
    .icon-error path {
      stroke: $brick-red;
    }
    .icon-warn path {
      stroke: $canary-yellow;
    }
    .icon-info {
      width: 12px;
      height: 12px;
      margin-left: 2px;
      margin-right: 8px;
      opacity: 0.8;
      path {
        stroke: $turf-green;
        stroke-width: 1;
      }
    }

    .tools {
      position: absolute;
      right: 1em;
      top: 1em;

      .icon-toggle {
        height: 15px;
        width: 15px;
        margin-right: 7px;
        vertical-align: middle;
        transform: scale(0.9, 1.1);

        path {
          stroke: $cement-grey;
          stroke-width: 1;
        }

        &.icon-expanded {
          transform: scaleY(-1);
        }
      }

      .icon-help {
        border: 0px;
        transform: scale(0.8);
        path {
          stroke: $cement-grey;
          stroke-width: 2;
        }
      }
    }
  }

  .request-message-link {
    display: block;

    &:hover {
      background-color: $cream-light;
    }
  }

  .request-message-line {
    display: flex;
    align-items: flex-start;

    padding: 6px 1em;

    .icon-level {
      width: 14px;
      height: 14px;
      margin-left: 2px;
    }

    .icon-help {
      width: 18px;
      height: 18px;
    }

    .icon-info {
      @include colorSVGFull($turf-green, $turf-green);
      circle {
        fill: none;
      }
    }

    .icon-warn {
      @include colorSVG($canary-yellow);
      color: inherit;
    }

    .icon-error {
      @include colorSVG($brick-red);
    }

    .icon-alert {
      @include colorSVG($brick-red);
    }

    .message {
      flex-grow: 1;
      margin-left: 6px;
    }

    .message-help svg {
      display: none;
      transform: scale(0.8);
      border-color: $oxide-blue;
      @include colorSVG($oxide-blue);
    }

    &:hover {
      .message-help svg {
        display: block;
      }
    }

    code {
      background-color: $pebble-grey;
      font-family: $font-family-monospace;
      font-size: $font-size-sm - 1px;
      padding: 2px;
      border-radius: 2px;
    }
  }
}
