.request-configs-preview {
  display: flex;

  .left,
  .right {
    align-items: stretch;
    width: 50%;
  }

  .left {
    margin-right: 0.5em;
  }

  .right {
    margin-left: 0.5em;
  }

  .request-configs-heading:first-child {
    margin-top: 0;
  }

  .codedisplay {
    border: 1px solid $dry-cement;
  }
}
