.request-configs-preview-container {
  display: flex;

  .left,
  .right {
    flex-grow: 1;
    align-items: stretch;
    width: 50%;
    padding: 10px 20px;
  }

  .left {
    margin-right: 0.5em;
  }

  .right {
    margin-left: 0.5em;
  }

  .codedisplay {
    border: 1px solid $dry-cement;
  }
}
