<ul class="tabs">
  <li id="tab_hooks" {{bind-attr class="view.classHooks"}}>
    <h5>
      {{#link-to "account" account}}Repositories{{/link-to}}
    </h5>
  </li>
  {{#if view.displayUser}}
    <li id="tab_user" {{bind-attr class="view.classUser"}}>
      <h5>
        {{#link-to "accounts.info"}}Profile{{/link-to}}
      </h5>
    </li>
  {{/if}}
  {{#if config.billingEndpoint}}
    <li id="tab_billing" class="right">
      <h5>
        <a {{bind-attr href="billingUrl"}}>Billing</a>
      </h5>
    </li>
  {{/if}}
</ul>
