<div class="row">
  <div class="small-centered columns" id="loader-container-large">
    <div class="loader-large">
      <div class="load-circle1"></div>
      <div class="load-circle2"></div>
    </div>
    <div class="load-text">
      <p>Hold tight.<br>
      We're consulting the internet.</p>
    </div>
  </div>
</div>
