<div class="wrapper layout-activation">
  <TopBar @isActivation=true/>
  <FlashDisplay />
  <GlobalNotification />
  <div id="main" class="main" role="main">
    {{yield (hash activation-section=(component "layouts/activation-section"))}}
  </div>
</div>
