<div class="wrapper centered">
  <TopBar />
  <FlashDisplay />
  <GlobalNotification @model={{this.model}} />
  <div id="main" class="main main-max" role="main">
    <div class="inner-max">
      {{yield}}
    </div>
  </div>
</div>
