<div class="wrapper">
  <header id="top" class="top">
    <div class="centered">
      {{render "top"}}
    </div>
  </header>

  <div class="centered">
    {{yield}}
  </div>
</div>

<footer>
  {{render "footer"}}
</footer>
