<div class="centered">
  <div class="wrapper wrapper-dashboard">
    <header id="top" class="top">
      
        {{render "top"}}
      
    </header>

    {{yield}}

  </div>

  <footer>
    {{render "footer"}}
  </footer>
</div>
