<header id="top" class="top">
  <div class="centered">
  {{top-bar
    signIn=(route-action 'signIn')
    signOut=(route-action 'signOut')}}
  </div>
</header>

<main class="main main--error" role="main">
  {{yield}}
</main>
