<div class="centered">
  <div class="wrapper wrapper-profile">
    <header id="top" class="top">
      {{render "top"}}
    </header>

    {{render "flash"}}

    <div id="main" class="main" role="main">
      {{yield}}

      {{outlet "left"}}
    </div>
  </div>
</div>
