<div class="wrapper">
  <header id="top" class="top">
    {{render "top"}}
  </header>

  {{render "flash"}}

  <div class="wrapper-main">
    <div id="main" role="main">
      {{yield}}
    </div>
  </div>

  <aside id="left">
    {{outlet "left"}}
  </aside>

</div>
