<div class="wrapper centered">
  <TopBar @activeModel={{this.model}} />
  <FlashDisplay />
  <GlobalNotification @activeModel={{this.model}} />
  <div id="main" class="main" role="main">
    <div class="profile-page inner">
      {{yield}}
    </div>
  </div>
</div>
