<div id="about" class="box">
  <h4>
    How can we help?
  </h4>
  <ul>
    <li>
      <ExternalLinkTo href="http://chat.travis-ci.com">
        Live Chat
      </ExternalLinkTo>
    </li>
    <li>
      <a href="mailto:support@travis-ci.com">
        E-Mail us
      </a>
    </li>
    <li>
      <ExternalLinkTo href="http://docs.travis-ci.com/user/travis-pro">
        Documentation
      </ExternalLinkTo>
    </li>
  </ul>
</div>
