<div id="about" class="box">
  <h4>How can we help?</h4>
  <ul>
    {{#if config.billingEndpoint}}
      <li><a href="#" {{action 'displayCharm' target="Travis"}}>Support Ticket</a></li>
    {{/if}}
    <li><a href="http://chat.travis-ci.com">Live Chat</a></li>
    <li><a href="mailto:support@travis-ci.com">E-Mail us</a></li>
    <li><a href="http://docs.travis-ci.com/user/travis-pro">Documentation</a></li>
  </ul>
</div>

