<section>
  <h2>Billing Information</h2>
  <main>
    <section class='contact'>
      <h3>Billing Contact</h3>
      <address>
        <div class='name'>{{model.billingInfo.firstName}} {{model.billingInfo.lastName}}</div>
      </address>
    </section>
  </main>
</section>
