<div class='migrate'>
  {{#paper-block class='migrate-note'}}
    <p>
      Here you can migrate all your repositories to build on travis-ci.com and make it a single place for all your builds.
    </p>
    <p>
      The process of migration consists of two simple steps:
    </p>
    <ol>
      <li data-step-label='1'>
        Activate repositories on GitHub Apps
      </li>
      <li data-step-label='2'>
        Migrate activated repositories to travis-ci.com
      </li>
    </ol>
    <p>
      Let's begin the Migration!
    </p>
  {{/paper-block}}

  <nav class="travistab-nav--secondary">
    <ul>

      <li>
        {{#link-to 'account.migrate.legacy-services' }}
          <span data-step-label='1'>
            Activate on GitHub Apps
          </span>
        {{/link-to}}
      </li>

      <li class="travistab-nav__arrow">
        {{svg-jar 'icon-arrowtabs'}}
      </li>

      <li>
        {{#link-to 'account.migrate.github-apps' }}
          <span data-step-label='2'>
            Migrate to travis-ci.com
          </span>
        {{/link-to}}
      </li>

    </ul>
  </nav>
  <div class="travistab-body">

    {{outlet}}

  </div>
</div>
