<div class="box">
  <h4>{{t layouts.application.sponsers}}</h4>

  <ul class="sponsors bottom">
    {{#each controller}}
      <li>
        {{{link}}}
      </li>
    {{/each}}
  </ul>

  <p class="hint">
    <a href="https://love.travis-ci.org/sponsors">
      {{{t layouts.application.sponsors_link}}}
    </a>
  </p>
</div>

