---
language: node_js
node_js: 18

env:
  global:
    - PATH=/snap/bin:$PATH
    - JOBS=1
    # See https://git.io/vdao3 for details.

os: linux
dist: focal

addons:
  - chrome: stable

cache:
  npm: false

before_install:
  - git config --global url."https://x-access-token:$GITHUB_PERSONAL_TOKEN@github.com/".insteadOf ssh://git@github.com
  - npm install -g greenkeeper-lockfile@1
  - gem install bundler:2.3.7

install:
  - npm ci

before_script:
  - export RANDOMISE=--random
  - echo $RANDOMISE
  - greenkeeper-lockfile-update

script:
  - ember -v
  - if [ -z "$TRY_CONFIG" ]; then npm run lint:js; fi
  - if [ -z "$TRY_CONFIG" ]; then ember exam --reporter dot $RANDOMISE; fi
  - if [[ ! -z "$TRY_CONFIG" ]]; then ember try:one $TRY_CONFIG --skip-cleanup; fi

after_script:
  - greenkeeper-lockfile-upload
  - "test $TRAVIS_PULL_REQUEST && test $TRAVIS_PULL_REQUEST != 'false' && $TRAVIS_SECURE_ENV_VARS == 'true' && ./config/deployment/deploy-pull-request.sh"

jobs:
  include:
    - if: type = cron
      env: TRY_CONFIG=ember-beta
    - if: type = cron
      env: TRY_CONFIG=ember-data-beta
    - node_js: 18
    - stage: ":ship: it to quay.io"
      dist: focal
      before_install: skip
      install: skip
      before_script: skip
      script: make ship
      if: (branch = enterprise-3.0 and type = push ) OR commit_message =~ /ship:docker/ OR env(SHIP_DOCKER) = true
      after_script: skip
  allow_failures:
    - env: TRY_CONFIG=ember-beta
    - env: TRY_CONFIG=ember-data-beta
