language: ruby
rvm:
  - 1.9.3
before_install:
  - wget http://phantomjs.googlecode.com/files/phantomjs-1.7.0-linux-i686.tar.bz2
  - tar -xf phantomjs-1.7.0-linux-i686.tar.bz2
  - sudo rm -rf /usr/local/phantomjs
  - sudo mv phantomjs-1.7.0-linux-i686 /usr/local/phantomjs
before_script:
  - bundle exec rakep
  - bundle exec rackup -s puma -p 5000 -D
  - sleep 3
script: "bundle exec rspec spec && ./run_jasmine.coffee http://localhost:5000/spec.html"
notifications:
  irc: "irc.freenode.org#travis"
  campfire:
    secure: "JJezWGD9KJY/LC2aznI3Zyohy31VTIhcTKX7RWR4C/C8YKbW9kZv3xV6Vn11\nSHxJTeZo6st2Bpv6tjlWZ+HCR09kyCNavIChedla3+oHOiuL0D4gSo+gkTNW\nUKYZz9mcQUd9RoQpTeyxvdvX+l7z62/7JwFA7txHOqxbTS8jrjc="
