.travis-ci-insights {
  display: block;
  background-color: white;
}

.travis-main {
  color: rgb(57, 170, 208);
  font-size: x-large;
  margin-left: 1rem;
}

.flex-container {
  display: flex;
  margin: 1rem 0rem 1rem 1rem;
  column-gap: 15rem;
  justify-content: flex-start;
  font-weight: bold;
}

.border-color {
  border-color: #cce1ff;
}

.heading {
  font-weight: bolder;
  font-size: x-large;
}
