.heatmap-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  line-height: 1.25;
}
.range-selector-heatmap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.day-label-container {
  display: flex;
  flex-direction: column;
}
.day-label {
  color: black;
  opacity: 0.8;
  font-size: 12px;
}
.day-label-heatmap-container {
  display: flex;
  flex-direction: row;
}
.build-filter-label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  outline: none;
}
.build-filter-label:hover {
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
  margin-left: 10px;
  margin-bottom: -2px;
}
.caret.down {
  border-top-color: black;
}
.box {
  width: 15px;
  height: 15px;
}
.failed {
  background-color: #db4545;
}
.all {
  background-color: #04c2bf;
}
.successful {
  background-color: #32ab52;
}
.errored {
  background-color: #db5c07;
}
.canceled {
  background-color: #4f4f4f;
}
.dropdown-list-builds {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.cal-heatmap-container .graph,
.cal-heatmap-container .graph-legend rect {
  cursor: pointer;
}
