<div class="billing-subscription-user-usage">
  <h3>
    Users
  </h3>
  <p class='used-users'>
    {{this.usedUsers}} Unique users who are running builds
  </p>
  <p class='desc'>
    A user is anyone who triggers the use of the compute resources you will be charged monthly for.
  </p>
</div>
<hr />
