<Modal
  @isVisible={{@isOpen}}
  @onClose={{fn @onClose}}
  @closeButton={{true}}
>
  <div data-test-cancel-subscription-modal="true" class="flex flex--v-center flex--center flex--col cancel-subscription-modal">
    <h2>We’re sorry to see you go</h2>
    <p class="cancel-subscription-modal__message">
      Your cancellation request has been forwarded to Support.<br/>Our Support team will contact you soon.
    </p>
    <div class="full-width">
      <div class="flex flex--v-center flex--center">
          <a data-test-cancel-subscription="true" class="button--red confirm-cancellation-button" {{on 'click' (fn @onClose)}}>
            OK
          </a>
      </div>
    </div>
  </div>
</Modal>
