
<Modal
  @isVisible={{@isOpen}}
  @onClose={{fn @onClose}}
  @closeButton={{true}}
>
  <div data-test-switchtofree-subscription-modal="true" class="flex flex--v-center flex--center flex--col user-statistics-modal">
    <h2>User statistics</h2>
  </div>
</Modal>
