.layout-activation {

  @import "billing-plans";

  .layout-activation-section {
    width: 50%;

    .layout-activation-section__inner {

      width: 50%;
      max-width: $max-width;
      margin: 0 auto;
      padding: $column-gutter/2;
    }

  }

  .text-center {
    position: relative;
    top: 50%;
    left: 50%;
  }

}
