.auth-page
  padding: 70px 0
  text-align: center

  h1
    color: $oxide-blue
    font-size: 36px
    @media #{$medium-up}
      font-size: 50px

.button-auth
  @extend %button
  font-size: 24px
  padding: 0.8em
  font-weight: 300
  background-color: $agate-blue
  color: white
  &:hover,
  &:active
    background-color: $oxide-blue
  
#insufficient-permissions
  width: 850px
  margin: 0 auto
  padding-top: 30px
  // font-family: 'Source Sans Pro', Helvetica, sans-serif
  font-size: 17px
  line-height: 26px
  text-align: center

  .insufficient-permissions-head
    font-size: 35px
    color: #337389
    font-weight: 800
    text-align: center
    padding-bottom: 20px
    margin: 0

  .insufficient-permissions-more
    color: #919191
    font-size: 20px
    font-weight: 400
    text-align: left
    margin: 0px auto
    padding: 0
    width: 600px

  .sad-travis
    border: 0px
    padding-bottom: 30px
    align: center

  .insufficient-permissions-row
    display: inline-block
    clear: all
    padding-top: 30px

  .insufficient-permissions-column
    padding-right: 28px
    max-width: 380px
    display: block
    float: left
    clear: all
