  .billing-plans {
    background-color: #fff;
    margin-bottom: 1em;
    margin-top: 1em;

    &__addons_box {
      background-color: #fff;
      border-radius: 5px;
      padding: 6px 13px;
      border: 1px solid $pebble-grey;
      margin-bottom: 10px;
      width: 208px;
      height: 114px;
      flex-basis: auto;
      margin-right: 5px;

      &--desc {
        color: $cement-grey;
        font-weight: 600;
        font-size: 0.8em;
        margin: 5px 0 12px 0;
        text-transform: uppercase;

        span {
          color: $cement-grey;
          font-size: .8em;
          font-style: italic;
        }
      }

      &--help {
        &:hover {
          border-bottom: 1px solid;
          cursor: pointer;
        }
      }

      &--price {
        margin: 0 0 10px 0;
        font-weight: 300;
        font-size: 1.7em;
        text-align: left;
        color: $oxide-blue;

        span {
          color: $cement-grey;
          font-size: .5em;
        }
      }

      &--name {
        margin: 0px 0 10px 0;
        color: $asphalt-grey;
        font-size: 1em;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &--button {
        display: block;
        max-width: 120px;
        height: 36px;
        margin: 25px auto 0 auto;
      }

      &--cancel {
        color: $asphalt-grey;
        font-weight: 500;
        font-size: 0.8em;
        text-align: center;
        margin: 40px 0 0 0;
      }

      &--link {
        cursor: pointer;
        display: block;
        max-width: fit-content;
        max-width: -moz-fit-content;
        margin: 20px auto 0 auto;
        font-size: 0.7em;
        text-align: center;
        border-bottom: 1px solid transparent;
        color: $oxide-blue;

        &:hover {
          border-bottom-color: $oxide-blue;
        }
      }

      &--link-grey {
        cursor: pointer;
        display: inline-block;
        border-bottom: 1px solid transparent;
        color: $asphalt-grey;
        margin: auto 1px;
        border-bottom-color: $asphalt-grey;
      }

      &:hover {
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
    }

    &__box-v2 {
      background-color: #fff;
      border-radius: 5px;
      padding: 6px 13px;
      border: 1px solid $pebble-grey;
      margin-bottom: 10px;
      width: 230px;
      height: fit-content;
      max-height: 550px;
      flex-basis: auto;
      margin-right: 5px;

      &--desc {
        color: $asphalt-grey;
        font-weight: 500;
        font-size: 0.8em;
        margin: 5px 0 12px 0;

        span {
          color: $cement-grey;
          font-size: .8em;
          font-style: italic;
        }
      }

      &--desclink {
        &:hover {
          border-bottom: 1px solid;
          cursor: pointer;
        }
      }

      &--help {
        &:hover {
          border-bottom: 1px solid;
          cursor: pointer;
        }
      }

      &--price {
        margin: 0 0 25px 0;
        font-weight: 200;
        font-size: 1.7em;
        text-align: center;
        color: $oxide-blue;

        span {
          color: $cement-grey;
          font-size: .5em;
        }
      }

      &--name {
        margin: 8px 0 15px 0;
        color: #000000;
        font-size: 1.25em;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-bold {
          @extend .billing-plans__box-v2--name;
          font-weight: bolder;
        }
      }

      .billing-annual-plans{
        white-space: inherit;
      }

      &--button {
        display: block;
        width: 122px;
        height: 32px;
        margin: 25px auto 0 auto;
        border-radius: 5px;
      }

      &--cancel {
        color: $asphalt-grey;
        font-weight: 500;
        font-size: 0.8em;
        text-align: center;
        margin: 40px 0 0 0;
      }

      &--link {
        cursor: pointer;
        display: block;
        max-width: fit-content;
        max-width: -moz-fit-content;
        margin: 20px auto 0 auto;
        font-size: 0.7em;
        text-align: center;
        border-bottom: 1px solid transparent;
        color: $oxide-blue;

        &:hover {
          border-bottom-color: $oxide-blue;
        }
      }

      &--link-grey {
        cursor: pointer;
        display: inline-block;
        border-bottom: 1px solid transparent;
        color: $asphalt-grey;
        margin: auto 1px;
        border-bottom-color: $asphalt-grey;
      }

      &--button {
        display: block;
        max-width: 120px;
        height: 36px;
        margin: 25px auto 0 auto;
      }

      &--cancel {
        color: $asphalt-grey;
        font-weight: 500;
        font-size: 0.8em;
        text-align: center;
        margin: 40px 0 0 0;
      }

      &--link {
        cursor: pointer;
        display: block;
        max-width: fit-content;
        margin: 20px auto 0 auto;
        font-size: 0.7em;
        text-align: center;
        border-bottom: 1px solid transparent;
        color: $oxide-blue;

        &:hover {
          border-bottom-color: $oxide-blue;
        }
      }

      &--link-grey {
        cursor: pointer;
        display: inline-block;
        border-bottom: 1px solid transparent;
        color: $asphalt-grey;
        margin: auto 1px;
        border-bottom-color: $asphalt-grey;
      }

      &:hover {
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
    }

    &__box-v2:last-child {
      margin-right: 0;
    }

    @media #{$medium-up} {
      &__box {
        flex-basis: 48%;
      }
    }

    @media #{$large-up} {
      &__box {
        flex-basis: 32%;
      }
    }

    @media #{$xlarge-up} {
      &__box {
        flex-basis: 24%;
      }
    }

    &__slider {

      margin-top: 2em;

      p {
        margin-top: 1em;
        text-transform: uppercase;
        color: $cement-grey;
        font-weight: 700;
        font-size: .8em;
      }
    }
  }

  .travis-modal-overlay {
    padding: 0 50px;
  }

  .travis-modal {
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
    .billing-select-plan {
      max-height: fit-content;
      width: max-content;
      h3 {
        font-size: 48px;
        font-weight: 300;
        text-align: center;
      }
  }

  .billing-select-plan {
    h4 {
      margin: 35px 0 28px 0;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      color: $oxide-blue;
      font-size: 12px;
    }

    h3 {
      margin-bottom: 0;
      margin-top: 24px;
    }

    h2 {
      font-size: 16px;
      font-weight: normal;
      color: $asphalt-grey;
      text-align: center;
    }

    .trial-end-warning {
      font-weight: bold!important;
    }

    .switch {
      .switch-inner {
        width: 175px;
        height: 30px;
        margin-left: -5px;
        padding-top: 1px;

        span {
          width: 82px;
          height: 25px;
          line-height: 1.7;
          padding-left: 0;

          span {
            color: $ansi-black;
            font-size: 1.2em;
            font-weight: 500;
          }
        }
      }
      .on {
        padding-left: 1px;
      }
    }

    .switch.active .switch-inner {
      background-color: #d8d8d8;
    }

    .highlight-plan {
      color: $oxide-blue;
      border: 1px solid $oxide-blue;
      box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
    }

    .travistab-nav {
      width: 530px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      a {
        cursor: pointer;
      }

      li {
        width: 250px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
