@mixin statusColors($color, $status, $color2: $color)
  &.#{$status}
    background: linear-gradient(to right, $color2 0%, $color2 9px, white 10px, white 100%) no-repeat
    .branch-name,
    .branch-request a
      color: $color
      &:hover
        border-color: $color
    .branch-name .status-icon g > *,
    .branch-request .icon-request g > *
      fill: $color

.branches
  .small-title
    margin: 1.5em 0 0.7em

.branch-row
  border: 1px solid $cream-dark
  font-size: 16px
  text-align: right
  margin-bottom: .3rem
  color: $grey-dark
  background: linear-gradient(to right, #CACECE 0%, #CACECE 9px, white 10px, white 100%) no-repeat

  .icon
    width: 1.3em
    height: 1.3em
    margin-right: .2em
    display: inline-block
    vertical-align: middle

  .avatar
    display: inline-block
    width: 16px
    height: 16px
    margin-right: .7em
    border-radius: 50%
    vertical-align: middle
    background-color: #E9EBEB

  .row-item
    margin: .2em
    font-size: 16px
    font-weight: 400
    white-space: nowrap
    overflow: hidden
    a
      color: $grey-dark
      text-decoration: none
      &:hover
        text-decoration: underline

  @media #{$medium-up}
    & > div:first-of-type
      width: 26%
      position: relative
      &:after
        content: ""
        @include fadeOut(right, -90deg, $white)
    & > div:nth-of-type(2)
      width: 20%
    & > div:nth-of-type(3)
      width: 20%
    & > div:nth-of-type(4)
      width: 5%
    & > div:nth-of-type(5)
      width: 27%
  @media #{$large-up}
    & > div:nth-of-type(2)
      width: 21%
    & > div:nth-of-type(3)
      width: 21%
    & > div:nth-of-type(4)
      width: 2em
    & > div:nth-of-type(5)
      width: 25%

  @include statusColors($green-dark, 'passed')
  @include statusColors($red-dark, 'failed')
  @include statusColors($red-dark, 'errored')
  @include statusColors($grey-medium, 'canceled')
  @include statusColors(#bfb502, 'started', #e5da3f)
  @include statusColors(#bfb502, 'queued', #e5da3f)
  @include statusColors(#bfb502, 'booting', #e5da3f)
  @include statusColors(#bfb502, 'received', #e5da3f)
  @include statusColors(#bfb502, 'created', #e5da3f)

%row-element
  vertical-align: middle
  @media #{$medium-up}
    display: inline-block
  .row-item
    vertical-align: middle

.two-line
  @extend %row-element
  padding: .4em 0
  margin-left: 2em
  text-align: left

  @media #{$medium-up}
    margin-left: 0

.one-line
  @extend %row-element
  .row-item
    display: inline-block
  .branch-nav
    display: none
    text-align: center
    @media #{$medium-up}
      display: block

.branch-last-build
  @media #{$medium-up}
    padding-left: 1em
    &:before
      content: "";
      display: block;
      width: 1px;
      background-color: #EFF0EC;
      position: absolute;
      height: 3.7em;
      margin-left: -1em;

// @todo refactor into dropup module
%dropup
  @media #{$medium-up}
    position: absolute
    display: none
    z-index: 5
    background-color: $white
    border-radius: 2px
    
    &:after,
    &:before
      content: ""
      position: absolute
      display: block
      width: 7px
      height: 7px
      left: 0
      right: 0
      margin: 0 auto
      transform: rotate(45deg)
    &:after
      background-color: $white
    .dropup-trigger:hover ~ &,
    .dropup-trigger:hover &,
    &:hover
      display: block

.dropup--blue
  @extend %dropup
  &:before
    background-color: $teal-dark
    bottom: -5px
  &:after
    bottom: -4px
  ul
    margin: 0
    padding: 0
    list-style-type: none
    text-align: center
  li
    display: inline-block
    margin: 2em 0
    background: $teal-dark
    border-radius: 2px
  a
    display: inline-block
    padding: 0.3em 0.5em
    color: $white
    text-decoration: none
  .icon-trigger path,
  .icon-eye path
    fill: $white
    
  @media #{$medium-up}
    width: 10em
    left: 0
    padding: .3em
    transform: translate(-42%, -170%)
    border: 1px solid $teal-dark
    li
      display: block
      margin: 0
      background-color: $white
      border-radius: 0
      cursor: pointer
    .icon-trigger path,
    .icon-eye path
      fill: #A7AEAE
    a
      display: block
      padding: 0.3em .5em 0.4em
      text-decoration: none
      color: $grey-dark
      &:hover
        color: $white
        background-color: $teal-dark
        .icon-trigger path,
        .icon-eye path
          fill: $white

  .dropup-item
    display: inline-block
    vertical-align: middle
  .no-link
    padding: .4em 0
    cursor: default

.dropup--status
  @extend %dropup
  left: 0
  right: 0
  margin: auto
  display: none
  &:after
    bottom: -3px
  &:before
    bottom: -4px
  @media #{$medium-up}
    top: -2.3em
    width: 4.1em
    padding: .1em .1em
    white-space: nowrap
    font-size: 14px;
    border: 1px solid $red-dark
    &:before
      background-color: $red-dark

.dropup-trigger
  padding: 1em 0
  path
    fill: $teal-dark

.label-align
  vertical-align: middle
  line-height: 1.4

// @todo refactor to status-icon module
.status-icon
  .is-rotating
    width: 17px
    height: 19px
    line-height: 0.9
    text-align: center
    transform-origin: center center
    will-change: transform
    animation: rotation 3s infinite ease
    .circle
      display: inline-block
      vertical-align: middle
      width: 5px
      height: 5px
      border: solid 1px #bfb502
      border-radius: 50%
      transform-origin: center center

@keyframes rotation
  0%
    transform: rotateZ(0deg)
  45%, 55%
    transform: rotateZ(180deg)
  100%
    transform: rotateZ(360deg)

.is-relative
  position: relative

span.nobuilds-tigger,
a.nobuilds-tigger
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 2em
  width: 11em
  margin: auto
  padding: 0.35em 0.5em 0.2em
  line-height: 1
  text-align: center
  border: 1px solid #E4E6E6
  border-radius: 2px
  background-color: #fff
  .icon-trigger
    height: 1.4em !important

a.nobuilds-tigger
  &:hover
    background: #A6ADAD
    color: white
    .icon-trigger svg path
      fill: #fff


