@mixin colorTiles($color)
  .tile-status
    background-color: $color
  .repo-header-title a,
  .repo-build-status a
    color: $color


.repo
  font-size: $font-size-normal
  color: $grey

.repo-header
  header
    margin: 1rem 0 3rem
    > *
      vertical-align: middle

  &.started,
  &.created
    @include colorTiles($start-color)
  &.failed
    @include colorTiles($fail-color)
  &.errored
    @include colorTiles($error-color)
  &.canceled
    @include colorTiles($cancel-color)
  &.passed
    @include colorTiles($pass-color)
  &.inactive
    @include colorTiles($cancel-color)

.repo-header-title
  @extend %inline-block
  margin: 0
  font-weight: 400
  font-size: 35px
  a:hover
    text-decoration: underline

.repo-header-icons
  line-height: 1
  vertical-align: middle
  a
    @extend %inline-block
    height: 1.7em
    margin-left: .7em
  .icon
    width: 1.5em
    height: 100%
    position: relative
    top: 0.65em

  @media #{$medium-up}
    @extend %inline-block

.repo-menus
  @media #{$medium-up}
    .dropdown
      position: absolute
      top: -1.1em
      right: 0
      z-index: 50
    .tabnav
      position: absolute
      top: -0.6em
    .repo-menu-header
      position: relative
      height: 1.6em
      margin-bottom: 1em
      border-bottom: solid $cream-dark 2px

.repo-main-commit
  &,
  small
    margin: 0
    font-weight: 400
    font-size: $font-size-big
    color: $grey3
    line-height: 1
  small
    margin-right: .3em
    font-weight: 600

.repo-main-description
  .body
    display: block
    font-size: 13px
    font-family: Monaco, monospace
    margin-top: 0.6em
    overflow: hidden
    word-break: break-word
    white-space: pre-wrap
    color: $grey2

.repo-main-info
  @include resetul
  padding-right: 2em
  margin-right: 1.4em
  border-right: $cream-dark 1px solid
  line-height: 1.8
  a
    color: $grey
    white-space: nowrap
    &:hover
      text-decoration: underline

.repo-main-tools
  position: absolute
  top: 0
  bottom: 0
  right: 0
  a
    display: block
    margin-bottom: .5em
    text-align: center
    background-color: $grey1
    &:hover
      background-color: darken($grey, 10)
  .icon
    width: 1em
    height: 1.4em
    vertical-align: middle
  .icon--cancel
    height: 1.1em
  .icon--codeclimate
    width: 1.2em
