@mixin colorTiles($color)
  .tile-status
    background-color: $color
  .repo-header-title a,
  .repo-build-status a
    color: $color


.repo
  font-size: $font-size-normal
  color: $grey
  // a
  //   color: $grey

.repo-header
  header
    margin: 1rem 0 2rem
    > *
      vertical-align: middle

  &.started,
  &.created
    @include colorTiles($start-color)
  &.failed
    @include colorTiles($fail-color)
  &.errored
    @include colorTiles($error-color)
  &.canceled
    @include colorTiles($cancel-color)
  &.passed
    @include colorTiles($pass-color)
  &.inactive
    @include colorTiles($cancel-color)

.repo-header-title
  @extend %inline-block
  margin: 0
  font-weight: 400
  font-size: $font-size-xxl
  &:hover
    text-decoration: underline

.repo-header-icons
  line-height: 1
  vertical-align: middle
  a
    @extend %inline-block
    height: 1.7em
    margin-left: .7em
  .icon
    width: 1.5em
    height: 100%
    position: relative
    top: 0.65em

  @media #{$medium-up}
    @extend %inline-block

.repo-menus
  @media #{$medium-up}
    .dropdown
      float: right
    .tabnav
      float: left
      margin-bottom: .5em
    .tabbody
      clear: both

.repo-main-commit
  &,
  small
    margin: 0
    font-weight: 400
    font-size: $font-size-big
    color: #818181
    line-height: 1
  small
    margin-right: .3em
    font-weight: 600

.repo-main-description
  .body
    display: block
    font-size: 12px
    font-family: Monaco, 'Liberation Mono', Courier, monospace
    margin-top: 0.6em
    overflow: hidden
    word-break: break-word
    white-space: pre-wrap

.repo-main-author
  img
    width: 21px
    height: 21px
    margin-right: .4em
    vertical-align: middle
    border-radius: 50%
  @media #{$medium-up}
    position: absolute
    bottom: 0

.repo-main-info
  @include resetul
  padding-right: 2em
  margin-right: 1.4em
  border-right: $cream-dark 1px solid
  line-height: 1.8
  a
    color: $grey
    &:hover
      text-decoration: underline

  .icon
    margin-right: .3em
    height: 1.3em
    vertical-align: middle

.repo-main-tools
  position: absolute
  top: 0
  bottom: 0
  right: 0
  a
    display: block
    margin-bottom: .5em
    text-align: center
    background-color: $grey
    &:hover
      background-color: darken($grey, 10)
  .icon
    width: 1em
    height: 1.4em
    vertical-align: middle
  .icon--codeclimate
    width: 1.2em
