.caches
  @include resetul
  margin-top: 1rem
  font-size: $font-size-sm
  color: $grey-medium
  clear: both

  .tile-xs
    padding-left: 0


  .push
    .icon--grey
      @extend .icon--grey.push
      width: 1.2em;
      height: 0.8em;
  .pull_request
    .icon--grey
      @extend .icon--grey.pull_request
      width: 1em;
      height: 1.5em;

  .icon--grey
    margin-right: .3em

  .button--delete
    transform: translateY(-0.2em);

  @media #{$medium-up}
    .caches-branch
      position: relative
      overflow: hidden
      width: grid-calc(4, 13)
      &:after
        content: ""
        @include fadeOut(right, -90deg, $cream-light)
    .caches-date
      width: grid-calc(4, 13)
    .caches-size
      width: grid-calc(4, 13)
    .caches-button
      text-align: right
      width: grid-calc(1, 13)

.delete-repo-caches
  margin-top: 1rem

.caches-header
  overflow: auto
  .build-title
    float: left
    margin: 1.1em 0 .5em
    a:hover
      text-decoration: underline
  .button--delete
    float: right

.caches-helptext
  @extend %helptext

.caches-title
  @extend %helptext
  @extend %section-title
  @include clearfix
  float: left
  margin: 1em 0 .5em

