/*
 * Dashboard List 
 */

@mixin colorDbelements($color)
 .db-status
   background-color: $color
 .db-repo
   h2, h3, a
     color: $color
 .db-job
   color: $color
   a
     color: $color

%br-4px
 border-radius: 4px

$db-gray: #C9C9C9
$db-text-color: #ACAAAA

.dashboard
  color: $db-text-color
  hr
    max-width: 1024px
    margin: auto
    border-top: none
    border-bottom: $db-gray dashed 1px

.wrapper-dashboard
  background-color: $wrapper-bg-color

.dashboard--empty
  padding: 2em 5em
  background: #E8E6DE
  color: $db-gray
  font-size: 20px
  font-weight: 300
  text-align: center
  @extend %br-4px
  p .icon
    width: 1.5em
    height: 1.5em
    transform: translate(-20%, 18%)

.db
  position: relative
  margin-bottom: 1em
  background: $white
  @extend %br-4px

  h2, h3, p
    margin: 0
    font-weight: 400
    white-space: nowrap

  .icon
    position: absolute
    left: 0
    top: 0
    bottom: 0
    margin: auto

  &.started,
  &.created
    @include colorDbelements($start-color)
  &.failed
    @include colorDbelements($fail-color)
  &.errored
    @include colorDbelements($error-color)
  &.canceled
    @include colorDbelements($cancel-color)
  &.passed
    @include colorDbelements($pass-color)
  &.inactive
    @include colorDbelements($cancel-color)

.db-repo
  padding-left: 3em
  transform: translateY(0.4em)
  overflow: hidden
  margin-bottom: 1em
  &:after
    content: ""
    display: block
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 3em
    background: linear-gradient(-90deg, $white 40%, rgba($white, 0))

.db-status
  position: absolute;
  top: 0
  left: 0
  height: 100%
  width: 2.5em
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px

  .icon
    width: 1.1em
    height: 1.1em
    right: 0
  .icon-status
    top: -6em
  .icon-star
    top: -2em
    opacity: .9

.db-controls
  line-height: 2.2
  p,
  button
    display: inline-block
  button
    margin-left: 1em

  .icon
    width: 1.4em
    height: 1.4em

.db-job,
.db-branch,
.db-commit,
.db-timeago
  position: relative
  padding-left: 2.2em
  z-index: 30
  overflow: hidden

.db-lock
  position: absolute
  left: -2.1em;
  top: 1.2em;
  .icon
    width: 1em
    height: 1em

.db-activation
  margin: 1em 0 .5em
  text-align: right
  padding-right: 0
  @media #{$medium-up}
    margin: 0

.db-burger
  position: absolute;
  top: 0
  right: 0
  height: 4em
  width: 4em
  cursor: pointer
  z-index: 30
  .icon
    width: 2em
    height: 2em
    right: 0

.dropdown--db
  display: none

.db-burger:hover ~ .dropdown--db,
.dropdown--db:hover
  display: block

.dashboard-starred,
.dashboard-active,
.dashboard-inactive
  padding: 0 3em
  margin: 3em 0 3em

.dashboard-starred
  .db
    padding-bottom: .2em
    @media #{$medium-up}
      width: grid-calc(17, 36)
      &:nth-child(2n)
        float: right
      &:nth-child(2n + 1)
        float: left
  .db-controls
    padding-left: 3em

.dashboard-active,
.dashboard-inactive
  .db
    padding-bottom: 0.2em;
  .db-repo,
  .db-controls
    padding-left: 4em
  @media #{$medium-up}
    .db
      height: 57px
    .db-repo
      padding-left: 4em
    .db-controls
      padding-left: 2em
      line-height: 3em
      transform: translateY(26%)
      border-left: 1px solid $db-gray
    .db-burger
      height: 100%
    .db-status
      .icon-status
        top: -2em
      .icon-star
        bottom: -4em

.dashboard-inactive
  margin-bottom: 5em
  .db
    h2, h3, p, button, .db-status
      opacity: .7

.topbar
  background-color: none !important
