.repo-list
  list-style: none
  padding: 0

.dashboard .centered
  @media #{$small-only}
    padding: 0 1em

.dashboard-header
  width: 100%
  display: flex
  flex-flow: column-reverse wrap
  justify-content: space-between
  padding: 2em 0
  @media #{$medium-up}
    flex-direction: row
    align-items: baseline

.dashboard-repos
  padding-bottom: 5rem

.dashboard-section
  margin-bottom: 4rem

.starred-empty
  border: dotted 1px $cement-grey
  border-radius: 2px
  text-align: center
  padding: 2rem 0
  font-size: 18px
  color: $cement-grey
  span
    padding-left: 2em
    background-size: 24px 24px
    background-repeat: no-repeat
