// These are copied from styleguide 😐
$styleguide-color-grey-dark: #666666;
$styleguide-color-grey-light: #f1f1f1;
$styleguide-color-black: #333;

$styleguide-font-weight-light: 300;
$styleguide-font-weight-normal: 400;
$styleguide-font-weight-bold: 600;

$styleguide-font-size-smaller: 12px;
$styleguide-font-size-small: 14px;
$styleguide-font-size-title: 20px;

$styleguide-layout-gutter: 2rem;
$styleguide-layout-max-width: 1024px;

$styleguide-small: 420px;
$styleguide-medium: 800px;

.footer {
  position: relative;
  background: white;
  @media (max-width: $styleguide-medium) {
    padding: 0 0 $styleguide-layout-gutter;
  }
  @media (min-width: $styleguide-medium) {
    padding: math.div($styleguide-layout-gutter, 2) 0;
  }
  svg {
    width: 74px;
    height: 24px;
  }
  ul,
  address {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: $styleguide-font-size-smaller;
    font-style: normal;
    color: $styleguide-color-black;
    line-height: $styleguide-font-size-title;
  }
  address {
    line-height: $styleguide-font-size-title + 1px;
  }
  a {
    display: inline-block;
    vertical-align: middle;
    &:hover,
    &:active {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: underline dotted;
    }
  }
  .layout-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.dashboard,
.profile-view,
.wrapper.centered,
.landing-pro,
.layout--center,

.footer-elem {
  @media (max-width: $styleguide-small) {
    flex: 0 0 100%;
  }
  @media (min-width: $styleguide-small) and (max-width: $styleguide-medium) {
    flex: 1 0 50%;
    margin-top: 1.5rem;
  }
  @media (min-width: $styleguide-medium) {
    padding-right: 20px;
    padding-top: 2px;
    &:last-of-type {
      padding-right: 0;
    }
    &:first-of-type {
      padding-right: 54px; // todo
      padding-top: 0;
    }
  }

  .travis-footer {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;

    span {
      margin-top: 3px;
      margin-left: 2px;
    }
  }
}

.footer-title {
  margin: 0 0 0.7rem;
  padding-top: 0.5rem;
  font-size: $styleguide-font-size-small;
  font-weight: $styleguide-font-weight-bold;
  text-transform: uppercase;
  color: $styleguide-color-grey-dark;
}

