/*
 * Footer on the dashboard
 */

$footer-bg: #e0e0e0
$blue-grey: #8f9ba2

.footer
  position: relative
  padding          : 20px 0
  background-color : $footer-bg
  font-size        : 12px
  line-height      : 22px
  color: #404650

  a
    display: inline-block
    vertical-align: middle
    color: #404650
    text-decoration: none
    &:hover,
    &:active
      text-decoration : underline

  h3
    font-size   : 15px
    margin  : 0 0 10px 0
    padding-top : 6px
    font-weight : 400
    color       : $blue-grey
    border-top  : solid 4px #ccd0d5

  ul
    padding: 0
    margin: 0
    list-style: none


  .inner
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: flex-start

  .footer-elem
    flex: 1 0 70%
    margin-left: 1em
  @media #{$medium-up}
    .footer-elem
      flex: 0 1 16%
      margin-left: 1em
      &:first-of-type
        flex: 1 1 45%
        margin-left: 0

.status-circle
  display      : inline-block
  height       : 11px
  width        : 11px
  text-indent  : -9999px
  margin-right : 5px
  border-radius: 100px
  vertical-align: middle
  &.none
    background: #2fcc66
  &.degraded
    background: #f1c40f
  &.minor
    background: #e67e22
  &.major
    background: #e74c3c

