.landing
  width: 100%


.inner
  margin: auto
  max-width: 1024px
  padding: 0 $column-gutter/2


.h1
  font-size: 50px
  color: #408692 !important
  font-weight: 300
  margin: 0

%h2
  font-size: 40px
  font-weight: 300
  line-height: 1.2

.h2--green
  @extend %h2
  color: #39A85B

.h2--teal
  @extend %h2
  color: #408692

.h3
  font-size: 22px
  font-weight: 300

.text-big
  font-size: 26px
  font-weight: 300
  line-height: 1.55

.text-small
  font-size: 18px

.hero-button
  display: inline-block
  background:
    color: #39A85B
    image: inline-image('landing-page/sign-in-mascot.svg')
    size: 1.7em
    position: 0.8em center
    repeat: no-repeat
  padding: 0.9em 1em 0.9em 3em
  margin: 0 auto
  color: white
  border-radius: 2px
  font-size: 27px
  text-decoration: none
  &:hover
    color: white
    background-color: #73c78d


.section--grey
  background-color: #F6F6F6

.section--white
  background-color: white

.section--center
  text-align: center


.section--feature
  .inner
    display: flex
  
  .section-list,
  .section-text
    flex: 1 0 50%


.section--hero
  .inner
    display: flex
  
  .section-image,
  .section-text
    flex: 1 0 50%

%list
  list-style: none
  padding: 0
  margin: 0


.list--customers
  @extend %list
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  li
    flex: 1 0 20%

.list--languages
  @extend %list
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  li
    flex: 0 0 9%

.list--check
  @extend %list
  li
    @extend .text-big
    &:before
      content: ""
      display: inline-block
      height: 1.2em
      width: 1.2em
      margin-right: .3em
      vertical-align: middle
      background:
        image: url(../images/line-icons/icon-passed.svg)


.list--features
  @extend %list
  display: flex
  justify-content: space-around
  flex-wrap: wrap

  li
    flex: 0 0 50%


.landing-pro

  [class^="customer-"]
    display: block
    height: 5em
    text-indent: -999%
    overflow: hidden
    background:
      repeat: no-repeat
      size: 12em 2em
      position: center center

  .customer-zendesk
    background-image: url(../images/pro-landing/customer-logos-zendesk.svg)
  .customer-heroku
    background-image: url(../images/pro-landing/customer-logos-heroku.svg)
  .customer-engineyard
    background-image: url(../images/pro-landing/customer-logos-engineyard.svg)
  .customer-bittorrent
    background-image: url(../images/pro-landing/customer-logos-bittorrent.svg)
  .customer-moz
    background-image: url(../images/pro-landing/customer-logos-moz.svg)


  [class^="language-"]
    display: block
    height: 3.5em
    width: 3.5em
    margin: 0 auto .5em
    background:
      repeat: no-repeat
      size: 100%
      position: center center

  .language-clojure
    background-image: url(../images/pro-landing/lang-clojure.svg)
  .language-node
    background-image: url(../images/pro-landing/lang-nodejs.svg)
  .language-php
    background-image: url(../images/pro-landing/lang-php.svg)
  .language-xcode
    background-image: url(../images/pro-landing/lang-xcode.svg)
  .language-ruby
    background-image: url(../images/pro-landing/lang-ruby.svg)
  .language-python
    background-image: url(../images/pro-landing/lang-python.svg)
  .language-java
    background-image: url(../images/pro-landing/lang-java.svg)
  .language-erlang
    background-image: url(../images/pro-landing/lang-erlang.svg)
  .language-go
    background-image: url(../images/pro-landing/lang-go.svg)
  .language-scala
    background-image: url(../images/pro-landing/lang-scala.svg)
  .language-perl
    background-image: url(../images/pro-landing/lang-perl.svg)



