.landing-pro

  @mixin linkStyle
    a
      text-decoration: none
      border-bottom: 1px solid #bfc0c1
      padding-bottom: 0.1em
      &:hover,
      &:active
        color: #303030
        text-decoration: none
        border-color: transparent

  .wrapper
    width: 100%
    padding-bottom: 0
    margin-bottom: 0

  .landing-footer
    margin-top: 0

  .inner
    margin: auto
    max-width: 1024px
    padding: 0 $column-gutter/2

  .h1
    font-size: 64px
    color: #408692 !important
    font-weight: 300
    margin: 0
    line-height: 1.3

  %h2
    margin: 0 0 .5em
    font-size: 32px
    font-weight: 300
    line-height: 1.3

  .h2--green
    @extend %h2
    color: #39A85B

  .h2--teal
    @extend %h2
    margin-bottom: 1em
    color: #408692

  .h3
    margin: .5em 0
    font-size: 20px
    font-weight: 300

  .text-big
    font-size: 20px
    font-weight: 300
    line-height: 1.55

  .text-small
    @include linkStyle
    margin: 0 0 2.5em

  .landing-button
    display: inline-block
    padding: 0.9em 1em
    margin: 0 auto
    color: white
    border-radius: 2px
    font-size: 27px
    text-decoration: none
    background-color: #39A85B
    &:hover
      color: white
      background-color: #73c78d

  .hero-button
    @extend .landing-button
    padding: 0.9em 1em 0.9em 3em
    background:
      image: inline-image('landing-page/sign-in-mascot.svg')
      size: 1.7em
      position: 0.8em center
      repeat: no-repeat

  .hero-computer
    width: 100%
    height: 35em
    margin-top: 3em
    @media #{$medium-up}
      position: absolute
      margin-top: 0
      transform: translateY(-.1rem)

  .section--grey
    padding: 4rem 0 5rem
    background-color: #F6F6F6

  .section--white
    padding: 6rem 0
    background-color: white

  .section--center
    text-align: center

  .section--feature
    .inner
      display: flex
      justify-content: space-between
      flex-direction: column-reverse
      @media #{$medium-up}
        flex-direction: row
    
    .section-list,
    .section-text
      flex: 0 0 50%
      @media (min-width: 54em)
        flex: 0 0 47%


  .section--hero
    .inner
      display: flex
      justify-content: space-between
      flex-direction: column
      @media #{$medium-up}
        flex-direction: row
    
    .section-text
      flex: 0 0 47%
      text-align: center
      @media #{$medium-up}
        text-align: left
    .section-image
      flex: 0 0 50%

    .section-image
      position: relative

    .text-big
      margin: 0.8em 0 1.7em

  %list
    list-style: none
    padding: 0
    margin: 0

  .list--customers
    @extend %list
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    align-items: center
    width: 80%
    margin: 2em auto 0
    li
      flex: 0 0 9em
      margin-bottom: 3em
      @media #{$medium-up}
        margin-bottom: 0

  .list--languages
    @extend %list
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    li
      flex: 0 0 5em

  .list--check
    @extend %list
    li
      @extend .text-big
      line-height: 1.65
      &:before
        content: ""
        display: inline-block
        height: 1.2em
        width: 1.2em
        margin-right: .3em
        vertical-align: middle
        background:
          image: inline-image('line-icons/icon-passed.svg')

  .list--features
    @extend %list
    display: flex
    justify-content: space-between
    flex-flow: column wrap
    margin-top: 5em
    @media #{$medium-up}
      flex-flow: row wrap
      margin-top: 1em
    li
      flex: 0 0 15em

  [class^="feature-"]
    display: block
    height: 2em
    width: 2em
    margin: auto

  [class^="language-"]
    display: block
    height: 3.5em
    width: 3.5em
    margin: 0 auto .5em



