
.insights-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .insights-dates {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .insights-control-divider {
    margin: 0 .5rem;
    color: $dry-cement;
  }

  .insights-privacy-selector__selected {
    font-weight: 700;
  }

  .ember-power-select-trigger {
    display: inline-block;
    vertical-align: middle;
    border: none;
    padding: 0 20px 0 0;
    line-height: 1.45;

    .ember-power-select-selected-item {
      font-weight: 700;
    }
  }

  .travistab-nav.travistab-nav--insights {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0 1.5rem 0;

    a {
      color: $cement-grey;
      cursor: pointer;
    }

    a:hover,
    a:active,
    li.active a {
      color: $asphalt-grey;

      &:after {
        background-color: $asphalt-grey;
      }
    }
  }
}

.insights-grid {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, minmax(50px, 1fr));

  @media #{$medium-up} {
    grid-gap: 40px 4%;
  }

  .insights-grid__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;

    > h2 {
      color: $oxide-blue;
      font-size: 40px;
      font-weight: 300;
      margin: 55px 0 15px 0;
    }

    > p {
      padding: 0 10%;
      font-size: 18px;
    }
  }
}

.insights-glance {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $pebble-grey;
  box-shadow: 0 0 8px 0 $dry-cement;
  overflow: hidden;
  grid-column: span 4;

  @media #{"only screen and (min-width: 35em)"} {
    grid-column: span 2;
  }

  @media #{$medium-up} {
    grid-column: span 1;
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }

  &__center {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  &__stat {
    font-size: 27px;
    font-weight: 300;
    color: $cement-grey;

    .insights-glance__center & {
      margin-right: 8px;
    }

    .loading-indicator {
      font-size: 9px;
    }
  }

  &-delta {
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12px;
    background-color: $pebble-grey;
    cursor: default;

    svg {
      width: 10px;
      height: 10px;
      margin: 0;
    }

    &[data-dir='+'] {
      color: $turf-green;
      background-color: $seed-green;
      svg {
        transform: rotate(180deg);
        path {
          stroke: $turf-green;
        }
      }
    }

    &[data-dir='-'] {
      color: $brick-red;
      background-color: $quartz-red;
      svg path {
        stroke: $brick-red;
      }
    }
  }

  &__chart-placeholder {
    margin: 33px 0 12px 0;
    border: none;
    border-bottom: 1px solid transparent;
  }
}

.insights-odyssey {
  grid-column: span 4;
  overflow: hidden;
  position: relative;

  @media #{$medium-up} {
    grid-column: span 4;
  }

  &__title {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 5px 0;
  }

  &--loading .insights-odyssey__chart {
    padding-bottom: 35%;
    background-color: #fdfdfd;
    background-image: linear-gradient(to bottom, rgba($dry-cement, 1) 0px,rgba($dry-cement, 0) 1px,rgba($dry-cement, 0) 60px);
    background-size: 100% 60px;
    background-repeat: repeat;
  }

  .insights-odyssey__loading-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-indicator i {
      width: 20px;
      height: 20px;
    }
  }
}