
.travistab-nav.travistab-nav--insights {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;

  a {
    color: $cement-grey;
    cursor: pointer;
  }
}

.insights-row {
  display: grid;
  grid-gap: 3.125%;
  grid-template-columns: 1fr;

  @media #{$medium-up} {
    grid-template-columns: repeat(4, 1fr);
  }
}

.insights-row-item {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $pebble-grey;
  box-shadow: 0 0 8px 0 $dry-cement;

  .insights-row-item__title {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }

  .insights-row-item__stat {
    font-size: 1.4rem;
    font-weight: 200;

    .insights-row-item--loading & {
      color: $ansi-red;
    }
  }

  .insights-row-item__chart-placeholder {
    margin: 33px 0 12px 0;
    border: none;
    border-bottom: 1px solid $pebble-grey;
  }
}