.jobs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
}

.jobs-item {
  border: 1px solid $cream-dark;
  margin-bottom: 5px;
  display: flex;
  flex-flow: column nowrap;

  @media #{$medium-up} {
    flex-flow: row nowrap;
  }

  @each $state, $colorMap in $stateMap {
    @include colorJobs(map-get($colorMap, color), $state, 3px, map-get($colorMap, color-bg));
    @include colorFadeOut($state, map-get($colorMap, color-bg));
  }

  a {
    display: block;
    padding-left: 1em;

    @media #{$medium-up} {
      display: flex;
      flex-flow: row nowrap;
      flex: 1 0 90%;
      justify-content: flex-start;
      align-items: center;
      height: 34px;
      min-width: 0;
    }
  }

  &:hover {
    a {
      margin-left: -2px;
    }
  }

  .repo-main-tools {
    flex: 0 0 3rem;
    justify-content: flex-end;
    align-items: center;
  }
}

.section-title {
  font-size: 16px;
  color: $cement-grey;
  font-weight: 400;
  margin: 3rem 0 1rem;
}

.travistab-body section:first-child {
  .section-title, .stage-duration {
    margin-top: 2rem;
  }

  .jobs-list:first-child {
    margin-top: 1.4rem;
  }
}

.stage .section-title {
  @extend .small-title;
}

.stage .stage-header {
  display: flex;
  justify-content: space-between;

  h2 .icon {
    margin-bottom: 3px;
  }

  &.passed h2 {
    color: $turf-green;

    @include colorSVG($turf-green);
  }

  &.failed, &.errored {
    h2 {
      color: $brick-red;

      @include colorSVG($brick-red);
    }
  }

  &.canceled {
    h2 {
      color: $cement-grey;

      @include colorSVG($cement-grey);
    }
  }

  .stage-duration {
    @extend .section-title;

    width: 13.7rem;
    padding-left: 0.3rem;

    svg {
      font-size: 15px;
    }
  }
}

.stage {
  aside {
    color: $asphalt-grey;
    margin-top: 1rem;
    opacity: 0.5;
  }
}

.spaced + .stage {
  .stage-header h2, .stage-duration {
    margin-top: 1.5rem;
  }
}

.job-state {
  display: inline-block;

  @media #{$medium-up} {
    flex: 0 0 2em;
  }
}

.job-number {
  display: inline-block;
  white-space: nowrap;

  @media #{$medium-up} {
    flex: 0 0 7em;
    padding-right: 1em;
    border-right: 1px solid $cream-dark;
  }
}

.job-os {
  position: relative;
  pointer-events: none;

  .icon {
    width: 18px;
    height: 20px;
  }

  @media #{$medium-up} {
    margin-left: 10px;
    padding: 0.3em 0.5em 0.5em 0.5em;
    pointer-events: initial;

    .icon {
      padding-left: 0;
      text-indent: 999%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &.unknown .icon {
    @include colorSVGFill($cement-grey);
  }
}

.job-name {
  overflow: hidden;

  @media #{$medium-up} {
    flex: 1 0 40%;
    position: relative;
    padding: 0.3em 0.5em 0.5em 0.7em;
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      @include fadeOut(right, -90deg, white);
      top: -1px;
    }
  }
}

.job-lang {
  overflow: hidden;

  @media #{$medium-up} {
    flex: 1 0 20%;
    position: relative;
    padding: 0.3em 0.5em 0.5em 0.7em;
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      @include fadeOut(right, -90deg, white);

      top: -1px;
    }
  }
}

.job-arch {
  overflow: hidden;

  @media #{$medium-up} {
    position: relative;
    padding: 0.3em 0.3em 0.5em 0.7em;
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.job-env {
  @media #{$medium-up} {
    flex: 1 0 30%;
    position: relative;
    max-width: 23em;
    margin-left: -1em;
    padding: 0.3em 0.5em 0.5em 1.2em;
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;

    &:after {
      @include fadeOut(right, -90deg, white);
    }

    &:hover {
      &:after {
        background: none;
      }
      white-space: normal;
    }
  }

  @media #{$xlarge-up} {
    flex: 2 0 20em;
    max-width: 39em;
  }

  @media #{$xxlarge-up} {
    max-width: 48em;
  }

  &.is-empty {
    opacity: 0.5;
  }
}

.centered .jobs:not(.stage) {
  @media #{$xlarge-up} {
    .job-name {
      flex: 0 0 42em;
    }

    .job-env {
      flex: 0 0 21.5em;
    }

    .job-lang {
      flex: 0 0 21.5em;
    }
  }
}

.job-duration {
  flex: 0 0 10rem;
  white-space: nowrap;
}
