=colorFadeOut($status, $color)
  @media #{$medium-up}
    &.#{$status}:hover
      .job-lang,
      .job-env
        &:after
          @include fadeOut(right, -90deg, $color)
      .job-lang:hover,
      .job-env:hover
        overflow: visible
        z-index: 80
        .label-align
          background-color: $color
        &:after
          content: none !important

.jobs-list
  margin: 0
  padding: 0
  list-style: none
  font-size: 15px

.jobs-item
  border: 1px solid $cream-dark
  margin-bottom: 5px
  @include colorJobs($turf-green, 'passed', 3px, $seed-green)
  @include colorJobs($brick-red, 'failed', 3px, $quartz-red)
  @include colorJobs($brick-red, 'errored', 3px, $quartz-red)
  @include colorJobs($cement-grey, 'canceled', 3px, $pebble-grey)
  @include colorJobs($canary-yellow, 'started', 3px, $haze-yellow, true)
  @include colorJobs($canary-yellow, 'queued', 3px, $haze-yellow, true)
  @include colorJobs($canary-yellow, 'booting', 3px, $haze-yellow, true)
  @include colorJobs($canary-yellow, 'received', 3px, $haze-yellow, true)
  @include colorJobs($canary-yellow, 'created', 3px, $haze-yellow, true)

  @include colorFadeOut('passed', $seed-green)
  @include colorFadeOut('failed', $quartz-red)
  @include colorFadeOut('errored', $quartz-red)
  @include colorFadeOut('canceled', $pebble-grey)
  @include colorFadeOut('started', $haze-yellow)
  @include colorFadeOut('queued', $haze-yellow)
  @include colorFadeOut('booting', $haze-yellow)
  @include colorFadeOut('received', $haze-yellow)
  @include colorFadeOut('created', $haze-yellow)

  a
    display: block
    padding-left: 1em
    @media #{$medium-up}
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center
      height: 34px

.section-title
  font-size: 16px
  color: $cement-grey
  font-weight: 400
  margin: 3rem 0 1rem

.job-state
  display: inline-block
  @media #{$medium-up}
    flex: 0 0 2em

.job-number
  display: inline-block
  @media #{$medium-up}
    flex: 0 0 7em
    padding-right: 1em
    border-right: 1px solid $cream-dark

.job-os
  position: relative
  pointer-events: none
  .icon
    width: 18px
    height: 20px
    vertical-align: middle
    padding-left: 1.5em
  @media #{$medium-up}
    flex: 0 0 4em
    text-align: center
    pointer-events: initial
    .icon
      padding-left: 0
      text-indent: 999%
      white-space: nowrap
      overflow: hidden

  &.linux
    .icon
      @extend %icon-line-linux
  &.osx
    .icon
      @extend %icon-line-mac

.job-lang
  @media #{$medium-up}
    flex: 1 1 20%
    position: relative
    white-space: nowrap
    overflow:hidden
    &:after
      content: ""
      @include fadeOut(right, -90deg, white)

.icon-lang
  margin-right: .3em
  @extend .icon
  @extend %icon-line-language

.job-env
  @media #{$medium-up}
    flex: 1 1 30%
    position: relative
    white-space: nowrap
    overflow: hidden
    &:after
      @include fadeOut(right, -90deg, white)
  &.is-empty
    opacity: .5

.icon-env
  width: 14px
  height: 14px
  margin-right: .3em
  @extend %icon
  @extend %icon-line-environment

.job-duration
  flex: 1 0 14%
  padding-right: 1em
