.log {
  position: relative;

  .log-tail {
    @include z-index(above);

    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;

    .tail-label {
      display: none;
      padding: 0.1em 0.5em 0.1em;
      cursor: pointer;
      border-radius: 2px;
      color: $pebble-grey;
      background-color: $cement-grey;

      .icon-arrow {
        @include colorSVG(white);

        width: 14px;
        height: 12px;
        margin-right: 4px;
        vertical-align: baseline;
      }
    }

    &:hover {
      .tail-label {
        display: inline-block;
      }

      .tail-status {
        display: none;
      }
    }

    &.scrolling {
      position: fixed;
      right: 32px;
    }

    &.bottom {
      bottom: 45px;
      top: inherit;
    }

    .tail-status {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      background-color: $cement-grey;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        display: block;
        height: 10px;
        width: 10px;
        background: #f1f1f1;
        border-radius: 50%;
      }
    }

    &.active .tail-status {
      background-color: #6b0;
    }

    @supports(position: sticky) {
      position: sticky;
      top: 10px;
      float: right;
      width: 0;
      margin-right: 0;
      margin-bottom: 45px;

      .tail-status, .tail-label {
        position: absolute;
        right: 10px;
      }

      .tail-label {
        white-space: nowrap;
      }
    }
  }

  .to-top {
    @include z-index(above);

    position: absolute;
    display: block;
    bottom: 2px;
    right: 2px;
    margin-right: 2px;
    padding-right: 16px;
    text-align: right;
    color: #999;
    background: url(/images/ui/workers-close.svg) no-repeat right 6px;
    @supports(position: sticky) {
      position: sticky;
      float: right;
      margin-top: 25px;
    }
  }
}

.log-header {
  height: 44px;
  margin: 0;
  padding: 0.7em 0.8em 0.6em;
  text-align: right;
  background-color: $log-header-bg;

  @media #{$small-only} {
    display: flex;
  }

  a {
    margin-left: 0.4em;

    @media #{$small-only} {
      flex-grow: 1;
    }
  }
}

.log-main {
  display: none;
  margin-bottom: 5em;
  padding-bottom: 45px;

  &.is-visible {
    display: block;
  }

  @media #{$medium-up} {
    display: block;
  }
}

[class^="toggle-log-button"] {
  .icon-eye {
    vertical-align: middle;
    display: inline-block;
  }

  @media #{$medium-up} {
    display: none !important;
  }
}

.toggle-log-button {
  display: block;
  width: 100%;
  padding: 0.3em 1em;
  border: 1px solid $pebble-grey;
  border-radius: 2px;
  color: $asphalt-grey;
  text-align: center;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  &:hover,
  &:active {
    border-color: $oxide-blue;
    color: $oxide-blue;

    @include colorSVG($oxide-blue);
  }
}

.toggle-log-button--dark {
  @extend %log-button;

  width: 50%;
  background-color: transparent;

  &:hover,
  &:active {
    background-color: #999a98;
  }
}

.log-body {
  position: relative;

  pre {
    min-height: 42px;
    padding: 15px 0;
    color: $pebble-grey;
    font-family: $font-family-monospace;
    font-size: $font-size-log;
    line-height: $line-height-log;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: $color-bg-log-fold;
    margin-top: 0;
    margin-bottom: -45px;
  }

  .cut {
    padding: 20px 15px 0 55px;
  }

  .log-line {
    position: relative;
    padding: 0 15px 0 62px;
    margin: 0;
    min-height: 19px;

    &:hover {
      background-color: $color-bg-log-hover !important;
    }

    &.highlight {
      background-color: $color-bg-log-highlight;

      a {
        color: white;
      }
    }

    a {
      display: inline-block;
      text-align: right;
      min-width: 40px;
      margin-left: -40px;
      cursor: pointer;
      text-decoration: none;
      position: absolute;
      padding-right: 1em;
      user-select: none;
    }

  }

  .fold {
    position: relative;
    height: 19px;
    overflow: hidden;

    &.open {
      height: auto;

      .log-line {
        display: block;
      }
    }

    .log-line {
      display: none;

      &:first-of-type {
        display: block;
        cursor: pointer;
      }
    }

    .log-line:first-of-type {
      padding-right: 190px;
    }

    // &.active
    .log-line:first-of-type {
      background: darken($color-bg-log-hover, 10) url(/images/ui/log.fold.open.2.svg) no-repeat 8px 3px;

      &.highlight {
        background-color: $color-bg-log-fold-highlight;
      }
    }

    &:not(.open) .log-line:first-of-type {
      visibility: visible;
      height: auto;
      min-height: 16px;
      background-image: url(/images/ui/log.fold.closed.3.svg);
    }

    .fold-name {
      position: absolute;

      @include z-index(above);

      display: block;
      top: 1px;
      right: 85px;
      padding: 4px 7px 2px 7px;
      line-height: 10px;
      font-size: 10px;
      background-color: #666;
      border-radius: 6px;
      color: #bbb;
      cursor: pointer;
    }
  }

  .fold-start:not(.fold),
  .fold-end {
    display: none;
  }

  .duration {
    position: absolute;
    display: block;
    top: 1px;
    right: 12px;
    padding: 4px 7px 2px 7px;
    line-height: 10px;
    font-size: 10px;
    background-color: #666;
    border-radius: 6px;
    color: #bbb;
  }

  .loading {
    padding: 25px 0 0 10px;
  }
}

.log-notice {
  background-color: #A6ADAD;
  color: white;
  min-height: 70px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;

  @media #{$medium-up} {
    height: 70px;
    line-height: 70px;
  }
}

.log-container.hidden {
  display: none;
}
