.owner-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;

  .owner-title {
    margin: 0 0 0.2em;
    font-size: 36px;
    font-weight: 300;
    line-height: 0.9;

    @media #{$medium-up} {
      white-space: nowrap;
    }
  }

  .owner-handle {
    margin: 0;
    font-size: $font-size-ml;

    a:hover {
      text-decoration: underline;
    }

    svg {
      @include colorSVGFill(rgba(black, 0.2));
    }
  }

  img {
    border-radius: 50%;
    background-color: $pebble-grey;
  }
}

.owner-avatar {
  flex: 0 0 100px;

  .avatar {
    width: 74px;
    height: 74px;
  }
}

.owner-info {
  flex: 1 1 auto;

  position: relative;
  overflow: hidden;

  &:after {
    content: "";

    @include fadeOut(right, -90deg, white);
  }
}

.owner-tiles {
  padding: 0;
  list-style-type: none;

  .build-status {
    text-transform: capitalize;
  }
}

.owner-tile {
  padding: 0.5em 0;

  @media #{$medium-up} {
    & > div:first-of-type {
      flex: 0 0 30%;
      padding-left: 1em;
    }

    & > div:nth-of-type(2) {
      flex: 0 0 13%;
    }

    & > div:nth-of-type(3) {
      flex: 0 0 13%;
    }

    & > div:nth-of-type(4) {
      flex: 0 0 12%;
      margin-right: 2em;
    }

    & > div:nth-of-type(5) {
      flex: 0 0 24%;
    }
  }
}
