.owner-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;

  .owner-title {
    margin: 0 0 0.2em;
    font-size: 36px;
    font-weight: 300;
    line-height: 0.9;

    @media #{$medium-up} {
      white-space: nowrap;
    }
  }

  .owner-handle {
    margin: 0;
    font-size: $font-size-ml;

    a:hover {
      text-decoration: underline;
    }

    svg {
      @include colorSVGFill(rgba(black, 0.2));
    }
  }

  img {
    border-radius: 50%;
    background-color: $pebble-grey;
  }
}

.owner-avatar {
  flex: 0 0 calc(75px + 3%);

  .avatar {
    width: 74px;
    height: 74px;
  }
}

.owner-info {
  flex: 1 1 auto;

  position: relative;
  overflow: hidden;

  &:after {
    content: "";

    @include fadeOut(right, -90deg, white);
  }
}

.owner-tiles {
  padding: 0;
  list-style-type: none;

  .build-status {
    text-transform: capitalize;
  }
}

.owner-tile-head {
  flex: 0 0 2%;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;

  @media #{$medium-up} {
    flex: 0 0 4em;
    display: flex;
    flex-direction: column;
    height: 55px;
    padding: 0.3em 0;
    border-right: 1px solid rgba($asphalt-grey, 0.2);
  }
}

.owner-tile-body {
  flex-grow: 1;
  position: relative;

  @media #{$medium-up} {
    padding: 0 1.5em 0;
    height: 5rem;
  }
}

.owner-tile-main {
  @media #{$small-only} {
    padding: 0 1em;
  }

  @media #{$medium-up} {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
}

.owner-tile-repo .repo-title {
  font-size: 18px;
}

.owner-tile .label {
  font-size: 12px;
  font-weight: 700;
}