
.owner-header
  padding: 0 $column-gutter/2
  margin-bottom: 3rem
  color: #969496
  a
    color: #969496
  .owner-title
    margin: .3em 0 .2em
    font-size: 36px
    font-weight: 400
    line-height: .9
    @media #{$medium-up}
      white-space: nowrap
  .owner-handle
    margin: 0
    font-size: $font-size-ml
    .icon
      width: 1.1em
      height: 1.2em
      vertical-align: middle
    a:hover
      text-decoration: underline
  img
    border-radius: 50%

  .sync-button
    margin-top: .8rem
    p, button
      margin: 0
  .sync-last
    color: #969496
    font-size: $font-size-sm

.owner-avatar,
.owner-info
  @extend %inline-block
  vertical-align: middle
  
.owner-avatar
  width: grid-calc(4, 12)
  @media #{$medium-up}
    width: grid-calc(2, 12)

.owner-info
  width: grid-calc(7, 12)
  @media #{$medium-up}
    width: grid-calc(29, 36)
    position: relative
    overflow: hidden
    &:after
      content: ""
      @include fadeOut(right, -90deg, $white)

.tabs--owner
  padding : 0 $column-gutter/2

  .active,
  .active:hover,
    position: relative
    color: $teal-dark
    &:after
      content: ""
      position: absolute
      left: 0
      bottom: -0.25em
      width: 100%
      height: 2px
      background-color: $teal-light
  .active
    font-weight: 600

.tabnav--owner
  margin-bottom: 1.5rem
  @media #{$medium-up}
    height: 2.2em
    border-bottom: solid 2px $cream-dark


.owner-tiles
  padding: 0

%one-line
  font-size: 16px
  font-weight: 400
  vertical-align: middle
  margin: 0
  *
    display: inline-block
    font-size: inherit
    font-weight: 400
    vertical-align: middle
    margin: 0
    padding: 0
    line-height: 1

@mixin statusColors($color, $status)
  &.#{$status}
    background: linear-gradient(to right, $color 0%, $color 9px, transparent 10px, transparent 100%);
    .build a,
    .repo-title a
      color: $color
      &:hover
        border-color: $color
    .build-status
      color: $color


.owner-tile
  display: flex
  flex-direction: row
  flex-flow: space-between
  align-items: baseline
  height: 3.8em
  padding: .8em 0
  margin-bottom: .5em
  border: #F2F0F0 solid 1px

  a
    text-decoration: none
    &:hover
      span
        text-decoration: underline
  .repo-title a:hover
    text-decoration: underline

  .repo
    @extend %one-line
    width: grid-calc(4, 12)
    margin-left: 2em

  .icon--job,
  .icon-push,
  .icon-pull_request,
  .icon-calendar,
  .icon-hash,
  .icon-github
    width: 1em
    height: 1.1em
    margin-right: .5em
    background-repeat: no-repeat
    background-size: 100%

  .icon--job
    height: 1.2em
    background-position-y: 0.2em
  .icon-push
    background-position-y: 0.4em
  .build-status
    text-transform: capitalize

  .build
    @extend %one-line
    width: grid-calc(2, 12)

  .branch
    @extend %one-line
    width: grid-calc(2, 12)

  .commit
    @extend %one-line
    width: grid-calc(2, 12)

  .duration
    @extend %one-line
    width: grid-calc(4, 12)

  @include statusColors($green-dark, 'passed')
  @include statusColors($red-dark, 'failed')
  @include statusColors($red-dark, 'errored')
  @include statusColors($grey-medium, 'canceled')
  @include statusColors(#ECCE4B, 'started')
  @include statusColors(#ECCE4B, 'queued')
  @include statusColors(#ECCE4B, 'booting')
  @include statusColors(#ECCE4B, 'received')
  @include statusColors(#ECCE4B, 'created')


