$profile-breakpoint: 600px;

.profile-page {
  display: flex;
  padding-top: 20px;

  @media (max-width: $profile-breakpoint) {
    flex-flow: column-reverse;
  }

  nav.travistab-nav {
    border-bottom: 2px #f1f1f1 solid;
  }

  // FIXME there’s a naked h2 down there, it seems to me it needs scoping…?
  h2 {
    color: $oxide-blue;
  }

  // FIXME this is almost the same as .profile-aside h2 at the moment
  h3 {
    color: $cement-grey;
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: bold;
  }
}

.profile-main {
  flex-grow: 1;
}

.profile-aside {
  flex: 0 0 180px;
  margin-right: 55px;

  @media #{$medium-up} {
    flex: 0 0 290px;
  }

  @media (max-width: $profile-breakpoint) {
    margin-top: 55px;
  }

  @media (min-width: $profile-breakpoint) {
    display: flex;
    flex-flow: column wrap;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  h2 {
    font-size: $font-size-sm;
    text-transform: uppercase;
    font-weight: bold;
    color: $cement-grey;
    margin-bottom: 0;
  }

  section {
    padding-bottom: 1rem;
    border-bottom: solid 2px $pebble-grey;

    &.no-divider {
      padding-bottom: 0;
      border-bottom-width: 0;
    }
  }
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .h2--grey {
    margin-bottom: 0;
    line-heigth: 1;
  }
}

.profile-repositorylist {
  @include resetul;

  font-size: $font-size-m;
  dispay: flex;
  flex-flow: column wrap;

  li {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.8em;
  }
}

.profile-settings {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid $pebble-grey;
  font-size: 10px;
  color: $asphalt-grey;
  padding: 0.3rem 0.4rem;
  margin: 0.3rem 0;

  .icon {
    width: 12px;
    height: 12px;
  }

  &:hover {
    color: white;

    .icon {
      @include colorSVG(white);
    }
  }
}

.profile-settings .icon-disabled {
  @include colorSVG(rgba(black, 0.2));
}

.profile-repo {
  position: relative;
  flex: 1;
  padding: 0.25em 0.5em 0.3em;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2px;
  margin-right: 1rem;

  .sync-spinner {
    vertical-align: top;
  }

  &.admin {
    &:hover {
      background-color: $pebble-grey;

      &:after {
        content: "";

        @include fadeOut(right, -90deg, $pebble-grey);
      }
    }

    .active &:hover {
      background-color: $agate-blue;

      &:after {
        content: "";

        @include fadeOut(right, -90deg, $agate-blue);
      }
    }
  }

  &.non-admin {
    color: rgba(black, 0.45);

    &:hover {
      background-color: transparentize($pebble-grey, 0.5);

      &:after {
        content: "";

        @include fadeOut(right, -90deg, $pebble-grey);
      }
    }

    .active &:hover {
      background-color: transparentize($agate-blue, 0.5);

      &:after {
        content: "";

        @include fadeOut(right, -90deg, $agate-blue);
      }
    }
  }
}

.profile-text,
.profile-additional,
.profile-betafeatures {
  @include linkStyle;
}

.repositories-error {
  width: 100%;

  p {
    position: relative;
    padding: 0.7em em 0.7em 0.5em;
    color: $brick-red;
    background-color: $quartz-red;

    a {
      color: $brick-red;
      text-decoration: underline;
    }

    &:after {
      content: "";
      position: absolute;
      top: -0.5em;
      left: 1.5em;
      width: 1.2em;
      height: 1.2em;
      background: $quartz-red;
      transform: rotate(45deg);
    }
  }

  .close {
    position: absolute;
    top: 0.5em;
    right: 0;
    line-height: 1;
  }
}

.profile-repositories-filter {
  margin-bottom: 1.5em;

  .search {
    padding: 0 0.5em 0 2.1em;
    border: 1px solid $pebble-grey;
    width: 40%;
    border-radius: 2px;
    width: 100%;
    max-width: 400px;
    background: url(/images/stroke-icons/icon-filter.svg) no-repeat scroll;
    background-size: auto 50%;
    background-position: 0.5em center;
    height: 2.1em;
    box-sizing: content-box;
    font-size: $font-size-sm;
    -webkit-appearance: none;
    -webkit-appearance: textfield;

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: rgba($cement-grey, 0.6);
      padding: 0;
      text-indent: 0;
    }
  }
}

.account-token {
  .token-copied-text {
    margin-left: 8px;
    font-size: 12px;
    font-style: italic;
  }

  .auth-token {
    margin-left: 6px;
    font-size: 12px;
    font-style: italic;
  }
}

.token-actions {
  margin-top: 0.5em;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.obfuscated-chars {
  padding-left: 0.4em;
  letter-spacing: 0.2em;
}

.token-actions button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  background-color: transparent;
  border-radius: 0.25em;
  width: calc(1/2*100% - (1 - 1/2)*0.5em);
  padding: 4px 0;

  & svg {
    margin-right: 4px;
    height: 12px;
  }

  &.copy-button {
    border: 0.09em solid lighten($oxide-blue, 20%);
    box-shadow: 0 .15px 0 $oxide-blue;
    color: $oxide-blue;
    svg {
      @include colorSVG($oxide-blue);
    }
  }

  &.show-token {
    border: 0.09em solid lighten($cement-grey, 20%);
    box-shadow: 0 .15px 0 $cement-grey;
    color: $cement-grey;
  }
}

header.github-apps {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .badge {
    transform: translateY(-3px);
  }

  // FIXME this is copied from sync-button.scss
  .button {
    height: 2.6rem;
    padding: 0.6em 0.8em;
    background-color: $oxide-blue;
    border: none;
    border-radius: 2px;

    margin-right: 0.5rem;

    .icon {
      @include colorSVG(white);
    }

    &:hover {
      background-color: #229191;
    }
  }
}

section.contact {
  address {
    white-space: pre-line;
  }
}

#github-apps-invitation {
  @include travisBorder;
  padding: 0 1.25em 1.25em 1.25em;

  // FIXME this is copied from above!
  .button {
    height: 2.6rem;
    padding: 0.6em 0.8em;
    background-color: $oxide-blue;
    border: none;
    border-radius: 2px;

    margin-right: 0.5rem;

    .icon {
      @include colorSVG(white);
    }

    &:hover {
      background-color: #229191;
    }
  }
}
