.build-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pr-row {
  @media #{$small-only} {
    .row-item.actions ~ .row-item {
      display: none;
    }
  }

  @media #{$medium-up} {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;

    .two-line {
      padding: 0;
      margin: 0.4em 0;
      white-space: nowrap;

      .row-item:not(.build-info) {
        display: block;
      }
    }

    .row-committer {
      padding-left: 1.6em;
      margin-bottom: 0;
    }

    .build-info {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      padding-left: 0.4em;
    }

    .download-export {
      text-decoration: none;
      border-bottom: 1px solid $asphalt-grey;
      padding-bottom: 0;
      transition: color 200ms ease, border 200ms ease;
      cursor: pointer;
    }

    .row-branch {
      flex: 0 0 30%;
      position: relative;
      overflow: hidden;

      &:after {
        content: "";

        @include fadeOut(right, -90deg, white);
      }

      &:hover {
        &:after {
          content: none;
        }

        a {
          background-color: white;
        }
      }
    }

    .row-message {
      padding-left: 1.6em;
      flex: 0 0 70%;
      overflow: hidden;
      position: relative;

      &:after {
        @include fadeOut(right, -90deg, white);
      }
    }

    .two-line:first-of-type {
      flex: 0 0 50%;
      padding-left: 0.5em;
      border-right: 1px solid $cream-dark;
    }

    .two-line:nth-of-type(2) {
      flex: 0 0 20%;
      margin-left: 1em;
    }

    .two-line:nth-of-type(3) {
      flex: 0 0 20%;
    }

    .two-line:last-of-type {
      flex: 0 0 2em;
    }
  }
}
