.repo-header-container {
  font-size: 16px;
  display: grid;
  grid-template-columns: fit-content(100%) 30px 100px;
  grid-gap: 20px;
  grid-template-areas:
    "repoTitle repoGithub repoBadge"
    "repoNav repoOptions repoOptions";
}

.repo-type-icon {
  grid-area: repoType;
  display: inline;

  .icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;

    @include colorSVG($cement-grey);

    &.private {
      transform: translateY(-7px);
    }

    &.public {
      transform: translateY(4px);
    }
  }
}

.repo-title {
  grid-area: repoTitle;
  display: inline;
  font-size: 2.250em;

  a {
    color: $asphalt-grey;
    border-bottom: 2px solid transparent;
    transition: border-color 100ms ease;

    &:hover,
    &:active {
      border-color: $asphalt-grey;
    }
  }
}

.repo-gh {
  grid-area: repoGithub;
  margin: auto 0;
  @extend .icon--l;
  @include colorSVGFill(rgba(black, 0.2));
}

.repo-badge {
  grid-area: repoBadge;
  margin: auto 0;
}

.repo-navigation {
  grid-area: repoNav;
  font-size: 0.875em;
}

.repo-options {
  grid-area: repoOptions;

  .option-button {
    width: 140px;
  }
}
