@mixin requestFadeOut($status, $color) {
  &.highlighted.#{$status} {
    box-shadow: 0px 0px 3px 3px $color;
  }

  &:hover {
    padding-left: 0.87em;
  }

  @media #{$medium-up} {
    &.#{$status}:hover {
      padding-left: 0;

      .status-icon.api {
        svg {
          background-color: $color;
        }
      }

      .fade-out {
        &:after {
          @include fadeOut(right, -90deg, $color, 30%);
        }
      }
    }
  }
}

.requests {
  padding: 0;
  margin: 0;
  list-style: none;
}

.request-item {
  @each $state, $key in $requestStatusMap {
    $colorMap: map-get($stateMap, $key);

    @include colorJobs(map-get($colorMap, color), $state, 3px, map-get($colorMap, color-bg));
    @include requestFadeOut($state, map-get($colorMap, color-bg));
  }

  position: relative;
  margin-bottom: 5px;
  padding-left: 1em;
  font-size: 15px;
  border: 1px solid $pebble-grey;

  strong {
    margin-right: 0.5em;
    font-weight: $font-weight-bold;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }

  &:hover {
    padding-left: 0.87em;
  }

  &.highlighted {
    box-shadow: 0px 0px 3px 3px $haze-yellow;
  }

  .request-icon {
    width: 18px;
    height: 19px;
    margin-right: 0.1rem;
  }

  @media #{$medium-up} {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.3em 0 0.3em 2px;
    white-space: nowrap;

    &:hover {
      padding-left: 0.1em;
    }

    .row-item.fade-out {
      position: relative;
    }

    .row-item:first-of-type {
      flex: 0 0 3em;
      padding-left: 0.7em;
      border-right: 1px solid $cream-dark;
    }

    .row-item:nth-of-type(2) {
      flex: 1 0 15%;
      padding-left: 1em;
    }

    .row-item:nth-of-type(3) {
      flex: 0 0 15%;
    }

    .row-item:nth-of-type(4) {
      flex: 1 0 30%;
    }

    .row-item:nth-of-type(5) {
      flex: 0 0 8%;
    }

    .row-item:last-of-type {
      flex: 0 0 20%;
    }
  }
}
