.settings {
  padding-top: 0.8em;
}

.settings-section {
  padding: 0 0 1em;
  margin-bottom: 3em;
  border-bottom: 2px solid $pebble-grey;

  h2 + p {
    margin-top: 0;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .small-title {
    margin-top: 0;
  }

  .switch {
    div {
      display: inline-block;
    }
  }
}

.settings-tooltip {
  padding-bottom: 3px;
}

%settings-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 1rem;
  }
}

.settings-list--columns {
  @extend %settings-list;

  li {
    @media #{$medium-up} {
      display: inline-block;
      width: grid-calc(11, 24);
    }
  }
}

.settings-list--row {
  @extend %settings-list;

  li {
    @media #{$medium-up} {
      display: inline-block;
    }
  }
}

.settings-list--envvars, .settings-list--crons {
  @extend %settings-list;
}

.settings-input {
  display: inline-block;
  margin-right: 1.4rem;
  vertical-align: middle;

  & + .label {
    vertical-align: middle;
  }

  input {
    width: 80px;
    font-size: $font-size-s;
    text-align: center;
  }
}

.limit-concurrent-builds {
  input {
    display: inline-block;
    width: 3em;
    height: 30px;
    margin: 0 0.5em;
    text-align: center;
    box-shadow: none;
  }
}

%settings-row {
  border-radius: 2px;
  background-color: $pebble-grey;
}

.settings-envvar, .settings-cron {
  @extend %settings-row;

  padding: 0.4em 0.5em;
}

.settings-sshkey {
  @extend %settings-row;

  padding: 0.6em 0.5em;
  display: block;
  margin-bottom: 1rem;
  overflow: hidden;

  span {
    vertical-align: middle;
  }

  @media #{$medium-up} {
    overflow: visible;
  }
}

%settings-name-section {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  color: $asphalt-grey;

  &:after {
    content: "";

    @include fadeOut(right, -90deg, $pebble-grey);
  }
}

.ssh-key-name {
  @extend %settings-name-section;

  width: 100%;
  margin-bottom: 1em;

  @media #{$medium-up} {
    width: 32%;
    margin-bottom: 0;
  }
}

.env-var-name {
  @extend %settings-name-section;

  width: 100%;
  margin-bottom: 1em;

  @media #{$medium-up} {
    width: grid-calc(3, 12);
    margin-bottom: 0;
  }
}

.account-env-vars-section {
  .env-var-name, .env-var-value {
    width: 40% !important;
  }
}

%settings-value-section {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  color: $asphalt-grey;
}

.ssh-key-value {
  @extend %settings-value-section;

  word-break: break-all;

  @media #{$medium-up} {
    width: grid-calc(6, 12);
    word-break: normal;
    white-space: nowrap;
  }
}

$env-var-value-background: lighten($cement-grey, 20);

.env-var-value {
  @extend %settings-value-section;

  background-color: $env-var-value-background;
  border-radius: 2px;
  white-space: nowrap;
  width: 76%;
  padding: 0.3em 0.7em;

  input {
    display: inline-block;
    width: 100%;
    border: none;
    background: transparent;
    color: $asphalt-grey;
    font-size: inherit;
  }
}

.env-var-value {
  @media #{$medium-up} {
    width: grid-calc(3, 12);
  }
}

.env-var-branch {
  @extend %settings-value-section;

  width: 76%;
  padding: 0.3em 1em;
  @media #{$medium-up} {
    width: grid-calc(4, 12);
  }

  code {
    font-family: cousine, monospace;
    font-size: 0.9em;
    color: $asphalt-grey;
    padding: 0.1em 0.3em;
    border-radius: 2px;
    border: 1px solid lighten($cement-grey, 20);
    background-color: $dry-cement;
  }
}

#env-var-secrecy {
  box-shadow: 0 0 15px 3px $pebble-grey;

  padding: 1em 1em 0.1em 1em;
  margin-top: 2rem;
  margin-bottom: 1.5rem;

  p {
    display: flex;
    align-items: flex-start;

    margin: 0 0 1rem;

    color: $cement-grey;
    font-size: $font-size-sm;

    svg {
      width: 22px;
      height: 22px;

      flex-shrink: 0;

      margin-right: 9px;

      stroke-width: 5px;

      @include colorSVG($asphalt-grey);
    }

    @include linkStyle;

    a {
      padding-bottom: 0.07rem;
    }

    code {
      font-family: cousine, monospace;
      font-size: 0.9em;
      color: $asphalt-grey;
      padding: 0.1em 0.3em;
      border-radius: 2px;
      border: 1px solid $dry-cement;
      background-color: $pebble-grey;
    }
  }
}

.newly-created {
  animation: haze-fade 2s 3s both;

  .env-var-name::after {
    display: none;
  }

  .env-var-value {
    animation: canary-fade 2s 3s both;
  }
}

@keyframes canary-fade {
  0% {
    background: $canary-yellow;
  }

  100% {
    background: $env-var-value-background;
  }
}

@keyframes haze-fade {
  0% {
    background: $haze-yellow;
  }

  100% {
    background: $pebble-grey;
  }
}

%settings-action-section {
  display: inline-block;
  position: relative;
  float: right;
  width: 24%;
  vertical-align: middle;
  text-align: center;

  @media #{$medium-up} {
    width: grid-calc(3, 24);
  }

  @media #{$xlarge-up} {
    width: grid-calc(3, 36);
  }

  button {
    &:hover,
    &:active {
      @include colorSVG($brick-red);
    }
  }
}

.env-var-action {
  @extend %settings-action-section;

  a {
    padding: 1em;
  }
}

.ssh-key-action {
  @extend %settings-action-section;

  margin-top: 1em;

  @media #{$medium-up} {
    margin-top: 0;
  }

  .icon-delete {
    margin: 0.2em auto 0;
  }

  .icon-delete-disabled {
    display: block;
    margin: 0.2em auto 0;
  }
}

.settings-cron {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @media #{$medium} {
    flex-flow: row nowrap;
  }
}

.cron-job-text {
  white-space: nowrap;

  @media #{$medium} {
    flex: 0 1 14em;
    position: relative;
    overflow: hidden;

    &:after {
      @include fadeOut(right, -90deg, $pebble-grey);
    }
  }
}

.cron-job-action {
  position: relative;
  text-align: center;

  @media #{$medium} {
    flex-basis: 7em;
  }

  button {
    &:hover,
    &:active {
      @include colorSVG($brick-red);
    }
  }
}

.migrated-repo-settings-modal {
  max-width: 32rem;

  & &__header {
    margin: -0.5rem auto 1.3rem;
  }

  &__button {
    margin: 1rem 0.5rem 0 0;
  }

}

.custom-key-modal {
  padding: 16px 20px 20px;
  font-style: normal;

  & &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & &__close-button {
    margin: 0;
    padding: 0;
    outline: none;
  }

  & &__header {
    font-size: 22px;
    font-weight: 300;
    color: $oxide-blue;
    margin: 0 2rem 0 0;
  }

  & &__body {
    color: $asphalt-grey;
  }

  & &__controls .button {
    margin: 0 1rem 0 0;
  }
}

.custom-keys-header {
  height: 36px;
  margin-bottom: 20px;
}

.custom-keys-title {
  float: left;
  margin-bottom: 0;
  margin-top: 3px;
}

.custom-keys-add-button {
  float: right;
}

.custom-key-added-on {
  padding-left: 15px;
}

.custom-key-title {
  font-weight: bold;
}

.custom-key-action {
  float: none;
  width: 6%;
}

.custom-key-value {
  resize: none;
}

.add-custom-key-modal {
  min-width: 500px;
  padding: 10px 10px 10px;
  font-style: normal;

  & &__hint-text {
    padding-bottom: 10px;
  }

  h2 {
    text-align: left;
    margin-bottom: 5px;
  }

  form {
    width: 100%;
  }

  .custom-keys-footer {
    justify-content: center;
  }

  .custom-keys-cancel {
    margin-left: 20px;
  }
}
