
$add-green: #3AA95E
$add-green-hover: #3BA85D

$add-var-bg: #c2c3c5
$add-var-color: $white
$add-var-radius: 4px

$deactivate-red: #EB3A3D
$deactivate-red-hover: #D12F2F

$deactivate-bg: #e93d3c

$heading-color: #63a4a3
$heading-size: 18px

$input-border: 1px solid #eeedec
$input-radius: 4px
$input-color: #8e8f8e
$input-width: 78px
$input-height: 32px

$setting-section-border: 2px solid #f2f3ef

$env-vars-bg: #f2f3ef
$env-vars-color: #8e8f8e
$env-vars-size: 16px
$env-vars-radius: 4px
$env-vars-pw-bg: #eeedec

$input-main-height: 30px


.small-title
  font-size: 18px
  color: $heading-color
  font-weight: 400


.settings
  padding-top: .8em

.settings-section
  padding: 0 0 1em
  margin-bottom: 1.5em
  border-bottom: $setting-section-border
  &:last-of-type
    border-bottom: none
  .small-title
    margin-top: 0


.settings-list
  padding: 0
  margin: 0
  list-style: none

  li
    margin-bottom: 1rem
    @media #{$medium-up}
      display: inline-block
      width: grid-calc(11, 24)

.settings-input
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle
  & + .label
    vertical-align: middle
  input
    border: 1px solid #eeedec
    border-radius: 4px
    color: #8e8f8e
    text-align: center
    height: 32px;
    display: inline-block;
    width: 80px;
    