$sb-grey: #f2f2f2
$sb-font-size: 14px

@mixin colorSidebarTiles($color)
  border-color: $color
  a
    color: $color

.tile--sidebar
  height: auto
  padding: 0.6em 0.5em
  margin-bottom: .46rem
  background-color: $white
  border-radius: 0
  border-left: 8px solid
  li:last-child &
    margin-bottom: 0

  &.failed,
  &.errored
    @include colorSidebarTiles($fail-color)
  &.passed
    @include colorSidebarTiles($pass-color)
  &.started,
  &.created,
  &.received
    @include colorSidebarTiles($created-color)

  h2, p
    margin: 0
    font-size: $sb-font-size
    font-weight: 400
  h2
    position: relative
    display: inline-block
    margin-bottom: .7em
    @media #{$medium-up}
      width: 78%
      white-space: nowrap
      overflow: hidden
      &:after
        @include fadeOut(right, -90deg, $white)
  p.tile-title
    width: 22%
    @media #{$xlarge-up}
      width: 17%
  a:hover
    text-decoration: underline
  .icon:not(.icon--hash)
    width: 0.9em
    height: 1.1em
    margin-right: .3em
  .icon--hash
    width: 1.1em
    height: 1.3em


.tabnav--sidebar
  font-size: $sb-font-size
  border-bottom: solid 2px $sb-grey
  width: 90%
  margin: auto
  ul
    height: 1.7em
  li.float-right
    padding-right: 0
  .icon--plus
    &:after
      transform: translateX(35%)
      display: inline-block
  a:hover .icon--plus:after
    color: $teal1

.sidebar-list
  margin-top: 1.4rem
  ul
    @include resetul
    border-bottom: .46rem solid #FAF9F7
    background-color: #FAF9F7


