.top .cta
  border-bottom: 2px solid rgba($cement-grey, 0.2)
  border-top: 2px solid rgba($cement-grey, 0.2)
  line-height: 2.7em
  font-size: 16px
  color: $turf-green
  text-align: right
  padding-right: 1rem
  background-color: #fff
  display: none

  p
    position: relative
    margin: auto
    padding: 0
    &:after,
    &:before
      content: ""
      display: block
      width: 13px
      position: absolute
      transform: rotate(45deg)
    &:after
      height: 13px
      background: rgba($cement-grey, 0.1)
      top: -0.4rem
      right: 4rem
    &:before
      height: 15px
      background: white
      top: -0.3rem
      right: 57px
      z-index: 1

  @media #{$medium-up}
    display: block

#auth .top .cta,
.landing-pro .cta
  display: none !important

.landing-pro .top
  border-bottom: 1px solid $pebble-grey

.top
  background-color: $pebble-grey

.topbar
  height: $top-height
  padding: 0 $column-gutter/2
  clear: both
  overflow: hidden
  font-size: $font-size-m
  color: $asphalt-grey
  a
    color: $asphalt-grey
    &:hover
      text-decoration: underline
  &.has-autoheight
    height: auto
  @media #{$medium-up}
    &,
    &.has-autoheight
      position: relative
      height: $top-height
      overflow: visible
