.top .cta {
  display: none;
  font-size: 16px;
  color: $turf-green;
  text-align: right;
  background-color: #fff;
  border-bottom: 2px solid rgba($cement-grey, 0.2);
  border-top: 2px solid rgba($cement-grey, 0.2);
  line-height: 2.7em;

  p {
    position: relative;
    padding: 0 ($column-gutter / 2);
    margin: auto;

    &:after,
    &:before {
      content: "";
      display: block;
      width: 13px;
      position: absolute;
      transform: rotate(45deg);
    }

    &:after {
      height: 13px;
      background: rgba($cement-grey, 0.1);
      top: -0.4rem;
      right: 4rem;
    }

    &:before {
      height: 15px;
      background: white;
      top: -0.3rem;
      right: 57px;

      @include z-index(above);
    }
  }

  @media #{$medium-up} {
    display: block;
  }
}

#auth .top .cta,
.landing-pro .cta {
  display: none !important;
}

.top {
  background-color: $pebble-grey;
}

.landing-pro .top,
.landing-page .top {
  background-color: white;
  border-bottom: 1px solid $pebble-grey;
}

.topbar {
  height: $top-height;
  padding: 0 ($column-gutter / 2);
  clear: both;
  overflow: hidden;
  font-size: $font-size-m;
  color: $asphalt-grey;

  a {
    color: $asphalt-grey;

    &:hover {
      text-decoration: underline;
    }

    &.active:hover {
      text-decoration: none;
      cursor: inherit;
    }
  }

  &.has-autoheight {
    height: auto;
  }

  @media #{$medium-up} {
    &,
    &.has-autoheight {
      position: relative;
      height: $top-height;
      overflow: visible;
    }
  }
}
