.top .cta {
  display: none;
  font-size: 16px;
  color: $turf-green;
  text-align: right;
  background-color: #fff;
  border-bottom: 2px solid rgba($cement-grey, 0.2);
  border-top: 2px solid rgba($cement-grey, 0.2);
  line-height: 2.7em;

  p {
    position: relative;
    padding: 0 math.div($column-gutter, 2);
    margin: auto;

    &:after,
    &:before {
      content: "";
      display: block;
      width: 13px;
      position: absolute;
      transform: rotate(45deg);
    }

    &:after {
      height: 13px;
      background: rgba($cement-grey, 0.1);
      top: -0.4rem;
      right: 4rem;
    }

    &:before {
      height: 15px;
      background: white;
      top: -0.3rem;
      right: 57px;

      @include z-index(above);
    }
  }

  @media #{$medium-up} {
    display: block;
  }
}

.landing-pro .cta {
  display: none !important;
}

.top {
  height: 71px;
  border-bottom: solid 1px #eaeaea;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include z-index(above);
}

.top.scrolled {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
}

.landing-pro .top,
.landing-page .top,
.top--white {
  background-color: white;
  border-bottom: 1px solid $pebble-grey;
}

.topbar {
  height: auto;
  max-height: $top-height;
  padding: 0 math.div($column-gutter,2) 20px math.div($column-gutter, 2);
  clear: both;
  overflow: hidden;
  font-size: $font-size-m;
  color: $asphalt-grey;
  transition: max-height 0.3s ease-in-out;

  @media #{$medium-up} {
    padding: 10px math.div($column-gutter, 2) 66px math.div($column-gutter, 2);
  }

  a:not(.auth-button) {
    color: $asphalt-grey;
  }

  &.expanded {
    max-height: 500px;
  }

  .layout-striped & {
    max-width: $layout-max-width;
    margin: auto;
  }

  .layout-activation & {
    max-width: $layout-max-width;
    margin: auto;
  }

  @media #{$medium-up} {
    &,
    &.expanded {
      position: relative;
      height: $top-height;
      overflow: visible;
    }
  }
}
