<section class="dashboard-section dashboard-active">
  <ul class="repo-list">
    {{#each filteredRepos as |repo|}}
      {{dashboard-row repo=repo star=star unstar=unstar}}
    {{else}}
      {{no-repos}}
    {{/each}}
  </ul>
  {{pagination-navigation collection=model.repos route="dashboard.repositories"}}
</section>
