{{#travis-layout layoutName="layouts/landing-page" class="landing-pro"}}
<div id="landing" class="landing wrapper">
  <section class="section--white">
    <div class="inner">
      <header class="section--center team-header">
        <h1 class="h1--green">Teamwork makes Travis CI possible</h1>
        <p class="text-big">We've got builders in areas across Europe and North America <br> working together to make the tool you love to use.
        </p>
      </header>
      <ul class="list--team">
        {{#each model as |member|}}
          {{team-member member=member}}
        {{/each}}
      </ul>
    </div>
  </section>
</div>
{{/travis-layout}}
