<div class="wrapper {{if this.hideSidebar 'centered'}}" ...attributes>
  <TopBar />
  <FlashDisplay />
  <GlobalNotification />
  <div class="wrapper-main">
    <div id="main" class="main" role="main">
      {{yield}}
    </div>
  </div>
  {{#if this.showSidebar}}
    <aside id="left">
      <RepositorySidebar />
    </aside>
  {{/if}}
</div>