{{#if repo.isMigrated}}

  {{#missing-notice title="Trigger a build" image="commandline"}}
    <p data-test-not-active-migrated-subtext class="text-big">
      Push a commit to keep building
    </p>
  {{/missing-notice}}

{{else}}

  {{no-builds}}

{{/if}}
