<a {{action toggle target="view"}}>
  <span class="slug">{{slug}}</span> ({{jobs.length}})
</a>

<ul class="jobs">
  {{#each job in sortedJobs}}
    <li class="job">
      {{#if job.repo.slug}}
        {{#linkTo "job" job.repo job}}
          #{{job.number}}
        {{/linkTo}}
      {{/if}}
    </li>
  {{/each}}
</ul>
