<a {{action toggle target="view"}}>
  <span class="slug">{{slug}}</span> ({{jobs.length}})
</a>

<ul class="jobs">
  {{#each job in sortedJobs}}
    <li class="job">
      {{#linkTo "job" job.repoData job}}
        #{{job.number}}
      {{/linkTo}}
    </li>
  {{/each}}
</ul>
