@import "_mixins/all"

.green .build-status
  background: #549e54 inline-image('icons/state-passed-white.svg') no-repeat
  background-size: 14px 14px
  background-position: 12px 12px

.yellow .build-status
  background: #bcaf39 inline-image('icons/state-pending-white.svg') no-repeat
  background-size: 14px 14px
  background-position: 12px 12px

.red .build-status
  background: #b54223 inline-image('icons/state-failed-white.svg') no-repeat
  background-size: 14px 14px
  background-position: 12px 12px

.gray .build-status
  background: #a8a8a9 inline-image('icons/state-errored-white.svg') no-repeat
  background-size: 14px 14px
  background-position: 12px 12px

#new-summary
  @include clearfix
  @include border-radius(4px)
  padding: 0 11px 2.5em 51px
  position: relative
  min-height: 143px

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4/+HDfwAJcAPPMJixRQAAAABJRU5ErkJggg=='), #fafafa
  background-size: 41px 100%
  background-repeat: no-repeat

  .request-kind
    opacity: 0.55
    position: absolute
    top: 15px
    left: 11px
    background-size: contain
    background-repeat: no-repeat
    height: 21px
    width: 21px

    &.push
      background-image: inline-image('icons/push.svg')

    &.pull_request
      background-image: inline-image('icons/pull-request.svg')

  .branch
    margin-right: 5px
    font-weight: bold
    color: #6c878e
    font-size: 16px
    max-width: 300px
    margin-top: 10px
    overflow: hidden
    white-space: nowrap
    float: left

  .subject
    font-size: 15px
    color: #6c878e
    margin-top: 11px
    overflow: hidden
    margin-right: 2px
    line-height: 20px
    word-wrap: break-word
    padding-left: 0.55em
    text-indent: -0.55em

  .body
    display: block
    font-size: 12px
    font-family: Monaco, 'Liberation Mono', Courier, monospace
    margin-bottom: 0px
    margin-top: 10px
    overflow: hidden

    a
      text-decoration: underline

  .build-status
    @include border-radius(4px)
    color: white
    padding: 8px 0
    font-size: 16px
    text-align: left
    padding-left: 10px

    a
      color: white
      padding-left: 21px

  .runtime
    background-image: inline-image('icons/run-time.svg')

  .finished
    background-image: inline-image('icons/finished.svg')

  .tags
    background-image: inline-image('icons/tags.svg')

  .commit-changes
    background-image: inline-image('icons/github.svg')

  .runtime
    margin-top: 5px

  .runtime, .finished, .tags, .commit-changes
    background-position: left center
    background-repeat: no-repeat
    background-size: 14px 14px
    padding-left: 20px
    font-size: 13px
    display: block
    width: 100%
    height: 24px
    text-align: left
    line-height: 24px
    margin-left: 12px

  .commit-changes
    div
      display: inline
      clear: none
      height: 24px

    a
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      display: inline-block
      max-width: 175px
      line-height: 24px

  .right
    margin-top: 10px
    float: right
    width: 220px
    font-size: 11px

  .footer
    a
      color: #818181
      text-decoration: underline

    img
      vertical-align: middle
      border-radius: 100px

    .text
      line-height: 15px
      display: inline-block
      position: relative
      top: 2px

    .author
      float: left
      margin-top: 10px
      position: absolute
      bottom: 9px
      left: 48px

      div
        display: inline
        clear: none
        color: #818181

      img
        height: 16px
        width: 16px
        margin-right: 4px
        margin-left: 2px

#summary
  margin: 0 0 0 12px
  @include clearfix

  .left,
  .right
    float: left

  a
    text-decoration: underline

  dt, dd
    float: left
    min-height: 25px
    margin: 0
  dt
    clear: left
    width: 90px
  dd
    width: 150px
    white-space: nowrap
  > dd
    width: 80%
    min-width: 315px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .message
    white-space: normal
    min-width: 0

    pre
      font-size: 12px
      display: inline-block
      width: 100%
      line-height: 18px
      margin-bottom: 0
      font-family: Monaco, 'Liberation Mono', Courier, monospace
