@import "_mixins/all"

#tools
  position: relative
  float: right
  top: 2px
  & > a
    display: block
    width: 39px
    height: 21px
    margin-top: -27px
    background: inline-image('ui/tools-button.png') no-repeat
    cursor: pointer

  .menu
    display: none
    position: absolute
    right: 0
    top: -3px
    width: 135px
    background-color: $color-bg-menu
    border: 1px solid $color-border-light
    @include border-bottom-radius(4px)
    @include single-box-shadow(rgba(black, 0.1), 3px, 3px, 8px)
    a
      display: block
      padding: 5px 25px 5px 25px
      &:hover
        background-color: $color-bg-menu-hover
      &:last-child
        @include border-bottom-radius(4px)
