<ul class="tabs">
  <li id="tab_hooks" {{bindAttr class="view.classHooks"}}>
    <h5>
      <a {{action showAccount view.account href=true}}>Repositories</a>
    </h5>
  </li>
  {{#if view.displayUser}}
    <li id="tab_user" {{bindAttr class="view.classUser"}}>
      <h5>
        <a {{action showUserProfile view.account href=true}}>Profile</a>
      </h5>
    </li>
  {{/if}}
</ul>
