.top.landing-page .topbar,
.wrapper.centered .topbar,
.wrapper.centered #top .cta p,
.top.landing-page .cta p
  margin: 0 auto
  max-width: 1024px

.top.landing-page .topbar
  background-color: #fff

  .button--signin
    background-color: #ffffff
    background-image: inline-image('landing-page/signingithub.svg')
    background-size: 16px 16px
    border: 2px solid #e4e7e7
    color: #a0a8a8

  .button--signin:hover
    background-color: #73c78d
    background-image: inline-image('landing-page/signingithub-hover.svg')
    border: 2px solid #73c78d
    color: #fff

.wrapper.centered .topbar
  max-width: 1024px

.wrapper.centered #top,
.wrapper.centered .topbar,
.wrapper.non-centered .topbar
  background-color: #eff0ec

#landing
  margin: 0 auto 170px auto
  font-weight: 300
  overflow: hidden

  h1
    font-size: 5em
    line-height: 1em
    font-weight: 300
    color: #8f9294
    margin-bottom: 0

  h2
    font-size: 3.3em
    line-height: 1.15em
    font-weight: 300
    color: #39a85b

  p
    font-color: #606162
    font-size: 1.7em
    font-weight: 300

  .hero, .oss-testing, .customers, .recent-builds, .free-for-oss, .private-repos, .features-list, .build-flows, .user-testimonials
    padding: 90px 0 90px 0

    h1, h2
      margin-top: 0

    p
      line-height: 1.5em

  .landing-centered-wrapper
    max-width: 1024px
    margin: 0 auto

  .laptop-wrapper-mobile
    display: none

  .hero
    background-color: #faf9f6
    h1
      color: #339999
      line-height: 1.2em
      margin-bottom: 0.3em

    p
      margin: 0
      line-height: 1.5em
      max-width: 380px

    br.mobile-break
      display: none

    .button
      background-color: #39a85b
      color: #fff
      font-size: 2em
      font-weight: 300
      padding: 0.5em
      margin-top: 1.3em
      border-radius: 4px
      border: 0

      &:hover
        background-color: #73c78d

    .sign-in-mascot
      padding-right: 10px

  .oss-testing
    text-align: center

    h2
      margin: 0

    p
      margin-top: 0.5em
      margin-bottom: 2em

    br.mobile-break
      display: none

  .customers
    text-align: center

    .left
      text-align: left

  .recent-builds
    background-color: #faf9f6
    text-align: center

    h2
      color: #db4141
      text-align: right
      margin: 0

    p
      text-align: right
      margin-top: 0.5em
      margin-bottom: 2em

    img
      margin-bottom: 20px

    ul
      padding-left: 0

    li
      background-color: #fff
      border-radius: 4px
      color: #828282
      margin-bottom: 20px
      list-style-type: none

  .free-for-oss
    text-align: center

    h1
      margin-bottom: 0.3em

    p
      margin: 0

    span.bold-italic
      font-weight: 600
      font-style: italic

    br.mobile-no-break
      display: inline-block

  .private-repos
    text-align: center

    h2
      color: #339999
      margin: 0
      text-align: right

    p
      margin-top: 0.5em
      margin-bottom: 2em
      text-align: right

    .mobile-envelope
      display: none

    .desktop-envelope
      display: inline-block

  .features-list
    background-color: #faf9f6

    h2
      margin: 0

    h3
      font-size: 1.4em
      font-weight: 300
      color: #413c3c
      text-align: center

    p
      font-size: 1.15em
      font-weight: 300
      color: #606162
      text-align: center

    br.mobile-break
      display: none

    .features-checked
      padding-left: 30px;

    ul
      list-style-image: url('../images/landing-page/features-check.svg')
      padding-left: 1.5em

    li
      font-color: #606162
      font-size: 1.7em
      font-weight: 300
      margin-bottom: 0.55em

  .build-flows
    text-align: center

    h2
      color: #909295
      
    h2#pr-bf-margin
      margin-top: 90px

    .branch-bf
      .bf
        display: inline-block
        width: 120px

        p
          font-size: 1em
          line-height: 1.5em
          color: #5f6062

    .divider-line-horizontal
      width: 50px
      height: 3px
      background: #eaeaec
      display: inline-block
      margin-bottom: 75px

    .divider-line-vertical
      display: none

  .user-testimonials
    h2
      color: #418793
      text-align: right

    p
      font-size: 1.15em
      font-weight: 300
      color: #606162

  @media (max-width: 900px)
    .oss-testing br.mobile-break
      display: inline-block

    .landing-centered-wrapper
      width: 100%

  @media (max-width: 886px)
    .laptop-wrapper-mobile
      display: block
      width: 100%

    .hero .laptop-wrapper-mobile #laptop img
      width: 80%
      margin-left: 9%

    .laptop-wrapper
      display: none

    #hero-copy
      display: block
      width: 100%
      text-align: center

    .hero h1
      margin-top: 40px
      text-align: center
      max-width: 100%

    .hero p
      text-align: center
      max-width: 100%

    .hero br.mobile-break
      display: inline-block

  @media (max-width: 846px)
    .build-flows .branch-bf .bf
      width: 100%
      display: block
      clear: all

    .build-flows .branch-bf .bf img
      width: 120px
      height: 120px

    .build-flows .branch-bf .bf p
      font-size: 1.5em

    .build-flows .branch-bf .divider-line-horizontal
      display: none

    .build-flows .branch-bf .divider-line-vertical
      width: 3px
      height: 40px
      background: #eaeaec
      display: inline-block
      margin-bottom: 10px

  @media (max-width: 797px)
    .customers .left
      text-align: center

    .recent-builds h2
      text-align: center

    .recent-builds p
      text-align: center

    .free-for-oss br.mobile-no-break
      display: none

    .private-repos .desktop-envelope
      display: none

    .private-repos .mobile-envelope
      display: inline-block

    .private-repos h2
      text-align: center

    .private-repos p
      text-align: center

    .features-list .features-checked
      padding: 0 60px 0 60px

  @media (max-width: 608px)
    br.mobile-break
      display: inline-break
