#landing
  font-weight: 300

  h1
    font-size: 5em
    line-height: 1em
    font-weight: 300
    color: #8f9294

  h2
    font-size: 3.3em
    line-height: 1.15em
    font-weight: 300
    color: #39a85b

  p
    font-color: #606162
    font-size: 1.7em
    font-weight: 300

  .hero, .oss-testing, .customers, .recent-builds, .free-for-oss, .private-repos, .features-list, .build-flows, .user-testimonials
    margin-bottom: 200px
  
  .hero
    h1
      color: #339999

    .button
      background-color: #39a85b
      color: #fff
      font-size: 2em
      font-weight: 300
      padding: 0.5em
      border-radius: 4px
      border: 0

    .sign-in-mascot
      padding-right: 10px

  .recent-builds
    h2
      color: #db4141

  .features-list
    h3
      font-size: 1.4em
      font-weight: 300
      color: #413c3c

    p
      font-size: 1.15em
      font-weight: 300
      color: #606162

    ul
      list-style-image: url('../images/landing-page/features-check.svg')

    li
      font-color: #606162
      font-size: 1.7em
      font-weight: 300
      margin-bottom: 0.55em

  .user-testimonials
    p
      font-size: 1.15em
      font-weight: 300
      color: #606162