$max-width: $layout-max-width;
$max-big-width: $layout-big-max-width;
$padding-top: 24px;

.main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 174px - 55px);
  margin-top: $padding-top;
  padding-bottom: 5rem;
  background-color: white;

  &--flush {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.main-max {
  max-width: $max-big-width!important;
}

.loading-page {
  background-color: white;

  @extend .centered;

  .main {
    padding-bottom: 5rem;
    margin-bottom: -5rem;
  }
}

#left {
  position: relative;
  padding: 0 0 110px 0;
  background-color: white;
  border-right: 2px solid #f2f2f2;
}

.wrapper {
  background-color: white;
  @include clearfix;

  #main,
  #left {
    padding-bottom: 45px;

    .flush-footer &,
    &.main--flush {
      padding-bottom: 0;
    }
  }
}

.wrapper-main {
  padding: 0 math.div($column-gutter, 2);
}

@media #{$large-up} {
  #left,
  .wrapper-main {
    min-height: 100vh;
  }

  #left {
    width: grid-calc(6, 24);
    float: left;
    margin-left: -100%;
    max-width: 325px;
  }

  .wrapper-main {
    width: grid-calc(18, 24);
    float: left;
    margin-left: grid-calc(6, 24);
    overflow: visible;
  }
}

@media #{$xlarge-up} {
  #left {
    width: grid-calc(7, 36);
  }

  .wrapper-main {
    width: grid-calc(29, 36);
    margin-left: grid-calc(7, 36);
  }
}

@media #{$xxlarge-up} {
  #left {
    width: grid-calc(6, 36);
  }

  .wrapper-main {
    width: grid-calc(30, 36);
    margin-left: grid-calc(6, 36);
  }
}

@media screen and (min-width: 2200px) {
  #left {
    width: grid-calc(5, 36);
  }

  .wrapper-main {
    width: grid-calc(31, 36);
    margin-left: grid-calc(5, 36);
  }
}

.centered,
.centered.wrapper {
  #left {
    display: none;
  }

  #main {
    padding-bottom: 5rem;
    margin-bottom: 0;
  }

  .topbar,
  .inner {
    max-width: $max-width;
    margin: auto;
    padding: 0 math.div($column-gutter,2) 20px math.div($column-gutter, 2);
    @media #{$medium-up} {
      padding: 10px math.div($column-gutter,2) 66px math.div($column-gutter, 2);
    }
  }

  .inner-max {
    max-width: $max-big-width;
    margin: auto;
    padding: 0 math.div($column-gutter,2) 20px math.div($column-gutter,2);
    @media #{$medium-up} {
      padding: 10px math.div($column-gutter,2) 66px math.div($column-gutter, 2);
    }
  }

  .row {
    max-width: $max-width;
  }

  .main,
  .wrapper-main {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .footer {
    display: block;
  }
}
@media #{$small-only} {
  .hidden-on-mobile {
    display: none;
  }
}
@media #{$medium-up} {
  .display-on-mobile {
    display: none !important;
  }
}
.mr-1_2 {
  margin-right: 1.2rem;
}
.ml-130px {
  margin-left: 130px;
}
.mt-70px {
  margin-top: 70px;
}
