@import "./_mixins/all"

.pro.maximized
  #right
    display: none
    *:not(#slider):not(.icon):not(.ember-view)
      display: none

  #slider
    top: 45px
    left: -20px
    width: 20px
    height: 20px
    background-image: inline-image('ui/slider-open.svg')
    background-position: 6px 5px
    border-bottom-left-radius: 4px
    display: none

    @media #{$medium-up}
      display: block


#top .profile
  margin-right: 15px
