// HEADERS

.header-main {
  font-weight: 100;
  font-size: 3.7rem;
  letter-spacing: -0.5px;
  color: $oxide-blue;
  margin: 20px 0 10px;

  strong {
    font-weight: 400;
  }
}

.subheading {
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  color: $asphalt-grey;
  margin: 7px 0;
}

// ALIGNMENT

.align-center {
  text-align: center;
}
