$font-size-xl: 25px;
$font-size-ml: 18px;
$font-size-m: 16px;
$font-size-sm: 14px;
$line-height-m: 1.3;
$font-size-s: 12px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$top-height: 55px;

$turf-green: #39aa56;
$seed-green: #deecdc;

$canary-yellow: #edde3f;
$dozer-yellow: #cdb62c;
$haze-yellow: #faf6db;

$cement-grey: #9d9d9d;
$dry-cement: lighten($cement-grey, 30);
$asphalt-grey: #666666;
$pebble-grey: #f1f1f1;

$brick-orange: #ed7d5b;
$brick-red: #db4545;
$quartz-red: #fce8e2;

$oxide-blue: #3eaaaf;
$agate-blue: #b6d6d9;

$cream-light: #FAFAF8;
$cream-dark: #EFF0EC;

// log-dark
$log-header-bg: #444444;
$line-height-log: 19px;
$font-size-log: 12px;
$color-bg-log-hover: #444;
$color-bg-log-highlight: $cement-grey;
$color-bg-log-fold: #222;
$color-bg-log-fold-highlight: #777;
$fold-name-bg: #666;
$duration-bg: #666;
$duration-color: #bbb;

$ansi-black: #4E4E4E;
$ansi-black-bold: #7C7C7C;
$ansi-red: #FF6C60;
$ansi-red-bold: #FF9B93;
$ansi-green: #00AA00;
$ansi-green-bold: #B1FD79;
$ansi-yellow: #FFFFB6;
$ansi-yellow-bold: #FFFF91;
$ansi-blue: #96CBFE;
$ansi-blue-bold: #B5DCFE;
$ansi-magenta: #FF73FD;
$ansi-magenta-bold: #FF9CFE;
$ansi-cyan: #00AAAA;
$ansi-cyan-bold: #55FFFF;
$ansi-white: #EEEEEE;
$ansi-white-bold: #FFFFFF;
$ansi-grey: #969696;

// log-light
$log-header-bg-light: $pebble-grey;
$line-height-log-light: 19px;
$font-size-log-light: 12px;
$color-bg-log-hover-light: lighten(#777, 80%);
$color-bg-log-highlight-light: lighten(#777, 70%);
$color-bg-log-fold-light: white;
$color-bg-log-fold-highlight-light: lighten(#777, 80%);
$fold-name-bg-light: lighten(#666, 10%);
$duration-bg: lighten(#666, 10%);
$duration-color: white;

$light-theme-darken-pct: 10%;
$ansi-black-light: darken(#4E4E4E, $light-theme-darken-pct);
$ansi-black-bold-light: darken(#7C7C7C, $light-theme-darken-pct);
$ansi-red-light-light: darken(#FF6C60, $light-theme-darken-pct);
$ansi-red-bold-light: darken(#FF9B93, $light-theme-darken-pct);
$ansi-green-light: darken(#00AA00, $light-theme-darken-pct);
$ansi-green-bold-light: darken(#B1FD79, $light-theme-darken-pct);
$ansi-yellow-light: darken(#FFFFB6, $light-theme-darken-pct);
$ansi-yellow-bold-light: darken(#FFFF91, $light-theme-darken-pct);
$ansi-blue-light: darken(#96CBFE, $light-theme-darken-pct);
$ansi-blue-bold-light: darken(#B5DCFE, $light-theme-darken-pct);
$ansi-magenta-light: darken(#FF73FD, $light-theme-darken-pct);
$ansi-magenta-bold-light: darken(#FF9CFE, $light-theme-darken-pct);
$ansi-cyan-light: darken(#00AAAA, $light-theme-darken-pct);
$ansi-cyan-bold-light: darken(#55FFFF, $light-theme-darken-pct);
$ansi-white-light: darken(#EEEEEE, $light-theme-darken-pct);
$ansi-white-bold-light: darken(#FFFFFF, $light-theme-darken-pct);
$ansi-grey-light: darken(#969696, $light-theme-darken-pct);

// error pages
$error-heading-color: #357389;
$error-copy-color: $asphalt-grey;
$error-bg-gradient: rgba(204, 235, 247, 1);
$maintenance-grass: #8cad7d;
$error-hill-grey: #bbcac6;
$error-sand: #dcc682;
