$z-index: (
  under: -10,
  above: 10,
  above-above: 20,
  flashes: 10,
  above-flashes: 40,
  overlay: 50,
  dialog: 60
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
