.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .7s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}
