@import "variables.scss";
@import "colors.scss";

.action-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-start;

  .user-tests-input-filter,
  .notify-input-filter {
    flex-basis: 100%;
  }
}

.action-btn {
  display: flex;
  box-shadow: none;
  background-color: $component-background;
  border: 1px solid $component-border;
  color: $component-font-color;
  border-radius: 4px;
  text-transform: none;
  margin: 0 0 $spacing-8 0;
  line-height: 1.4583rem;
  height: 32px;
  padding: 6px 12px;
  font-size: 1.02083rem;
  letter-spacing: 0.25px;

  a {
    color: $component-font-color;
  }

  &:hover {
    background-color: $component-background-hover;
    opacity: 1;
    border: 1px solid transparent;
  }

  &:focus {
    background-color: $component-background-hover;
    opacity: 1;
    border: 1px solid transparent;
  }

  &.disabled,
  &:disabled {
    background-color: $component-background-disabled;
    color: $component-font-disabled-color;
    opacity: 1;
    border: 1px solid transparent;
    cursor: not-allowed;

    a {
      color: $component-font-disabled-color;
      cursor: not-allowed;
    }

    svg {
      color: $cement-gray !important;
      fill: $cement-gray;
    }
  }

  svg {
    width: 20px;
    margin: 0 0.583rem 0 0;
    color: $cement-gray !important;
    fill: $cement-gray;
  }
}


.switch label input[type="checkbox"]:checked + .lever {
  background-color: rgba(62, 170, 175, 0.2);
}

.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: $oxide-blue;
}

.switch label .lever::before {
  background-color: #A2D6D9;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
  border: none;
  outline: none;
}

[type="checkbox"].filled-in:checked + span:not(.lever)::before {
  top: 5px;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever)::after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 5px;
  z-index: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever)::after {
  top: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  background-color: $oxide-blue;
  z-index: 0;
}

.input-search {
  display: flex;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  height: 48px;
  color: $cement-gray !important;

  .input-search-icon {
    padding: 10px;
    width: 48px;
    height: 48px;
    text-align: center;
    transform: rotate(90deg);
  }

  ::placeholder {
    color: rgba(157, 157, 157, 0.5);
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: rgba(157, 157, 157, 0.5);
  }

  ::-ms-input-placeholder {
    color: rgba(157, 157, 157, 0.5);
  }
}

textarea {
  resize: vertical;
}

.table-default {
  background-color: $color-white;
  margin: auto;
  border-collapse: separate;
  border: 1px solid $med-gray;
  border-radius: 4px;

  thead {
    tr {
      padding: 0 !important;

      th {
        font-weight: normal;
        font-size: 1.166rem;
        letter-spacing: 0.15px;
        line-height: 1.5;
        color: $asphalt-gray;
        border-bottom: 1px solid $med-gray;
        padding: 1.166rem;
      }
    }
  }

  tbody {
    color: $asphalt-gray;

    tr {
      td {
        padding: 1.166rem;

        a {
          color: $oxide-blue;
          cursor: pointer;
        }
      }

      &:not(:last-child) {
        td {
          border-bottom: 1px solid $med-gray;
        }
      }
    }
  }
}


form {
  fieldset {
    background-color: $color-white;
    border-radius: 4px;
    border: 1px solid $component-border;
    padding: $spacing-8 $spacing-16 $spacing-16;
    margin-bottom: $spacing-16;
    position: relative;

    legend {
      font-size: 0.875rem;
      line-height: 1.166rem;
      color: $asphalt-gray;
      margin: 0 $spacing-4;
      padding: 0 0.2916rem;
      letter-spacing: 0.4px;
      border: none;
    }

    input:not([type]),
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=date]:not(.browser-default),
    input[type=datetime]:not(.browser-default),
    input[type=datetime-local]:not(.browser-default),
    input[type=tel]:not(.browser-default),
    input[type=number]:not(.browser-default),
    input[type=search]:not(.browser-default),
    textarea.materialize-textarea,
    input,
    select {
      border: none !important;
      outline: none !important;
      word-break: break-word;
      font-size: 1.166rem;
      line-height: 1.75rem;
      letter-spacing: 0.15px;
      color: $component-font-color;
      height: 1.75rem;
      margin: 0;
      padding: 0;
    }

    select {
      display: none;
      font-size: inherit;
      line-height: 1.5;
      letter-spacing: 0.15px;
      color: $asphalt-gray;
      border: none;
      height: 24px;
      margin: 0;
      padding: 0;
    }

    textarea {
      border: none;
      outline: none;
      color: $asphalt-gray;
      min-height: 60px;
    }
  }
}

input,
textarea {
  &::placeholder {
    color: $cement-gray;
  }
}

.select-dropdown {
  li {
    &.selected {
      background-color: $pebble-gray !important;
    }

    a,
    span {
      color: $asphalt-gray;
      font-size: 1.02083rem;
      letter-spacing: 0.25px;
      line-height: 1.4583rem;

      &:hover {
        background-color: $pebble-gray;
      }
    }
  }
}

.btn {
  font-size: 1.02083rem;
  line-height: 1.166rem;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: uppercase;

  &.btn-primary {
    background-color: $normal-btn-bg !important;
    color: $color-white;

    &:hover {
      color: $color-white;
      background-color: $normal-btn-hover-bg !important;
    }

    &:focus {
      color: $color-white;
      background-color: $normal-btn-focus-bg !important;
    }

    &:disabled,
    &.disabled {
      color: $cement-gray;
      background: $normal-btn-disabled-bg !important;
    }
  }

  &.btn-danger {
    background-color: $destroy-btn-bg;
    color: $color-white;

    &:hover {
      color: $color-white;
      background-color: $destroy-btn-hover-bg;
    }

    &:focus {
      color: $color-white;
      background-color: $destroy-btn-focus-bg;
    }

    &:disabled,
    &.disabled {
      color: $cement-gray;
      background: $destroy-btn-disabled-bg;
    }
  }

  &.btn-link {
    background-color: $cancel-btn-bg;
    color: $cancel-btn-color;
    box-shadow: none;

    &:hover {
      color: $cancel-btn-hover-bg;
      background-color: $cancel-btn-bg;
    }

    &:focus {
      color: $cancel-btn-focus-bg;
      background-color: $cancel-btn-bg;
    }

    &:disabled,
    &.disabled {
      color: $cancel-btn-disabled-bg;
      background: $cancel-btn-bg;
    }
  }
}

@media (min-width: $md-min) {
  .action-items {
    .action-btn {
      margin: 0 $spacing-8 $spacing-8 0;
    }

    flex-direction: row;
  }

  .table-default {
    thead {
      tr {
        padding: 0 10px 0 0;
      }
    }

    tbody {
      tr {
        &:not(:last-child) {
          td {
            border-bottom: 1px solid $med-gray;
          }
        }
      }
    }
  }
}

@media (min-width: $lg-min) {
  .action-items {
    .user-tests-input-filter,
    .notify-input-filter {
      flex-basis: unset;
    }
  }
  .input-search {
    width: 410px;
  }
}

.sort-btn {
  cursor: pointer;

  &:after {
    margin-left: 3px;
    width: 1em;
    height: 1em;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color: white;
    content: "arrow_upward";
  }

  &:hover:after {
    color: #cccccc;
    content: 'arrow_upward';
  }

  &.asc:after, &.asc:hover:after {
    color: #666;
    content: 'arrow_upward';
  }

  &.desc:after, &.desc:hover:after {
    color: #666;
    content: 'arrow_downward';
  }
}

.test-connection {
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px;
  text-align: left;
  color: #3eaaaf;
  margin: 0.0rem 1.166rem 0.583rem 1.166rem;
  cursor: pointer;
  display: inline;
}

.test-connection-disable {
  @extend .test-connection;
  color: #666666;
  pointer-events: none;
}

.container {
  width: 75%;
}

.dot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30px;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #666666;
}

.dot-1 {
  animation-name: flow;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot-2 {
  animation: flow .4s ease .2s infinite alternate;
}

.dot-3 {
  animation: flow .4s ease .4s infinite alternate;
}

@keyframes flow {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: .20;
    transform: scale(.75);
  }
}

.test-connection-loading-message {
  width: 147px;
  height: 16px;
  flex-grow: 0;
  margin: 0px 0px 8px 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.test-connection-success-icon {
  width: 14px;
  height: 14px;
  flex-grow: 0;
  margin: 2px 0px 0px 16px;
  padding: 10.2px 3.9px 0px 0px;
  display: inline;
  background-image: url('../images/icons/pass.svg');
}

.test-connection-success-message {
  width: 147px;
  height: 16px;
  flex-grow: 0;
  margin: 0 0 0 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.test-connection-fail-icon {
  width: 14px;
  height: 14px;
  flex-grow: 0;
  margin: 2px 0px 0px 16px;
  padding: 10.2px 3.9px 0px 0px;
  display: inline;
  background-image: url('../images/icons/error.svg');
}

.test-connection-fail-message {
  width: 147px;
  height: 16px;
  flex-grow: 0;
  margin: 0px 0px 8px 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.test-connect {
  display: flex;
  justify-content: flex-start;
}

.test-connection-fail-body {
  font-family: Roboto;
  font-size: 14px;
  position: absolute;
  color: #666666;
  margin: 20px 20px 8px 15px;
}

.notify-input-search {
  &__input {
    height: 3.43rem !important;
  }
}
