// Breakpoints
$xxl-min: 1921px;
$xl-min: 1201px;
$lg-max: $xl-min - 1px;
$lg-min: 993px;
$md-max: $lg-min - 1px;
$md-min: 601px;
$sm-max: 600px;
$md-min: $sm-max + 1px;
$sm-min: 321px;

// Spacings 14px Base
$spacing-4: 0.2916rem;
$spacing-8: 0.5833rem;
$spacing-12: 0.875rem;
$spacing-16: 1.166rem;
$spacing-20: 1.4583rem;
$spacing-24: 1.75rem;
$spacing-28: 2.0416rem;
$spacing-32: 2.33rem;

// Radius 14px Base
$raius-5: 0.36516rem;
