@import "_mixins/all"

#accounts,
#repositories
  &.open li .info
    display: block

  li
    position: relative
    font-size: $font-size-big
    padding: 15px 20px 15px 18px
    border-bottom: 1px solid $color-border-light
    background-repeat: no-repeat

    &:nth-child(odd)
      background-color: $color-bg-list-odd
      .indicator
        background-image: inline-image('ui/current-repository-indicator-odd.png')
    &:nth-child(even)
      background-color: $color-bg-list-even
      .indicator
        background-image: inline-image('ui/current-repository-indicator-even.png')

    .heading
      display: table
      width: 100%

    .slug
      display: table-cell
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-width: 150px

    .last_build
      display: table-cell
      text-align: right
      font-size: $font-size-big

    .summary
      margin: 5px -5px 0 17px
      color: $color-text-light
      font-size: $font-size-small

    .info
      overflow: hidden
      margin: 12px -20px -15px -45px
      font-size: $font-size-small
      background-color: $color-bg-list-info
      color: $color-text-list-info
      display: none
      p
        margin: 0 -10px 0 -10px
        padding: 12px 35px 12px 55px
        @include box-shadow($color-shadow-list-info 0 1px 8px 0 inset)

    .indicator
      display: none

    &.selected .indicator
      display: block
      position: absolute
      top: 25px
      right: -15px
      width: 15px
      height: 25px
      background-repeat: no-repeat
      background-position: -2px -2px

  .loading
    padding: 15px 25px 15px 30px
    background-color: $color-bg-list-odd
    background-image: none

#accounts
  li
    margin-left: -4px
    padding-left: 52px
    &.user
      background-image: inline-image('icons/user.small.png')
      background-position: 29px 17px
    &.org
      background-image: inline-image('icons/org.small.png')
