@import "_mixins/all"

#auth
  #page
    display: block
    min-height: 500px

  #main
    top: 200px
    margin: 0 auto 0 auto
    padding: 25px 50px

    width: 300px
    min-width: auto
    border: 10px solid #bbb
    @include border-radius(8px)

    h1
      margin-bottom: 1em
      color: #333

    p
      color: #333

    a:hover
      text-decoration: underline


