#getting-started
  width: 600px
  margin: 30px 0 0 20px
  font-family: 'Source Sans Pro'

  p
    font-size: 15px

  a
    font-weight: bold

    &:hover
      text-decoration: underline

  img
    border: 1px solid #ddd
    padding: 15px 
    float: none
    margin: 15px 0 15px 0

    &.spinner
      border: 0px
      padding: 0px
      float: none
      margin: 0px
      margin-left: 5px
