#getting-started
  width: 600px
  margin: 30px 0 0 20px
  font-family: 'Source Sans Pro'

  h2
    color: #919191
    font-weight: 400
    line-height: 30px

  h3
    font-size: 35px
    color: #337389

  span
    margin-top: 50px

  .steps
    font-size: 20px
    color: #40454f

  p
    font-size: 15px

  a
    font-weight: bold

    &:hover
      text-decoration: underline

  img
    border: 1px solid #ddd
    padding: 0 
    float: none
    margin: 15px 0 15px 0

    &.spinner
      border: 0px
      padding: 0px
      float: none
      margin: 0px
      margin-left: 5px
