@import "_mixins/all"



html, body
  height: 100%

.application
  position: relative
  width: 100%
  min-height: 100%
  margin-top: 40px
  display: -webkit-box
  @include display-flex
  display: -moz-box

#top
  position: absolute
  top: -40px
  left: 0
  width: 100%
  height: 55px
  z-index: 1000

#left, #right
  position: relative
  min-height: 100%


#left
  min-width: 380px
  max-width: 380px
  padding: 0 0 110px 0
  background-color: $color-bg-left
  border-right: 1px solid $color-border-normal

#main
  position: relative
  min-width: 500px
  padding: 20px 40px 80px 30px

@media screen and (max-width: 1400px)
  #left .duration_label
    display: inline-block
    width: 11px
    height: 14px
    margin-right: 1px
    text-indent: -200px
    overflow: hidden
    background: inline-image('ui/clock.png') no-repeat 0px 3px

@media screen and (max-width: 1310px)
  #left .finished_at_label
    display: none

@media screen and (max-width: 1310px)
  table#builds .committer
    display: none
