form
  margin: 20px

  p.short-settings-element
    display: inline-block
    vertical-align: middle
    margin: 0 10px 0 0
    float: left

  label
    line-height: 30px

  input
    display: inline-block
    float: left
    width: 60px
    height: 18px
    padding: 5px 18px 5px 18px
    background-color: #F5F5F5
    border: 1px solid #E3E1E1
    border-radius: 4px
    line-height: 19px
    font-size: 11px
    color: #999999
    text-align: center

  .invalid
    input
      border-width: 1px
      border-color: #ffb6c1
      background: rgb(252, 227, 230)


