.settings-form
  margin-top: 30px

  .settings-row
    display: table
    height: 20px

    label
      font-size: 13px
      height: 20px
      line-height: 25px
      padding: 0

  .short-settings-element
    display: table-cell
    vertical-align: middle
    text-align: right
    width: 100px

  input
    margin: 0px 15px
    display: inline-block
    
  .invalid
    input
      border-width: 1px
      border-color: red
      background: #ffb6c1


