@import "_mixins/all"

.tabs
  height: 29px
  border-bottom: 1px solid #ccc

  li
    display: inline-block
    height: 28px
    margin-right: 10px
    vertical-align: top
    background-color: $color-bg-tab
    border: 1px solid $color-border-light
    white-space: nowrap
    cursor: pointer

    &:hover
      background-color: $color-bg-tab-hover

  .active
    background-color: $color-bg-tab-active
    border-bottom-color: $color-bg-tab-active

  h5
    margin: 0
    font-size: $font-size-small
    font-weight: normal
    line-height: 30px
    text-align: center

    a
      display: block
      padding: 0 10px

#left
  .tabs
    padding-left: 20px
    margin-top: -29px

  #tab_search:not(.active)
    display: none

  #tab_owned
    display: none
  #tab_owned.display
    display: inline-block



#main
  .tabs
    margin-top: 35px
    h5
      min-width: 65px
    a
      text-decoration: none

  .tab
    margin-top: 20px

  #tab_build,
  #tab_job,
  #tab_request,
  #tab_requests
    display: none

#profile
  #main
    .tab
      margin: 30px 0 0 12px

#right
  .tabs
    margin-left: -3px

    .active
      background-color: $color-bg-right
      border-bottom-color: $color-bg-right
      h5
        font-weight: bold
