/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: Helvetica;
}

#head {
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

#left, #main, #right {
  float: left;
}

#left {
  width: 200px;
}

#main {
  width: 800px;
  padding-left: 1em;
}

h2 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.tabs li {
  float: left;
  margin-right: 20px;
}

.tab {
  clear: both;
  padding-top: 20px;
}

.github-stats {
  float: right;
  width: 100px;
}
.github-stats li {
  float: left;
  margin-left: 20px;
}

.summary {
  display: inline-block;
}
.summary .left,
.summary .right {
  float: left;
  width: 350px;
}

dt {
  clear: both;
  float: left;
  width: 60px;
}
dd {
  float: left;
}

/* .green { */
/*   border-top: 5px solid lightgreen; */
/* } */
/* .red { */
/*   border-top: 5px solid red; */
/* } */

#jobs,
.log {
  clear: both;
  padding-top: 20px;
}
table {
  clear: both;
  margin-top: 20px;
}
caption {
  text-align: left;
  font-weight: bold;
}
