@import "_mixins/all"

$left-width: 250px

body
  background: inline-image('ui/background-left.png') repeat-y ($left-width - 790px) top

body > div
  width: 100%
  overflow-x: hidden

#left, #main, #right
  min-height: 100%

#left
  position: absolute
  top: 40px
  bottom: 0
  width: $left-width
  padding-right: 10px

#main
  position: relative
  overflow: hidden
  min-width: 630px
  margin: 20px 275px 40px ($left-width + 40px)
  &.maximized
    padding: 60px 100px 30px 440px

#right
  position: absolute
  z-index: 100
  top: 40px
  right: 0
  width: 205px
  min-width: 205px
  padding: 20px 20px 20px 10px
  background-color: $color-bg-sidebar
  border-bottom: 1px solid $color-border-light
  // @include transition(width .1s ease-out)

$step: 12px
@for $i from 1 through 10
  @media screen and (min-width: (1180px + $i * $step * 2))
    body
      background-position-x: ($left-width + $i * $step - 790px)
    #left
      width: ($left-width + $i * $step)
    #main
      margin-left: ($left-width + $i * $step + 40px)

@media screen and (max-width: 1400px)
  #left .duration_label
    display: inline-block
    width: 11px
    height: 14px
    margin-right: 1px
    text-indent: -200px
    overflow: hidden
    background: inline-image('icons/clock.png') no-repeat 0px 3px

@media screen and (max-width: 1280px)
  #left .finished_at_label
    display: none


