@import "_mixins/all.sass"

body#home,
body#profile
  background: inline-image('ui/background-left.png') repeat-y -47px top

#left
  position: absolute
  z-index: 10
  width: 380px

  #search_box
    height: 90px
    padding: 30px 20px 0 20px
    background-color: $color-bg-dark

    input[type=text]
      height: 28px
      width: 97%
      padding: 0 0 0 10px
      color: $color-text
      font-size: $font-size-small
      border: 1px solid $color-border-light
      @include border-radius(4px)
      background: $color-bg-input inline-image('icons/search.png') no-repeat 315px 8px

  .tabs
    #tab_owned
      display: none

  .tabs
    #tab_owned.display
      display: inline-block

  .toggle-info
    position: absolute
    right: 24px
    margin-top: -22px
    display: block
    width: 14px
    height: 14px
    background-image: inline-image('icons/info.png')
    cursor: pointer

