@import "compass"

#profile
  #main
    h3
      margin: 15px 60px 0 0
      font-size: 24px
      line-height: 24px
      color: #666

    h4
      font-size: 15px
      color: #666

    img
      float: left
      margin: 3px 15px 0 0
      @include border-radius(4px)

    dl
      margin: 0 0 20px 18px
      color: #666
      font-size: 13px

    dt
      display: block
      float: left
      width: 50px

    dd
      clear: right

    #welcome
      margin-top: -35px
      margin-bottom: 35px
      font-size: 13px
      h4, p
        margin-bottom: 4px

    p.notice
      background-color: #a8eb75
      padding: 10px
      @include border-radius(4px)
      a
        text-decoration: underline
      small
        font-size: 13px
        display: block

    p.tip
      font-size: 13px
      margin-top: -10px

    .highlight
      color: #C7371A
