@import "_mixins/all"

#right
  h4
    margin: 24px 0 0 0

  ul
    margin-top: 10px

  .box
    margin-top: 25px
    padding: 15px
    border: 1px solid $color-border-normal
    background-color: $color-bg-sidebar-box
    @include border-radius(4px)

    h4
      margin: 0
    a
      text-decoration: underline
    li
      list-style-type: square
      margin-left: 15px
