@import "_mixins/all"

#right
  position: absolute
  display: block
  top: 0
  right: 0
  min-height: 100%
  width: 205px
  padding: 20px 20px 20px 10px
  background-color: $color-bg-sidebar
  border-bottom: 1px solid $color-border-light
  // @include transition(width .1s ease-out)

  h4
    margin: 24px 0 0 0

  ul
    margin-top: 10px

  .box
    margin-top: 25px
    padding: 15px
    border: 1px solid $color-border-normal
    background-color: $color-bg-sidebar-box
    @include border-radius(4px)

    h4
      margin: 0
    a
      text-decoration: underline
    li
      list-style-type: square
      margin-left: 15px
