<div id="getting-started">
  <h2>Welcome to Travis CI!</h2>

  <p>
    Hey, it looks like you're new around here and have yet to set up your first repository on Travis CI.
  </p>

  <p>
    We're here to help you get started, it's easy!
  </p>

  <p>
    Start by going to your {{#linkTo "profile.index"}}profile{{/linkTo}} and enable one of your projects. We've been
    synchronizing all repositories you have administrative access to. Pick one and flip the switch next to it:
  </p>

  <p>
    <img src="/images/getting-started/project-switch.png" width="550"/>
  </p>

  <p>
    Once you've enabled one of your projects, push some code, and we'll start processing your builds. Wait a
    little bit and reload the page, and your newly setup and built project will show up on the right. You'll also
    get an email notifying you of your finished build.
  </p>

  <p>
    <img src="/images/getting-started/first-build.jpg" width="550"/>
  </p>

  <p>
    We use sensible defaults for <a href="http://about.travis-ci.org/docs/">most languages</a>, but you can customize
    both the <a href="http://about.travis-ci.org/docs/user/build-configuration/">build process</a> and the <a
    href="http://about.travis-ci.org/docs/user/build-configuration/">build
    environment</a> to fit your project's needs.
  </p>
</div>
