<ul class="navigation">
  <li>{{#link-to "settings.index"}}General{{/link-to}}</li>
  <li>{{#link-to "env_vars"}}Environment variables{{/link-to}}</li>
  {{#if Travis.config.ssh_key_enabled}}
    <li>{{#link-to "ssh_key"}}Ssh key{{/link-to}}</li>
  {{/if}}
</ul>

<div id="settings">
  {{outlet}}
</div>
