<ul class="navigation">
  <li>{{#link-to "settings.index"}}General settings{{/link-to}}</li>
  <li>{{#link-to "env_vars"}}Environment variables{{/link-to}}</li>
  <li>{{#link-to "ssh_key"}}Ssh key{{/link-to}}</li>
</ul>

<div id="settings">
  {{outlet}}
</div>
