@import "compass"

#github
  display: block
  position: absolute
  top: 0
  right: -70px
  width: 250px
  padding: 3px 0
  border-top: 2px solid #ef9f4c
  border-bottom: 2px solid #ef9f4c
  background: #ef7600

  color: white
  text-align: center
  text-decoration: none
  font-size: 13px
  font-weight: bold
  line-height: 19px
  letter-spacing: -1px
  text-shadow: 0 0 10px #522600

  @include rotate(45deg)
  @include box-shadow(rgba(black, 0.5) 1px 1px 10px, rgba(black, 0.07) 0 0 3px 1px inset)

