@import "_mixins/all"

#right
  #queues
    margin-top: 0

  #toggle-workers
    display: inline-block
    float: right
    width: 10px
    height: 10px
    cursor: pointer
    background: inline-image('ui/workers-open.png') no-repeat left 5px
    &.open
      background-image: inline-image('ui/workers-close.png')

  #workers li ul
    display: none

  #workers li,
  #queues ul li
    overflow: hidden
    white-space: nowrap
    margin: 0
    list-style-type: none

    h5
      font-size: $font-size-small
      font-weight: normal
      margin: 0px
      cursor: pointer

    ul
      margin-top: 8px
      margin-bottom: 5px
      padding-left: 1px

    .name,
    .slug
      display: inline-block
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

    .name
      max-width: 140px

    .slug
      max-width: 150px

    &.open ul
      display: block

    .icon
      clear: left
      float: left
      width: 8px
      height: 8px
      margin: 6px 6px 0 0
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      background: inline-image('icons/status.square.green.png')

    &.waiting .icon
      background: inline-image('icons/status.square.green.png')

    &.errored .icon
      background: inline-image('icons/status.square.red.png')

    &.stopped .icon
      background: inline-image('icons/status.square.gray.png')

