<FlashNotification
  @severity='warning'
  @componentName='negative-balance-private-and-public'
>
<span data-test-flash-message-text class="message">
        Builds have been temporarily disabled for private and public repositories due to a negative credit balance.
        Please go to the
        {{#if @data.isUser}}
          <LinkTo @route="account.billing">Plan page</LinkTo>
        {{else}}
          <LinkTo @route="organization.billing" @model={{@data.owner}}>Plan page</LinkTo>
        {{/if}}
        to replenish your credit balance.
      </span>
</FlashNotification>
