<Notification
  @type='global'
  @severity='error'
>
  <span data-test-flash-message-text class="message">
    You reached the maximum number of tries. The payment details edition is blocked for {{@data.time}} hours. Please, try again later.
  </span>
</Notification>
