<ul data-test-components-flash-item="true" class="flash ember-view">
  <li class="warning below-top-bar ember-view">
    <p class="flash-message">
      <span data-test-flash-message-text class="message">
        We are unable to start your build at this time. There are charges pending on your account.
        Please review your plan details and follow the steps to resolution.
      </span>
    </p>
  </li>
</ul>