<FlashNotification
  @severity='error'
  @componentName='pending-user-licenses'
>
  <span data-test-custom-flash-message-text class="message">
    We are unable to start your build at this time. There are charges pending on your account.
    Please review your plan details and follow the steps to resolution.
  </span>
</FlashNotification>
