<Notification
  @type='alert'
  @severity='info'
>
  <span data-test-flash-message-text class="message">
    You have selected the {{@data.scheduledPlan.name}} plan. Your new plan will be effective from {{pretty-date @data.date}}
  </span>
</Notification>
