// Might use extend to clean up the style repetition once the design is locked in

// class belongs to wrapping <li>
.account
  // display: flex


.org-info
  // border: 1px solid blue
  display: flex
  flex-direction: row
  // only specifying the left padding here 
  // if we use padding for the whole anchor element 
  // instead of using margin for the account-info span on the right
  // it compresses the avatar and makes it smaller
  padding: .5rem .3rem
  &:hover
    color: #3eaaaf
  &.active
    background: rgba(181, 214, 217, 0.15)
    color: #3eaaaf
    border-radius: 4px
    > .account-avatar
      border: 2px solid #3eaaaf
      > .avatar .real-avatar
        // background-color: transparent
  > .account-info
    margin-left: 1rem
  > .account-avatar
    border-radius: 50%
  
    


.user
  > .org-info
    align-items: flex-start



.organization
  > .org-info
    align-items: center
    

.account-name
 margin: 0
 font-size: $font-size-sm
 font-weight: $font-weight-bold
 width: 180px
 white-space: nowrap
 text-overflow: ellipsis
 overflow: hidden
 @media #{$medium-up}
   width: 240px


.account-repo-count,
.account-token
  margin: 0


