.AskTravis {
  position: absolute;
  right: 10px;
  bottom: 220px;
  margin: 15px;
  z-index: 105;
}

#asktravis {
  float: right;
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  box-shadow: 0 5px 20px 0 rgb(0, 0, 0, 0.1);
}

#asktravis-content {
  display: none;
  width: 374px;
  height: 534px;
  position: fixed;
  bottom: 88px;
  right: 16px;
}

#asktravis-button {
  width: 56px;
  height: 56px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 50%;
  box-shadow: 0 5px 20px 0 rgb(0, 0, 0, 0.1);
}

.asktravis-button-inactive {
  background: url(/images/svg/open-chat.svg) no-repeat 50% 50%;
  animation: asktravis-close 0.1s 1 linear;
}

.asktravis-button-active {
  background: url(/images/svg/close-chat-icon.svg) no-repeat 50% 50%;
  animation: asktravis-rotate 0.1s 1 linear;
}


.asktravis-button-activate {
}

.asktravis-button-deactivate {
}

.ask-travis-message {
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  background: #F0F3F7;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
  padding: 12px 32px 12px 16px;
  gap: 12px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  margin-bottom: 65px;
  opacity: 0;
  animation: showMessage 1s forwards;
  animation-delay: 1s;
}

.ask-travis-message p {
  margin-top: 0;
  margin-bottom: 0;
}

.asktravis-mascot{
  width: 40px;
  height: auto;
  margin-right: 12px;
}

.close-ask-travis {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 10px;
  height: 10px;
  color: #666;
  margin-top: 7px;
  margin-right: 7px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  line-height: 20px;
}

@keyframes asktravis-rotate {
  0% {
    transform: rotateZ(0deg);
    background: url(/images/svg/open-chat.svg) no-repeat 50% 50%;
  }
  50% {
    transform: rotateZ(45deg);
    background: url(/images/svg/close-chat-icon.svg) no-repeat 50% 50%;
  }

  100% {
    transform: rotateZ(90deg);
    background: url(/images/svg/close-chat-icon.svg) no-repeat 50% 50%;
  }
}

@keyframes asktravis-close {
  0% {
    transform: rotateZ(90deg);
    background: url(/images/svg/close-chat-icon.svg) no-repeat 50% 50%;
  }
  50% {
    transform: rotateZ(45deg);
    background: url(/images/svg/close-chat-icon.svg) no-repeat 50% 50%;
  }

  100% {
    transform: rotateZ(0deg);
    background: url(/images/svg/open-chat.svg) no-repeat 50% 50%;
  }
}
@keyframes showMessage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
