@mixin absoluteCenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.avatar {
  display: inline-block;
  width: 2.3em;
  height: 2.3em;
  position: relative;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;

  .pseudo-avatar {
    @include absoluteCenter;

    border: 1px solid $cement-grey;
    border-radius: 50%;
    background: white;
    transform: scale(0.95);

    &:after {
      content: attr(data-initials);

      @include absoluteCenter;

      color: $cement-grey;
      font-weight: 600;
      text-align: center;
      font-size: 1.4em;
      line-height: 1.6;
      text-transform: uppercase;
    }
  }

  .real-avatar {
    @include absoluteCenter;

    border-radius: 50%;
    width: 100%;
    height: 100%;
    line-height: 0.9;
    overflow: hidden;
  }

  &__provider-icon {
    position: absolute;
    top: 15px;
    right: 5px;
    fill: $asphalt-grey;
  }
}

.account {
  .pseudo-avatar ~ .real-avatar {
    background-color: $pebble-grey;
  }
}

.profile {
  .avatar {
    margin: 20px 10px 20px 0;
    @media #{$medium-up} {
      margin: 0 10px 0 16px;
      top: -3px;
    }
  }

  .pseudo-avatar ~ .real-avatar {
    background-color: $pebble-grey;
  }
}

.avatar--small {
  @extend .avatar;

  width: 18px;
  height: 18px;
  margin-right: 0.3rem;

  .pseudo-avatar:after {
    font-size: 9px;
    line-height: 16px;
  }
}

.avatar-wrapper {
  position: relative;

  .checkmark {
    position: absolute;
    right: 0;
    top: -5px;

    width: 10px;
    height: 10px;
  }
}

.label-align + .avatar-wrapper {
  margin-left: 1rem;
}

.profile-header .checkmark {
  top: 0;
}
