.badge {
  display: inline-block;
  padding: 0 0.7em;
  margin: 0 0.6em;
  border-radius: 15px;
  font-size: 1rem;
  color: $dozer-yellow;
  border: 1px solid $canary-yellow;
  background: $haze-yellow;

  &.message-label {
    position: relative;
    top: -1px;
    background: $pebble-grey;
    border: 0;
    padding: 0 0.5em;
    margin: 0 0.3em 0 0;
    color: $cement-grey;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.deprecated {
    color: $brick-red;
    background-color: $quartz-red;
    border-color: $brick-red;
  }

  &.grey {
    color: $asphalt-grey;
    background-color: $pebble-grey;
  }

  &.square {
    border-radius: 0;
    border-width: 0;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.1em 0.5em;
    letter-spacing: 0.05em;
  }
}

[data-badge] {
  position: relative;

  &::after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: -22px;
    font-size: 10px;
    background-color: $oxide-blue;
    color: white;
    min-width: 15px;
    padding: 0 5px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  &[data-badge-hidden]::after {
    display: none;
  }
}
