.badge {
  display: inline-block;
  padding: 0 0.7em;
  margin: 0 0.6em;
  border-radius: 15px;
  font-size: 1rem;
  color: $dozer-yellow;
  border: 1px solid $canary-yellow;
  background: $haze-yellow;

  &.message-label {
    position: relative;
    top: -1px;
    background: $pebble-grey;
    border: 0;
    padding: 0 0.5em;
    margin: 0 0.3em 0 0;
    color: $cement-grey;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
