.build-header-container {
  @media #{$medium-up} {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
  }
}

.build-header {
  @include travisBorder;
  @include travisColorRows;

  font-size: 16px;
  clear: both;

  a:hover,
  a:active {
    .inner-underline {
      text-decoration: underline;
    }
  }

  .job-container {
    margin-bottom: 14px;
  }

  .job-detail-container {
    @media #{$medium-up} {
      margin-left: 18px;
    }
    margin-left: 15px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 20px fit-content(50%) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "os name language"
                         "os name language";

    .detail-job-os {
      grid-area: os;
    }

    .detail-job-name {
      grid-area: name;
      padding-left: 7px;
      padding-right: 20px;
    }

    .detail-job-lang {
      grid-area: language;
      padding-left: 6px;
    }
  }
}

.detail-job-env {
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-gap: 8px;
  font-size: 15px;
  margin-left: 43px;
  width: 91%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  @media #{$small-only} {
    width: 85%;
  }

  &:after {
    width: auto;
    @include fadeOut(right, -90deg, white);
  }

  svg {
    margin-top: 3px;
  }
}

.expandEnv {
  &:after {
    background: none;
  }
  white-space: normal;
}

.closeEnv {
  &:after {
    @include fadeOut(right, -90deg, white);
  }

  white-space: nowrap;
  overflow: hidden;
}

.build-commit,
.build-tools {
  padding-left: 2rem;
}

.build-commit {
  font-size: 16px;
  overflow: hidden;
  position: relative;
  padding-right: 0.5em;

  @media #{$medium-up} {
    flex: 0 1 55%;
    padding-left: 2.2rem;
    padding-right: 0;

    &:after {
      content: "";
      @include fadeOut(right, -90deg, white, 20%);
    }
  }
}

.build-tools {
  padding: 1rem 0 1rem 3rem;
  overflow: auto;

  @media #{$medium-up} {
    flex: 0 0 10rem;
    padding: 1rem 0;
  }

  .action-button-container + .action-button-container {
    margin-top: 0.7rem;
  }
}

.build-info {
  font-size: 15px;
  padding-left: 43px;

  @media #{$medium-up} {
    flex: 0 1 37%;
    padding-left: 2rem;
  }
}

.build-title,
.build-status {
  margin: 1rem 0;
  padding-left: 1rem;
  font-weight: $font-weight-normal;
  font-size: 16px;
}

.build-title {
  .status-icon {
    margin-left: -1.9rem;
    margin-right: 0.7rem;
  }

  @media #{$medium-up} {
    white-space: nowrap;
  }
}

.commit-info {
  font-size: 15px;
  padding-left: 1rem;
}

.commit-branch {
  margin-right: 0.5em;
  font-weight: $font-weight-bold;
  font-size: 16px;
}

.build-status {
  padding-left: 0;
}

.commit-author {
  margin: 1rem 0 0.7rem;

  .avatar--small:first-of-type {
    margin-left: -2px;
  }

  .avatar--small:not(:first-of-type) {
    margin-left: 20px;
  }
}

.commit-description {
  margin: 1rem 0;
  max-height: 65px;
  position: relative;
  overflow: hidden;

  @media #{$medium-up} {
    max-height: 43px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
  }
}

.fade-commit-message {
  &:after {
    background: linear-gradient(360deg, white 5%, rgba(255, 255, 255, 0) 100%);
  }
}

.list-icon {
  padding: 0;
  margin: 1rem 0;
  list-style: none;
  line-height: 1.7;
  white-space: nowrap;

  .commit-clock {
    margin-bottom: 1rem;
  }
}

.job-matrix-name-separator {
  width: 90%;
  margin: 15px auto;
  height: 1px;
  border-top: 1px $pebble-grey solid;
  @media #{$medium-up} {
    margin: 15px 47px;
  }
}

.label-align-item {
  vertical-align: baseline;
  line-height: 1.5;
}

.job-waiting-stages-container {
  height: 100px;
  border: 2px solid #f1f1f1;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px;

  .stage-message {
    font-size: 14px;
  }
}
.loading-num {
  width: 30px;
  text-align: center;
  color: $pebble-grey;
}
.loading-ring {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  border: 3px solid #3eaaaf;;

}

.loading-line {
  display: inline-block;
  height: 10px;
  width: 75px;
  @media #{$medium-only} {
    width: 50px;
  }
  position: relative;
  bottom: 2px;
  border-bottom: 5px solid #f1f1f1;
}

.num-loading {
  position: relative;
  bottom: 20px;
  color: $pebble-grey;
}

.num-loaded {
  position: relative;
  bottom: 1px;
  color: $oxide-blue;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 30px;
  top: 12px;
  border-radius: 50%;
  border-top: 2px solid #3EAAAF;
  border-right: 2px solid transparent;
  // border-left: 3px solid transparent;
  animation: spinner 1s linear infinite;
}

.loading-line-load {
  display: inline-block;
  height:0px;
  width:1px;
  border-bottom:3px solid #000;

  -webkit-animation: increase 3s;
  -moz-animation:    increase 3s;
  -o-animation:      increase 3s;
  animation:         increase 3s;
  animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 50px;
    }
}

.waiting-checkmark-gray {
  display: inline-block;
  width: 30px;
}


.waiting-checkmark {
  display: inline-block;
  width: 30px;

  svg {
    circle {
      stroke: $oxide-blue;
    }
    path {
      stroke: $oxide-blue;
    }
  }
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 1s ease-in-out;
  -webkit-animation: dash 1s ease-in-out;
}

@-webkit-keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

@keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

.pre-log {
  display: none;
}

.fade-it {
  animation-name: fadeInOut;
  animation-duration: 2s;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


.loading-line-container {
  height: 10px;
  background-color: #F1F1F1;
  width: 75px;
  display: inline-block;
}
.loading-line {
  position: relative;
  bottom: 7.5px;
  display: inline-block;
  height:0px;
  width:1px;
  border-bottom:10px solid #3EAAAF;

  -webkit-animation: increase .5s;
  -moz-animation:    increase .5s;
  -o-animation:      increase .5s;
  animation:         increase .5s;
  animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 75px;
    }
}
