.yml-messages {
  @include travisBorder;

  margin: 1.2em 0;

  font-size: $font-size-sm;

  .yml-message {
    display: flex;
    align-items: flex-start;

    padding: 6px;

    svg {
      width: 18px;
      transform: scale(1.2);
    }

    .icon-info {
      @include colorSVGFull($oxide-blue, $oxide-blue);

      circle {
        fill: none;
      }
    }

    .icon-warn {
      @include colorSVG($canary-yellow);

      color: inherit;
    }

    .icon-error {
      @include colorSVG($brick-red);
    }

    .icon-alert {
      @include colorSVG($brick-red);
    }

    .message {
      padding-left: 7px;
      border-left: 1px solid $dry-cement;
      margin-left: 2px;
    }

    code {
      background-color: #f4f6fa;
      font-family: $font-family-monospace;
      font-size: $font-size-sm - 1px;
      padding: 2px;
      border-radius: 2px;
    }
  }
}
