.yml-messages {
  @include travisBorder;

  margin: 1.2em 0;

  font-size: $font-size-sm;

  .yml-message-link {
    display: block;

    &:hover {
      background-color: $cream-light;
    }
  }

  .yml-message-line {
    display: flex;
    align-items: flex-start;

    padding: 6px;


    svg {
      width: 18px;
      height: 18px;
    }

    .icon-info {
      @include colorSVGFull($oxide-blue, $oxide-blue);

      circle {
        fill: none;
      }
    }

    .icon-warn {
      @include colorSVG($canary-yellow);

      color: inherit;
    }

    .icon-error {
      @include colorSVG($brick-red);
    }

    .icon-alert {
      @include colorSVG($brick-red);
    }

    .message {
      flex-grow: 1;
      padding-left: 7px;
      border-left: 1px solid $dry-cement;
      margin-left: 2px;
    }

    .message-help svg {
      display: none;
      transform: scale(0.8);
      border-color: $oxide-blue;
      @include colorSVG($oxide-blue);
    }

    &:hover {
      .message-help svg {
        display: block;
      }
    }

    code {
      background-color: $pebble-grey;
      font-family: $font-family-monospace;
      font-size: $font-size-sm - 1px;
      padding: 2px;
      border-radius: 2px;
    }
  }
}
