.build-header-container {
  @media #{$medium-up} {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
  }
}

.align-action-btn {
  margin-right: 16px;
}

.build-header {
  @include travisBorder;
  @include travisColorRows;

  font-size: 16px;
  color: $asphalt-grey;
  clear: both;

  a:hover,
  a:active {
    .inner-underline {
      text-decoration: underline;
    }
  }

  .job-container {
    margin-bottom: 14px;
  }

  .job-detail-container {
    @media #{$medium-up} {
      margin-left: 18px;
    }
    margin-bottom: 3px;
    margin-left: 15px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 20px fit-content(50%) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "os name language"
                         "os name language"
                         ". arch arch";

    .detail-job-os {
      grid-area: os;
      display: flex;
      align-items: center;
    }

    .detail-job-name {
      grid-area: name;
      padding-left: 7px;
      padding-right: 20px;
    }

    .detail-job-lang {
      grid-area: language;
      padding-left: 6px;
    }

    .detail-job-arch {
      grid-area: arch;
      padding-left: 6px;
    }
  }
}

.detail-job-env {
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-gap: 8px;
  font-size: 15px;
  margin-left: 43px;
  width: 91%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  @media #{$small-only} {
    width: 85%;
  }

  &:after {
    width: auto;
    @include fadeOut(right, -90deg, white);
  }

  svg {
    margin-top: 3px;
  }
}

.expandEnv {
  &:after {
    background: none;
  }
  white-space: normal;
}

.closeEnv {
  &:after {
    @include fadeOut(right, -90deg, white);
  }

  white-space: nowrap;
  overflow: hidden;
}

.build-commit,
.build-tools {
  padding-left: 2rem;
}

.build-commit {
  font-size: 16px;
  overflow: hidden;
  position: relative;
  padding-right: 0.5em;

  @media #{$medium-up} {
    flex: 0 1 55%;
    padding-left: 2.2rem;
    padding-right: 0;

    &:after {
      content: "";
      @include fadeOut(right, -90deg, white, 20%);
    }
  }
}

.build-tools {
  padding: 1rem 0 1rem 3rem;
  overflow: auto;

  @media #{$medium-up} {
    flex: 0 0 10rem;
    padding: 1rem 0;
  }

  .action-button-container + .action-button-container {
    margin-top: 0.7rem;
  }
}

.build-info {
  font-size: 15px;
  padding-left: 43px;
  overflow-x: hidden;

  @media #{$medium-up} {
    flex: 0 1 37%;
    padding-left: 2rem;
  }
}

.build-title,
.build-status {
  margin: 1rem 0;
  padding-left: 1rem;
  font-weight: $font-weight-normal;
  font-size: 16px;
}

.build-title {
  .status-icon {
    margin-left: -1.9rem;
    margin-right: 0.7rem;
  }

  @media #{$medium-up} {
    white-space: nowrap;
  }
}

.commit-info {
  font-size: 15px;
  padding-left: 1rem;
}

.commit-branch {
  margin-right: 0.5em;
  font-weight: $font-weight-bold;
  font-size: 16px;
}

.build-status {
  padding-left: 0;
}

.commit-author {
  margin: 1rem 0 0.7rem;

  .avatar--small:first-of-type {
    margin-left: -2px;
  }

  .avatar--small:not(:first-of-type) {
    margin-left: 20px;
  }
}

.commit-description {
  margin: 1rem 0;
  max-height: 65px;
  position: relative;
  overflow: hidden;

  @media #{$medium-up} {
    max-height: 43px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
  }
}

.fade-commit-message {
  &:after {
    background: linear-gradient(360deg, white 5%, rgba(255, 255, 255, 0) 100%);
  }
}

.list-icon {
  padding: 0;
  margin: 1rem 0;
  list-style: none;
  line-height: 1.7;
  white-space: nowrap;

  .commit-clock {
    margin-bottom: 1rem;
  }
}

.job-matrix-name-separator {
  width: 90%;
  margin: 15px auto;
  height: 1px;
  border-top: 1px $pebble-grey solid;
  @media #{$medium-up} {
    margin: 15px 47px;
  }
}

.label-align-item {
  vertical-align: baseline;
  line-height: 1.5;
}

.job-waiting-stages-container {
  display: grid;
  grid-template-columns: 30px 90px 75px 30px 60px 75px 30px 165px;
  grid-template-rows: 1fr;
  grid-template-areas: "stage-1 stage-1-message loading-line-1 stage-2 stage-2-message loading-line-2 stage-3 stage-3-message";
  grid-column-gap: 20px;
  justify-content: center;
  border: 2px solid #f1f1f1;
  font-size: 16px;
  height: 100px;
  padding-top: 35px;

  @media #{$small-only} {
    grid-template-columns: 30px 50px 30px 50px 30px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-template-areas:
    "stage-1 loading-line-1 stage-2 loading-line-2 stage-3"
    "stage-message stage-message stage-message stage-message stage-message";
    padding-top: 16px;
    padding-bottom: 10px;
  }

  @media #{$medium-only} {
    grid-column-gap: 3%;
  }

  @media #{$large-only} {
    grid-column-gap: 3%;
  }

  .stage-loading {
    position: relative;
    top: 4px;
    width: 30px;
    font-size: 12px;
    color: $asphalt-grey;
    text-align: center;

    .loading-num-text {
      position: relative;
      bottom: 29px;
    }


    svg {
      display: none;
    }

    svg.spinner {
      display: inline-block;
    }
  }

  .spinner-container {
    top: -3px;
    bottom: 0px;
  }


  .stage-1-container {
    grid-area: stage-1;
  }

  .stage-2-container {
    grid-area: stage-2;
  }

  .stage-3-container {
    grid-area: stage-3;
  }

  .stage-1-message {
    grid-area: stage-1-message;
  }

  .stage-2-message {
    grid-area: stage-2-message;
  }

  .stage-3-message {
    grid-area: stage-3-message;
  }

  .stage-message {
    font-size: 15px;
    text-align: center;

    @media #{$small-only} {
      grid-area: stage-message;
      align-self: end;
    }

  }

  .loading-line-container {
    grid-area: loading-line;
    position: relative;
    top: 10.8px;
    width: 100%;
    height: 3px;
    background-color: #F1F1F1;
  }

  .loading-line-container-1 {
    grid-area: loading-line-1;
  }

  .loading-line-container-2 {
    grid-area: loading-line-2;
  }

  @keyframes increase {
      100% {
        width: 100%;
      }
  }

  .loading-line {
    position: relative;
    bottom: 14px;
    display: inline-block;
    height:0px;
    width:1px;
    border-bottom:3px solid #3EAAAF;

    -webkit-animation: increase .5s;
    -moz-animation:    increase .5s;
    -o-animation:      increase .5s;
    animation:         increase .5s;
    animation-fill-mode: forwards;
  }

  .spinner {
		width: 30px;
    animation: loading 3s linear infinite;

    #loading-inner {
		  stroke: {
        dashoffset: 0;
        dasharray: 300;
        width: 10;
        miterlimit: 10;
        linecap: round;
      }
      animation: loading-circle 2s linear infinite;
      stroke: $oxide-blue;
      fill: transparent;
    }
	}

@keyframes loading {
		0% {
      transform: rotate(0);
    }
		100% {
      transform: rotate(360deg);
    }
}
@keyframes loading-circle {
		0% {
      stroke-dashoffset: 600
    }
		100% {
      stroke-dashoffset: 0;
    }
}

  .stage-loaded-ring {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -3px;
    background-color: transparent;
    border: 2px solid $oxide-blue;

    svg {
      display: none;
    }
  }

  .not-loaded-ring {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -3px;
    background-color: transparent;
    border: 2px solid $pebble-grey;
    color: $asphalt-grey;

    .stage-text {
      position: relative;
      top: 4px;
    }
  }

  .stage-loaded-text {
    position: relative;
    top: 4.2px;
    font-size: 12px;
    color: $oxide-blue;
  }


  .show-stage-message {
    @media #{$small-only} {
      display: block;
    }
  }

  .hide-stage-message {
    @media #{$small-only} {
      display: none;
    }
  }
}
