%button {
  display: inline-block;
  padding: 0.7em 0.8rem;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 2px;
  border: none;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;

  &.disabled {
    background-color: $cement-grey;
    cursor: not-allowed;

    &:hover {
      background-color: $cement-grey;
    }
  }
}

.button {
  @extend %button;

  position: relative;
  overflow: visible;
  outline: none;
  text-align: center;
  color: white;
  background-color: darken($pebble-grey, 10);

  &.already-migrated {
    background-color: $oxide-blue;
    &:hover {
      background-color: darken($oxide-blue, 5%);
    }
  }

  &--flex {
    display: inline-flex;
  }
}

.no-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-banner {
  position: absolute;
  right: .6rem;
}

.icon-close {
  @include colorSVGFill($color-bg-log-fold);
  width: 22px;
  height: 24px;
  margin-right: 0;
}

.icon-close.red {
  @include colorSVGFill($brick-red);
}

.button:hover,
.button:focus,
.button:active,
.button.active {
  border-color: $pebble-grey;
  background-color: $cement-grey;
}

.auth-button {
  @extend %button;

  height: 32px;
  width: 166px;
  color: #2EB459;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #2EB459;
  border-radius: 2px;
  padding: 9px 19px;
  line-height: 0.5;

  &:hover,
  &:active {
    color: white;
    background-color: #2EB459;
  }

  .label-align {
    line-height: 1.4;
  }

  .loading-indicator {
    vertical-align: top;
    margin-left: 0.3em;

    i {
      background-color: white;
      width: 6px;
      height: 6px;
    }
  }
}

.auth-button.signed-out {
  .icon {
    margin: 0 0 0 4px;
    vertical-align: top;
  }
}

.auth-button--white {
  @extend %button;

  vertical-align: baseline;
  border: 1px solid #f1f1f1 !important;
  padding: 0.7em 0.8em !important;
  border-radius: 2px;
  font-size: inherit;

  &:active,
  &:hover,
  &:focus {
    color: $oxide-blue !important;
    border-color: $oxide-blue !important;
  }
}

.button--blue {
  @extend %button;

  border: none;
  color: white;
  background-color: $oxide-blue;
  border: 1px solid $oxide-blue;

  &:hover,
  &:active {
    background-color: darken($oxide-blue, 10);
  }
  &:disabled {
    background-color: $cement-grey;
    border-color: $cement-grey;
    cursor: not-allowed;
  }
}

.button--white {
  @extend %button;
  border: 1px solid $pebble-grey;
  color: $asphalt-grey;

  &.button--hover {
    transition: all 0.1s linear;

    &:hover {
      border-color: darken($pebble-grey, 10);
      color: darken($asphalt-grey, 20);
      background-color: lighten($pebble-grey, 2);
    }
  }
}

.button--transparent {
  @extend %button;
  background: transparent;

  &:disabled {
    cursor: not-allowed;
  }
  &.button--hover {
    transition: all 0.1s linear;

    &:hover {
      border-color: darken($pebble-grey, 10);
      color: darken($asphalt-grey, 20);
      background-color: lighten($pebble-grey, 2);
    }
  }
}

.button--green {
  @extend %button;

  border: none;
  color: white;
  background-color: $turf-green;

  &:hover,
  &:active {
    background-color: darken($turf-green, 10);
  }
}

.button--white-and-teal {
  @extend %button;

  margin-right: 1em;

  color: $oxide-blue;
  border: 1px solid $oxide-blue;

  &:hover,
  &:active {
    background-color: $oxide-blue;
    color: white;
  }
}

.button--orange {
  @extend %button;

  border: none;
  color: white;
  background-color: $brick-orange;

  &:hover {
    background-color: darken($brick-orange, 10);
  }
}

.button--red {
  @extend %button;

  border: none;
  color: white;
  background-color: $brick-red;

  &:hover {
    background-color: darken($brick-red, 10);
  }
}

.button--dark-grey {
  @extend %button;

  border: none;
  color: white;
  background-color: $asphalt-grey;

  &:hover,
  &:active {
    background-color: darken($asphalt-grey, 10);
  }
}

.button--compact {
  padding: 3px 7px;
}

.button--large {
  font-size: 1.2em;
  padding: 18px 30px;
  border-radius: 3px;
}

.inactive {
  cursor: default;
  background: $dry-cement !important;
  color: white;

  &:hover,
  &:active {
    background: $dry-cement !important;
  }
}

.action-button--restart,
.action-button--debug,
.action-button--cancel,
.action-button--prioritize {
  display: block;
  width: 8.5em;
  padding: 0 0.5em;
  border: 1px solid $pebble-grey;
  border-radius: 14px;
  cursor: pointer;
  white-space: nowrap;

  &:active,
  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    @include colorSVG($oxide-blue);

    border-color: $oxide-blue;
    color: $oxide-blue;
    text-decoration: none !important;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.action-button--cancel {
  &:hover,
  &:active {
    @include colorSVG($brick-red);

    border-color: $brick-red;
    color: $brick-red;
  }
}

@mixin labelless {
  display: inline-flex;
  padding-top: 2px;
  margin-left: 5px;

  button,
  a.disabled {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-right: 5px;
    border-radius: 30px;
    border-color: $cement-grey;
    transform: translate(0, 1px) scale(0.85);

    &:hover, &:active {
      border-color: $oxide-blue;
    }

    .label-align {
      display: none;
    }
  }

  .action-button--restart .icon {
    transform: scale(0.75) translate(4px, -2px);
  }

  .action-button--cancel {
    .icon {
      transform: scale(0.65) translate(1px, -2px);
      margin-right: 1px;
    }

    &:hover, &:active {
      @include colorSVG($brick-red);

      border-color: $brick-red;
      color: $brick-red;
    }
  }

  .action-button--debug {
    display: none;
  }
}

.repo-main-tools.labelless {
  @include labelless;
}

@media #{$medium-up} {
  .repo-main-tools.mobilelabels {
    @include labelless;
  }
}

%log-button {
  display: inline-block;
  height: 28px;
  padding: 0 0.8em;
  border: 1px solid $pebble-grey;
  color: $pebble-grey;
  border-radius: 2px;
  text-align: center;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 300;
  background-color: inherit;
  cursor: pointer;

  [class^="icon"] {
    margin-right: 0.3em;
  }

  .icon {
    @include colorSVG(white);
  }
}

.remove-log-button {
  @extend %log-button;

  &:hover,
  &:active {
    background-color: #d94341;
  }

  display: none;

  @media #{$medium-up} {
    display: inline-block;
  }
}

.download-log-button {
  @extend %log-button;

  &:hover,
  &:active {
    background-color: #999a98;
  }
}

.multi-signin-button {
  &__vcs-button {
    background-color: #ffffff;

    &:hover {
      background-color: #eaeaea;
    }
  }
}
