%button
  display: inline-block
  padding: 0.7em 0.8rem 0.6em
  cursor: pointer
  white-space: nowrap
  border-radius: 2px
  border: none
  vertical-align: middle
  line-height: 1
  text-decoration: none
  font-family: inherit
  font-size: 14px

.button
  @extend %button
  position: relative
  overflow: visible
  outline: none
  text-align: center
  color: white
  background-color: darken($pebble-grey, 10)

.no-button
  background: transparent
  border: none
  cursor: pointer

.button:hover,
.button:focus,
.button:active,
.button.active
  border-color: $pebble-grey
  background-color: $cement-grey

.auth-button
  @extend %button
  height: 36px
  color: #fff
  background-color: $turf-green
  .label-align
    line-height: 1.4
  .loading-indicator
    vertical-align: top
    margin-left: .3em
    i
      background-color: white
      width: 6px
      height: 6px

.auth-button.signed-out
  .icon
    margin: 0 0 0 4px
    vertical-align: top
  &:hover,
  &:active
    background-color: darken($turf-green, 10)

.button--blue
  border: none
  color: white
  background-color: $oxide-blue
  &:hover
    background-color: darken($oxide-blue, 10)

#auth #navigation .auth-button
  display: none

.action-button--restart,
.action-button--debug,
.action-button--cancel
  display: block
  width: 8em
  padding: 0 0.5em
  border: 1px solid $pebble-grey
  border-radius: 14px
  cursor: pointer
  white-space: nowrap
  &:hover,
  &:active
    +colorSVG($oxide-blue)
    border-color: $oxide-blue
    color: $oxide-blue
    text-decoration: none !important

.repo-main-tools.labelless
  display: inline-flex
  padding-top: 2px
  margin-left: 5px
  button
    display: inline-block
    width: 22px
    height: 22px
    padding: 0
    margin-right: 5px
    border-radius: 30px
    border-color: $cement-grey
    transform: translate(0, 1px) scale(0.85)
    &:hover, &:active
      border-color: $oxide-blue
    .label-align
      display: none
  .action-button--restart .icon
    transform: scale(0.75) translate(4px, -2px)
  .action-button--cancel .icon
    transform: scale(0.65) translate(1px, -2px)
    margin-right: 1px // pixel weirdness for better Safari rendering
  .action-button--debug
    display: none

.jobs-item
  .repo-main-tools
    transform: translate(-5px, -2px)
    button
      background: transparent
    *[data-tooltip]::before
      margin-left: 5px

%log-button
  display: inline-block
  height: 28px
  padding: 0 0.8em
  border: 1px solid $pebble-grey
  color: $pebble-grey
  border-radius: 2px
  text-align: center
  line-height: 1.8
  font-size: 14px
  font-weight: 300
  cursor: pointer
  [class^="icon"]
    margin-right: .3em
  .icon
    +colorSVG(white)

.remove-log-button
  @extend %log-button
  &:hover,
  &:active
    background-color: #d94341
  display: none
  @media #{$medium-up}
    display: inline-block

.download-log-button
  @extend %log-button
  &:hover,
  &:active
    background-color: #999a98
