%button
  display: inline-block
  padding: 0.7em 0.8rem 0.6em
  cursor: pointer
  white-space: nowrap
  border-radius: 2px
  border: none
  vertical-align: middle
  line-height: 1
  text-decoration: none
  font-family: inherit
  font-size: 14px

.button
  @extend %button
  position: relative
  overflow: visible
  outline: none
  text-align: center
  color: white
  background-color: darken($pebble-grey, 10)

.no-button
  background: transparent
  border: none
  cursor: pointer

.button:hover,
.button:focus,
.button:active,
.button.active
  border-color: $pebble-grey
  background-color: $cement-grey

.auth-button
  @extend %button
  height: 36px
  color: #fff
  line-height: 0.5
  background-color: $turf-green
  .loading-indicator
    vertical-align: top
    margin-left: .3em
    i
      background-color: white
      width: 6px
      height: 6px

.auth-button.signed-out
  .icon
    height: 15px // very icon specific
    margin: 0 0 0 4px
  &:hover,
  &:active
    background-color: darken($turf-green, 10)

.button--blue
  border: none
  color: white
  background-color: $oxide-blue
  &:hover
    background-color: darken($oxide-blue, 10)

#auth #navigation .auth-button
  display: none

.action-button--restart,
.action-button--debug,
.action-button--cancel
  display: block
  width: 8em
  padding: 0 0.5em
  border: 1px solid $pebble-grey
  border-radius: 14px
  cursor: pointer
  white-space: nowrap
  &:hover,
  &:active
    +colorSVG($oxide-blue)
    border-color: $oxide-blue
    color: $oxide-blue
    text-decoration: none !important
  
%log-button
  display: inline-block
  height: 28px
  padding: 0 0.8em
  border: 1px solid $pebble-grey
  color: $pebble-grey
  border-radius: 2px
  text-align: center
  line-height: 1.8
  font-size: 14px
  font-weight: 300
  cursor: pointer
  [class^="icon"]
    margin-right: .3em
  .icon
    +colorSVG(white)

.remove-log-button
  @extend %log-button
  &:hover,
  &:active
    background-color: #d94341
  display: none
  @media #{$medium-up}
    display: inline-block

.download-log-button
  @extend %log-button
  &:hover,
  &:active
    background-color: #999a98
