.square-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  input[type=checkbox] {
    visibility: hidden;
  }

  .square-checkbox-wrapper {
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;

    input,
    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    svg {
      opacity: 0;
      transition: opacity 0.1s ease-in;
    }

  }

  &--checked {
    .square-checkbox-wrapper {
      .square-checkbox-image--checked {
        opacity: 1;
      }
    }
  }

  &--unchecked {
    .square-checkbox-wrapper {
      .square-checkbox-image--unchecked {
        opacity: 1;
      }
    }
  }

  &--disabled {
    opacity: 0.5;
  }

}

.square-checkbox-unchecked {
  width: 18px;
  height: 18px;
  flex-grow: 0;
  border-radius: 2px;
  border: solid 1px #9d9d9d;
  margin-top: -1px;
  margin-left: -1px;
}