.dash-star {
  cursor: pointer;
  padding: 0 0.3em;

  &:hover,
  &:active {
    svg path {
      stroke-width: 2px;
    }
  }

  &.is-starred {
    @include colorSVGFull($dozer-yellow, $canary-yellow);
  }
}

.dash-private {
  display: block;
  text-align: center;

  .icon {
    margin-right: 0;
  }
}

.dash-head {
  flex: 0 0 2%;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;

  @media #{$medium-up} {
    flex: 0 0 4em;
    display: flex;
    flex-direction: column;
    height: 55px;
    padding: 0.3em 0;
    border-right: 1px solid rgba($asphalt-grey, 0.2);
  }
}

.dash-body {
  flex-grow: 1;
  position: relative;

  @media #{$medium-up} {
    padding: 0 1.5em 0;
    height: 5rem;
  }
}

.dash-main {
  @media #{$small-only} {
    padding: 0 1em;
  }

  @media #{$medium-up} {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
}

.dash-insights {
  display: flex;
  flex: 0 0 15%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin-right: 15px;
}

.dash-finished {
  display: relative;
}

.dash-aside {
  @media #{$medium-up} {
    position: relative;
    top: -2rem;
    width: 100%;
    bottom: 0;
    overflow: hidden;
  }
}

section[class^="dash-"] {
  @media #{$small-only} {
    margin-top: 1em;
  }
}

.dash-header {
  position: relative;
  flex: 0 0 15%;
}

.dash-default {
  flex: 0 0 15%;
  position: relative;
  overflow: hidden;
}

.dash-menu {
  flex: 0 0 36px;
}

.dash-last {
  flex: 0 0 15%;
}

.dash-repo-type {
  flex: 0 0 8%;
}

.dash-log-scan {
  flex: 0 0 10%;
}

.dash-commit {
  flex: 0 0 13.5%;
}

.dash-finished {
  flex: 0 0 20%;
}

.dash-no-build {
  flex: 0 0 62%;
}

.dash-helptext {
  display: inline-block;
  margin-right: 1em;
}

.activate-repo-button {
  @extend %button;

  background-color: $pebble-grey;
  color: $cement-grey;
  font-size: 14px;
  cursor: default;

  &.is-active:hover {
    background-color: $oxide-blue;
    color: white;
    cursor: pointer;
  }
}

.dash-default,
.dash-last,
.my-build {
  @each $key, $value in $stateMap {
    @include rowColor(#{$key}, map-get($value, color));
  }
}

.my-build {
  @media #{$small-only} {
    @each $key, $value in $stateMap {
      &.#{$key} {
        border-left: 3px solid map-get($value, color);
      }
    }

    .dash-head, .dash-body, .dash-main {
      margin-top: 0;
    }

    .dash-body {
      padding: 0;

      .dash-main > section {
        padding: 0.5em 0;
        flex-basis: 100%;

        &.restart {
          padding-bottom: 0;
          justify-content: center;

          .repo-main-tools {
            display: flex;

            button {
              padding: 0.5em 1em;
              border: 0;
              border-radius: 0;
              font-size: $font-size-sm;
              width: auto;

              &:hover {
                @include colorSVG(white);
                color: white;

                background-color: $oxide-blue;
              }
            }
          }
        }
      }

      .state {
        display: inline;

        .row-content {
          display: inline;
        }
      }

      .repo {
        display: inline;

        > .row-content:first-child {
          display: inline-flex;
          width: 90%;

          .inner-underline {
            padding-bottom: 1px;

            &:hover {
              padding-bottom: 0;
            }
          }
        }
      }

      .message-and-branch::after {
        border-right: 0;
      }
    }

    .dash-head {
      padding: 1.2em 1.2em 0.4em 1.2em;
    }

    .dash-main {
      padding: 0.6em 0.6em 0 0.6em;
    }

  }

  @media #{$medium-up} {
    .dash-head {
      @each $key, $value in $stateMap {
        &.#{$key} {
          border-right: 3px solid map-get($value, color);
        }
      }
    }
  }

  .dash-head {
    .icon {
      margin-right: 0;
    }
  }

  .dash-body {
    padding: 0 5px;
    max-width: calc(100% - 4em);
  }

  .dash-main > section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    position: relative;
  }

  .state, .restart {
    display: flex;
    flex: 0 0 4%;
    align-items: center;

    @media #{$medium-up} {
      display: flex;
      flex-direction: column;
      height: 55px;
      padding: 0.3em 0;
    }
  }

  .repo {
    flex: 0 0 17%;
    overflow: hidden;
  }

  .repo, .message-and-branch, .state-and-sha, .times {
    padding-right: 1em;
  }

  .message-and-branch, .state-and-sha {
    .icon {
      margin-right: 0;
    }
  }

  .state-and-sha {
    padding-left: 1em;
    flex: 0 0 21%;

    .icon:last-child {
      margin-left: -5px;
      margin-top: -4px;
    }

    .monospace {
      font-size: 14px;

      .label-align {
        margin-left: -4px;
      }
    }
  }

  .message-and-branch {
    flex: 0 0 30%;
    overflow: hidden;
    position: relative;

    &::after {
      border-right: 1px solid rgba($asphalt-grey, 0.2);
      content: ' ';
      position: absolute;
      right: 0;
      top: 0.7em;
      bottom: 0.7em;
    }
  }

  .repo .row-content, .message-and-branch .row-content {
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    &:after {
      @include fadeOut(right, -90deg, white);
    }
  }

  .times {
    flex: 0 0 24%;

    .commit-stopwatch {
      margin-top: -2px;
    }
  }

  a:hover .inner-underline {
    border-bottom: 1px solid;
  }

  .repo-main-tools.labelless {
    padding: 0;
    margin: 0;
  }
}

.tabs.dashboard {
  display: flex;
  margin-top: 3em;

  h2 {
    margin-right: 2rem;

    a.active, a:hover, a.ember-transitioning-in {
      color: $oxide-blue;

      padding-bottom: 1px;
      border-bottom: 2px solid $oxide-blue;
    }

    a.active.ember-transitioning-out {
      color: $asphalt-grey;
      border-bottom-width: 0;
    }
  }
}
