.dropup
  &.is-open
    .dropup-list
      display: block
    .dropup-tofu
      +colorSVGFill($oxide-blue)
      outline: none

.dropup-tofu
  width: 2.5em
  height: 2em
  border: none
  padding: 0
  cursor: pointer
  display: none
  .icon-tofu
    +colorSVGFill($cement-grey)
    width: 1.9em
    vertical-align: middle
  @media #{$medium-up}
    display: inline-block
  &:hover,
  &:active
    +colorSVGFill($oxide-blue)
    outline: none
  &:focus
    outline: none

.dropup-list
  list-style: none
  padding: 0
  margin: 2em 0 0
  background-color: white
  text-align: center

  li
    display: inline-block
  a,
  button
    display: inline-block
    width: 100%
    padding: 0.5em 1em
    background-color: white
    cursor: pointer
    [class^="icon-"]
      margin-right: .3rem
    &:hover,
    &:active
      +colorSVG(white)
      background: $oxide-blue
      color: white
      
  @media #{$medium-up}
    position: absolute
    right: 0
    bottom: 4.5em
    margin: 0
    background-color: white
    border: 1px solid $oxide-blue
    border-radius: 2px
    display: none
    z-index: 2
    text-align: left
    li
      display: block
      &:last-of-type
        &:after
          content: ""
          display: block
          width: 1.6em
          height: 1.6em
          border: 1px solid $oxide-blue
          background: white
          transform: rotate(45deg)
          position: absolute
          bottom: -0.7em
          right: 1.7em
          z-index: -1
