.option-button
  position: relative
  width: 17em
  &:hover
    .option-dropdown
      display: block
    .option-display
      color: $oxide-blue
      border-color: $oxide-blue
    .option-tofu
      @extend %icon-line-tofu-teal
      border-color: $oxide-blue
    .option-arrow
      @extend %icon-line-arrowtabs-teal
      border-color: $oxide-blue
      transform: rotate(-90deg)
      border-bottom: none
      border-top: 1px solid $oxide-blue
  @media #{$small-only}
    &.display
      .option-dropdown
        display: block

$dropdown-button-height: 30px
$dropdown-button-margin: -9px

.option-display
  display: flex
  height: $dropdown-button-height
  padding: 0
  border: 1px solid $pebble-grey
  color: $asphalt-grey
  border-radius: 2px
  text-align: center
  line-height: 2
  font-size: 14px
  cursor: pointer
  text-align: left
  white-space: nowrap
  .label-align
    flex-grow: 1
    padding: 0 1em
    line-height: 2
    overflow: hidden
  img
    max-width: 20px
    max-height: 20px
    margin-right: .5em
    margin-top: -0.1em
    border-radius: 50%
    overflow: hidden

.option-tofu,
.option-arrow
  width: 2em
  height: 2em
  display: inline-block
  vertical-align: top
  background:
    repeat: no-repeat
    position: 50%

.option-tofu
  @extend %icon-line-tofu
  background-size: 20px
  @media #{$medium-up}
    border-left: 1px solid $pebble-grey

.option-arrow
  @extend %icon-line-arrowtabs
  transform: rotate(90deg)
  background-size: 14px
  @media #{$medium-up}
    border-bottom: 1px solid $pebble-grey

.option-dropdown
  display: none
  position: absolute
  top: $dropdown-button-height + ($dropdown-button-margin * .8)
  width: 100%
  padding: 0
  margin: 6px 0 0
  list-style: none
  z-index: 60
  background-color: white
  border: 1px solid $oxide-blue
  a
    display: block
    padding: .5em 1em
    font-size: 14px
    color: $oxide-blue
    &:hover
      color: white
      background-color: $oxide-blue

.option-search
  input[type="text"]
    display: block
    padding-left: 1em
    outline: none
    border-bottom: 1px solid $oxide-blue
    border-radius: 0

.option-list
  list-style: none
  padding: 0
  margin: 0
  a
    color: $asphalt-grey
    cursor: pointer
  img
    width: 22px
    height: 22px
    vertical-align: top
    margin-right: .3em
    border-radius: 50%



.dropup
  &.is-open
    .dropup-list
      display: block
    .dropup-tofu
      @extend %icon-line-tofu-teal
      outline: none

.dropup-tofu
  @extend %icon-line-tofu
  background:
    color: transparent
    size: 100%
    repeat: no-repeat
    position: 0 5px
  width: 2.5em
  height: 2.5em
  border: none
  text-indent: 999%
  overflow: hidden
  white-space: nowrap
  cursor: pointer
  display: none
  @media #{$medium-up}
    display: inline-block
  &:hover,
  &:active
    @extend %icon-line-tofu-teal
    outline: none

.dropup-list
  list-style: none
  padding: 0
  margin: 2em 0 0
  background-color: white
  text-align: center

  li
    display: inline-block
  a
    display: inline-block
    width: 100%
    padding: 0.5em 1em
    background-color: white
    [class^="icon-"]
      margin-right: .3rem
    &:hover,
    &:active
      background: $oxide-blue
      color: white
      .icon-trigger
        @extend %icon-line-trigger-white
      .icon-deactivate
        @extend %icon-line-cross-white
        border-color: white
      .icon-settings
        @extend %icon-line-cog-white

  @media #{$medium-up}
    position: absolute
    right: 0
    top: -7em
    margin: 0
    background-color: white
    border: 1px solid $oxide-blue
    border-radius: 2px
    display: none
    z-index: 2
    text-align: left
    li
      display: block
      &:last-of-type
        &:after
          content: ""
          display: block
          width: 1.6em
          height: 1.6em
          border: 1px solid $oxide-blue
          background: white
          transform: rotate(45deg)
          position: absolute
          bottom: -0.7em
          right: 1.7em
          z-index: -1
