.dropup {
  &.is-open {
    .dropup-list {
      display: block;
    }

    .dropup-tofu {
      @include colorSVGFill($oxide-blue);

      outline: none;
    }
  }
}

.dropup-tofu {
  width: 2.5em;
  height: 2em;
  border: none;
  padding: 0;
  cursor: pointer;
  display: none;

  .icon-tofu {
    @include colorSVGFill($cement-grey);

    width: 1.9em;
    vertical-align: middle;
  }

  @media #{$medium-up} {
    display: inline-block;
  }

  &:hover,
  &:active {
    @include colorSVGFill($oxide-blue);

    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.dropup-list {
  list-style: none;
  padding: 0;
  margin: 2em 0 0;
  background-color: white;
  text-align: center;

  li {
    display: inline-block;
  }

  a,
  button {
    display: inline-block;
    width: 100%;
    padding: 0.5em 1em;
    background-color: white;
    cursor: pointer;

    [class^="icon-"] {
      margin-right: 0.3rem;
    }

    &:hover,
    &:active {
      @include colorSVG(white);

      background: $oxide-blue;
      color: white;
    }
    &:disabled {
      color: $cement-grey;
    }
  }

  @media #{$medium-up} {
    position: absolute;
    right: 0;
    bottom: 4.5em;
    margin: 0;
    background-color: white;
    border: 1px solid $oxide-blue;
    border-radius: 2px;
    display: none;

    @include z-index(above);

    text-align: left;

    li {
      display: block;

      &:last-of-type {
        &:after {
          content: "";
          display: block;
          width: 1.6em;
          height: 1.6em;
          border: 1px solid $oxide-blue;
          background: white;
          transform: rotate(45deg);
          position: absolute;
          bottom: -0.7em;
          right: 1.7em;

          @include z-index(under);
        }
      }
    }
  }
}
