.enterprise-trial-banner
  padding: 0.1em 0
  font-size: 16px
  color: $dozer-yellow
  text-align: center
  background-color: $haze-yellow
  .icon
    +colorSVG($dozer-yellow)
  strong
    font-weight: 700
  &.expired
    color: $brick-red
    background-color: $quartz-red
    +colorSVG($brick-red)
