.flash {
  @include resetul;

  height: 0;

  li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  li.success, li.error, li.warning {
    opacity: 1;

    @include z-index(flashes);

    @media #{$small-only} {
      height: $top-height-mobile;
    }

    &.fixed {
      position: fixed;
      top: 0;
      z-index: z-index(flashes) * 1000;
    }
  }

  .close {
    position: absolute;
    cursor: pointer;
    right: 0.6rem;
    top: 0;
    height: 100%;

    .icon {
      margin-right: 0;
      height: 33px;
      width: 31px;
      color: #222;
    }
  }

  .success {
    color: $turf-green;
    background-color: $seed-green;

    @include colorSVGFill($color-bg-log-fold);

    .flash-message svg {
      height: 38px;
      width: 32px;
      margin-top: -5px;
    }
  }

  .error {
    color: $brick-red;
    background-color: $quartz-red;

    @include colorSVGFill($color-bg-log-fold);

    .flash-message svg {
      height: 34px;
      width: 30px;
      margin-top: -1px;
    }
  }

  .warning {
    color: $dozer-yellow;
    background-color: $haze-yellow;

    @include colorSVGFill($color-bg-log-fold);

    .flash-message svg {
      height: 19px;
      width: 14px;
      margin-right: 6px;

      @include colorSVG($dozer-yellow);

      stroke-width: 1.5px;
    }
  }
}

ul.flash.warning+.wrapper-main,
ul.flash.warning+#main,
ul.flash.warning+.wrapper-main+#left {
  margin-top: $top-height;
  @media #{$small-only} {
    height: $top-height-mobile;
  }
}

.flash-message {
  display: flex;
  align-items: normal;
  padding: 0;
  margin: 0;
  line-height: 1.14;
  font-size: 1.14rem;

  .preamble {
    font-weight: bold;
    padding-right: 0.5rem;
  }
}

@keyframes fadeFlashOut {
  0% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
