%input-base
  display: inline-block
  width: 100%
  padding: .4em .4em
  border: 1px solid #dbdcdc
  border-radius: 2px
  color: $asphalt-grey
  font-size: 14px
  font-family: $font-family-sans-serif
  background: white

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select
  @extend %input-base
  height: 32px

textarea
  @extend %input-base

.form-label
  font-size: 10px
  color: $cement-grey
  text-transform: uppercase

.form-submit
  display: inline-block
  border: none
  border-radius: 4px
  padding: .5em .8em
  color: white
  font-size: $font-size-sm
  font-weight: 300
  background-color: $cement-grey
  &:hover
    background-color: #3BA85D
    cursor: pointer


.form--sshkey
  .form-elem
    margin-bottom: .5rem
  @media #{$medium-up}
    .form-elem
      max-width: 460px


.form--envvar, .form--cron
  .form-elem
    display: inline-block
    vertical-align: top
    width: 100%
    margin-bottom: 1em
  @media #{$medium-up}
    .form-elem
      margin-bottom: 0
    .form-elem:first-of-type,
    .form-elem:nth-of-type(2)
      margin-right: 1em
    .form-elem:last-of-type
      float: right
      text-align: right

.form--envvar
  .switch
    .label
      font-size: $font-size-s
      width: 7rem
      line-height: 1.2
  @media #{$medium-up}
    .form-elem:first-of-type,
    .form-elem:nth-of-type(2)
      width: 31.5%
    .form-elem:nth-of-type(3)
      width: 24%
    .form-elem:last-of-type
      width: 6%

.form--cron
  padding: .4em .5em
  .form-elem
    select
      width: 70%
  .select
    span
      vertical-align: middle
      font-size: 16px
      color: #8d8d8d
      display: inline-block
      padding-right: 5px
  @media #{$medium-up}
    .form-elem:first-of-type,
    .form-elem:nth-of-type(2)
      width: 21.5%
    .form-elem:nth-of-type(3)
      width: 42%
    .form-elem:last-of-type
      width: 6%

.form-error
  .env-name,
  .ssh-value
    border: $brick-red 2px solid
  .form-error-message
    color: $brick-red
    font-size: 14px
    padding: .2em 0
    margin: 0
