%input-base {
  display: inline-block;
  width: 100%;
  padding: 0.4em 0.4em;
  border: 1px solid #dbdcdc;
  border-radius: 2px;
  color: $asphalt-grey;
  font-size: 14px;
  font-family: $font-family-sans-serif;
  background: white;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
  @extend %input-base;

  height: 32px;
}

textarea {
  @extend %input-base;
}

::placeholder {
  color: $cement-grey;
}

.form-elem {
  margin-bottom: 20px;
}

.inline-form-elem {
  margin-right: 20px;
}

.form-label {
  font-size: 1rem;
  color: $cement-grey;
  text-transform: uppercase;

  .form-elem & {
    display: block;
    margin-bottom: 5px;
  }
}

.form-elem-half-width {
  display: flex;
  width: 100%;

  &>.travis-form__field {
    flex-basis: 100%;
    padding-right: 0;
  }

  @media #{$medium-up} {
    &>.travis-form__field {
      flex-basis: 50%;
      padding-right: 12px;
    }
  }
}

.multiple-input {
  &__add-icon{
    width: 28px;
    height: 28px;
    @include colorSVGFull($oxide-blue, $oxide-blue);
  }

  &__remove-icon{
    width: 22px;
    height: 22px;
    margin-left: 6px;
    @include colorSVGFill($brick-red);
  }

  &__add-input-button {
    padding-right: 3px;
    padding-left: 10px;
    outline: none;
  }

  &__remove-input-button {
    outline: none;
  }
}

.form-submit {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 0.5em 0.8em;
  color: white;
  font-size: $font-size-sm;
  font-weight: 300;
  background-color: $cement-grey;
  cursor: pointer;

  &:hover {
    background-color: $oxide-blue;
  }
}

.form-helptext {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 12px;
  color: $cement-grey;
}

.form--billing-info {
  .form-elem {
    margin-right: 1rem;
  }
}

.form--sshkey {
  .form-elem {
    margin-bottom: 0.5rem;
  }

  @media #{$medium-up} {
    .form-elem {
      max-width: 460px;
    }
  }

  .form-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    .form-actions {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }

    .form-hint {
      order: 1;
      flex: 1 1 auto;
      align-self: center;
      margin: 0 0 0 20px;
      color: $cement-grey;
      font-size: $font-size-sm;
    }
  }
}

.form--envvar,
.form--cron {
  .form-elem {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 1em;

    .display-value-switch {
      display: flex;
      justify-content: left;
      width: auto;
      align-items: center;
      margin-left: 1px;
      height: 80px;

      button {
        order: 1;
        align-self: center;
      }

      label {
        order: 2;
        text-align: left;
        position: relative;
        top: 4px;
        cursor: pointer;
      }

    }

  }

  @media #{$medium-up} {
    .form-elem {
      margin-bottom: 0;
    }

    .form-elem:first-of-type,
    .form-elem:nth-of-type(2),
    .form-elem:nth-of-type(3) {
      margin-right: 1em;
    }

    .form-elem:last-of-type {
      text-align: right;
      vertical-align: top;
      margin-bottom: 2px;
    }

    .form-elem:last-of-type {
      width: 6%;
      margin-top: 23px;
    }

  }
}

.add-account-env-var-form-elem {
  width: 40% !important;

  .display-value-switch {
    height: auto !important;
  }
}

.add-var-btn {
  text-align: left !important;
  margin-bottom: 28px !important;
}

.form--envvar {
  .switch {
    .label {
      font-size: $font-size-s;
      width: 7rem;
      line-height: 1.2;
      text-align: left;
    }
  }

  @media #{$medium-up} {

    .form-elem:first-of-type,
    .form-elem:nth-of-type(2),
    .form-elem:nth-of-type(3) {
      width: 22%;
    }

    .form-elem:nth-of-type(4) {
      width: 18%;
    }

    .form-elem:last-of-type {
      width: 7%;
    }
  }
}

.form--cron {
  padding: 0.4em 0;

  .ember-power-select-selected-item {
    white-space: nowrap;
  }

  @media #{$medium-up} {

    .form-elem:first-of-type,
    .form-elem:nth-of-type(2),
    .form-elem:nth-of-type(3) {
      width: grid-calc(3, 10);
      margin-right: 0em;
      padding-right: 5px;
    }
  }
}

.form-error {

  .env-name,
  .ssh-value {
    border: $brick-red 2px solid;
  }

  .form-error-message {
    color: $brick-red;
    font-size: 14px;
    padding: 0.2em 0;
    margin: 0;
  }
}
