%icon {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  @extend %icon;

  width: 15px;
  height: 16px;
  margin-right: 4px;
}

.prioritize-icon {
  @extend %icon;
  width: 13px;
  margin-right: 2px;
}

.icon--color {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 19px;
  margin-right: 4px;
  transform: translateY(-2px);
}

.icon--m {
  @extend %icon;

  width: 18px;
  height: 19px;
  margin-right: 1px;
}

.icon--l {
  @extend %icon;

  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.icon--right {
  margin-right: 0;
  margin-left: 10px;
}

.icon svg,
svg.icon,
svg.icon--l,
svg.icon--m {
  @include colorSVG($cement-grey);
}

@each $state, $colorMap in $stateMap {
  svg.icon,
  svg.icon--m,
  svg.icon--l {
    &.#{$state} {
      @include colorSVG(map-get($colorMap, color));
    }
  }
}

.icon-hover {
  &:hover,
  &:active {
    @include colorSVG($oxide-blue);
  }
}

.icon.white {
  @include colorSVG(white);
}

.icon.green {
  @include colorSVG($turf-green);
}

.icon.red {
  @include colorSVG($brick-red);
}

.icon-help {
  @include colorSVG($cement-grey);

  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0.2em;
  margin-left: 0.2em;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid $pebble-grey;

  &:hover,
  &:active {
    border-color: $oxide-blue;

    @include colorSVG($oxide-blue);
  }
}

.icon--plus {
  width: 1.1rem;
  height: 1.4rem;

  &:after {
    content: "+";
    font-size: 16px;
    color: $asphalt-grey;
  }
}
