.icon
  width: 1em
  height: 1em
  display: inline-block
  background:
    size: 100%
    repeat: no-repeat

.icon-cal,
.icon--cal
  background-image: inline-image('svg/finished-icon.svg')

.icon-clock,
.icon--clock
  background-image: inline-image('svg/duration-icon.svg')

.icon-github,
.icon--github
  background-image: inline-image('svg/commit-icon.svg')

.icon--github-circle
  background-image: inline-image('icons/github.svg')

.icon-branch,
.icon--branch
  background-image: inline-image('dashboard/branch.svg')

.icon-hash,
.icon--hash
  background-image: inline-image('svg/build-number-icon.svg')

.icon-cog,
.icon--cog
  background-image: inline-image('icons/settings.svg')

.icon-star
  background-image: inline-image('dashboard/star-off.svg')

.icon.errored
  background-image: inline-image('dashboard/status-errored.svg')

.icon.failed
  background-image: inline-image('dashboard/status-failed.svg')

.icon.canceled
  background-image: inline-image('dashboard/status-cancelled.svg')

.icon.passed
  background-image: inline-image('dashboard/status-passed.svg')

.icon.started
  background-image: inline-image('dashboard/status-pending.svg')

.icon.push
  background-image: inline-image('svg/push-icon.svg')

.icon.pull-request
  background-image: inline-image('svg/pull-request-icon.svg')

.icon-lock
  background-image: inline-image('dashboard/private-icon.svg')

.icon-burger
  background-image: inline-image('dashboard/burger.svg')
  &:hover
    background-image: inline-image('dashboard/burger-hover.svg')

.icon-sync,
.icon--trigger
  background-image: inline-image('icons/sync-account-icon.svg')

.icon--downloadLog
  background-image: inline-image('icons/download-log-icon.svg')
.icon--removeLog
  background-image: inline-image('icons/remove-log-icon.svg')
.icon--down
  background-image: inline-image('icons/end-of-log-icon.svg')

.icon--codeclimate
  background-image: inline-image('icons/code-climate-icon.svg')

.icon-arrow-down
  width        : 0
  height       : 0
  display      : inline-block
  padding-top  : 2px
  margin-left  : 5px
  border-left  : 5px solid transparent
  border-right : 5px solid transparent
  border-top   : 5px solid $dashboard-text-color