.loading-indicator {
  display: inline-block;
  vertical-align: middle;

  i {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #A6ADAD;
    border-radius: 50%;
    line-height: 0;
    transform-origin: center center;
    animation: bouncedelay 1.3s infinite linear;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }

  .white & {
    i {
      background-color: white;
    }
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

.loading-container {
  text-align: center;
  padding: 1.5em 1em;
  overflow: hidden;
}

.button .loading-container {
  margin: 0 auto;
  padding: 0;
}

.loading-indicator--white {
  @extend .loading-indicator;

  i {
    background-color: white;
  }
}

.icon-height {
  .loading-indicator {
    height: 28px;
    margin-bottom: 0.5em;
  }
}

.repo-loading {
  .loading-indicator {
    width: 70px;
    padding-left: 25px;
  }
}
