.logo {
  position: relative;
  height: $top-height;
  width: 100px;
  margin: 0 1.5rem 0 0;
  vertical-align: middle;
  float: left;

  a {
    display: block;
    height: $top-height;
    outline: none;
    text-indent: -9999px;
    transition: background-color 200ms ease;
    background: url(/images/ui/travis-ci-logo.svg) no-repeat 0 calc(50% - 3px);
  }

  .centered & {
    margin-left: 0;
  }
}

.nav-logo {
  background: url(/images/ui/travis-ci-logo.svg) no-repeat 0 calc(50% - 3px);
  display: block;
  height: $top-height;
  text-indent: -9999px;
  overflow: hidden;
}
