.migrate-beta-dialog {
  width: 500px;

  h3 {
    font-size: 24px;
  }

  &__image {
    text-align: center;
    margin: -20px 0;
  }

  .subtle {
    opacity: 0.5;
  }

  button {
    &:focus,
    &:active {
      outline: none;
    }
  }


}
