.migrate {

  h1 {
    color: $oxide-blue;
    font-weight: 200;
  }

  &__activate-all {
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  &__separator {
    width: 100%;
    height: 0;
    border-bottom: 1px solid $dry-cement;
    margin: 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: attr(data-text);
      padding: 0 15px;
      background-color: #ffffff;
      color: $cement-grey;
    }
  }

  .migrate-note {
    margin-bottom: 25px;

    p {
      margin: 0 0 10px 0;

      &:last-of-type {
        margin: 0;
      }
    }

    ol {
      padding: 0 0 0 25px;
      list-style: none;

      li {
        margin-bottom: 10px;
        text-decoration: underline;
      }

    }

  }

  .travistab-nav--secondary {

    li {
      font-size: 18px;
      font-weight: 100;

      &.travistab-nav__arrow {
        width: 35px;
      }

      &:not(.travistab-nav__arrow) {
        width: auto;
        white-space: nowrap;
      }

      a {
        padding: 0.3em 0;
      }

    }

  }

  .travis-form__field-checkbox {
    width: 100%;
  }

  &__submit {
    margin-top: 15px;
  }

  &__select-all {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .icon-help {
    vertical-align: bottom;
  }

}
