.migrate {

  .migrate-note {
    margin-bottom: 25px;

    p {
      margin: 0 0 10px 0;

      &:last-of-type {
        margin: 0;
      }
    }

    ol {
      padding: 0 0 0 25px;
      list-style: none;

      li {
        margin-bottom: 10px;
        text-decoration: underline;
      }

    }

  }

  .travistab-nav--secondary {

    li {
      font-size: 18px;

      &.travistab-nav__arrow {
        width: 35px;
      }

      &:not(.travistab-nav__arrow) {
        width: 230px;
      }

      a {
        padding: 0.3em 0;
      }

    }

  }

  .travis-form__field-checkbox {
    width: 100%;
  }

}
