.repository-migration-modal {

  .migration-modal-cancel {
    margin-right: 6px;
  }

  h3 {
    margin-top: -10px;
  }

  .profile-repolist-wrapper {
    max-height: 200px;
    overflow-y: auto;

    li {
      margin-bottom: 0;
    }
  }

}

.travis-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
