$nav-line-height: 35px;

.navigation-toggle {
  float: left;
  margin-right: 15px;

  @media #{$medium-up} {
    display: none;
  }
}

.navigation {
  height: 0;
  transition: height 200ms ease;
  overflow: hidden;

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: block;
  }

  &.is-open {
    height: 100%;
  }

  @media #{$medium-up} {
    overflow: visible;

    > ul > li {
      display: inline-block;
      margin-left: -0.5em;
      white-space: nowrap;

      &:first-of-type {
        a {
          margin-left: -0.5em;
        }
      }
    }
  }

  @media #{$small-only} {
    clear: both;
  }
}

.profile.menu {
  line-height: $top-height;
  margin-right: 0;
  position: absolute;
  top: 10px;
  right: 15px;

  @media #{$small-only} {
    top: 0;
    right: 0;

    .navigation-anchor {
      line-height: 50px;

      .avatar {
        margin: 0 10px 0 0;
      }
    }
  }

  &.signed-out .navigation-nested li .action {
    padding: 0 10px;
    white-space: nowrap;
  }

  > a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .navigation-avatar {
    .avatar {
      margin-right: 10px;
    }
  }

  .auth-button {
    width: 150px;

    @media #{$small-only} {
      width: 100px;
      margin-right: 11px
    }

  }
}

.disabled {
  cursor: default;
}

.navigation-anchor {
  display: block;
  width: 100%;
  line-height: $top-height + 1px;
  padding: 0 1em;
  height: auto;

  &.active {
    border-bottom: solid 4px #3eaaaf;
    font-weight: 600;
  }

  &:hover {
    font-weight: 600;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @media #{$small-only} {
    line-height: 50px;
    padding: 0 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.navigation-anchor-disabled {
  color: #a7a7a7 !important;
}

.deployment-version {
  border: 1px solid $cement-grey;
  font-size: 50%;
  padding: 6px;
  border-radius: 15px;
  display: inline;
  position: relative;
  top: -2px;
}

.menu-separator {
  border-bottom: 1px #666666 solid;
  padding-top: 10px;

  @media #{$medium-up} {
    display: none;
  }
}

.navigation-nested {
  z-index: 35;
  width: 200px;
  padding: 0;
  list-style: none;
  line-height: $nav-line-height;
  background-color: #FFFFFF;
  border: 1px solid #F7F7F7;
  border-radius:2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
  margin: 0;

  svg:not(.signin-provider-icon) {
    display: none;
  }

  .signin-provider-icon {
    display: inline-block;
    margin-left: 7px;
  }

  a {
    &:not(:first-child) {
      line-height: 35px;
    }
  }

  .section-header {
    padding: 5px 20px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  &__header {
    color: $cement-grey;
    background-color: #F7F7F7;

    &.username .username__text {
      line-height: 35px;

      &:after {
        background: linear-gradient(-90deg, #F7F7F7 20%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }

  .topbar-menu-item {
    line-height: 46px;
    text-align: left;
    display: flex;
    align-items: center;
    color: #454545;

    &:hover {
      text-decoration: none;
      color: $oxide-blue;
      background-color: lighten($oxide-blue, 50%);

      .icon {
        @include colorSVG($oxide-blue);
      }

      .username__text:after {
        background: linear-gradient(-90deg, lighten($oxide-blue, 50%) 20%, rgba(255, 255, 255, 0) 100%);
      }
    }

    &.active:hover {
      text-decoration: none;
      background-color: lighten($oxide-blue, 50%);

      a {
        color: $oxide-blue;
      }

      .icon {
        @include colorSVG($oxide-blue);
      }
    }

    &--warning {
      background-color: lighten($canary-yellow, 30%);
      color: $dozer-yellow;
      line-height: 1.7;
      font-size: 0.7em;
      text-align: center;
    }

    &__label {
      margin-left: 7px;
      position: relative;
      top: -1px;
    }

    .icon {
      display: inline-block;
      stroke: #686B6E;
      margin-left: 20px;
    }

    .avatar-wrapper {
      max-width: 20px;
      width: 20px;
      flex-basis: 20px;

      .avatar {
        margin: 0;
        transform: scale(0.5) translate(-20px, 2px);
      }
    }
  }

  a.navigation-nested__link {
    text-decoration: underline;
    color: $oxide-blue;
    font-size: 12px;
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    &:hover {
      color: darken($oxide-blue, 10%)
    }
  }

  .navigation-nested__note {
    padding: 0 14px 0 20px;
    white-space: normal;
    line-height: 1.4;
    font-size: 0.8em;
    color: $cement-grey;
  }

  .username {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      flex-basis: 100%;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 2.5em;
        background: linear-gradient(-90deg, #ffffff 20%, rgba(255, 255, 255, 0) 100%);
      }
    }

    &__vcs-icon {
      width: 35px;
      min-width: 35px;
      flex-basis: 35px;
      display: flex;
      align-items: center;

      svg {
        margin-left: 5px;
        display: inline-flex;
        fill: $cement-grey;
      }
    }
  }

  .nav-nested {
    display: block;
    height: 1px;
    background-color: $cream-dark;
    margin: 0;
  }
}

.profile.menu.open .navigation-nested,
.profile.signed-out:hover .navigation-nested {
  display: block;
}

.profile.menu:focus-within > ul {
  opacity: 1; // Prevents this rule from being merged with the one above during minification. For IE support.
  display: block;
}

nav.navigation-anchor:hover {
  text-decoration: underline;
}
