$nav-line-height: 35px;

.navigation-toggle {
  float: right;

  @media #{$medium-up} {
    display: none;
  }
}

.navigation {
  height: 0;
  will-change: height;
  transition: height 200ms ease;
  overflow: hidden;

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: block;
  }

  &.is-open {
    height: 100%;
  }

  @media #{$medium-up} {
    overflow: visible;

    > ul > li {
      display: inline-block;
      margin-left: -0.5em;
      white-space: nowrap;

      &:first-of-type {
        a {
          margin-left: -0.5em;
        }
      }
    }
  }

  .profile {
    line-height: $top-height;

    @media #{$medium-up} {
      float: right;
      margin-right: 0;

      > a {
        text-decoration: none;
        padding-right: 0;
      }
    }

    .avatar {
      margin-right: 10px;
    }
  }
}

.navigation-anchor {
  display: block;
  width: 100%;
  line-height: $nav-line-height;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media #{$medium-up} {
    line-height: $top-height + 1px;
    padding: 0 1em;
  }
}

.deployment-version {
  border: 1px solid $cement-grey;
  font-size: 50%;
  padding: 6px;
  border-radius: 15px;
  display: inline;
  position: relative;
  top: -2px;
}

.username {
  color: $cement-grey;
  padding: 3px 0 3px 20px;
  background-color: $cream-light;
  overflow: hidden;
  white-space: nowrap;
  span {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 2em;
      height: 40px;
      background: linear-gradient(-90deg, $cream-light 20%, rgba(255, 255, 255, 0) 100%);
    }
  }
}

.navigation-nested {
  margin: 0;
  padding: 0 0 0 1em;
  list-style: none;
  line-height: $nav-line-height;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 2px rgba(216, 216, 216, 1);

  @media #{$medium-up} {
    width: 180px;
    display: none;
    position: absolute;
    padding: 0 0 0 0;
    margin: (-1px) 0 0 (-80px);

    @include z-index(above-flashes);

    li {
      display: block;
      text-align: left;

      .nav-nested {
        height: 1px;
        background-color: $cream-dark;
        margin: 0 20px;
      }
      
      &:not(:first-child):hover {
        text-decoration: none;
        background-color: lighten($oxide-blue, 50%);

        a {
        color: $oxide-blue;
        }

        svg {
        @include colorSVG($oxide-blue);
        }
      }

      &.active:not(:first-child):hover {
        text-decoration: none;
        background-color: lighten($oxide-blue, 50%);

        a {
        color: $oxide-blue;
        }

        svg {
          @include colorSVG($oxide-blue);
        }
      }
    }

    svg {
      margin-left: 20px;
      vertical-align: sub;
    }

    a {
      display: inline;
      text-decoration: none;
    }
  }
}

.navigation-anchor:hover ~ .navigation-nested,
.navigation-nested:hover {
  display: block;
}

.navigation-anchor:hover {
  text-decoration: underline;
}
