$nav-line-height: 35px;

.navigation-toggle {
  float: right;

  @media #{$medium-up} {
    display: none;
  }
}

.navigation {
  height: 0;
  will-change: height;
  transition: height 200ms ease;
  overflow: hidden;

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: block;
  }

  &.is-open {
    height: 100%;
  }

  @media #{$medium-up} {
    overflow: visible;

    > ul > li {
      display: inline-block;
      margin-left: -0.5em;
      white-space: nowrap;

      &:first-of-type {
        a {
          margin-left: -0.5em;
        }
      }
    }
  }

  .profile {
    @media #{$medium-up} {
      line-height: $top-height;
      float: right;
      margin-right: 0;

      > a {
        text-decoration: none;
        padding-right: 0;
      }
    }

    .avatar {
      margin-right: 10px;
    }

    .navigation-profile-link{
      display: none;

      @media #{$medium-up} {
        display: block;
      }
    }
  }

  .signed-in a {
    text-decoration: none;
  }
}

.navigation-anchor {
  display: block;
  width: 100%;
  line-height: $nav-line-height;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media #{$medium-up} {
    line-height: $top-height + 1px;
    padding: 0 1em;

    &:last-child {
      padding-bottom: 10px;
    }
  }
}

.deployment-version {
  border: 1px solid $cement-grey;
  font-size: 50%;
  padding: 6px;
  border-radius: 15px;
  display: inline;
  position: relative;
  top: -2px;
}

.menu-separator {
  border-bottom: 1px #666666 solid;
  padding-top: 10px;

  @media #{$medium-up} {
    display: none;
  }
}

.navigation-nested {
  padding: 10px 0px 0px 0px;
  z-index: 35;

  svg {
    display: none;
  }

  a {
    &:not(:first-child) {
      line-height: 35px;
    }
  }

  .topbar-menu-item:hover {
    text-decoration: underline;
  }

  .section-header {
    padding: 5px 20px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  &__header {
    color: $cement-grey;
    background-color: #F7F7F7;

    @media #{$medium-up} {
      &.username .username__text {
        line-height: 35px;

        &:after {
          background: linear-gradient(-90deg, #F7F7F7 20%, rgba(255, 255, 255, 0) 100%);
        }
      }
    }
  }

  @media #{$medium-up} {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: $nav-line-height;
    background-color: #FFFFFF;
    border: 1px solid #F7F7F7;
    border-radius:2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);

    .topbar-menu-item {
      line-height: 46px;
      text-align: left;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: none;
        color: $oxide-blue;
        background-color: lighten($oxide-blue, 50%);

        .icon {
          @include colorSVG($oxide-blue);
        }

        .username__text:after {
          background: linear-gradient(-90deg, lighten($oxide-blue, 50%) 20%, rgba(255, 255, 255, 0) 100%);
        }
      }

      &.active:hover {
        text-decoration: none;
        background-color: lighten($oxide-blue, 50%);

        a {
          color: $oxide-blue;
        }

        .icon {
          @include colorSVG($oxide-blue);
        }
      }

      .icon {
        display: inline-block;
        stroke: #686B6E;
        margin-left: 20px;
      }

      &__label {
        margin-left: 7px;
        position: relative;
        top: -1px;
      }

      .avatar-wrapper {
        max-width: 20px;
        width: 20px;
        flex-basis: 20px;

        .avatar {
          margin: 0;
          transform: scale(0.5) translate(-20px, 2px);
        }
      }
    }

    a.navigation-nested__link {
      text-decoration: underline;
      color: $oxide-blue;
      font-size: 12px;
      margin-right: 15px;
      position: relative;
      top: -2px;
    }
  }

  .username {
    display: none;
    padding-left: 20px;

    @media #{$medium-up} {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__text {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        flex-basis: 100%;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 2.5em;
          background: linear-gradient(-90deg, #ffffff 20%, rgba(255, 255, 255, 0) 100%);
        }
      }

      &__vcs-icon {
        width: 35px;
        min-width: 35px;
        flex-basis: 35px;
        display: flex;
        align-items: center;

        svg {
          margin-left: 5px;
          display: inline-flex;
          fill: $cement-grey;
        }
      }
    }
  }

  .nav-nested {
    display: none;

    @media #{$medium-up} {
      display: block;
      height: 1px;
      background-color: $cream-dark;
      margin: 0;
    }
  }



  @media #{$medium-up} {
    display: none;
    position: absolute;
    padding: 0 0 0 0;
    margin: (-1px) 0 0 (-103px);

    @include z-index(above-flashes)
  }
}

ul #profile-menu-link:hover > ul,
ul #profile-menu-link ul:hover {
  display: block;
}

ul #profile-menu-link:focus-within > ul {
  opacity: 1; // Prevents this rule from being merged with the one above during minification. For IE support.
  display: block;
}

nav.navigation-anchor:hover {
  text-decoration: underline;
}
