.notification-info {
  background-color: #eff6ff;
  padding: 10px 16px 10px 10px;
  color: #222222;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
}


.notification-warning {
  background-color: #faf6db;
  padding: 10px 16px 10px 10px;
  color: #222222;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.warning-background {
  background-color: #faf6db;
}

.notification-error {
  background-color: $quartz-red;
  padding: 10px 16px 10px 10px;
  color: $brick-red;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.error-background {
  background-color: #fce8e2;
}

.global-notification-container {
  height: auto;
}

.global-notification-warning {
  background-color: #faf6db;
  margin: 0 0 0;
  padding: 10px 16px 10px 10px;
  color: #222222;
  font-size: 14px;

  .close {
    @include colorSVGFill($color-bg-log-fold);
  }
}

.top .global-notification-warning {
  .close {
    position: relative;
  }

  .close .icon {
    width: 40px;
    height: 17px;
  }
}

.global-notification-success {
  background-color: $seed-green;
  margin: 0 0 0;
  padding: 10px 16px 10px 10px;
  color: #222222;
  font-size: 14px;
}

.global-notification-error {
  background-color: $quartz-red;
  margin: 0 0 0;
  padding: 10px 16px 10px 10px;
  color: $brick-red;
  font-size: 14px;
}

.notification-info a, .notification-warning a, .global-notification-warning a {
  font-weight: 600;
  text-decoration: underline;
  color: #222222;
}

.notification-error a, .global-notification-error a {
  font-weight: 600;
  text-decoration: underline;
  color: $brick-red;
}

.icon-help-info {
  border: 1px solid #222222 !important;
  @include colorSVG(#222222);

  &:hover {
    @include colorSVG(#222222);
  }
}

.info-info {
  width: 20px;
  height: 20px;
  margin-bottom: -6px;
  @include colorSVG(#222222);
}

.icon-help-warning {
  border: 1px solid #222222 !important;
  @include colorSVG(#222222);

  &:hover {
    @include colorSVG(#222222);
  }
}

.info-warning {
  width: 20px;
  height: 20px;
  margin-bottom: -6px;
  @include colorSVG(#222222);
}

.icon-help-error {
  border: 1px solid $brick-red !important;
  @include colorSVG($brick-red);

  &:hover {
    @include colorSVG($brick-red);
  }
}

.info-error {
  width: 20px;
  height: 20px;
  margin-bottom: -6px;
  @include colorSVG($brick-red);
}
