.overlay-backdrop {
  opacity: 0;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;

  transition: all 0.2s ease-in;

  &--visible {
    opacity: 1;
    top: 0;
    bottom: 0;
  }
}
