.pagination-navigation {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0.5em 0;
    list-style: none;
  }

  li {
    margin: 0.5em;
  }
}

.pagination-button {
  padding: 0.4em 0.5em;
  border: solid 1px $pebble-grey;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:active {
    color: $oxide-blue;
    border-color: $oxide-blue;
  }
}

.pagination-link {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5;
  border-radius: 50%;
  text-align: center;
  border: solid 1px transparent;
  cursor: pointer;

  &:hover,
  &:active {
    color: $oxide-blue;
    border-color: $oxide-blue;
  }

  &.active {
    color: $oxide-blue;
    font-weight: 600;
    background-color: rgba($agate-blue, 0.3);
  }
}
