.repo-config .request-configs {
  position: relative;
  top: -1em;

  .trigger-build-description {
    margin-bottom: 2em;
  }

  .trigger-build-buttons {
    position: absolute;
    top: 63px;
    right: 0;
  }

  .trigger-build-button-cancel {
    display: none;
  }
}
