.fade-out {
  @media #{$medium-up} {
    white-space: nowrap;

    position:relative {}

    overflow: hidden;

    &:after {
      content: "";

      @include fadeOut(right, -90deg, white, 30%);
    }
  }
}

.label-align {
  vertical-align: middle;
  line-height: 1.5;
}

.rows {
  @each $state, $colorMap in $stateMap {
    @include rowColor($state, map-get($colorMap, color), map-get($colorMap, gradient));
  }

  @include travisBorder;

  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1rem;

  @media #{$medium-up} {
    position: relative;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .label {
    margin: 0;
    font-size: 10px;
    color: $cement-grey;
    text-transform: uppercase;
    font-weight: 600;
  }

  .row-label,
  .row-label a {
    font-size: $font-size-m;
    color: $cement-grey;
  }

  .row-label {
    margin: 0;

    a:hover,
    a:active {
      border-bottom: 1px solid $cement-grey;
    }
  }

  .row-content {
    margin: 0;
    font-size: 16px;
    white-space: nowrap;

    a:hover,
    a:active {
      border-bottom: 1px solid $asphalt-grey;
    }

    &.no-hover {
      a:hover, a:active {
        border-bottom-width: 0;
      }
    }
  }
}

// old! remove this
.row-li {
  background: linear-gradient(to right, $pebble-grey 0%, $pebble-grey 10px, white 10px, white 100%) no-repeat;

  @include travisColorRows;
  @include travisBorder;

  position: relative;
  font-size: 16px;
  margin-bottom: 0.3rem;

  @media #{$medium-up} {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  h2, h3, small {
    margin: 0;
    font-size: 16px;
  }

  small {
    font-weight: $font-weight-bold;
    margin-right: 1em;
  }

  .row-header {
    width: 100%;
  }

  .row-item {
    margin: 0.2em;
    font-weight: $font-weight-normal;
    white-space: nowrap;
    padding-left: 1em;

    &.download {
      padding-left: 22px;
    }

    a:hover,
    a:active,
    a:focus {
      text-decoration: none;

      .inner-underline {
        text-decoration: underline;
      }
    }

    @media #{$medium-up} {
      display: inline-block;
      padding-left: 0;
    }
  }

  %row-element {
    vertical-align: middle;

    @media #{$medium-up} {
      display: inline-block;
    }

    .row-item {
      vertical-align: middle;
    }
  }

  .two-line {
    @extend %row-element;

    padding: 0.4em 0;
    margin-left: 1em;
    text-align: left;

    @media #{$medium-up} {
      margin-left: 0;
    }
  }

  .one-line {
    @extend %row-element;

    .row-item {
      display: inline-block;
    }

    .row-nav {
      display: none;
      text-align: center;

      @media #{$medium-up} {
        display: block;
      }
    }
  }
}
