.fade-out
  @media #{$medium-up}
    white-space: nowrap
    position:relative
    overflow: hidden
    &:after
      content: ""
      @include fadeOut(right, -90deg, $white, 30%)

.label-align
  vertical-align: middle
  line-height: 1.5

.row-li
  border: 1px solid $cream-dark
  font-size: 16px
  margin-bottom: .3rem
  color: $grey-dark
  background: linear-gradient(to right, #CACECE 0%, #CACECE 9px, white 10px, white 100%) no-repeat

  h2, h3, small
    margin: 0
    font-weight: $font-weight-normal
    font-size: 16px
  small
    font-weight: $font-weight-bold
    margin-right: 1em

  .row-header
    width: 100%

  .row-item
    margin: .2em
    font-size: 16px
    font-weight: $font-weight-normal
    white-space: nowrap
    overflow: hidden
    padding-left: 1em
    a
      color: $grey-dark
      text-decoration: none
      &:hover
        text-decoration: underline

    @media #{$medium-up}
      display: inline-block
      padding-left: 0

  %row-element
    vertical-align: middle
    @media #{$medium-up}
      display: inline-block
    .row-item
      vertical-align: middle

  .two-line
    @extend %row-element
    padding: .4em 0
    margin-left: 1em
    text-align: left

    @media #{$medium-up}
      margin-left: 0

  .one-line
    @extend %row-element
    .row-item
      display: inline-block
    .row-nav
      display: none
      text-align: center
      @media #{$medium-up}
        display: block

  .icon
    width: 1.3em
    height: 1.3em
    margin-right: .2em
    display: inline-block
    vertical-align: middle

  .avatar
    display: inline-block
    width: 16px
    height: 16px
    margin: 0 .4em 0 .1em
    border-radius: 50%
    vertical-align: middle
    background-color: #E9EBEB

  @include statusColors($green, 'passed', 10px)
  @include statusColors($red, 'failed', 10px)
  @include statusColors($red, 'errored', 10px)
  @include statusColors($grey, 'canceled', 10px)
  @include statusColors($yellow-font, 'started', 10px, $yellow-bg, true)
  @include statusColors($yellow-font, 'queued', 10px, $yellow-bg, true)
  @include statusColors($yellow-font, 'booting', 10px, $yellow-bg, true)
  @include statusColors($yellow-font, 'received', 10px, $yellow-bg, true)
  @include statusColors($yellow-font, 'created', 10px, $yellow-bg, true)
