.search--sidebar
  position: relative
  height: 7.2em
  .search-inner
    @extend %absolute-center
    width: 90%
    height: 33px
    border: solid 1px lighten($cement-grey, 20)
    border-radius: 4px
    overflow: hidden
    input
      display: inline-block
      width: 90%
      padding: .5em
      vertical-align: middle
      border: none
      background: white
      
