.search--sidebar
  position: relative
  height: 7.2em
  .search-inner
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    margin: auto
    width: 90%
    height: 33px
    border: solid 1px lighten($cement-grey, 20)
    border-radius: 4px
    overflow: hidden
    input
      display: inline-block
      width: 90%
      padding: .5em
      vertical-align: middle
      border: none
      background: white
