.switch-rounded {
  $switch-height: 20px;
  $switch-width: 40px;

  $switch-gap: 2px;

  $switch-inner-heigth: $switch-height - $switch-gap*2;
  $switch-inner-width: $switch-inner-heigth;

  padding: 0;

  .switch-inner {
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    margin-right: 1em;
    vertical-align: middle;
    overflow: visible;
    background-color: darken($pebble-grey, 10);
    border-radius: $switch-inner-width;
    border: none;
    cursor: pointer;

    span {
      width: $switch-inner-width;
      height: $switch-inner-heigth;
      border-radius: $switch-inner-width;
      background-color: white;
      color: white;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 2.2;
    }
  }

  span {
    margin-top: $switch-gap;
    display: inline-block;
  }

  .label {
    vertical-align: middle;
    font-size: $font-size-m;
    display: inline-block;
  }

  &.label--small .label {
    width: 7em;
    font-size: 12px;
    line-height: 1.3;
  }

  .on {
    display: none;
    margin-left: -49%;

    .icon-on {
      @include colorSVG($oxide-blue);
      transform: translateY(-1px);
      stroke-width: 1.5px;
    }
  }

  .off {
    margin-left: 50%;

    .icon-off {
      @include colorSVG(darken($pebble-grey, 10));
      transform: translateX(0.7px);
      stroke-width: 1.5px;
      padding-bottom: 2px;
    }
  }

  &.active {
    .switch-inner {
      background-color: $oxide-blue;
    }

    .on {
      display: inline-block;
    }

    .off {
      display: none;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  [class^="icon-"] {
    width: 9px;
    height: 100%;
  }
}
