.sync-button {
  vertical-align: middle;
  display: flex;
  position: relative;

  margin-top: 1rem;

  .button {
    position: relative;

    @include z-index(above);

    height: 2.6rem;
    padding: 0.6em 0.8em;
    background-color: $oxide-blue;
    border: none;
    border-radius: 2px;

    margin-right: 0.5rem;

    &:hover {
      background-color: #229191;
    }

    &:disabled {
      background-color: #9d9d9d;
      cursor: not-allowed;
    }
  }

  .sync-last {
    position: absolute;

    @include z-index(under);

    transition: transform 150ms ease, opacity 250ms ease;
    transform: translateX(-100%);
    opacity: 0;
    background: white;
  }

  .button:hover ~ .sync-last-container .sync-last {
    transform: translateX(0);
    opacity: 1;

    @include z-index(above);
  }

  .is-syncing {
    background-color: $oxide-blue;
  }

  .loading-indicator--white {
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .ember-popover {
    color: white;
    background-color: $asphalt-grey;
    border-radius: 0;
    border: none;
    padding: 0 0 0 0;
  }

  .ember-popover[x-placement^="top"] .ember-popover-arrow {
    border-top-color: $asphalt-grey;
    margin-left: -5px;
    bottom: -13px;
  }

  .ember-popover[x-placement^="bottom"] .ember-popover-arrow {
    border-bottom-color: $asphalt-grey;
    margin-left: -2px;
    top: -14px;
  }

  .ember-popover-arrow {
    border: 15px solid transparent;
  }
  .ember-popover-inner {
    padding: 0px;
    margin: 2px 10px 2px 10px;
  }

}

.sync-last-container {
  display: flex;
  align-items: center;
}

.sync-last {
  color: $asphalt-grey;
  font-size: 0.9rem;
}
