
.tabnav
  ul
    @include resetul
    @include border-top-radius(4px)
    width: 100%
    background-color: $cream-light
    clear: both
    overflow: auto
    @media #{$small-only}
      margin-top: 2em
  li
    &:first-child a
      border-top-left-radius: 4px
    &:last-child a
      border-top-right-radius: 4px
  a
    @extend %inline-block
    width: 100%
    border: 2px solid transparent
    padding: .3em 1em .2em

  .active
    a
      border-top-color: $cream-dark
      border-left-color: $cream-dark
      border-right-color: $cream-dark
      background-color: $white
      &:after
        content: none

  @media #{$medium-up}
    ul
     @extend %inline-block
    li
      float: left
    a
      &:after
        content: ""
        position: relative
        left: 1.3em
        display: inline-block
        width: 2px
        height: 10px
        background-color: $cream-dark
    li:last-child a:after
        content: none