$tooltip-color: $asphalt-grey;

.ember-tooltip {
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1.8;
  background-color: $tooltip-color;
  text-align: center;
  z-index: 50;

  &[x-placement^="top"] .ember-tooltip-arrow {
    border-top-color: $tooltip-color;
  }

  &[x-placement^="bottom"] .ember-tooltip-arrow {
    border-bottom-color: $tooltip-color;
  }

  &[x-placement^="left"] .ember-tooltip-arrow {
    border-left-color: $tooltip-color;
  }

  &[x-placement^="right"] .ember-tooltip-arrow {
    border-right-color: $tooltip-color;
  }

}

body > .ember-tooltip {
  // Tweaks “View branch on GitHub” in components:my-build
  top: 6px !important;
}
