.trigger-build-button-submit {
  @include colorSVG($oxide-blue);

  width: 100px;
  border: 1px solid $oxide-blue;
  padding: 8px 12px;

  &:active,
  &:focus {
    outline: none;
  }

  .loading-indicator i {
    background-color: white;
  }
}

.trigger-build-description {
  padding: 1em;
  border: 1px solid $pebble-grey;

  .trigger-build-icon {
    position: relative;
    top: 2px;
    height: 13px;
    width: 16px;
    margin-right: 6px;
    opacity: 0.4;
  }
}

.trigger-build {
  .validation-result {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid $dry-cement;
    font-size: 13px;
    color: lighten($cement-grey, 10%);
    cursor: pointer;

    & > * {
      display: inline-block;
    }

    .request-messages-badge {
      margin-right: 5px;
    }

    .validating-indicator {
      position: relative;
      top: -2px;
      left: 4px;
      opacity: 0.6;

      i {
        width: 5px;
        height: 5px;
      }
    }
  }

  .request-messages {
    margin-top: 0;
    border-top: 0;
  }

  .toggle-validation-messages {
    position: relative;
    top: -1px;
    height: 5px;
    width: 10px;
    margin-left: 4px;
    background-image: url(/images/svg/icon-dropdown-arrow.svg);
  }

  .expanded .toggle-validation-messages {
    top: -2px;
    transform: scaleY(-1);
  }

  .config-type {
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 10px;
    z-index: 2;

    * {
      display: inline-block;
      padding: 0 8px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    &.javascript .javascript,
    &.yaml .yaml {
      color: white;
      background-color: $oxide-blue;
      border-color: $oxide-blue;
    }
  }

  .travis-form__field-component {
    box-shadow: inset 0 0 1px 1px $dry-cement !important;
  }

  .CodeMirror {
    height: 350px !important;
    margin: -4px;
    padding: 8px 12px 8px 4px;
    width: calc(100% + 8px);
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 0 0 1px 1px $dry-cement;
    transition: border-color 0.2s ease-in;
    color: $asphalt-grey;
    line-height: 150%;
    font-size: 12px;
    font-family: Cousine, monospace;
    line-height: 20px;

    &.CodeMirror-focused {
      outline: none;
      border-color: rgba(62, 170, 175, 0.2);
    }

    pre {
      padding: 0 14px;
    }
  }

  .CodeMirror-gutters {
    border: 0;
    background-color: transparent;
  }

  h4 {
    color: #9d9d9d;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  input[type=radio] {
    margin-right: 8px;
  }

  .ember-radio-button {
    margin-right: 16px;
  }

  .hint {
    position: absolute;
    right: 0;
  }
}

.trigger-build-preview-container {
  display: flex;

  & > div {
    flex-grow: 1;
    align-items: stretch;
  }

  .left {
    margin-right: 0.5em;
  }

  .right {
    margin-left: 0.5em;
  }

  pre,
  div > div {
    height: calc(100% - 45px);
    border: 1px solid $dry-cement;
  }

  div > div {
    padding: 10px 20px;
  }
}
