

.visibility-setting-list {
  list-style: none;
  padding: .5rem 1rem;
  font-style: italic;
  color: $cement-grey;
  background-color: #f5fbfb;

  label { cursor: pointer; }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
    background-color: transparent;
    width: 100%;

    .visibility-setting-list-item__description {
      background-color: transparent;
      cursor: pointer;
    }

    .visibility-setting-list-item__radio {
      display: inline-block;
      border: 1px solid $oxide-blue;
      border-radius: 50%;
      padding: 2px;
      line-height: 0;
      background-color: transparent;
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: transparent;
      }
    }

    &--selected .visibility-setting-list-item__radio::before {
      background-color: $oxide-blue;
    }
  }
}

.settings-button {
  margin-top: .5rem;
  padding: .25rem 1rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  background-color: $oxide-blue;
  color: #ffffff;
  border: 1px solid $oxide-blue;
  cursor: pointer;

  &:hover {
    background-color: darken($oxide-blue, 10);
    border-color: darken($oxide-blue, 10);
  }

  &[disabled] {
    color: $cement-grey;
    border-color: $dry-cement;
    background-color: transparent;
    cursor: default;
  }
}