

.visibility-setting-list {
  list-style: none;
  padding: .5rem 1rem;
  font-style: italic;
  color: $cement-grey;
  background-color: #f5fbfb;
  border-radius: 2px;

  label { cursor: pointer; }

  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: .5rem 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    &__description {
      background-color: transparent;
      cursor: pointer;
      text-align: left;
      font-style: italic;
      color: $cement-grey;
    }

    &__radio {
      display: inline-block;
      border: 1px solid $oxide-blue;
      border-radius: 50%;
      padding: 2px;
      line-height: 0;
      background-color: transparent;
      cursor: pointer;
      margin-right: 0.5rem;

      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: transparent;
      }
    }

    &--selected &__radio::before {
      background-color: $oxide-blue;
    }
  }
}

.settings-button {
  margin-top: .5rem;
  padding: .25rem 1rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  background-color: $oxide-blue;
  font-size: 10px;
  color: #ffffff;
  border: 1px solid $oxide-blue;
  cursor: pointer;

  &:hover {
    background-color: darken($oxide-blue, 10);
    border-color: darken($oxide-blue, 10);
  }

  &[disabled] {
    color: $oxide-blue;
    border-color: $oxide-blue;
    background-color: transparent;
    cursor: default;
  }
}

.visibility-settings-modal {
  padding: 1.6rem 1.8rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__header {
    font-size: 1.6rem;
    font-weight: 300;
    color: $oxide-blue;
    margin: 0 2rem 0 0;
  }

  &__controls .button {
    margin: 0 1rem 1rem 0;
  }
}