#wizard {
  a {
    position: relative;
    display: unset;
    font-weight: 600;
    text-decoration: underline;

    &:hover,
    &:active,
    &.active {
      color: black;
      text-decoration: underline;

    }

    &:after {
      all: unset;
    }
  }

  .wizard-heading {
    font-size: 18px;
    color: $oxide-blue;
    margin-left: 18px;
    text-align: left;
    margin-bottom: 14px;
  }

  .wizard-title {
    margin-top: 30px;
  }

  .wizard-content {
    margin: 18px;
    margin-top: 14px;
    color: $asphalt-grey;
  }

  .wizard-button {
    margin-right: 18px;
    margin-bottom: 14px;
    background-color: $oxide-blue;
  }

  .wizard-button-white {
    margin-bottom: 14px;
  }


  .wizard-page-number {
    margin-left: 18px;
    color: $asphalt-grey;
  }

}

#travis-nav {

  .ember-popover {
    border: none;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 51;
  }

  .ember-popover[x-placement^="top"] .ember-popover-arrow {
    border-top-color: white;
    margin-left: -5px;
    bottom: -39px;
    z-index:51;

    &:after {
    border: 15px solid transparent;
    content: "";
    margin-left: -15px;
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: 5px;
    z-index: -1;
    background: transparent;
    transform: rotate(45deg);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  }
  }

  .ember-popover[x-placement^="bottom"] .ember-popover-arrow {
    border-bottom-color: white;
    margin-left: -5px;
    top: -40px;

    &:before {
      border: 10px solid transparent;
      content: "";
      margin-left: -10px;
      display: block;
      position: absolute;
      height: 12px;
      top: 4px;
      width: 12px;
      bottom: 5px;
      z-index: -1;
      background: transparent;
      transform: rotate(45deg);
      box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.15);
    }
  }
  .ember-popover-arrow {
    z-index: 11;
    border: 20px solid transparent;
  }
}
