.yaml-editor {
  position: relative;

  .annotation {
    position: absolute;
    left: -3em;
    width: 3em;
  }

  .backdrop {
    overflow: auto;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }

  .highlights {
    @extend .monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 15px;

    color: transparent;

    padding: 5px;
  }

  mark {
    color: transparent;
    background-color: yellow;
  }

  textarea {
    @extend .monospace;
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 5px;
    border-radius: 0;
    background-color: transparent;
    line-height: 15px;
  }
}

.yaml-editor-margin {
  margin-top: 600px;
}
