.paper-block + .inner-yaml-container {
  margin-top: 1.2em;
}

.inner-yaml-container {
  position: relative;
  border: 1px solid $pebble-grey;
}

pre.codedisplay[class*='language-'] {
  white-space: pre-wrap;
  background-color: white !important;
  font-size: 12px;
  line-height: 17px;
}

.codedisplay code {
  font-family: cousine, monospace;
}
