.paper-block + .inner-yaml-container {
  margin-top: 1.2em;
}

.inner-yaml-container {
  position: relative;
  border: 1px solid $pebble-grey;
  margin-bottom: 1.2em;

  button {
    display: none;
    position: absolute;
    right: 1em;
    top: 1em;
    border: 1px solid $pebble-grey;
    border-radius: 2px;
  }

  &:hover button {
    display: block;

    &:hover {
      border-color: $oxide-blue;
      color: $oxide-blue;

      @include colorSVG($oxide-blue);
    }
  }

  .icon-link {
    width: $font-size-sm;
    margin-left: 5px;
    vertical-align: middle;
  }

  .is-active {
    .icon-arrow {
      transform: rotate(180deg);
    }
  }
}

pre.codedisplay[class*='language-'] {
  white-space: pre-wrap;
  background-color: white !important;
  font-size: 12px;
  line-height: 17px;
}

.codedisplay code {
  font-family: cousine, monospace;
}

.job-tabs .paper-block {
  padding: 1em;
}

.file-name {
  padding: 0.3em;
  border-bottom: 1px solid $pebble-grey;
  color: $oxide-blue;
  background: $pebble-grey;
  font-size: $font-size-sm;

  .icon-arrow {
    width: $font-size-sm;
    float: right;
    margin-top: -13px;
  }
}
