.scrollable-yaml-container {
  max-height: 24em;
  overflow-y: scroll;

  border: 1px solid $pebble-grey;
}

.inner-yaml-container {
  position: relative;
}

.yaml-line-highlight {
  position: absolute;
  width: 100%;
  height: 14px;
  margin-top: 0.9em;

  background-color: rgba($canary-yellow, 0.5);

  display: none;

  &.visible {
    display: block;
  }
}

pre.codedisplay[class*='language-'] {
  white-space: pre-wrap;
  background-color: white !important;
  font-size: 12px;
  line-height: 17px;
}

.codedisplay code {
  font-family: cousine, monospace;
}
