.scrollable-yaml-container {
  max-height: 24em;
  overflow-y: scroll;

  border: 1px solid $pebble-grey;
}

.inner-yaml-container {
  position: relative;
}

.yaml-line-highlight {
  position: absolute;
  width: 100%;
  height: 14px;
  margin-top: 0.9em;

  background-color: rgba($canary-yellow, 0.5);

  display: none;

  &.visible {
    display: block;
  }
}

pre.codedisplay[class*='language-'] {
  white-space: pre-wrap;
  background-color: white !important;
  font-size: 12px;
  line-height: 17px;
}

.codedisplay code {
  font-family: cousine, monospace;
}

// FIXME this is mostly copied from broadcasts
.badge--yaml {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 7px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: white;
  text-align: center;
  line-height: normal;
  font-size: 11px;

  .count {
    margin-top: -1px;
  }

  &.level-warn {
    border-color: $dozer-yellow;
    color: $dozer-yellow;
  }

  &.level-error {
    border-color: $brick-red;
    color: $brick-red;
  }
}
