<section class='organization-settings'>
  {{#if organization.permissions.admin}}
    <section class="active-visiblity-settings" data-test-active-visiblity-settings>
      <h3>Active Visibility Settings</h3>
      <div class="insights-settings">
        <div class="name" data-test-insights-org-settings-title>
          Insights
        </div>
        <p class="description" data-test-insights-org-settings-description>
          Get better information and make more informed decisions about your team's or community's
          development workflow by understanding how you build code. Check out the Travis CI Insights
          Tab to see an overview. Insights about open-source contributions are visible to the world,
          and you can optionally show aggregate information about your team's private contributions as well.
        </p>
        {{!-- Probably will want to move this out into a component or 2 --}}
        <ul class='travis-radio-list'>
          <li class='travis-radio-list__item'>
            <label for="org_insight_admins">Organization admins only</label>
            <input type="radio" name="org_insight_vis" class="travis-radio-input" id="org_insight_admins" />
            <label for="org_insight_admins" class="travis-radio-label"></label>
          </li>
          <li class='travis-radio-list__item'>
            <label for="org_insight_members">Share insights about the organization's private builds with organization members</label>
            <input type="radio" name="org_insight_vis" class="travis-radio-input" id="org_insight_members" />
            <label for="org_insight_members" class="travis-radio-label"></label>
          </li>
          <li class='travis-radio-list__item'>
            <label for="org_insight_public">Publicly share insights about the organization's private builds</label>
            <input type="radio" name="org_insight_vis" class="travis-radio-input" id="org_insight_public" />
            <label for="org_insight_public" class="travis-radio-label"></label>
          </li>
        </ul>
      </div>
    </section>
  {{/if}}
</section>
