<button
  data-test-request-configs-submit="true"
  onclick={{this.onTriggerBuild}}
  type="button"
  class="request-configs-button-submit button--blue"
  title="Trigger build"
>
  {{#if this.processing}}
    <LoadingIndicator />
  {{else}}
    Trigger build
  {{/if }}
</button>
