@import "_mixins/all"

#flash
  color: gray
  font-weight: bold

  li
    position: relative
    margin: -20px -40px 20px -30px
    padding: 15px 40px 15px 30px
    @include box-shadow(transparent 0 0 0 0, $color-border-normal 0 1px 6px 0, transparent 0 0 0 0, transparent 0 0 0 0)
    border-bottom: 1px solid $color-border-light

    a
      text-decoration: underline

  .success
    background-color: $color-bg-flash-success

  .notice
    background-color: $color-bg-flash-notice

  .error
    background-color:  $color-bg-flash-error

  .broadcast
    background-color:  $color-bg-flash-broadcast

  p
    margin: 0

  .close
    display: block
    position: absolute
    top: 17px
    right: 40px
    width: 16px
    height: 16px
    background: inline-image('ui/close.png') no-repeat 0 0
    opacity: 0.5
    cursor: pointer

