{{#if view.annotations}}
<div id="annotations">
  {{#each annotation in view.annotations}}
    <div class="annotation">
      <a {{bind-attr href="annotation.url"}}>
          {{annotation.status}} {{annotation.providerName}}
      </a>:
      {{annotation.description}}
    </div>
  {{/each}}
</div>
{{/if}}
