{{#if view.annotations}}
<div id="annotations">
  {{#each view.annotations as |annotation|}}
    <div class="annotation">
      <a href={{annotation.url}}>
          {{annotation.status}} {{annotation.providerName}}
      </a>:
      {{annotation.description}}
    </div>
  {{/each}}
</div>
{{/if}}
