<div class='migrate'>
  <div class='migrate-note'>
    <p>
      Here you can migrate all your repositories to build on travis-ci.com and make it a single place for all your builds.
    </p>
    <p>
      The process of migration consists of two simple steps:
    </p>
  </div>

  <nav class="travistab-nav--secondary">
    <ul>

      <li>
        {{#link-to-account webhooksRouteName routeModel }}
          <span>
            Activate on GitHub Apps
          </span>
        {{/link-to-account}}
      </li>

      <li class="travistab-nav__arrow">
        {{svg-jar 'icon-arrowtabs'}}
      </li>

      <li>
        {{#link-to-account appsRouteName routeModel }}
          <span>
            Migrate to travis-ci.com
          </span>
        {{/link-to-account}}
      </li>

    </ul>
  </nav>
  <div class="travistab-body">

    {{yield}}

  </div>
</div>
