.icon
  display: inline-block
  background:
    size: 100%
    repeat: no-repeat

.icon-cal
  background-image: inline-image('dashboard/cal.svg')

.icon-github
  background-image: inline-image('dashboard/github.svg')

.icon-branch
  background-image: inline-image('dashboard/branch.svg')

.icon-hash
  background-image: inline-image('dashboard/hash.svg')

.icon-star
  background-image: inline-image('dashboard/star-off.svg')

.icon.errored
  background-image: inline-image('dashboard/status-errored.svg')

.icon.failed
  background-image: inline-image('dashboard/status-failed.svg')

.icon.canceled
  background-image: inline-image('dashboard/status-cancelled.svg')

.icon.passed
  background-image: inline-image('dashboard/status-passed.svg')

.icon.started
  background-image: inline-image('dashboard/status-pending.svg')

.icon-lock
  background-image: inline-image('dashboard/private-icon.svg')

.icon-burger
  background-image: inline-image('dashboard/burger.svg')
  &:hover
    background-image: inline-image('dashboard/burger-hover.svg')