.sync-button
  padding: 0.8em 0
  button
    @extend %border-radius-4px
    padding: 0 10px
    max-width: 98px
    min-height: 25px
    margin-left: .5em
    background: #a6adad
    color: #ffffff
    border: none
    &:hover
      background: #8d9b9a
      cursor: pointer

    &.is-syncing
      background: #c6b93d
      color: $white
      padding: 0 10px
      max-width: 160px
  .icon
    position: relative
    top: -0.1em
    width: 1em
    height: 1.2em
    vertical-align: middle
  .icon,
  .sync-spinner
    margin-right: .5em

.profile-main
  .sync-button
    button
      max-width: none
      font-size: $font-size-sm
    .sync-last
      font-size: $font-size-sm
      color: #adaaab
      margin-left: .8rem

.sync-last
  display: inline-block
  margin: 0
  font-size: 12px
  color: #848384
  text-align: right
