/**
 * You can create Tailwind components using @apply here.
 * Here's an example:
**/

.build-flow-diagram {
  &__bar {
    margin: 7.9rem 0 7.9rem 4.9rem;
    background-image: linear-gradient(180deg,
      theme('colors.grey.300') 0%,
      theme('colors.grey.150') calc(25% - theme('spacing.24')),
      theme('colors.grey.150') calc(25% + theme('spacing.8')),
      theme('colors.green.200') calc(50% - theme('spacing.16')),
      theme('colors.green.200') calc(50% + theme('spacing.16')),
      theme('colors.grey.150') calc(75% - theme('spacing.8')),
      theme('colors.grey.150') calc(75% + theme('spacing.24')),
      theme('colors.grey.300') 100%,
    );

    @screen md {
      margin: 3.75rem calc(10% + 2.777rem) 0 calc(10% + 3.333rem);
      background-image: linear-gradient(90deg,
        theme('colors.grey.300') 0%,
        theme('colors.grey.150') calc(25% - theme('spacing.16')),
        theme('colors.grey.150') calc(25% + theme('spacing.16')),
        theme('colors.green.200') calc(50% - theme('spacing.16')),
        theme('colors.green.200') calc(50% + theme('spacing.16')),
        theme('colors.grey.150') calc(75% - theme('spacing.16')),
        theme('colors.grey.150') calc(75% + theme('spacing.16')),
        theme('colors.grey.300') 100%,
      );
    }
  }

  .pull-icon-1_svg__ring,
  .pull-icon-5_svg__ring {
    transform: rotate(90deg);
    @screen md {
      transform: none;
    }
  }
}

// Overrides
.tailwind-overrides {
  @apply overflow-x-hidden;

  // Form styles
  .travis-form {
    .travis-form__field {
      .travis-form__label {
        @apply text-grey-800 text-xs font-bold tracking-lg;

        .travis-form__required-mark {
          @apply capitalize ml-2 font-normal text-red-300;
        }
      }

      .travis-form__field-component {
        @apply text-grey-800 rounded-lg appearance-none;
      }

      .travis-form__error-message {
        @apply text-red-300;
      }

      &:not(.travis-form__field--without-frame) .travis-form__field-component {
        box-shadow: inset 0 0 1px 1px theme('colors.grey.400');
      }
      &.travis-form__field--error .travis-form__field-component {
        box-shadow: inset 0 0 1px 1px theme('colors.red.300');
      }

      .travis-form__field-badge--error circle,
      .travis-form__field-badge--error path {
        stroke: theme('colors.red.300');
      }
      .travis-form__field-badge--error circle + circle {
        fill: theme('colors.red.300');
      }

      .travis-form__field-badge--valid g {
        stroke: theme('colors.green.400');
      }
    }
  }
}
