/**
 * You can create new utilities here.
 * Here's an example:
**/

/* .skew-45 {
  transform: skewY(45deg);
} */

.pin-top-right {
  @apply absolute top-0 right-0;
  transform: translate(50%, -50%);
}
.pin-top-left {
  @apply absolute top-0 left-0;
  transform: translate(-50%, -50%);
}
.hover-border-b-px:hover {
  @apply border-b-px;
}
