<header class="section--center team-header">
  <h1 class="h1--red">Travis CI Styleguide</h1>
  <p class="text-big">Here are some UI components that we use throughout the Travis real estate.</p>
  <p class="text-small">Take a look at the markup to see how to structure your content and <br>copy the corresponding <code>.sass</code> file from the <code>styles/app/modules/</code> folder.</p>
</header>

<div>

  <section>
    <h2 class="h2--teal">Colors</h2>


  </section>

  <section>
    <h2 class="h2--red">Topbar</h2>

  </section>

  <section>
    <h2 class="h2--green">Tabs</h2>


    <div class="travistab">
      <nav class="travistab-nav">
        <ul>
          <li><a href="#">Tab 1</a></li>
          <li><a href="#">Tab 2</a></li>
        </ul>
      </nav>
      <div class="travistab-body">
        <p>Hello Tab 1</p>
      </div>
    </div>

    <details>
      <summary>Look at tabs markup</summary>

      <code>Example markup goes here</code>
    </details>

  </section>


  <section>
    <h2 class="h2--red">Footer</h2>

  </section>

</div>
