/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: Helvetica;
}

#left, #main {
  float: left;
  height: 500px;
}

#left {
  width: 200px;
  background-color: #f9f9f9;
}

#main {
  width: 400px;
  padding: 1em;
}

h2 {
  margin-top: 0;
}
