.help-page {

  .help-page__top {
    margin-bottom: 45px;

    .subheading {
      margin-bottom: 45px;
    }

    .status {
      font-size: 1.8rem;
      font-weight: 100;
    }

  }

  .help-page__support {

    .header-main {
      margin-bottom: 10px;
    }

    .subheading {
      margin-bottom: 10px;
    }

  }

}
