.help-page {

  .help-page__top {
    margin-bottom: 45px;

    .subheading {
      margin-bottom: 45px;
    }

    .status {
      font-size: 1.8rem;
      font-weight: 100;
    }

  }

  .help-page__support {
    padding-top: 20px;

    .header-main {
      margin-bottom: 10px;
    }

    .subheading {
      margin-bottom: 10px;
    }

  }

  .section-divider {
    margin: 0 auto;
    width: 140px;
    height: 4px;
    border-radius: 4px;
    background-color: $dry-cement;
  }

}
