.help-page {

  .help-page__top {
    margin-bottom: 30px;

    .header-main {
      margin: 30px 0 35px;
    }

    .subheading {
      margin-bottom: 30px;
    }

    .status {
      font-size: 1.5rem;
      font-weight: 100;

      .status-circle {
        font-size: 1.4em;
      }

      .status-link {
        &:hover {
          text-decoration: none;
          color: inherit;
          border-color: inherit;
        }
      }
    }

    a {
      display: inline-block;
      border-bottom: 1px solid #dcdcdc;
      white-space: nowrap;

      &:hover {
        color: $asphalt-grey;
        border-color: $asphalt-grey;
      }
    }

  }

  .help-page__support {
    padding-top: 20px;

    .header-main {
      margin: 20px 0 10px;
    }

    .subheading {
      margin-bottom: 10px;

      a {
        display: inline-block;
        border-bottom: 1px solid #dcdcdc;
        white-space: nowrap;

        &:hover {
          color: $asphalt-grey;
          border-color: $asphalt-grey;
        }
      }
    }

    .sign-in {
      margin-bottom: 50px;

      button {
        font-weight: 300;
      }
    }

    .sign-in-image {
      margin: 30px auto 60px;
      max-width: 300px;
    }

    .success-image {
      margin: 30px auto 40px;
      max-width: 300px;
    }

    .zendesk-request-form {

      .travis-form {

        max-width: 730px;
        margin: 50px auto 0;

        .travis-form__field {
          margin-bottom: 10px;
        }

      }

      .submit-button {
        margin-top: 20px;
        min-width: 160px;
        outline: none;
      }

    }

    .back-link {
      margin-top: 30px;

      a {
        font-size: 1.1em;
      }
    }

  }

}

.help-page__resources,
.help-page__topics {
  padding: 1rem 0 2rem;
}

.help-duo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  @media #{$medium-up} {
    flex-direction: row;
  }

  .help-duo-image {
    @media #{$medium-up} {
      width: 50%;
    }

    svg {
      max-width: 100%;
    }

    + .help-duo-text {
      @media #{$medium-up} {
        padding: 0 0 0 4rem;
      }
    }
  }

  .help-duo-text {
    text-align: center;
    max-width: 100%;

    @media #{$medium-up} {
      max-width: 50%;
      padding-right: 4rem;
      text-align: left;
    }

    .header-main {
      color: $asphalt-grey;
      margin: 0;
    }

    .help-duo-list {
      padding: 0;
      margin: 0 0 1.5rem 0;
      list-style-type: none;

      font-weight: 300;
      font-size: 1.5rem;

      a {
        display: inline-block;
        border-bottom: 1px solid #dcdcdc;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          border-color: $asphalt-grey;
        }
      }
    }

    .button {
      color: $oxide-blue;
      background: transparent;
      border: 1px solid currentColor;
      border-radius: 0.333rem;

      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      padding: 1rem;
      transition: all 0.33s;

      &:hover,
      &:active {
        background-color: lighten($oxide-blue, 45);
      }

      .help-page__topics & {
        color: $turf-green;

        &:hover,
        &:active {
          background-color: lighten($turf-green, 50);
        }
      }
    }
  }

  .section-divider {
    margin: 0 auto;
    width: 140px;
    height: 4px;
    border-radius: 4px;
    background-color: $dry-cement;
  }

}
