.top.landing-page .topbar,
.wrapper.centered .topbar, .global-notification-container {
  margin: 0 auto;
  max-width: 1024px;
}

.top.landing-page {
  background-color: #fff;
}

.landing-centered-wrapper {
  .button {
    .sync-spinner {
      height: 1.45em;
      margin-right: 0.3em;
      transform: translateY(-0.1em);
    }
  }
}

.landing {
  margin: 0 auto 170px auto;
  font-weight: 300;
  overflow-x: hidden;

  h1 {
    font-size: 5em;
    line-height: 1em;
    font-weight: 300;
    color: rgba($asphalt-grey, 0.8);
    margin-bottom: 0;
  }

  .hero, .oss-testing, .customers, .recent-builds, .free-for-oss, .private-repos, .landing-features-list, .build-flows, .user-testimonials {
    padding: 70px 0 70px 0;
  }

  .hero, .oss-testing, .customers, .recent-builds-text, .free-for-oss, .private-repos, .landing-features-list, .build-flows {
    h1, h2 {
      margin-top: 0;
    }

    h2 {
      font-size: 3.3em;
      line-height: 1.15em;
      font-weight: 300;
      color: $turf-green;
    }

    p {
      line-height: 1.5em;
      color: $asphalt-grey;
      font-size: 1.7em;
    }
  }

  .hero.z-1 {
    text-align: center;
    position: relative;
  }

  .landing-centered-wrapper {
    max-width: 1024px;
    margin: 0 auto;

    > .columns.medium-6:first-child {
      padding-right: 2em;
    }

    > .columns.medium-6:last-child {
      padding-left: 2em;
    }
  }

  #laptop {
    margin-bottom: -192px;
  }

  #laptop img {
    border: 2px solid rgba($cement-grey, 0.2);
    border-radius: 2px;
  }

  .hero {
    h1 {
      color: $oxide-blue;
      line-height: 1.2em;
      margin-bottom: 0;
    }

    p {
      margin: 0;
      line-height: 1.5em;
    }

    br.mobile-break {
      display: none;
    }

    .loading-indicator--white {
      height: 1.4em;
      line-height: 1;
      margin-right: 0.5em;
    }
  }

  .oss-testing {
    background-color: #ffffff;
    text-align: center;
    position: relative;

    h2 {
      margin: 0;
    }

    p {
      margin-top: 0.5em;
      margin-bottom: 2em;
    }

    br.mobile-break {
      display: none;
    }
  }

  .os-numbers {
    width: 80%;

    @media #{$medium-up} {
      width: 60%;
    }
  }

  .oss-flip-numbers {
    width: 90%;
    display: inline-block;
    margin: 0 auto;

    @media #{$medium-up} {
      width: 80%;
      white-space: nowrap;
    }
  }

  .flip-num {
    display: inline-block;
    padding-right: 10px;

    img {
      height: 140px;
      max-width: 55px;

      @media #{$medium-up} {
        max-width: 93px;
      }
    }
  }

  .customers {
    max-width: 1024px;
    h3 {
      margin: 0px;
    }
    ul {
      list-style: none;

      @media #{$large-up} {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      @media #{$small-up} {
        margin: 1.5em auto 0;
        padding: 0;
      }
    }

    li {
      @media #{$small-only} {
        margin-bottom: 30px;
      }

      @media #{$medium-only} {
        margin-bottom: 30px;
      }
    }

    img {
      width: 130px;
      height: 60px;
    }
    text-align: center;

    .customer-zendesk {
      width: 130px;
    }

    .customer-engineyard {
      width: 140px;
      position: relative;
      top: 5px;
    }

    .customer-heroku {
      width: 120px;
      position: relative;
      top: 6px;
    }

    .customer-bittorrent {
      width: 130px;
      position: relative;
      top: 5px;
    }

    .customer-moz {
      @media #{$small-up} {
        right: 10px;
      }
      width: 130px;
      position: relative;
      right: 39px;
      top: 5px;
    }
  }

  .free-for-oss {
    text-align: center;

    h2 {
      color: #44AAAE;
      margin-bottom: 41px;
    }

    p {
      margin: 0;
    }

    em {
      font-weight:700;
    }

    span.bold-italic {
      font-weight: 600;
      font-style: italic;
    }

    br.mobile-no-break {
      display: inline-block;
    }
  }

  .os-numbers {
    width: 80%;

    @media #{$medium-up} {
      width: 60%;
    }
  }

  .private-repos {
    text-align: center;

    h2 {
      color: $oxide-blue;
      margin: 0;
      text-align: right;
    }

    p {
      margin-top: 0.5em;
      margin-bottom: 2em;
      text-align: right;
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid $asphalt-grey;
      transition: all 200ms ease;

      &:hover {
        border-bottom: none;
        color: $cement-grey;
      }
    }

    .mobile-envelope {
      display: none;
    }

    .desktop-envelope {
      display: inline-block;
    }
  }
  .section--feature {
    padding: 77px 10px;
    .section-feature-container {
      @media #{$medium-up} {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;
        max-width: 1024px;
        margin: auto;
      }
    }
    .inner {
      @media #{$medium-up} {
        flex-direction: row-reverse;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    ul {
      @media #{$medium-only} {
        padding-left: 50px;
      }
      list-style: none;
      padding-left: 0px;
      margin: 0px;
    }
    h2 {
      margin-bottom: 67px;
    }
    h3 {
      color: #9E9E9E;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 3px;
    }
    p {
      color: #616161;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
    }
    .list-check {
      @media #{$medium-only} {
        padding-left: 10px
      }
      padding-left: 39px;
      padding-top: 12px;
      img {
        @media #{$small-only} {
          margin-right: 10px;
        }
        width: 20px;
        height: auto;
        margin-right: 17px;
      }
      li {
        @media #{$small-up} {
          font-size: 18px;
        }
        @media #{$large-up} {
          font-size: 24px;
        }
        color: #666666;
        font-weight: 300;
        line-height: 52px;
      }
    }
  }

  .list-check-container {
    @media #{$small-only} {
      max-width: 338px;
      margin: 0 auto;
    }
    @media #{$medium-only} {
      max-width: 338px;
      margin: 0 auto;
    }
  }

  .list--features {
    @extend %list;
    margin-top: 5em;
    @media #{$large-up} {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      margin-top: 1em;
    }
    .feature-image-container {
      width: 160px;
      height: inherit;
      margin: 0 auto;
    }
    li {
      flex: 0 0 16em;
      p {
        @media #{$small-only} {
          padding: 0 60px;
        }
        text-align: center;
      }
      img {
        @media #{$small-up} {
          margin-left: -21px;
        }
        width: 160px;
        margin-left: 10px;
        height: auto;
      }
    }
  }

  .landing-features-list {
    h2 {
      color: #2EB459;
      font-size: 42px;
      font-weight: 300;
      text-align: center;
    }

    h3 {
      color: #9E9E9E;
      text-transform: uppercase;
      text-align: center;
      font-size: 17.4px;
      font-weight: 600;
      margin-bottom: 25px;
      padding-top: 55px;
    }

    p {
      font-size: 16px;
    }

    br.mobile-break {
      display: none;
    }
    .columns {
        @media #{$large-only} {
          padding-left: 0px !important;
          padding-right: 22px !important;
        }
    }
    .features-callouts {
      text-align: center;
      .columns {
        @media #{$large-only} {
          padding-left: 0px !important;
          padding-right: 22px !important;
        }
      }

      @media #{$medium-only} {
        float: none;
      }
    }

    #f-co-1, #f-co-2, #f-co-3, #f-co-4 {
      background-repeat: no-repeat;
      height: 60px;

      @media #{$large-only} {
        background-position: 17%;
      }

      @media #{$medium-only} {
        background-position: 42%;
      }

      @media #{$small-only} {
        background-position: 25%;
      }
    }

    #f-co-1, #f-co-2, #f-co-3, #f-co-4 {
      background-image: url("../images/landing-page/Gh.svg");
    }

    #f-co-2 {
      background-image: url("../images/landing-page/platform.svg");
    }

    #f-co-3 {
      background-image: url("../images/landing-page/PR.svg");
    }

    #f-co-4 {
      background-image: url("../images/landing-page/heroku.svg");
    }

    .features-checked {
      padding-left: 30px;

      @media #{$medium-only} {
        float: none;
      }

      h2 {
        @media #{$medium-only} {
          width: grid-calc(8, 12);
          margin: 1em auto;
        }
      }

      ul {
        @media #{$medium-only} {
          width: 390px;
          margin: 0 auto;
        }
      }
    }

    ul {
      @include resetul;

      margin-top: 1.6rem;
    }

    li {
      @media #{$small-only} {
        font-size: 18px;
      }
      font-size: 24px;
      font-weight: 300;
      line-height: 52px;

      &:before {
        @extend %icon;

        content: "";
        background-image: url("../images/svg/stage-passed.svg");

        background-size: 100%;
        background-repeat: no-repeat;
        width: 0.9em;
        height: 0.9em;
        margin-right: 15px;
      }
    }
  }

  .build-flows {
    background-color: #FAFAFC;
    text-align: center;
    margin-bottom: 100px;

    h2 {
      color: #666666;
      font-size: 42px;
      font-weight: 300;
      line-height: 50px;
    }

    img {
      width: 900px;
      height: auto;
    }

    li {
      display: inline;
    }

    .build-steps {
      color: #616161;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
    }

    .build-steps-container {
      padding-bottom: 62px;
      display: flex;
      @media #{$small-up} {
        flex-direction: column;
      }
      @media #{$large-up} {
        flex-direction: row;
      }
      p {
        @media #{$small-only} {
          width: 160px;
          text-align: left;
          padding-left: 15px;
        }
        @media #{$medium-only} {
          width: 160px;
          text-align: left;
          padding-left: 15px;
        }
        @media #{$large-up} {
          width: 20%;
          text-align: inherit;
        }
      }
      @media #{$large-up} {
        width: 900px;
        margin: 0 auto;
      }
    }

    .branch-pr-container {
      @media #{$small-only} {
        display: grid;
        grid-template-columns: .2fr 1fr;
        margin: 0 auto;
        width: 215px;
      }
      @media #{$medium-only} {
        display: grid;
        grid-template-columns: .2fr 1fr;
        margin: 0 auto;
        width: 215px;
      }
    }

    .build-flow-image {
      @media #{$small-up} {
        background-image: url("../images/landing-page/build-flow-small.png");
        background-repeat: no-repeat;
        width: 58px;
        height: 400px;
        background-size: 57px;
        margin-top: 7px;
      }

      @media #{$large-up} {
        background-image: url("../images/landing-page/build-flow.png");
        background-position: center center;
        background-repeat: no-repeat;
        width: 900px;
        height: 116px;
        background-size:100% auto;
        margin: 0 auto;
      }
    }


    .build-pr-image {
      @media #{$small-up} {
        background-image: url("../images/landing-page/pr-flow-small.png");
        background-repeat: no-repeat;
        width: 58px;
        height: 400px;
        background-size: 57px;
        margin-top: 7px;
      }

      @media #{$large-up} {
        background-image: url("../images/landing-page/pr-flow.png");
        background-repeat: no-repeat;
        width: 900px;
        height: 114px;
        background-size: 900px;
        margin: 0 auto;
      }
    }

    .build-step-1 {
      @media #{$large-up} {
        padding-right: 67px;
      }
    }

    .build-step-2 {
      @media #{$large-up} {
        padding-right: 30px;
      }
      @media #{$small-only} {
        padding-top: 6px;
      }
      @media #{$medium-only} {
        padding-top: 6px;
      }
    }

    .build-step-3 {
      @media #{$small-only} {
        padding-top: 7px;
      }
      @media #{$medium-only} {
        padding-top: 7px;
      }
    }

    .build-step-4 {
      @media #{$large-up} {
        padding-left: 38px;
      }
      @media #{$small-only} {
        padding-top: 10px;
      }
      @media #{$medium-only} {
        padding-top: 10px;
      }
    }

    .build-step-5 {
      @media #{$large-up} {
        padding-left: 64px;
      }
      @media #{$small-only} {
        padding-top: 11px;
      }
      @media #{$medium-only} {
        padding-top: 11px;
      }
    }

    .build-step-6 {
      @media #{$large-up} {
        padding-right: 69px;
      }
    }

    .build-step-7 {
      @media #{$large-up} {
        padding-right: 34px;
      }
    }

    .build-step-8 {
      @media #{$small-only} {
        padding-top: 12px;
      }
      @media #{$medium-only} {
        padding-top: 12px;
      }
    }

    .build-step-9 {
      @media #{$small-only} {
        padding-top: 10px;
      }
      @media #{$medium-only} {
        padding-top: 10px;
      }
      @media #{$large-up} {
        padding-left: 43px;
      }
    }

    .build-step-10 {
      @media #{$small-only} {
        padding-top: 8px;
        padding-bottom: 62px;
      }
      @media #{$medium-only} {
        padding-top: 8px;
        padding-bottom: 62px;
      }
      @media #{$large-up} {
        padding-left: 72px;
      }
    }


    .branch-bf {
      .bf {
        display: inline-block;
        width: 120px;

        p {
          font-size: 13px;
          line-height: 1.5em;
        }
      }
    }

    .divider-line-horizontal {
      width: 50px;
      height: 3px;
      background: lighten($cement-grey, 30);
      display: inline-block;
      margin-bottom: 75px;
    }

    .divider-line-vertical {
      display: none;
    }
  }

  .user-testimonials {
    margin-bottom: 50px;
    padding

    h2 {
      color: #2EB459;
      text-align: center;
    }
  }

      .section-quotes {
        @media #{$small-only} {
          padding: 40px 0px 0px 0px;
        }
        .inner {
          @media #{$large-up} {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
          }

          @media #{$small-only} {
            padding-left: 1.07143rem;
            padding-right: 1.07143rem;
          }
        }
        h2 {
          text-align: center;
        }
        .quote-container {
          @media #{$large-up} {
            width: 301px;
            margin-bottom: 0px;
          }
          p {
            text-align: left;
          }
          margin-bottom: 40px;
          font-size: 16px;
          line-height: 22px;
          color: #666666;
          text-align: left;
          box-shadow: 0 0 5px #EAEAEA;
          border-radius: 2px;
          padding: 15px;
          .rails-logo {
            width: 90px;
            position: relative;
            margin-bottom: 2rem;
          }
          .twitter-logo {
            width: 32px;
            position: relative;
            margin-bottom: 2rem;
          }
          .quote-pypy-logo {
            width: 100px;
          }
          .quote-python-logo {
            width: 75px;
            height: 35px;
          }
          .quote-python {
            padding-top: 25px;
          }
          .quote-author {
            font-weight: 600;
          }
          .quote-signature {
            margin: 5px 0px;
          }
          .second-signature {
            margin-top: 38px;
          }
          .third-signature {
            margin-top: 104px;
          }
        }
      }


  @media (max-width: 900px) {
    .oss-testing br.mobile-break {
      display: inline-block;
    }

    .landing-centered-wrapper {
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    .landing-features-list .features-checked {
      margin-top: 40px;
    }

    .landing-features-list .features-checked h2 {
      text-align: center;
    }
  }

  @media (max-width: 886px) {
    #hero-copy {
      display: block;
      width: 100%;
      text-align: center;
    }

    .hero h1 {
      max-width: 100%;
    }

    .hero p {
      text-align: center;
      max-width: 100%;
    }

    .hero br.mobile-break {
      display: inline-block;
    }

    .landing-features-list .features-callouts {
      div.columns{
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
      @media #{$medium-only} {
        padding: 0 50px 0 50px;
      }
      padding: 0 60px 0 60px;


    }

    .landing-features-list .features-checked {
      padding: 0 60px 0 60px;

      @media #{$small-only} {
        padding: 0px 40px 0px 40px;
      }
    }
  }

  @media (max-width: 846px) {
    .build-flows .branch-bf .bf {
      width: 100%;
      display: block;
      clear: all;
    }

    .build-flows .branch-bf .bf img {
      width: 120px;
      height: 120px;
    }

    .build-flows .branch-bf .bf p {
      font-size: 1.5em;
    }

    .build-flows .branch-bf .divider-line-horizontal {
      display: none;
    }

    .build-flows .branch-bf .divider-line-vertical {
      width: 3px;
      height: 40px;
      background: $pebble-grey;
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 797px) {
    .customers .left {
      text-align: center;
      padding: 20px 0 0 0;
    }

    .recent-builds-text h2,
    .user-testimonials h2,
    .private-repos h2,
    .recent-builds-text p,
    .user-testimonials p,
    .private-repos p {
      text-align: center;
    }

    .free-for-oss br.mobile-no-break {
      display: none;
    }

    .private-repos .desktop-envelope {
      display: none;
    }

    .private-repos .mobile-envelope {
      display: inline-block;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 608px) {
    br.mobile-break {
      display: inline-break;
    }
  }
}

.landing-vert-center-m {
  @media #{$medium-up} {
    position: relative;
    transform: translateY(65%);
  }
}

.landing-vert-center-s {
  @media #{$medium-up} {
    position: relative;
    overflow: auto;
    transform: translateY(7%);
  }
}

.profile.menu.signed-out {
  line-height: 0;
  margin-top: 11px;
  text-align: center;

  .navigation-nested {
    background-color: white;
    margin: 31px 0 0;
    box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .15);
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 35;

    .action {
      cursor: pointer;
      display: block;
      padding: 7px 10px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:hover {
        background-color: #EAEAEA;
      }
    }

    ~ .auth-button {
      width: 192px;
      cursor: default;
      padding-top: 10px;
      position: relative;
      z-index: 36;

      &:hover {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover ~ .auth-button {
      color: #fff;
      background-color: #2EB459;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.landing,
.landing-pro {
  background-color: white;
  margin-bottom: 0;
}

.landing-pro {
  .footer {
    background: white;
  }
}

.spacer {
  display: inherit;
  width: 155px;
  height: 3px;
  background-color: #EAEAEA;
  margin: 0px auto;
}
