
@mixin planBtn($color) {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid $color;
  border-radius: 3px;
  font-size: 20px;
  color: $color;
  background: white;
  transition: background-color 200ms ease;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $color;
    color: white;
  }
}

$plan-buttons: (green: $turf-green, blue: $oxide-blue, grey: $cement-grey, red: $brick-red);

@each $ident, $color in $plan-buttons {
  .plans-button--#{"" + $ident} {
    @include planBtn($color);
  }
}

.pardot-iframe {
  border: 0;
  margin-left: 5%;
  height: 550px;
  width: 105%;
}