@import "_mixins/all"

#right
  #queues
    margin-top: 0

  #toggle-workers
    display: inline-block
    float: right
    width: 10px
    height: 10px
    cursor: pointer
    background: inline-image('ui/workers-open.png') no-repeat left 5px
    &.open
      background-image: inline-image('ui/workers-close.png')

  #workers li ul
    display: none

  #workers li,
  #queues ul li
    overflow: hidden
    white-space: nowrap
    margin: 0
    list-style-type: none

    h5
      font-size: $font-size-small
      font-weight: normal
      margin: 0px
      cursor: pointer

    ul
      margin-top: 8px
      margin-bottom: 5px
      padding-left: 1px

    .name,
    .slug
      display: inline-block
      display: -moz-inline-stack
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

    .name
      max-width: 140px

    .slug
      max-width: 150px

    &.open ul
      display: block

    .status
      display: inline-block
      width: 8px
      height: 8px
      margin-right: 3px
      @include border-radius(4px)

