{{#travis-layout layoutName="layouts/error" class="error error404"}}
<div class="error-bg error-full-size">
  <div class="hill-left error-full-size"></div>
  <div class="hill-right error-full-size"></div>
</div>
<div class="error-excavator error-full-size"></div>
<div class="error-travis error-full-size"></div>
<div class="error-text">
  <h1>404: Something's Missing</h1>
  <p>We're sorry! It seems like this page cannot be found.</p>
</div>
{{/travis-layout}}
