@import "compass"
@import "app/_mixins/colors"
@import "app/_mixins/fonts"
@import "app/_mixins/vars"
@import "app/foundation/scss/foundation/_settings"
@import "app/foundation/scss/foundation/components/_grid"

@mixin popup
  display: none
  position: fixed
  z-index: 100
  background-color: #fff
  border: 10px solid rgba(114, 131, 139, 0.6)
  @include background-clip(padding-box)
  @include border-radius(4px)







