
@mixin popup
  display: none
  position: fixed
  z-index: 100
  background-color: #fff
  border: 10px solid rgba(114, 131, 139, 0.6)
  background-clip: padding-box
  border-radius 4px


@mixin clearfix
  &:before,
  &:after
    content: ""
    display: table
  &:after
    clear: both

@mixin resetul
  margin: 0
  padding: 0
  list-style: none

@mixin border-bottom-radius($radius)
  border-bottom-left-radius: $radius
  border-bottom-right-radius: $radius

@mixin border-top-radius($radius)
  border-top-left-radius: $radius
  border-top-right-radius: $radius

%border-radius-4px
  border-radius: 4px

%border-top-4px
  border-top-left-radius: 4px
  border-top-right-radius: 4px

%border-bottom-4px
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px