<div class="missing-notice">
  <img src="//placehold.it/600x400" alt="">
  <h2 class="page-title">No builds for this repository</h2>
  <p class="page-notice">Want to start testing this project on Travis CI?</p>
  <a href="#" class="button button--green">Trigger the first build</a>
</div>
