{{#each products as |product|}}
  {{styleguides/product-cta-item product=product}}
{{/each}}
<div class="w-full text-center p-4 border-grey-150 border">
  <button>Start Your Free Trial</button>
</div>