{{#if redirected}}
  <p>You need to sign in to see this page.</p>
{{/if}}
<p>
  <a href="#" {{action "signIn" target="Travis"}}>
    {{#if Travis.signingIn}}
      Signing in...
    {{else}}
      Sign in with GitHub.
    {{/if}}
  </a>
</p>
