<div class="wrapper">
  <div id="top">
    <div class="row">
      <div class="small-2 medium-2 columns" id="logo">
        <h1>{{#link-to "main"}}Home{{/link-to}}</h1>
      </div>
      <div class="small-4 medium-3 columns" id="nav">
        <ul>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <!-- <div class="small-4 medium-3 columns" id="status">
        <div class="status-graph">Status Graph</div>
      </div> -->
      <div class="small-2 medium-5 columns no-padding" id="user">
        <ul>
          <li class="menu">
            <p class="handle">
              {{#if auth.signedOut}}
                <a class="signed-out" href="#" {{action "signIn" target="auth"}}>Sign in with GitHub</a>
              {{/if}}
              {{#if auth.signedIn}}
                {{#link-to "profile" class="signed-in"}}<img {{bind-attr src="gravatarUrl"}}/>{{auth.currentUser.userName}}{{/link-to}}
              {{/if}}
              {{#if auth.signingIn}}
                <span class="signing-in">Signing In</span>
              {{/if}}
            </p>
            <ul>
              <li>Help</li>
              <li>Sign Out</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

{{yield}}

</div>

<footer>
  <div class="row">
    <div class="small-6 medium-4 large-4 columns">
      <img src="/images/dashboard/footer-logo.svg">
    </div>
    <div class="small-6 medium-2 large-2 columns">
      <h3>&copy;Travis CI, GmbH</h3>
      <ul>
        <li>Rigaer Straße 8</li>
        <li>10247 Berlin, Germany</li>
      </ul>
    </div>

    <div class="small-6 medium-2 large-2 columns">
      <h3>Help</h3>
      <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Live Chat</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>

    <div class="small-6 medium-2 large-2 columns">
      <h3>Legal</h3>
      <ul>
        <li><a href="#">Imprint</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>

    <div class="small-6 medium-2 large-2 columns">
      <h3>Travis CI Status</h3>
      <ul>
        <li><div class="status-circle">Status:</div>
            <a href="#">Travis CI Status</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
