<div id="slider" {{action toggle target="Travis.slider"}}>
  <div class='icon'></div>&nbsp;
</div>

<h4>Support Rails Girls SoC</h4>
<ul class="sponsors top">
  <li class="platinum">
    <a href="http://railsgirlssummerofcode.org/campaign">
      <img src="/images/rgsoc.jpg"/>
    </a>
  </li>
</ul>
