<div id="slider" {{action toggle target="Travis.slider"}}>
  <div class='icon'></div>&nbsp;
</div>

<h4>Support Rails Girls Summer of Code</h4>
<ul class="sponsors top">
  <li class="platinum">
    <a href="http://railsgirlssummerofcode.org/campaign?utm_source=travisci.org&utm_medium=sidebar&utm_campaign=summer2013">
      <img src="/images/rgsoc.jpg"/>
    </a>
  </li>
</ul>

<div class="box">
  Want to use Travis CI for your <b><a href="http://travisci.com?utm_source=travisci.org&utm_source=sidebar">private repositories</b></a>?
</div>

<div id="about" class="box">
  <h4>Need help?</h4>
  <ul>
    <li><a href="http://about.travis-ci.org/docs">Documentation</a></li>
    <li><a href="https://groups.google.com/group/travis-ci">Mailing List</a></li>
    <li><a href="https://github.com/travis-ci/travis-ci/issues/new">File an Issue</a></li>
    <li><a href="mailto:support@travis-ci.com">E-Mail us</a></li>
  </ul>
</div>

