<div class="missing-notice">
  <h2 class="page-title">
    Create your first Custom Image
  </h2>
  <p class="page-notice">
    Use your defined environments and speed up the building flow!
  </p>
  <ExternalLinkTo
    @href={{config-get 'urls.customImagesDocs'}}
    class="button docs-button"
    title="Travis documentation on getting set up"
  >
    Let's get you going
  </ExternalLinkTo>
</div>

