<div class="summary-block">
  <h3 class="summary-block__title">
    {{this.title}}
  </h3>
  <div class="summary-block__center">
    <div class="summary-block__data">
      {{this.data}}
    </div>
  </div>
</div>
