{{! ugh ... }}
{{#with jobs.firstObject}}
  <pre class="log">{{{formatLog log.body}}}</pre>

  {{#if sponsor.name}}
    <p class="sponsor">
    {{t builds.messages.sponsored_by}}
      <a {{bindAttr href="sponsor.url"}}>{{sponsor.name}}</a>
    </p>
  {{/if}}
{{/with}}
