{{#travis-layout layoutName="layouts/landing-page" class="landing-pro"}}
<div id="landing" class="landing wrapper">
  <section class="section--white">
    <div class="inner">

      {{outlet}}

    </div>
  </section>
</div>
{{/travis-layout}}



