<div class="missing-notice">
  <figure class="page-graphic">
    <SvgImage @name="barricade" />
  </figure>
  <h2 class="page-title">
    No repositories found for organization<br />
    <span class="h2--red">
      {{this.account}}
    </span>
  </h2>
  <p class="page-notice">
    The organization may not exist or you may not have
    sufficient permissions to view its repositories.
  </p>
  <p class="page-notice">
    If you believe you've received this message in error, please
    <ExternalLinkTo @href={{config-get 'urls.resources'}} @title="Travis CI Resources">contact support.</ExternalLinkTo> 
  </p>
</div>
