<TravisLayout @layoutName="layouts/activation" as |layout|>
   <h1 class="header-main text-header align-center"
 > Enable access to CI/CD world </h1>
  <layout.activation-section
  @isHeader={{false}}
  >
    <div class="subheading text-subheader align-left" >
        We don't like paperwork but to keep Travis CI free from spam and
        cryptocurrency miners, we ask to verify your account with valid Credit Card.
        Until you do this, you will not be able to use all the functionality of Travis CI.
      <br/>
    </div>
  </layout.activation-section>

   <layout.activation-section
  @isHeader={{false}}
  >
    <Billing::FirstPlan  @user={{this.user}}/>
  </layout.activation-section>
</TravisLayout>
