{{#let this.features as |f|}}
  <HeadLayout />
  <div class="feature-wrapper {{if f.dashboard 'dashboard'}} {{if f.pride 'travis-pride'}} {{if f.comicSans 'travis-comicsans'}}">
    {{outlet}}
    <PageFooter />
  </div>
  {{#if f.tracer}}
    <XTracer />
  {{/if}}
  <IntercomIo />
{{/let}}
