<div class="branches">
  <section>
    <h2 class="small-title">Default Branch</h2>
    <ul class="blank-list">
      {{branch-row build=defaultBranch}}
    </ul>
  </section>

  {{#if activeBranches}}
    <section>
      <h2 class="small-title">Active Branches</h2>
      <ul class="blank-list">
        {{#each branch in activeBranches}}
          {{branch-row build=branch}}
        {{/each}}
      </ul>
    </section>
  {{/if}}

  {{#if inactiveBranches}}
    <section>
      <h2 class="small-title">Inactive Branches</h2>
      <ul class="blank-list">
        {{#each branch in inactiveBranches}}
          {{branch-row build=branch}}
        {{/each}}
      </ul>
    </section>
  {{/if}}
</div>
