
<section>
  <h2>Default Branch</h2>
</section>


<section>
  <h2>Active Branches</h2>
</section>



<section>
  <h2>Inactive Branches</h2>
</section>


{{!-- {{#if content.isLoaded}} --}}

{{branch-row build=build}}


{{!-- {{else}}
  {{loading-indicator}}
{{/if}} --}}