<TravisLayout @layoutName="layouts/center">
  <div class="error-text">
    Your confirmation link is expired or invalid.
    We need you to verify your contact address. Please check your email to retrieve your confirmation link.
   {{#if model.signedIn}}
     If you need to a new confirmation email, please
    <a class="link" href="/account/preferences" target="_blank">GENERATE NEW TOKEN</a>
   {{else}}
     Log in to generate the new token.
   {{/if}}
  </div>

</TravisLayout>
