<TravisLayout @layoutName="layouts/center">
  <div class="error-text">
    Your confirmation link is expired or invalid.
    We need you to verify your contact address. Please check your email to retrieve your confirmation link.
   {{#if this.model.signedIn}}
     If you need a new confirmation email, please
     <LinkTo @route="account.settings">go to Settings to resend your confirmation email</LinkTo>.
   {{else}}
     Log in to resend your confirmation email.
   {{/if}}
  </div>

</TravisLayout>
