<div class="error-bg">
  <div class="error-hill-left"></div>
  <div class="error-hill-right"></div>
</div>
<div class="error-excavator"></div>
<div class="error-travis"></div>
<div class="error-text">
  <h1>404: Something's Missing</h1>
  <p>We're sorry! It seems like this page cannot be found.</p>
</div>
