{{#travis-layout layoutName="layouts/center"}}

  <header class="features-hero">
    <h1 class="h1--grey">Tracing ✨</h1>
    <p class="text-big">Tracing is a super secret feature for performance debugging.</p>
    <p class="text-big">
      ➡️&nbsp;
      <a href="#" {{action "toggle" preventDefault=true}}>
        {{if tracingEnabled 'Disable tracing' 'Enable tracing'}}
      </a>
    </p>
    <p class="text-big">You can also drag this amazing bookmarklet into your bookmarks:</p>
    <p class="text-big">
      ➡️&nbsp;
      <a href="javascript:TravisTracer.isEnabled()?TravisTracer.disable():TravisTracer.enable();window.location = window.location;">Toggle tracing ✨</a>
    </p>
    <p class="text-big">Tracing color theme adapted from
      [sailorhg](http://twitter.com/sailorhg)'s
      [fairyfloss](http://sailorhg.github.io/fairyfloss/) theme.</p>
  </header>
{{/travis-layout}}
