<div id="first_sync" class="first-sync">
  {{#if isSyncing}}
  <img src="/images/getting-started/mustache-spinner.gif" class="spinner" width="300">
  <p class="first-sync-head">One more thing</p>
  <p class="few-more">Just a few more seconds as we talk to GitHub to find out which repositories belong to you.</p>
  <div class="sync-row">
    <div class="sync-column">
      <p class="align-right">
        If you're part of an organization that already has repositories set up on Travis CI, we'll take you to the list once we're done.
      </p>
    </div>

    <div class="sync-column">
      <p>
        If you're not part of any existing organizations yet, we'll take you to a handy getting started guide to get you off the ground quickly.
      </p>
    </div>
  </div>
  {{/if}}

  {{#unless isSyncing}}
  <div class="row not-syncing">
    <div class="column medium-6 medium-centered">
      <span class="mascot"></span>
      <h1 class="great-news">Great news!</h1>
      <p>
        We've successfully synchronized your details from GitHub.<br>We will redirect you to your profile in a few seconds.
      </p>
    </div>
  </div>
  {{/unless}}
</div>
