{{#travis-layout layoutName="layouts/simple"}}
<div class="content-page">

  {{#if isSyncing}}
    <img src="/images/logos/TravisCI-Mascot-1.svg" class="mascot-spin" alt="Travis CI mascot" width="200" height="200">
    <h1 class="content-title">One more thing</h1>
    <div class="content-text">
      <p>Just a few more seconds as we talk to GitHub to find out which repositories belong to you.</p>
      <p>If you're part of an organization that already has repositories set up on Travis CI, we'll take you to the list once we're done.</p>
      <p>If you're not part of any existing organizations yet, we'll take you to a handy getting started guide to get you off the ground quickly.</p>
    </div>
  {{/if}}

  {{#unless isSyncing}}
    <img src="/images/logos/TravisCI-Mascot-1.svg" alt="Travis CI mascot" width="200" height="200">
    <h1 class="content-title">Great news!</h1>
    <p class="content-subtitle">
      We've successfully synchronized your details from GitHub.<br>We will redirect you to your profile in a few seconds.
    </p>
  {{/unless}}

</div>
{{/travis-layout}}
