<TravisLayout @layoutName="layouts/center">
  <div class="content-page centered">
    <img src="/images/getting-started/truck.gif" alt="truck loading animation" />
    <h1 data-test-first-sync-notice-title class="content-title">
      Keep your hard hat on!
    </h1>
    <div data-test-github-apps-polling class="content-text">
      <p>
        We’re waiting to hear back from GitHub.<br />
        Your repositories will be set up and ready shortly.
      </p>
    </div>
  </div>
</TravisLayout>
