{{#travis-layout layoutName="layouts/center"}}
<div class="content-page">

  <img src="/images/logos/TravisCI-Mascot-1.svg" class="mascot-spin" alt="Travis CI mascot" width="200" height="200">
  <h1 data-test-first-sync-notice-title class="content-title">One more thing</h1>
  <div data-test-github-apps-polling class="content-text">
    <p>Just a few more seconds as we talk to GitHub to find out which repositories belong to you.</p>
    <p>If you're part of an organization that already has repositories set up on Travis CI, we'll take you to the list once we're done.</p>
    <p>If you're not part of any existing organizations yet, we'll take you to a handy getting started guide to get you off the ground quickly.</p>
  </div>

</div>
{{/travis-layout}}
