{{#travis-layout layoutName="layouts/landing-page" class="landing-pro"}}
<div id="landing" class="landing wrapper">
  <section class="section--hero section--grey">
    <div class="inner">
      <div class="section-text">
        <h1 class="h1--teal">Build apps <br class="br-small"> with confidence</h1>
        <p class="text-big">Focus on writing code. Let Travis CI take care<br class="br-small"> of running your tests and deploying your apps.</p>
        <a href="https://travis-ci.com/signin" class="hero-button cta-index-page" {{action 'gaCta' 'index'}} title="Start your free trial">Start your free trial</a>
      </div>
      <div class="section-image">
        <img src="../images/pro-landing/hero-screen.svg" class="hero-computer" aria-hidden="true">
      </div>
    </div>
  </section>
  <section class="section--white section--center">
    <div class="inner">
      <h3 class="h3">Some pretty awesome companies and projects are a few of our users</h3>
      <ul class="list--customers">
        <li><a href="https://www.zendesk.com/" title="Zendesk" class="customer-zendesk"><img width="120" height="20" src="../images/pro-landing/customer-logos-zendesk.svg" alt="Zendesk logo"></a></li>
        <li><a href="http://www.heroku.com/" title="Heroku" class="customer-heroku"><img width="100" height="20" src="../images/pro-landing/customer-logos-heroku.svg" alt="Heroku logo"></a></li>
        <li><a href="https://www.engineyard.com/" title="Engine Yard" class="customer-engineyard"><img width="120" height="20" src="../images/pro-landing/customer-logos-engineyard.svg" alt="Engine Yard logo"></a></li>
        <li><a href="http://www.bittorrent.com/" title="BitTorrent" class="customer-bittorrent"><img width="120" height="20" src="../images/pro-landing/customer-logos-bittorrent.svg" alt="BitTorrent logo"></a></li>
        <li><a href="https://moz.com/" title="moz" class="customer-moz"><img width="90" height="20" src="../images/pro-landing/customer-logos-moz.svg" alt="Moz logo"></a></li>
      </ul>
    </div>
  </section>
  <section class="section--feature section--grey">
    <div class="inner">
      <div class="section-text">
        <h2 class="h2--green">Features created to help your projects and teams</h2>
        <ul class="list--check">
          <li>Watch your tests as they run</li>
          <li>Keep your config with your code</li>
          <li>Slack, HipChat, Emails and more</li>
          <li>A clean VM for every build</li>
          <li>Run your tests in parallel</li>
          <li>Linux and Mac (and iOS) supported</li>
          <li>Great API and command line tool</li>
        </ul>
      </div>
      <div class="section-list section--center">
        <ul class="list--features">
          <li>
            <img src="../images/pro-landing/feature-icon-github.svg" class="feature-github" aria-hidden="true">
            <h3 class="h3">Get set up in seconds</h3>
            <p class="text-small">Login with GitHub, tell Travis CI to test a project, and then push to GitHub. Could it be any simpler!</p>
          </li>
          <li>
            <img src="../images/pro-landing/feature-icon-platform.svg" class="feature-db" aria-hidden="true">
            <h3 class="h3">Supports your platform</h3>
            <p class="text-small">Many databases and services are pre-installed and can be enabled in your build configuration.</p>
          </li>
          <li>
            <img src="../images/pro-landing/feature-icon-pullrequests.svg" class="feature-pr" aria-hidden="true">
            <h3 class="h3">Test your pull requests</h3>
            <p class="text-small">Make sure every Pull Request to your project is tested before it's merged.</p>
          </li>
          <li>
            <img src="../images/pro-landing/feature-icon-heroku.svg" class="feature-heroku" aria-hidden="true">
            <h3 class="h3">Deploy anywhere</h3>
            <p class="text-small">Updating staging or production as soon as your tests pass has never been easier!</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section--white section--center">
    <div class="inner">
      <h3 class="h3">Supported languages</h3>
      <p class="text-small">These are just a few of our most popular languages, check out the full list <a href="http://docs.travis-ci.com/user/languages/" title="Supported languages">in our docs</a>.</p>
      <ul class="list--languages">
        <li><a href="http://docs.travis-ci.com/user/languages/clojure/"><img alt="Clojure logo" src="../images/pro-landing/lang-clojure.svg" class="language-clojure">Clojure</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/javascript-with-nodejs/"><img alt="NodeJS logo" src="../images/pro-landing/lang-nodejs.svg" class="language-node">Node</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/php/"><img alt="PHP logo" src="../images/pro-landing/lang-php.svg" class="language-php">PHP</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/objective-c/"><img alt="Xcode logo" src="../images/pro-landing/lang-xcode.svg" class="language-xcode">Xcode</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/ruby/"><img alt="Ruby logo" src="../images/pro-landing/lang-ruby.svg" class="language-ruby">Ruby</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/python/"><img alt="Python logo" src="../images/pro-landing/lang-python.svg" class="language-python">Python</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/java/"><img alt="Java logo" src="../images/pro-landing/lang-java.svg" class="language-java">Java</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/erlang/"><img alt="Erlang logo" src="../images/pro-landing/lang-erlang.svg" class="language-erlang">Erlang</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/go/"><img alt="Go logo" src="../images/pro-landing/lang-go.svg" class="language-go">Go</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/scala/"><img alt="Scala logo" src="../images/pro-landing/lang-scala.svg" class="language-scala">Scala</a></li>
        <li><a href="http://docs.travis-ci.com/user/languages/perl/"><img alt="Perl logo" src="../images/pro-landing/lang-perl.svg" class="language-perl">Perl</a></li>
      </ul>
    </div>
  </section>
  <section class="section--grey section--center">
    <div class="inner">
      <h2 class="h2--teal">Interested in running your <br class="br-small"> private projects with Travis CI?</h2>
      <a href="https://travis-ci.com/signin" class="landing-button cta-index-bottom" {{action 'gaCta' 'index-bottom'}}>Start your free trial</a>
    </div>
  </section>
</div>
{{/travis-layout}}
