<!doctype html>
  <body>

    <div id="landing">
	    <div class="row hero">
		    <div class="medium-6 columns">
		    	<h1>Test and deploy<br>with confidence</h1>
		    	<p>Easily sync projects with Github and you’ll be testing your in minutes!</p>
		    	<a href="#" class="button"><img src="../images/landing-page/sign-in-mascot.svg" class="sign-in-mascot">Sign Up</a>
		    </div>
		    <div class="medium-6 columns">
		    	<img src="../images/landing-page/laptop.png">
		    </div>
	    </div>

	    <div class="row oss-testing">
	      <div class="large-12 columns">
	        <h2>The home for open source testing</h2>
	        <p>Over 200k open source projects and 126k users are testing on Travis CI.</p>
	        <img src="../images/landing-page/customer-numbers.svg">
	      </div>
	    </div>

	    <div class="row customers">
	      <div class="medium-6 columns">
	        <img src="../images/landing-page/customers-facebook.svg">
	        <img src="../images/landing-page/customers-heroku.svg">
	        <img src="../images/landing-page/customers-mozilla.svg"><br>
	      	<img src="../images/landing-page/customers-rails.svg">
	        <img src="../images/landing-page/customers-twitter.svg">
	        <img src="../images/landing-page/customers-zendesk.svg">
	      </div>
	      <div class="medium-6 columns">
	        <p class="left">Some pretty awesome companies and projects are a few of our users</p>
	      </div>
	    </div>

	    <div class="row recent-builds">
	      <div class="medium-6 columns">
	        <h2>Every minute there’s a new build triggered</h2>
	        <p>Here are just a few projects currently running on Travis CI</p>
	      </div>
	      <div class="medium-6 columns">
	      	<img src="../images/landing-page/temp-repo-green.svg">
	      	<img src="../images/landing-page/temp-repo-red.svg">
	      	<img src="../images/landing-page/temp-repo-yellow.svg">
	      </div>
	    </div>

	    <div class="row free-for-oss">
	      <div class="large-12 columns">
	        <h1>Testing your open source project is always 10,000% free</h1>
	        <p><span class="bold-italic">Seriously. Always.</span> We like to think of it as our way of giving back to a community that gives us so much as well.</p>
	      </div>
	    </div>

	    <div class="row private-repos">
	      <div class="medium-6 columns">
	        <h2>Have a private project you’d like to test?</h2>
	        <p>Travis CI for private repositories has plans for every size project.</p>
	      </div>
	      <div class="medium-6 columns">
	      	<img src="../images/landing-page/envelope.svg">
	      </div>
	    </div>

	    <div class="row features-list">
	    	<div class="large-6 columns">
		      <div class="small-6 columns">
		        <h3>Get set up in seconds</h3>
		        <p>Login with GitHub, tell Travis CI to test a project, and then push to GitHub. Could it be any simpler!</p>
		      </div>
		      <div class="small-6 columns">
		        <h3>Multi-language support</h3>
		        <p>Make sure your code runs against all versions of your favorite language without breaking a sweat.</p>
		      </div>
		      <div class="small-6 columns">
		        <h3>Test your pull requests</h3>
		        <p>Make sure every Pull Request to your project is tested before merging.</p>
		      </div>
		      <div class="small-6 columns">
		        <h3>Deploy to s3 and Heroku</h3>
		        <p>Updating staging or production as soon as your tests pass has never been easier!</p>
		      </div>
		    </div>
		    <div class="large-6 columns">
		    	<h2>Features created to help your projects and teams</h2>
						<ul>
							<li>Watch your tests as they run</li>
							<li>Keep your config with your code</li>
							<li>Slack, HipChat, Emails and more</li>
							<li>A clean VM for every build</li>
							<li>Run your tests in parallel</li>
							<li>Linux and Mac (and iOS) supported</li>
							<li>Great API and command line tool</li>
							<li>Did we say Free for Open Source already?</li>
						</ul>
		    </div>
	    </div>

	    <div class="row build-flows">
	      <div class="large-12 columns">
	        <h2>Branch build flow</h2>
	        <p>(Branch build flow graphic)</p>
			<h2>Pull Request build flow</h2>
	        <p>(Pull Request build flow graphic)</p>        
	      </div>
	    </div>

	    <div class="row user-testimonials">
	      <div class="medium-6 columns">
	        <h2>Some people have said some pretty nice things about us</h2>
	      </div>
	      <div class="medium-6 columns">
	        <p>Travis CI makes it so much easier for us to coordinate the thousands of commits and contributors that flow through the Rails code base. The test suite for such a large project is vast, and we wouldn’t be catching issues as quickly or smoothly without the help of Travis.<br>
	        David Heinemeier Hansson Founder &amp; CTO at Basecamp<br>@dhh</p>

	        <p>We love Travis CI at @TwitterOSS and use it for the majority of our open source projects on GitHub. Travis CI is simple to use, we love their API to build  tooling and adore the new container infrastructure for speedier builds.<br>
	        Chris Aniszczyk Head of Open Source at Twitter<br>
	        @cra</p>

	        <p>Not only is Travis CI the best way to test your software, it is the right way. rm -rf jenkins &amp;&amp; touch .travis.yml<br>
	        Alex Gaynor PyPy and Python Core Team Member<br>
	        alex</p>
	      </div>
	    </div>
	  </div>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
