<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travis CI | The Home for Open Source Testing</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row hero">
      <div class="large-12 columns">
        <h1>Hero</h1>
      </div>
    </div>

    <div class="row hero">
      <div class="large-12 columns">
        <h1>Home for Open Source Testing</h1>
      </div>
    </div>

    <div class="row hero">
      <div class="large-12 columns">
        <h1>Customers</h1>
      </div>
    </div>

    <div class="row hero">
      <div class="large-12 columns">
        <h1>Recent Builds</h1>
      </div>
    </div>

    <div class="row hero">
      <div class="large-12 columns">
        <h1>Free for Open Source Projects</h1>
      </div>
    </div>

    <div class="row hero">
      <div class="large-12 columns">
        <h1>Private Repos</h1>
      </div>
    </div>

    <div class="row hero">
      <div class="large-12 columns">
        <h1>Features</h1>
      </div>
    </div>

    <div class="row hero">
      <div class="large-12 columns">
        <h1>Build Flows</h1>
      </div>
    </div>

    <div class="row hero">
      <div class="large-12 columns">
        <h1>Testimonials</h1>
      </div>
    </div>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
