<div id="landing" class="landing">
  <section class="section--grey">
    <div class="inner">
      <div class="section-text">
        <h1>Builds apps <br class="br-small"> with confidence</h1>
        <p>Focus on writing code. Let Travis CI take care<br class="br-small"> of running your tests and deploying your apps.</p>
        <a href="#" class="hero-button" title="Start your free trial">Start your free trial</a>
      </div>
      <div class="section-image">
        computer
      </div>
    </div>
  </section>
  <section class="section--white">
    <div class="inner">
      <h3>Some pretty awesome companies and projects are a few of our users</h3>
      <ul>
        <li><a href="#">zendesk</a></li>
        <li><a href="#">heroku</a></li>
        <li><a href="#">Engine Yard</a></li>
        <li><a href="#">BitTorrent</a></li>
        <li><a href="#">moz</a></li>
      </ul>
    </div>
  </section>
  <section class="section--grey">
    <div class="inner">
      <div class="section-list">
        <ul>
          <li>
            <span>GH</span>
            <h3>Get set up in seconds</h3>
            <p>Login with GitHub, tell Travis CI to test a project, and then push to GitHub. Could it be any simpler!</p>
          </li>
          <li>
            <span>DB</span>
            <h3>Supports your platform</h3>
            <p>Many databases and services are pre-installed and can be enabled in your build configuration.</p>
          </li>
          <li>
            <span>PR</span>
            <h3>Test your pull requests</h3>
            <p>Make sure every Pull Request to your project is tested before it's merged.</p>
          </li>
          <li>
            <span>HEROKU</span>
            <h3>Deploy anywhere</h3>
            <p>Updating staging or production as soon as your tests pass has never been easier!</p>
          </li>
        </ul>
      </div>
      <div class="section-text">
        <h2>Features created to help your projects and teams</h2>
        <ul>
          <li>Watch your tests as they run</li>
          <li>Keep your config with your code</li>
          <li>Slack, HipChat, Emails and more</li>
          <li>A clean VM for every build</li>
          <li>Run your tests in parallel</li>
          <li>Linux and Mac (and iOS) supported</li>
          <li>Great API and command line tool</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section--white">
    <div class="inner">
      <h3>Supported languages</h3>
      <p>These are just a few of our most popular languages, check out the full list <a href="#">in our docs</a>.</p>
      <ul>
        <li><span></span>Clojure</li>
        <li><span></span>Node</li>
        <li><span></span>PHP</li>
        <li><span></span>XCode</li>
        <li><span></span>Ruby</li>
        <li><span></span>Python</li>
        <li><span></span>Java</li>
        <li><span></span>Erlang</li>
        <li><span></span>Go</li>
        <li><span></span>Scala</li>
        <li><span></span>Perl</li>
      </ul>
    </div>
  </section>
  <section class="section--grey">
    <div class="inner">
      <h2>Interested in running your <br class="br-small"> private projects with Travis CI?</h2>
      <a href="#">Start your free trial</a>
    </div>
  </section>
</div>