{{#travis-layout layoutName="layouts/simple"}}
<div class="content-page">

  <img src="/images/travis-crying.png" alt="Sad Travis" class="sad-travis" width="200">

  <h1 class="content-title">Sorry, something went missing.</h1>

  <div class="content-text">
    <p>It looks like we don't have sufficient privileges for your GitHub account.
      This can happen for different reasons, most commonly due to an older token
      stored on our end, or because some of the permissions have been removed
      from the token. Unfortunately we need those to provide you with the best service.</p>

    <p>Luckily, the issue can be easily corrected by going through the login flow
      once again. Make sure the permissions we ask for are all available.</p>

    <p>For more information about the OAuth scopes and what we need them for,
      <a href="http://docs.travis-ci.com/user/github-oauth-scopes/">check our documentation on this topic</a>.</p>
  </div>
</div>
{{/travis-layout}}
