<TravisLayout @layoutName="layouts/center">
  <div class="content-page" style="text-align: left; max-width: none; padding: 20px;">
    <h1 style="font-size: 28px; color: #3eaaaf; margin-bottom: 20px; text-align: left;">
      Licensing Information
    </h1>
    <div style="text-align: left; margin: 0; width: 100%;">
      <p>
        Travis CI relies on multiple Open-Source modules and frameworks. The respective licensing information is available in Travis CI public repositories. Travis CI public source code is usually licensed under the MIT License.
      </p>

      <p>
        The Travis CI web application, running in your browsers (which may satisfy 'distributing Software' according to the legal assessment), relies on the EmberJS framework. Particular EmberJS framework version used by Travis CI is licensed as follows:
      </p>

      <h2 style="font-size: 20px; margin: 20px 0 10px 0; color: #3eaaaf;">EmberJS MIT License</h2>

      <div class="license-text">
        <p>
          Copyright (c) 2011 Yehuda Katz, Tom Dale, and Ember.js contributors.
        </p>

        <p>
          Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
        </p>

        <p>
          The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        </p>

        <p>
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
      </div>
    </div>
  </div>
</TravisLayout>
