<div id="landing" class="landing wrapper">
  <section class="section--white">
    <div class="inner">
      <header class="section--center team-header">
        <h1 class="h1--red">So, you wanna use our logo?</h1>
        <p class="text-big">That's no problem at all!<br>But first, let's go over some basics on how to use it.
        </p>
      </header>
      <p class="text-small">The <strong>Travis CI wordmark</strong> combines the <strong>Travis CI mascot</strong> with the words “Travis CI” with a specific font and spacing treatment, creating a recognizable logo. This logo or wordmark is used online and in print for; product website, sponsored conference materials, invoices, emails, and other official business uses. <strong>You may also use the wordmark in other materials such as presentations mentioning Travis CI, conferences we are sponsoring and other partnerships</strong>.</p>
      <p class="text-small"><strong>Approved official Travis CI logos are available to download</strong> in high and low res (.eps, .png) below. If you have questions about using our logo, please email <a href="mailto:support@travis-ci.com" title="email the Travis CI support team">support@travis-ci.com</a>.</p>
    </div>
  </section>
  <section class="section--grey">
    
  </section>
  <section class="section--white">
    
  </section>
  <section class="section--grey">
    
  </section>
</div>