<div id="landing" class="landing wrapper">
  <section class="section--white">
    <div class="inner">
      <header class="section--center team-header">
        <h1 class="h1--red">So, you wanna use our logo?</h1>
        <p class="text-big">That's no problem at all!<br>But first, let's go over some basics on how to use it.
        </p>
      </header>
      <p class="text-logo">The <strong>Travis CI wordmark</strong> combines the <strong>Travis CI mascot</strong> with the words “Travis CI” with a specific font and spacing treatment, creating a recognizable logo. This logo or wordmark is used online and in print for; product website, sponsored conference materials, invoices, emails, and other official business uses. <strong>You may also use the wordmark in other materials such as presentations mentioning Travis CI, conferences we are sponsoring and other partnerships</strong>.</p>
      <p class="text-logo"><strong>Approved official Travis CI logos are available to download</strong> in high and low res (.eps, .png) below. If you have questions about using our logo, please email <a href="mailto:support@travis-ci.com" title="email the Travis CI support team">support@travis-ci.com</a>.</p>
      <div>
        <figure>
          <img src="" alt="Travis CI logo on light background">
          <figcaption>Dark logo on light background <a href="" title="" download="">.eps</a> or <a href="" title="" download="">.png</a></figcaption>
        </figure>
        <figure>
          <img src="" alt="Travis CI logo on dark background">
          <figcaption>Light logo on dark background <a href="" title="" download="">.eps</a> or <a href="" title="" download="">.png</a></figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="section--grey">
    <div class="inner">
      <h2 class="h2--grey">Typography</h2>
      <ul class="list--fonts">
        <li>
          <p class="font-light">Source Sans Pro</p>
          <p>Light (300)</p>
        </li>
        <li>
          <p class="font-regular">Source Sans Pro</p>
          <p>Regular (400)</p>
        </li>
        <li>
          <p class="font-semibold">Source Sans Pro</p>
          <p>Semi Bold (600)</p>
        </li>
      </ul>
      <h2 class="h2--grey">Brand Colors</h2>
      <ul class="list--colors">
        <li>
          <div data-color="#40A3AD" class=""></div>
          <p><strong>Turbo Teal</strong> #40A3AD</p>
        </li>
        <li>
          <div data-color="#44A662" class=""></div>
          <p><strong>Passing green</strong> #44A662</p>
        </li>
        <li>
          <div data-color="#E5DA3F" class=""></div>
          <p><strong>Building yellow</strong> #E5DA3F</p>
        </li>
        <li>
          <div data-color="#D94341" class=""></div>
          <p><strong>Failing red</strong> #D94341</p>
        </li>
        <li>
          <div data-color="#666666" class=""></div>
          <p><strong>Asphalt grey</strong> #666666</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section--white">
    <div class="inner">
      <h2 class="h2--grey">Alternative mascots for use</h2>
      <p class="text-logo"><strong>There are a couple alternative options for Travis CI's logo usage</strong>. If you would like to use a simplified version of our logo or a version for various background colors, please select from the following options. If you have questions about using our logo, please email <a href="mailto:support@travis-ci.com" title="email Travis CI support">support@travis-ci.com</a>.</p>
      <ul class="list--mascot">
        <li>
          <figure>
            <img src="" alt="Mascot skin-tone-1">
            <figcaption class="text-small"><a href="" download="" title="">.eps</a> <a href="" download="" title="">.png</a></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="" alt="Mascot skin-tone-1">
            <figcaption class="text-small"><a href="" download="" title="">.eps</a> <a href="" download="" title="">.png</a></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="" alt="Mascot skin-tone-1">
            <figcaption class="text-small"><a href="" download="" title="">.eps</a> <a href="" download="" title="">.png</a></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="" alt="Mascot skin-tone-1">
            <figcaption class="text-small"><a href="" download="" title="">.eps</a> <a href="" download="" title="">.png</a></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="" alt="Mascot skin-tone-1">
            <figcaption class="text-small"><a href="" download="" title="">.eps</a> <a href="" download="" title="">.png</a></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="" alt="Mascot skin-tone-1">
            <figcaption class="text-small"><a href="" download="" title="">.eps</a> <a href="" download="" title="">.png</a></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="" alt="Mascot skin-tone-1">
            <figcaption class="text-small"><a href="" download="" title="">.eps</a> <a href="" download="" title="">.png</a></figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </section>
  <section class="section--grey">
    <div class="inner">
      <div class="">
        <h2 class="h2--green">Go ahead! Do these things:</h2>
        <ul class="list--check">
          <li>Use the Travis CI logo to link back to travis-ci.com</li>
          <li>Use the logo to show you're running your tests on Travis CI</li>
          <li>Use the mascot or logo in your blog, presentation or print material when mentioning us</li>
          <li>Use mascot or logo to show that your application or product integrates with Travis CI</li>
          <li>Use the mascot or logo for your next tattoo design (please, send us pics!)</li>
          <li>Use the mascot or logo to create vegan cookie shapes and send c/o @saltinejustine to Berlin</li>
        </ul>
      </div>
      <div>
        <h2 class="h2--red">Please don't do these things:</h2>
        <ul class="list--cross">
          <li>Alter the logo in any way</li>
          <li>Redesign, redraw, animate, modify, distort or alter the proportions, color or typeface of the logo</li>
          <li>Use the logo for your own company or application icon</li>
          <li>Naming your projects in a way that implies Travis CI's endorsement</li>
          <li>Use the logo in artwork for sale</li>
          <li>Use the Travis CI artwork without permission</li>
        </ul>
      </div>
    </div>
  </section>
</div>