<div class="loading-page">
  <header class="top">
    <TopBar />
  </header>
  {{#if showCta}}
    <div class="cta">
      <p class="row">
        Help make Open Source a better place and start building better software today!
      </p>
    </div>
  {{/if}}
  <div class="main">
    <div class="content-page">
      <LoadingScreen />
    </div>
  </div>
</div>