{{#profile-accounts-wrapper}}
<section class="profile-orgs">
  <ul>
    {{org-item account=user}}
  </ul>
  <h1>Organizations</h1>
  <ul>
  {{#each organizations as |org|}}
    {{org-item account=org}}
  {{else}}
    <li class="profile-text">You are not currently a member of <br> any organization.</li>
  {{/each}}
  </ul>
</section>

{{#if config.githubOrgsOauthAccessSettingsUrl}}
  <section class="profile-additional">
    <p>Is an organization missing?<br>
      <a href={{config.githubOrgsOauthAccessSettingsUrl}} title="Organizations Oauth Access Settings on GitHub">Review and add</a> your authorized organizations.</p>
  </section>
{{/if}}
{{/profile-accounts-wrapper}}
