<a href="#" class="close" {{action "close" target=view}}></a>
<p><strong>This action will remove the log permanently!</strong></p>
<p>Do you want to continue?</p>
<p>
  <a class="sync_now button">Yes, please!</a>
  <span class="or">or</span>
  <a href="#" class="cancel">Cancel</a>
</p>
