{{#if config.pro}}
<div class="travis-lint">
  <p>Travis Lint for clean .yml files
    <a {{bind-attr href="lintUrl"}}>lint.travis-ci.org/{{repo.slug}}</a>
  </p>
</div>
{{/if}}

<ul class="requests">
  {{#each model as |request| }}
    {{requests-item request=request}}
  {{/each}}
</ul>
