<div class="settings">
  
  <section class="settings-section">
    <h2>General Settings</h2>
  </section>

  <section class="settings-section">
    <h2>Environment Variables</h2>
  </section>
{{#if config.endpoints.sshKey}}
  <section class="settings-section">
    <h2>SSH Key</h2>
  </section>
{{/if}}
  <section class="settings-section">
    <h2>Deactivate Repository</h2>
  </section>

</div>


<div id="settings">
  {{outlet}}
</div>
