{{#travis-layout layoutName="layouts/simple"}}
{{#if redirected}}
{{/if}}

<span class="mascot"></span>
<h3>Hey, we're so glad <br> you're here!</h3>
<h2>In order to view your repositories, <br> please sign in.</h2>

<p>
  <a href="#" {{action "signIn" target="auth"}}>
    {{#if auth.signingIn}}
      Signing in...
    {{else}}
      Sign in with GitHub
    {{/if}}
  </a>
</p>
{{/travis-layout}}
