$brownish-grey: #666666;


.flex-container {
  display: flex;
  margin: 1rem 0rem 1rem 1rem;
  column-gap: 200px;
  justify-content: flex-start;
  font-family: Roboto;
}

.aggregate-header{
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.1px;
  text-align: left;
  color: $brownish-grey;
}


.aggregate-value {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.25px;
  text-align: left;
  color: #717171;
}

.aggregate-percentage{
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.1px;
  text-align: left;
  color: $brownish-grey;
}
