.heatmap-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  line-height: 1.25;
}
.range-selector-heatmap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.day-label-container {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  margin-right: 7px;
}
.day-label {
  color: #555;
  font-size: 12px;
  padding: 0.5px;
  margin: 0.2px 0 2px;
}
.day-label-heatmap-container {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-left: -16px;
  padding-bottom: 16px;
}
.build-filter-label {
  height: 31px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px 12px;
  line-height: 18px;
  border-radius: 4px;
  color: #666666;
  background-color: #fff;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.15px;
}
.build-filter-label:hover {
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.caret-heatmap {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
  margin-left: 10px;
  margin-bottom: -2px;
}
.caret-heatmap.down-heatmap {
  border-top-color: black;
}
.box-dropdown-heatmap {
  width: 15px;
  height: 15px;
}
.failed-dropdown-heatmap {
  background-color: #db4545;
}
.all-dropdown-heatmap {
  background-color: #04c2bf;
}
.successful-dropdown-heatmap {
  background-color: #32ab52;
}
.errored-dropdown-heatmap {
  background-color: #db5c07;
}
.canceled-dropdown-heatmap {
  background-color: #4f4f4f;
}
.dropdown-list-builds {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.cal-heatmap-container .graph,
.cal-heatmap-container .graph-legend rect {
  cursor: pointer;
}
.cal-heatmap-container .graph .graph-label {
  fill: #555555;
  font-size: 12px;
}
.heatmap-year {
  height: 31px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  position: relative;
  left: 11px;
}
span.heatmap-legend-less {
  font-size: 12px;
  line-height: 12px;
  margin-left: -190px;
  margin-top: 180px;
  color: #555;
}
span.heatmap-legend-more {
  margin-top: 180px;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  line-height: 12px;
}
.day-label-heatmap-container::-webkit-scrollbar {
  display: inherit;
}
.day-label-heatmap-container:hover::-webkit-scrollbar {
  height: 8px;
}
.day-label-heatmap-container:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1); 
  box-shadow: inset 0 0 6px rgba(200, 200, 200, 1); 
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.day-label-heatmap-container:hover::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(100,100,100,0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1); 
  box-shadow: inset 0 0 6px rgba(200, 200, 200, 1); 
}
@media only screen and (max-width: 1279px) {
  .day-label-heatmap-container {
    overflow-x: scroll;
  }
}
