@import "aggregate-matrices.scss";
@import "insights-filter.scss";
@import "timeseries-chart.scss";
@import "insights-heatmap.scss";
@import "insights-calendar.scss";

.spotlight {
  margin: 12px 24px 0px 24px;
}

.insights-title {
  width: 183px;
  height: 28px;
  flex-grow: 0;
  margin: 0 59px 51px 1px;
  font-family: Roboto;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3eaaaf;
}

.month-picker-label {
  width: 197px;
  height: 34px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  position: relative;
  font-size: 14px;
  font-family: Roboto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15px;
  text-align: left;
  color: #666666;
  font-weight: 700;
  cursor: pointer;
}

.month-picker-label:hover {
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.insights-filter {
  display: flex;
  justify-content: space-between;
  margin: 51px 0px 30px 0;
}
