<div class="sync-button">
  {{#if owner.isSyncing }}
    <p>
      <button class="button" disabled="disabled">
        <span class="lading-indicator--white"><i></i><i></i><i></i></span>Syncing
      </button>
    </p>
  {{else}}
    <p>
      <button {{action sync}} class="button">
      <span class="icon icon-sync"></span>Sync account</button>
    </p>
    <p class="sync-last">last synced {{format-time owner.syncedAt}}</p>
  {{/if}}
</div>
